<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::BRANCH_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysBranchList';
    $newAndEditPrefix = '_sysBranchNewAndEdit';

?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li><a href="<?= $this->url('system-setting');?>"><i class="fa fa-dashboard"></i>&nbsp;<?php echo $this->translate("Dashboard");?></a></li>
        <li><?= $this->translate("BRANCH");?></li>
    </ol>
</section>

<?php 
    echo $this->partial('application/basepartial/action-partial.phtml',
            [
                "url"           =>  $url,
                "jqxPrefix"     =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
                'width'         =>  500,
                'height'        =>  450,
                'gridIdName'    =>  "#jqxGrid".$jqxPrefix,
            	'gridHeaderProperties' => $this->gridHeaderProperties,
            ]
    );

    echo $this->partial('system-setting/branch/partial/grid-partial.phtml',
            [
                "url"                   =>  $url,
                "jqxPrefix"             =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
            ]
    );
?>