<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::BRANCH_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = '_sysBranchNewAndEdit';
	$pre = '_sysBranchList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = ($this->gridIdName !="0")?$this->gridIdName:"#jqxGrid".$pre;
?>
<form class="form-horizontal" id="winForm<?php echo $jqxPrefix;?>" name="winForm<?php echo $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?php echo $jqxPrefix;?>" name="Id" value="<?php echo $id; ?>" />

	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label"><?php echo $this->translate('NAME');?><span class="star-red">*</span></label>
    	</div>
    	<div class="col-sm-8">
    		<input type="text" class="form-control input-sm" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>" id="txtName<?= $jqxPrefix;?>">
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('TEL');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" class="form-control input-sm" name="Tel" value="<?= $escaper->escapehtml($this->record->Tel);?>" id="txtTel<?= $jqxPrefix;?>">
		</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('EMAIL');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" name="Email" id="txtEmail<?php echo $jqxPrefix;?>" value="<?php echo $escaper->escapehtml($this->record->Email);?>" class="form-control input-sm">
		</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('ADDRESS');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<textarea style="width: 100%; height: 70px;" name="Address" class="form-control" id="txtAddress<?php echo $jqxPrefix;?>"><?php echo $escaper->escapehtml($this->record->Address);?></textarea>
		</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('DESCRIPTION');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<textarea style="width: 100%; height: 70px;" name="Note" class="form-control" id="txtNote<?php echo $jqxPrefix;?>"><?php echo $escaper->escapehtml($this->record->Note);?></textarea>
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?php echo (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" => $url,
						"jqxPrefix"	=> $jqxPrefix,
						"gridName"	=>	$gridIdName,

					]
				);	
	?>
</form>

<script type="text/javascript">

function clearControl<?php echo $jqxPrefix;?>()
{
	$("#txtId<?php echo $jqxPrefix;?>").val('0');
	$('#txtName<?php echo $jqxPrefix;?>').val('');
	$("#txtNote<?php echo $jqxPrefix;?>").val('');
	$('#txtAddress<?php echo $jqxPrefix;?>').val('');
	$('#txtEmail<?php echo $jqxPrefix;?>').val('');
	$('#txtTel<?php echo $jqxPrefix;?>').val('');
	$("#chbActive<?php echo $jqxPrefix;?>").prop('checked', true);	
}

$(document).ready(function()
{
	
	$('#winForm<?php echo $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?php echo $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			}
		]
	});
	
}); 
</script>