<?php 
    use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::ACCOUNTANT_MODULE;
	$escaper = new Zend\Escaper\Escaper('utf-8');

	$jqxPrefix = '_sysExchange';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Exchange");?>
        </li>
    </ol>
</section>

<section class="respContent padding-left-10 padding-right-10">
	<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
		<div style="cursor: move;" class="nav-tabs-custom">
	        <ul class="nav nav-tabs pull-right ui-sortable-handle">
	            <li class="pull-left header">
	                <?= $this->translate("Exchange");?>
	            </li>
	        </ul>
	        <div class="tab-content" style="min-height: 250px;">
	        	<div class="col-md-8">
		        	<div class="form-group">
				        <label class="col-sm-3 control-label">
				            <?= $this->translate("Exchange");?>(Dollar to Riel)
				        </label>
				        <div class="col-sm-9 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtMoneyExchange<?= $jqxPrefix;?>" value="<?= $this->moneyExchange;?>" placeholder="<?= $this->translate('Exchange');?>" name="Exchange">
				        </div>
				    </div>
				</div>
	        </div>
	        <div class="clearfix"></div>
	        <div class="box-footer">
	            <div class="btn-group btn-icon-state pull-right">
	                <a  href="javascript:;" class="btn btn-default btn-sm icon-active" id="butSave<?= $jqxPrefix;?>"> 
	                    <i class="glyphicon glyphicon-saved"></i>
	                    <?= $this->translate("SAVE");?>
	                </a>
	            </div>
	            <div class="clearfix"></div>
	        </div>
	    </div>
	</form>
</div>
</section>

<script type="text/javascript">

function saveData<?= $jqxPrefix;?>()
{
  	var json = ($("#winForm<?= $jqxPrefix;?>").serializeJSON());
  	var data = $.param(json);
  	var url  = "<?= $url;?>/save-record";

  	$.ajax
  	({
        type: 'post',
        dataType: 'json',
        url: url,
        data: data,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();
      	},
      	error: function (errs) 
      	{
          	closePageLoading();
          	showMessage('Error','Error Save Data','270','120');
      	}
  	});
};
	
$(document).ready(function()
{
    $("#butSave<?= $jqxPrefix;?>").click(function()
    {
    	saveData<?= $jqxPrefix;?>();
    });

    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
	        	input: '#txtMoneyExchange<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
					return true;
				}
			},
        ]
    });
});

</script>