<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<div class="col-md-12 form-horizontal margin-bottom-10 ">
		<div class="col-md-12 no-padding-left no-padding-top">
			<div class="col-md-3 no-padding-left no-padding-top no-padding-bottom" id="pcspFromDate<?= $jqxPrefix;?>">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("FROM_DATE");?>
		        </label>
		        <div id="txtFromDate<?= $jqxPrefix;?>" name="FromDate"></div>
		    </div>
		    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("TO_DATE");?>
		        </label>
		        <div id="txtToDate<?= $jqxPrefix;?>" name="ToDate"></div>
		    </div>
		    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("User");?>
		        </label>
		        <div id="ddlChUser<?= $jqxPrefix;?>" name="UserId"></div>
		    </div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 no-padding">
			<div class="padding-top-10">
				<?php 
	                echo $this->partial("application/basepartial/action-filter-partial.phtml",
	                            array(
	                                'jqxPrefix' =>  $jqxPrefix,

	                            )
	                        );
	            ?>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">

function initialFilter<?= $jqxPrefix;?>() 
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
	var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource1('<?= $url;?>/getRecordsForGrid', "<?= $gridIdName;?>", json);
	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	clearDate("#txtFromDate<?= $jqxPrefix;?>");
	clearDate("#txtToDate<?= $jqxPrefix;?>");
	clearDropDownListCheckbox("#ddlChUser<?= $jqxPrefix;?>");
}

$(document).ready(function()
{
	$('#txtFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	$('#txtToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	initDropDownListCheckbox(jqxTheme, "100%", 250, "#ddlChUser<?= $jqxPrefix;?>", <?= json_encode($this->userRecord);?>, "FullName", "Id", false, "", 0, "");

	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>