<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <label class="col-md-9 control-label no-padding-left pcsp-note" style="margin-top: -7px;">
        <i class="glyphicon glyphicon-screenshot"></i>
        <?= $this->translate("Double click on row for view detail");?>
    </label>
    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-right " style="margin-top: -20px;">
        <div class="info-box" style="min-height: 0px;margin-bottom: 0px;">
            <span class="info-box-icon bg-aqua" style="height: 31px;font-size: 14px;line-height: 30px;">
                Total
            </span>
            <div class="info-box-content" style="padding: 2px 10px;">
                <span class="info-box-number" id="lbl-total<?= $jqxPrefix;?>">
                    $0
                </span>
            </div>
        </div>
    </div>
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

function getTotal()
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
    $.ajax
    ({
        type: 'post',
        url: "<?= $url;?>/get-total",
        data:json,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();

            $("#lbl-total<?= $jqxPrefix;?>").text("$"+data.Total);
        },
        error: function (errs) 
        {
            closePageLoading();
            
            showMessage('Message','Sorry this page is currenly not available. Please contact to administrator to check.','270','120');
        }
    });
}
function getJqxGridDataSource1(getGridDataUrl, gridIdName, param)
{
  var source = {
      type: "post",
      datatype: "json",
      cache: false,
      id: 'Id',
      data: param,
      url: getGridDataUrl,
      root: 'rows',
      beforeprocessing: function(data)
      {
        getTotal();

        source.totalrecords = (data != null)? data[0].total:0;
      },
      filter: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'filter');
      },
      sort: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'sort');
      },
  };
  //console.log(source);
  return source;
};

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource1('<?= $url;?>/getRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",[]);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function view<?= $jqxPrefix;?>(invoiceDate)
{
    switchTab<?= $jqxPrefix;?>(1,1);

    $("#txtSaleInvoice<?= $jqxPrefix;?>").text("<?= $this->translate('Invoice');?>/"+invoiceDate);

    var userId = getChbCheckItem("#ddlChUser<?= $jqxPrefix;?>");

    var element = "#sale-item-detail<?= $jqxPrefix;?>";
    var param   = JSON.parse('{"InvoiceDate":"'+invoiceDate+'","UserId":"'+userId+'"}');

    initialContent(element,"<?= $url;?>/list-invoice",param);
}

$('#jqxGrid<?= $jqxPrefix;?>').on('rowdoubleclick', function (event) 
{
    var index = event.args.rowindex;
    if( index != -1 )
    {
        var record = event.args.row.bounddata;
        var invoiceDate = record.InvoiceDate;

        view<?= $jqxPrefix;?>(invoiceDate);
    }
});
$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        // selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: false,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('Invoice Date');?>", datafield: 'InvoiceDate'
            },
            { 
                text: "<?= $this->translate('Sub Total');?>", datafield: 'SubTotal'
            },
            { 
                text: "<?= $this->translate('Discount');?>", datafield: 'TotalDiscount'
            },
            { 
                text: "<?= $this->translate('Total');?>", datafield: 'Total',width: 200
            },
        ]
    }); 
});
</script>