<?php 
    use PCSPLib\PHPConstant;
    use Zend\Session\Container;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::ROLE_CONTROLLER;
    $jqxPrefix = '_sysRoleList';
    $newAndEditPrefix = '_sysRoleNewAndEdit';
    
?>

<section class="content-custom-header" style="background-color:#f4f4f5; margin-bottom: 15px;">
    <ol class="breadcrumb">
        <li>
        	<a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
        	<?= $this->translate('USER_ROLE');?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#item-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("List All");?>
                </a>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="item-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('application/basepartial/filter-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                            ]
                    );
                    
                    echo $this->partial('application/basepartial/action-partial.phtml',
                            [
                                "url"        => $url,
                                "jqxPrefix"  => $jqxPrefix,
                                'width'      => 900,
                                'height'     => 550,
                                'gridIdName' => "#jqxGrid".$jqxPrefix,
                            ]
                    );

                    echo $this->partial('application/basepartial/list-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -50;

</script>