
<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::ROLE_CONTROLLER;
    $jqxPre = '_sysRoleList';
    $jqxPrefix = '_sysRoleNewAndEdit';

    $isCopy = isset($this->isCopy)?$this->isCopy:0;
    $id = ($isCopy)?0:$this->record->Id;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />

    <div class="form-group">
        <label class="col-sm-2 control-label input-sm"><?= $this->translate("NAME");?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" name="Name" value="<?= $this->record->Name;?>" id="txtName<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-4 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbIsActive<?= $jqxPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </div>

    <div class="col-sm-12 margin-bottom-10">
    	<table class="gridtable" width="100%" id="tbl-user-role<?= $jqxPrefix;?>">
    		<thead>
    			<th  style="width: 250px;">
    				<?= $this->translate("RESOURCE");?>
    			</th>
    			<th class="text-center" width="50">
    				<div class="checkbox" style="margin-right: -5px;margin-bottom: -5px;margin-top: -5px;">
						<label>
			                <input type="checkbox" class='check_all check-box' id="check_all<?= $jqxPrefix;?>" value="1">
			                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
			            </label>
			        </div>
    			</th>
    			<th>
    				<?= $this->translate("Permission");?>
    			</th>
    		</thead>
    		<tbody>
    			<?php foreach( $this->resourceRecord as $key => $value ):?>
    				<tr>
    					<?php 
    						$rowspan = count($value["Child"]);
    					?>
    					<td colspan="4" style="background-color: #f4ffff;">
    						<b><?= $value["GroupResourceName"];?></b>
    					</td>
    				</tr>
					<?php foreach( $value["Child"] as $k => $val ):?>
						<tr>
	    					<td style="padding-left: 20px;">
	    						<?= $val["ResourceName"];?>
	    					</td>
	    					<td class="text-center">
	    						<div class="checkbox" style="margin-right: -5px;margin-bottom: -5px;margin-top: -5px;">
									<label>
						                <input type="checkbox" class='btn-check-permission' onchange="changeResourcePermission(this,'#td-permission<?= $key.$k;?>')" data-index="<?= $key.$k;?>">
						                <span class="circle">
						                	<i class="circle-icon glyphicon glyphicon-ok"></i>
						                </span>
						            </label>
						        </div>
	    					</td>
	    					<td class="chb-permission" id="td-permission<?= $key.$k;?>">
	    						<?php foreach( $val["Child"] as $k => $v ):?>
	    							<div class="checkbox pull-left" style="margin-bottom: -5px;margin-top: -5px;">
							            <label>
							                <input type="checkbox" value="<?= $v['Id'];?>" name="ResourceRecord[]" <?= $v["Checked"];?> >
							                <span class="circle">
							                	<i class="circle-icon glyphicon glyphicon-ok"></i>
							                </span>
							                <span>
							                	<?= $v->ActionName;?>&nbsp;
							                </span>
							            </label>
							        </div>
	    						<?php endforeach;?>
	    					</td>
	    				</tr>
    				<?php endforeach;?>
    			<?php endforeach;?>
    		</tbody>
    		<tfoot>
    			<tr>
    				<th colspan="3">&nbsp;</th>
    			</tr>
    		</tfoot>
    	</table>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url"       => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  => "#jqxGrid".$jqxPre,

                    ]
        );
    ?>
</form>

<script type="text/javascript">
function clearControl<?= $jqxPrefix;?>()
{
    $("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");

    $("#chbIsActive<?= $jqxPrefix;?>").prop("checked", true);

    $("table.gridtable").find("input[type=checkbox]").each(function()
    {
        this.checked = false;
    });
}

function changeResourcePermission(e,tdChildId)
{
	var is_checked  = $(e).is(':checked');

	$(tdChildId).find("input[type=checkbox]").each(function()
	{
		this.checked = is_checked;
	});

	initialCheck<?= $jqxPrefix;?>();
}

function initialCheck<?= $jqxPrefix;?>()
{
	var isChecked = true,index,checked;

	$("#tbl-user-role<?= $jqxPrefix;?> tbody").find(".btn-check-permission").each(function()
	{
		index = $(this).data("index");
		checked = true;

		$("#td-permission"+index).find("input[type=checkbox]").each(function()
		{
			var bool = $(this).is(":checked");
			if( bool == false ) checked = false;
		});

		$(this).prop("checked", checked);

		if( checked == false ) isChecked = false;
	});

	$("#check_all<?= $jqxPrefix;?>").prop("checked", isChecked);
}

function initial<?= $jqxPrefix;?>()
{
	<?php if( $this->record->Id ):?>
		initialCheck<?= $jqxPrefix;?>();
	<?php endif;?>
}

$(document).ready(function()
{
	initial<?= $jqxPrefix;?>();

	$('#check_all<?= $jqxPrefix;?>').change(function()
	{
		var is_checked  = $(this).is(':checked');
		$('.btn-check-permission').each(function()
		{
			this.checked = is_checked;
		});
		$('.chb-permission').find("input[type=checkbox]").each(function()
		{
			this.checked = is_checked;
		});
	});

    $('#winForm<?php echo $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            }
        ]
    });
});

</script>