<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?php echo $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?php echo $jqxPrefix;?> = "<?php echo $newAndEditPrefix;?>";

var dataSource<?php echo $jqxPrefix;?> = getJqxGridDataSource('<?php echo $url;?>/getRecordsForGrid', "#jqxGrid<?php echo $jqxPrefix;?>", {'ValueType':2});

var dataAdapter<?php echo $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?php echo $jqxPrefix;?>);

var valueCellsRenderer = function(row, columnfield, value, defaulthtml, columnproperties, rowdata)
{
    return '<span style="margin: 6px; float: ' + columnproperties.cellsalign + '">' + value + ' ' + rowdata.DiscountTypeSign + '</span>';
}

$(document).ready(function () {
		
	$("#jqxGrid<?php echo $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?php echo $jqxPrefix;?>,
        showtoolbar: false,
        filterable: true,
		showfilterrow: true,
        sortable: true,
        //selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?php echo PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?php echo PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
		virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader: false,
        groupsexpandedbydefault: true,
        groupable: true,
        groups: ['DiscountTypeName'],
        columns: [
            /*{
                text: "<?php echo $this->translate('NO');?>", columntype: 'number', width:'60', cellsrenderer: numberRenderer, align:'center', 
				sortable: false, filterable: false, editable: false, groupable: false, draggable: false, resizable: false, enabletooltips: false
            },*/
            { 
                text: "<?php echo $this->translate('NAME');?>", datafield: 'Name', width: 180, hideable: false, hidden: false
            },
            { 
                text: "<?php echo $this->translate('VALUE');?>", datafield: 'Value', width: 150, cellsrenderer: valueCellsRenderer
            },
            {
				text: "<?php echo $this->translate('NOTE');?>", datafield: 'Note'
            },
			{ 
                text: "<?php echo $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
				editable: false, groupable: false, draggable: false,  enabletooltips: false, filtertype: 'checkedlist',
				filteritems: new $.jqx.dataAdapter(activeInactiveList), 
                        createfilterwidget: function (column, htmlElement, editor) {
                            editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                        }
            },
            {
                text: "<?php echo $this->translate('TYPE');?>", datafield: 'DiscountTypeName', width: 150, hidden: true
            },
        ]
    }); 
	
});

</script>