<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::BILL_DISCOUNT_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysBillDiscountList';
    $newAndEditPrefix = '_sysBillDiscountNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("Dashboard");?>
            </a>
        </li>
        <li>
            <?= $this->translate("BILL_DISCOUNT");?>
        </li>
    </ol>
</section>

<?php 
    echo $this->partial('accountant/bill-discount/partial/action-partial.phtml',
            [
                "url"           =>  $url,
                "jqxPrefix"     =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
                'width'         =>  500,
                'height'        =>  270,
                'gridIdName'    =>  "#jqxGrid".$jqxPrefix,
                "gridColumnRecord"  => $this->gridColumnRecord,
            ]
    );

    echo $this->partial('accountant/bill-discount/partial/grid-partial.phtml',
            [
                "url"                   =>  $url,
                "jqxPrefix"             =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
            ]
    );
?>