<?php 
	use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::BILL_DISCOUNT_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = '_sysBillDiscountNewAndEdit';
	$pre = '_sysBillDiscountList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = ($this->gridIdName !="0")?$this->gridIdName:"#jqxGrid".$pre;
?>

<br>
<form class="form-horizontal" id="winForm<?php echo $jqxPrefix;?>" name="winForm<?php echo $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?php echo $jqxPrefix;?>" name="Id" value="<?php echo $id; ?>" />
	<input type="hidden" id="txtValueType<?php echo $jqxPrefix;?>" name="ValueType" value="2" />

	<div class="form-group">
		<div class="col-sm-4">
			<label class="control-label"><?php echo $this->translate('TYPE');?><span class="star-red">*</span></label>
		</div>
		<div class="col-sm-8">
			<div id="ddlDiscountType<?= $jqxPrefix;?>" name="DiscountTypeId"></div>
			<input type="hidden" value="<?= $this->record->DiscountTypeId;?>" id="txtDiscountTypeId<?php echo $jqxPrefix;?>">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label"><?php echo $this->translate('NAME');?><span class="star-red">*</span></label>
    	</div>
    	<div class="col-sm-8">
    		<input type="text" class="form-control input-sm" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>" id="txtName<?= $jqxPrefix;?>">
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('VALUE');?><span class="star-red">*</span></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" class="form-control input-sm" name="Value" value="<?= $escaper->escapehtml($this->record->Value);?>" id="txtValue<?= $jqxPrefix;?>">
		</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?php echo $this->translate('NOTE');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" name="Note" id="txtNote<?php echo $jqxPrefix;?>" value="<?php echo $escaper->escapehtml($this->record->Note);?>" class="form-control input-sm">
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?php echo (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
			[
				"url" => $url,
				"jqxPrefix"	=> $jqxPrefix,
				"gridName"	=>	$gridIdName,

			]
		);
	?>
</form>

<script type="text/javascript">

function clearControl<?php echo $jqxPrefix;?>()
{
	$("#txtId<?php echo $jqxPrefix;?>").val('0');
	$('#txtName<?php echo $jqxPrefix;?>').val('');
	$("#txtValue<?php echo $jqxPrefix;?>").val('');
	$('#txtNote<?php echo $jqxPrefix;?>').val('');
	$("#chbActive<?php echo $jqxPrefix;?>").prop('checked', true);
	$("#ddlDiscountType<?php echo $jqxPrefix;?>").jqxDropDownList('selectIndex', 0 );
}

$(document).ready(function()
{
	initDropDownList(jqxTheme, 200, 250, "#ddlDiscountType<?php echo $jqxPrefix; ?>", <?php echo json_encode($this->discountTypeRecord);?>, 'Note', 'Id', false, '', '0', "#txtDiscountTypeId<?php echo $jqxPrefix; ?>");

	$('#winForm<?php echo $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?php echo $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			},
			{
				input: '#txtValue<?php echo $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required'
			}
		]
	});
	
}); 
</script>