<?php 
	$url 			= $this->url;
	$jqxPrefix 		= $this->jqxPrefix;
?>
<div class="window-button-fix-footer">
	<div class="window-button">
 		<a class="" href="javascript:;" id="butSave<?= $jqxPrefix;?>" title="<?= $this->translate('SAVE');?>">
            <i class="glyphicon glyphicon-saved"></i>
            <?= $this->translate('SAVE');?>
        </a>
        <a style="margin-left: 5px !important;" href="javascript:;" id="butClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div> 

<script type="text/javascript">

function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
	$("#butSave<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butClose<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
}

$(document).ready(function()
{
	initialActionButtonToTheme<?= $jqxPrefix;?>();

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
    	saveData<?= $jqxPrefix;?>("<?= $jqxPrefix;?>","<?= $url;?>/saveRecord",'#winForm<?= $jqxPrefix;?>');
	});

	$("#butClose<?= $jqxPrefix;?>").click(function()
	{
		$("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
	});
});
</script>