<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_ADJUSTMENT_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemAdjustmentList';
    $newAndEditPrefix = '_sysItemAdjustmentNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("ITEM_ADJUSTMENT");?>
        </li>
    </ol>
</section>

<section class="respContent no-padding pcsp-inv-tabs">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#adjustment-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("ADJUSTMENT_TRANSACTION");?>
                </a>
            </li>
            <li onclick="switchTab<?= $jqxPrefix;?>(1,0);" data-id="#item-adjustment<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("ITEM_AJUSTMENT");?>
                </a>
            </li>
            <li class="padding-right-5 hide" data-id="#item-adjustment-detail<?= $jqxPrefix;?>" >
                <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(2,0);">
                    <?= $this->translate("ITEM_DETAIL");?>
                </a>
                <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this);"></i>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="adjustment-transaction<?= $jqxPrefix;?>">
                <?php 
                    echo $this->partial('inventory/partial/filter-partial.phtml',
                            [
                                "url"       => $url,
                                "jqxPrefix" => $jqxPrefix,
                                "categoryRecord" => $this->categoryRecord,
                            ]
                    );
                    echo $this->partial('inventory/item-adjustment/partial/grid-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="item-adjustment<?= $jqxPrefix;?>">

            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="item-adjustment-detail<?= $jqxPrefix;?>">

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -10;

function newItemAdjustment<?= $jqxPrefix;?>()
{
    var element = "#item-adjustment<?= $jqxPrefix;?>";
    if( $(element).children().length == 0 )
    {
        initialContent(element,"<?= $url;?>/new-adjustment", []);
    }
}

function removeTab<?= $jqxPrefix;?>(act)
{
    switchTab<?= $jqxPrefix;?>(0,2);
}

function switchTab<?= $jqxPrefix;?>(index,type)
{
    $(".pcsp-tabs-row").find("li").removeClass("selected");
    $(".pcsp-tabs-row li:eq("+index+")").addClass("selected");

    $(".pcsp-bg-tab-content").find(".pcsp-tabs").removeClass("show").addClass("hide");

    var contentEelement = $(".pcsp-tabs-row li:eq("+index+")").attr("data-id");
    $(contentEelement).removeClass("hide").addClass("show");

    switch( index*1 )
    {
        case 0:
            if( type*1 == 2 )
            {
                $(".pcsp-tabs-row").find("li:eq(2)").addClass("hide");;
            }
            break;
        case 1:
            newItemAdjustment<?= $jqxPrefix;?>();
            break;
        case 2:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(2)").removeClass("hide");
            }            
            break;
    }
}

$(document).ready(function()
{
    
});

</script>