<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_ADJUSTMENT_CONTROLLER;
	$receiveUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_RECEIVE_CONTROLLER;
	$sUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;

    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysAdjustmentNewAndEdit';
    $pre = "_sysItemAdjustmentNewAndEdit";

    $gridName = "#jqxGrid_sysItemAdjustmentList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="col-md-4 no-padding-right pcsp-input-box-right padding-bottom-5" style="min-height: 250px;">
		<?php 
			echo $this->partial('inventory/partial/item-view-left-partial.phtml',
                        $this->viewModel()->getCurrent()->getVariables()
                    );
		?>
	</div>
	<div class="col-md-8 no-padding-right">
		<div class="form-group">
        	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("SUPPLIER");?>
	        </label>
    		<div class="col-md-6 no-padding">
	            <div id="ddlSupplier<?= $jqxPrefix;?>" name="SupplierId"></div>
	            <input type="hidden" id="txtSupplierId<?= $jqxPrefix;?>">
		    </div>
		    <div class="col-sm-2 no-padding">
                <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysSupplierNewAndEdit",
                            "dropDownListId"    =>  "#ddlSupplier".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtSupplierId".$jqxPrefix,
                            "url"               =>  $sUrl,
                            "height"			=>	420,
                            "title"             =>  $this->translate("NEW_SUPPLIER"),
                            
                        ]);
                ?>
            </div>
	    </div>
	    <div class="form-group">
        	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("UNIT_MEASUREMENT");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-6 no-padding">
	            <div id="ddlUnitMeasurement<?= $jqxPrefix;?>" onchange="setItemUnitMeasurement<?= $jqxPrefix;?>();"></div>
	            <small id="pcspItemUnitMeasurement<?= $jqxPrefix;?>"></small>
		    </div>
		    <div class="col-sm-2 no-padding" >
                
            </div>
	    </div>
	    <div class="form-group">
        	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("QTY");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-6 no-padding">
	            <input type="text" class="form-control input-sm" id="txtAdjustmentQty<?= $jqxPrefix;?>" onkeyup="getCalculateUnitQty<?= $jqxPrefix;?>();" name="AdjustedQty" onkeypress="return isAllowNumerice(event,this,2);">
	            <small id="pcspItemUnitQty<?= $jqxPrefix;?>"></small>
		    </div>
		    <div class="col-sm-2 no-padding">
                
            </div>
	    </div>
	    <div class="form-group">
        	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("UNIT_PRICE");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-6 no-padding">
	            <input type="text" class="form-control input-sm" id="txtAdjustmentUnitPrice<?= $jqxPrefix;?>" onkeyup="getCalculateItemUnitPrice<?= $jqxPrefix;?>();" onkeypress="return isAllowNumerice(event,this,2);" name="AdjustedUnitPrice">
	            <small id="pcspSystemDefaultPrice<?= $jqxPrefix;?>"></small>
		    </div>
		    <div class="col-sm-2 no-padding">
                
            </div>
	    </div>
		<div class="form-group">
        	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("NOTE");?>
	        </label>
    		<div class="col-md-6 no-padding">
	            <textarea class="form-control" id="txtNote<?= $jqxPrefix;?>" name="Note"></textarea>
		    </div>
		    <div class="col-sm-2 no-padding">
                
            </div>
	    </div>
    </div>
    <?php 
		echo $this->partial("inventory/item-adjustment/partial/action-button-partial.phtml",
					[
						"url" 		=> $url,
						"jqxPrefix"	=> $jqxPrefix

					]
		);
	?>
	<!-- hidden field for view help -->
	<input type="hidden" id="txtDefaultSystemUnit<?= $jqxPrefix;?>">
	<input type="hidden" id="txtSystemItemUnitQty<?= $jqxPrefix;?>">
	<input type="hidden" id="txtCurrentQty<?= $jqxPrefix;?>" value="<?= $this->record->CurrentQty;?>">
	<!-- end help -->

	<input type="hidden" id="txtStockBalanceMasterId<?= $jqxPrefix;?>" name="StockBalanceMasterId" value="<?= $this->record->Id;?>">
	<input type="hidden" id="txtItemMasterIdId<?= $jqxPrefix;?>" name="ItemMasterIdId" value="<?= $this->record->ItemMasterId;?>">

	<input type="hidden" id="txtAdjustmentUnitMeasurementPrefix<?= $jqxPrefix;?>" name="AdjustmentUnitMeasurementPrefix">
	<input type="hidden" id="txtSystemQty<?= $jqxPrefix;?>" name="SystemQty">
	<input type="hidden" id="txtSystemUnitPrice<?= $jqxPrefix;?>" name="SystemUnitPrice">
	<input type="hidden" id="txtAdjustmentQtyPrefix<?= $jqxPrefix;?>" name="AdjustmentQtyPrefix">
	<input type="hidden" id="txtAdjustmentUnitPricePrefix<?= $jqxPrefix;?>" name="AdjustmentUnitPricePrefix">
	<input type="hidden" id="txtAdjustedUnitMeasurement<?= $jqxPrefix;?>" name="AdjustedUnitMeasurement">
	<input type="hidden" id="txtIndexKey<?= $jqxPrefix;?>" value="@$@00" name="IndexKey" />

</form>

<style type="text/css">
.tbl-view-item tbody tr td
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pcsp-input-box-right
{
	box-shadow: 0 0 5px #888888;
}
</style>
<script type="text/javascript">

function setItemUnitMeasurement<?= $jqxPrefix;?>()
{
	var val = $("#ddlUnitMeasurement<?= $jqxPrefix;?>").val();
	var text = $("#ddlUnitMeasurement<?= $jqxPrefix;?>").text();
	if( val == 0 ) val = "";
	var arr = val.split(";$;");

	$("#ddlUnitMeasurement<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");

	$("#txtAdjustedUnitMeasurement<?= $jqxPrefix;?>").val(text);
	$("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val(arr[2]);
	$("#txtSystemItemUnitQty<?= $jqxPrefix;?>").val(arr[1]);
	$("#txtAdjustmentUnitMeasurementPrefix<?= $jqxPrefix;?>").val(arr[0]);
	$("#pcspItemUnitMeasurement<?= $jqxPrefix;?>").text(arr[0]);

	getCalculateUnitQty<?= $jqxPrefix;?>();
}

function getCalculateUnitQty<?= $jqxPrefix;?>()
{
	var unitQty = $("#txtAdjustmentQty<?= $jqxPrefix;?>").val();
	var sysQty  = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>").val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val();

	if( unitQty == "" || unitQty == "." ) unitQty = 0;

	var itemUnitQty = sysQty*unitQty;
	itemUnitQty = roundNumber(itemUnitQty,2);

	$("#txtAdjustmentQty<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
	$("#txtSystemQty<?= $jqxPrefix;?>").val(itemUnitQty);
	$("#pcspItemUnitQty<?= $jqxPrefix;?>").text(itemUnitQty+" "+defaultSystemUnit);
	$("#txtAdjustmentQtyPrefix<?= $jqxPrefix;?>").val(itemUnitQty+" "+defaultSystemUnit);

	getCalculateItemUnitPrice<?= $jqxPrefix;?>();
}

function getCalculateItemUnitPrice<?= $jqxPrefix;?>()
{
	var sysQty    = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>").val();
	var unitPrice = $("#txtAdjustmentUnitPrice<?= $jqxPrefix;?>").val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val();

	if( unitPrice == "" || unitPrice == ".") unitPrice = 0;
	if( sysQty == "" || sysQty == 0 || sysQty == ".")sysQty = 1;

	var systemPrice = unitPrice/sysQty;

	systemPrice = roundNumber(systemPrice,2);
	var systemPrice1 = "1 "+defaultSystemUnit+" = "+systemPrice;

	$("#txtAdjustmentUnitPrice<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
	$("#pcspSystemDefaultPrice<?= $jqxPrefix;?>").text(systemPrice1);
	$("#txtAdjustmentUnitPricePrefix<?= $jqxPrefix;?>").val(systemPrice1);
	$("#txtSystemUnitPrice<?= $jqxPrefix;?>").val(systemPrice);
}

function saveData<?= $jqxPrefix;?>(pre,saveUrl,formId)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
        	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_SAVE')?>");
        	if( isOk == false )
        		return false;
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();

                    $("<?= $gridName;?>").jqxGrid({ autoshowloadelement: false});
                    $("<?= $gridName;?>").jqxGrid('updatebounddata');
                    $("<?= $gridName;?>").jqxGrid('clearselection');

                    var newQty = $.trim($("#txtSystemQty<?= $jqxPrefix;?>").val());
                    var curQty = $("#txtCurrentQty<?= $jqxPrefix;?>").val();
                    var qty = newQty*1+curQty*1;

                    $("#txtCurrentQty<?= $pre;?>").text(qty);

                  	$("#jqxWindowPopUp"+pre).trigger('close');
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};

$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlSupplier<?= $jqxPrefix; ?>", <?= json_encode($this->supplierRecord);?>, 'Name', 'Id', true, '', '0', "#txtSupplierId<?= $jqxPrefix; ?>");
	initDropDownList(jqxTheme, "100%", 250, "#ddlUnitMeasurement<?= $jqxPrefix; ?>", <?= json_encode($this->unitMeasurementRecord);?>, 'Name', 'Id', true, '', '0', "");

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlUnitMeasurement<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlUnitMeasurement<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
                input: '#txtAdjustmentQty<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtAdjustmentUnitPrice<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            }
        ]
    });
});
</script>