<?php 
    use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::CONTACT_MODULE.'/'.PHPConstant::CONTACT_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');

	$jqxPrefix = '_sysContactList';
?>
<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Contact");?>
        </li>
    </ol>
</section>

<section class="respContent padding-left-5 padding-right-5">
	<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

		<input type="hidden" value="<?= $this->record->Logo;?>" name="Logo" id="txtLogoName<?= $jqxPrefix;?>">

		<div style="cursor: move;" class="nav-tabs-custom">
	        <ul class="nav nav-tabs pull-right ui-sortable-handle">
	            <li class="pull-left header">
	                <i class="glyphicon glyphicon-phone-alt"></i> 
	                <?= $this->translate("Contact");?>
	            </li>
	        </ul>
	        <div class="tab-content " style="min-height: 250px;">
	        	<div class="col-md-8">
		        	<div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("NAME");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtName<?= $jqxPrefix;?>" value="<?= $this->record->Name;?>" placeholder="<?= $this->translate('NAME');?>" name="Name">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("TEL");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtTel<?= $jqxPrefix;?>" value="<?= $this->record->Tel;?>" placeholder="<?= $this->translate('TEL');?>" name="Tel">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("EMAIL");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtEmail<?= $jqxPrefix;?>" value="<?= $this->record->Email;?>" placeholder="<?= $this->translate('EMAIL');?>" name="Email">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("WEBSITE");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtWebsite<?= $jqxPrefix;?>" value="<?= $this->record->Website;?>" placeholder="<?= $this->translate('WEBSITE');?>" name="Website">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("Wi-Fi");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtWiFiName<?= $jqxPrefix;?>" value="<?= $this->record->WiFiName;?>" placeholder="<?= $this->translate('Wi-Fi');?>" name="WiFiName">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("Password");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtWiFiPassword<?= $jqxPrefix;?>" value="<?= $this->record->WiFiPassword;?>" placeholder="<?= $this->translate('Password');?>" name="WiFiPassword">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("WEBSITE");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <input type="text" class="form-control input-sm" id="txtWebsite<?= $jqxPrefix;?>" value="<?= $this->record->Website;?>" placeholder="<?= $this->translate('WEBSITE');?>" name="Website">
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-2 control-label">
				            <?= $this->translate("Address");?>
				        </label>
				        <div class="col-sm-10 no-padding-left no-padding-right">
				            <textarea class="form-control" style="height: 100px;"  placeholder="<?= $this->translate('Address');?>" name="Address"><?= $this->record->Address;?></textarea>
				        </div>
				    </div>
				</div>
				<div class="col-md-4">
					<div style="box-shadow: 0 0px 3px #587378;width: 140px;height: 150px;">
						<?php 
							$path = $this->basepath();

							if( empty( $this->record->Logo ) )
							{
								$path .= PHPConstant::CONTACT_LOGO_BLANK;
							}
							else
							{
								$path .= PHPConstant::RESOURCE_FILES_FOLDER.'/'.$this->record->Logo;
							}
						?>
			        	<img id="imgLogo<?= $jqxPrefix; ?>" style="width: 140px;height: 150px;" src="<?= $path;?>" alt="<?= $this->translate('LOGO');?>"/>
			        	<a class="img-close" href="javascript:void(0);" onclick="clearLogo();">x</a>
			        </div>
			        <a href="javascript:void(0);" style="height: 30px;width: 140px;margin-top: 2px;" id="btnBrowseLogo<?= $jqxPrefix;?>" class="btn btn-primary btn-sm">
			        	<?= $this->translate('Browse Logo')?>
			        </a>
			        <input type="file" id="txtLogo<?= $jqxPrefix;?>" name="Logo" class="file-to-upload" style="display: none;" onchange="readImageURL(this, '#imgLogo<?= $jqxPrefix; ?>');" style="vertical-align:top;" tabindex="12">
				</div>
	        </div>
	        <div class="clearfix"></div>
	        <div class="box-footer">
	            <div class="btn-group btn-icon-state pull-right">
	                <a  href="javascript:;" class="btn btn-default btn-sm icon-active" id="butSave<?= $jqxPrefix;?>"> 
	                    <i class="glyphicon glyphicon-saved"></i>
	                    <?= $this->translate("SAVE");?>
	                </a>
	            </div>
	            <div class="clearfix"></div>
	        </div>
	    </div>
	</form>
</div>
</section>
<style type="text/css">
.img-close 
{
	font-family: Arial, Sans-Serif;
	font-size: 20px;
	text-align: center;
	color: red;
	position:absolute;
	margin-top: -15px;
	margin-left: -5px;
}
.img-close:hover
{
	color: red;
	font-weight: bolder;
}
</style>
<script type="text/javascript">
function clearLogo()
{
	$("#txtLogo<?= $jqxPrefix;?>").val("");
	$("#txtLogoName<?= $jqxPrefix;?>").val("");
	$("#imgLogo<?= $jqxPrefix;?>").attr("src","<?= $this->basepath().'/'.PHPConstant::CONTACT_LOGO_BLANK;?>");
}
$(document).ready(function()
{
	$('#btnBrowseLogo<?= $jqxPrefix;?>').click(function()
    {
     	$("#txtLogo<?= $jqxPrefix?>").click();
    });

    $("#butSave<?= $jqxPrefix;?>").click(function()
    {
    	saveDataWithAttachement('<?= $jqxPrefix;?>', '', '', '<?= $url;?>/saveRecord', "", 1, '#winForm<?= $jqxPrefix;?>', '', false);
    });

    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
	        	input: '#txtName<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
					return true;
				}
			},
        ]
    });
});

</script>