<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
    
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

$(document).ready(function () {
	
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        virtualmode: true,
		columnsresize: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: [
            { 
                text: "<?= $this->translate('NO');?>", columntype: 'number', width:'60', cellsrenderer: numberRenderer, align:'center', 
				sortable: false, filterable: false, editable: false, groupable: false, draggable: false, resizable: false, enabletooltips: false,
            },
            { 
                text: "<?= $this->translate('NAME');?>", datafield: 'Name', width: 250
            },
            { 
                text: "<?= $this->translate('Sale Type');?>", datafield: 'SaleTypeName'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'Note'
            },
            { 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
				editable: false, groupable: false, draggable: false,  enabletooltips: false,
            },
        ]
    }); 
});
</script>