<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_ADJUSTMENT_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemAdjustmentNewAndEdit';
?>
<table class="gridtable" width="100%" id="pcspTblItemAdjustment<?= $jqxPrefix;?>">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th><?= $this->translate("ITEM_NAME");?></th>
			<th><?= $this->translate("CATEGORY");?></th>
			<th><?= $this->translate("CURRENT_QTY");?></th>
			<th><?= $this->translate("RECEIVED_DATE");?></th>
		</tr>
	</thead>
	<tbod>
		<?php foreach( $this->record as $key => $value ):?>
			<tr>
				<td style="width: 50px;" align="center">
					<div class="btn-group btn-icon-state">
						<a href="javascript:void(0);" class="btn btn-default btn-sm icon-active" onclick="newRecord<?= $jqxPrefix;?>('<?= $value['Id'];?>');">
							<i class="glyphicon glyphicon-plus" title="<?= $this->translate('ADJUSTMENT');?>"></i>
						</a>
					</div>
				</td>
				<td>
					<?= $value["Name"];?>
				</td>
				<td><?= $value["CategoryName"];?></td>
				<td id="txtCurrentQty<?= $jqxPrefix;?>"><?= $value["CurrentQty"];?></td>
				<td><?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($value["LastReceivedDate"]));?></td>
			</tr>
		<?php endforeach;?>
	</tbod>
	<tfoot>
		<tr>
			<th colspan="5">&nbsp;</th>
		</tr>
	</tfoot>
</table>

<script type="text/javascript">

function newRecord<?= $jqxPrefix;?>(id)
{
	var param = JSON.parse('{"Id":"'+id+'","Pre":"<?= $jqxPrefix;?>"}');
	addNewRecord("_sysAdjustmentNewAndEdit","<?= $this->translate('NEW');?>",750,340, "<?= $url;?>/new", param, "<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_LOADING_DATA')?>");
}

function setOverflow<?= $jqxPrefix;?>()
{
	var element = "#pcspAdjustmentContent<?= $jqxPrefix;?>";
	var height  = $(element).height();
	var height1 = height*1+30;
	var respContent = $(".respContent").height();
	if( height1*1 > respContent*1)
	{
		if( $(element).hasClass("overflow-y") == false )
		{
			height = respContent*1-30;
			$(element).height(height);

			$(element).addClass("overflow-y");
		}
	}
	else if( height1*1 == respContent*1)
	{
		var tableHeight = $("#pcspTblItemAdjustment<?= $jqxPrefix;?>").height()-25;
		if( tableHeight*1 < height1*1 )
		{
			$(element).removeClass("overflow-y");
		}
		else
		{
			$(element).addClass("overflow-y");
		}
	}
	else
	{
		$(element).removeClass("overflow-y");
	}
}

$(document).ready(function()
{
	setOverflow<?= $jqxPrefix;?>();
});

</script>