<?php 
	use PCSPLib\PHPConstant;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemReceiveView';
?>
<div class="form-horizontal">
	<div class="col-md-12 grid-title no-padding" style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("ITEM_RECEIVE");?>
	</div>

	<div class="col-md-6 padding-left-10 padding-bottom-10">
		<label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("WAREHOUSE");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= $this->groupRecord->WarehouseName;?>
        </label>
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("SUPPLIER");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= $this->groupRecord->SupplierName;?>
        </label>
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("RECEIVE_DATE");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($this->groupRecord->ReceivedDate));?>
        </label>
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("NOTE");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= nl2br($this->groupRecord->Note);?>
        </label>
	</div>
	<div class="col-md-12 grid-title no-padding" style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("RECEIVE_DETAIL");?>
	</div>
    <div>
    	<table class="gridtable margin-bottom-10" width="100%">
    		<thead>
    			<tr>
    				<th><?= $this->translate("NO");?></th>
    				<th><?= $this->translate("CATEGORY");?></th>
    				<th><?= $this->translate("ITEM_NAME");?></th>
    				<th><?= $this->translate("RECEIVE_UNIT");?></th>
    				<th><?= $this->translate("RECEIVE_QTY");?></th>
    				<th><?= $this->translate("RECEIVE_PRICE");?></th>
    				<th><?= $this->translate("TRACK");?></th>
    				<th><?= $this->translate("NOTE");?></th>
    			</tr>
    		</thead>
    		<tbody>

		    <?php foreach( $this->record as $key => $value ):?>
		    	<tr>
		    		<td class="text-center"><?= $key+1;?></td>
		    		<td><?= $value["CategoryName"];?></td>
		    		<td id="pcspTdItemReceive<?= $jqxPrefix.$key;?>">
		    			<?= $value["Name"];?>
		    			<?php if( $value["HasVariance"] ):?>
		    				<?php 
		    					$itemVarianceValue = $value["ItemVarianceValue"];
		    					$arr = explode(";$;", $itemVarianceValue);
		    				?>
		    				<small>(<?= join(",",$arr);?>)</small>
		    			<?php endif;?>
		    			
		    			<div class="text-right">
		    				<a href="javascript:void(0);" title="<?= $this->translate("DETAIL");?>" onclick="showItem<?= $jqxPrefix;?>(this,'<?= $key;?>');" id="butShow<?= $jqxPrefix.$key;?>">
			    				<i class="glyphicon glyphicon-eye-open"></i>
			    				<?= $this->translate("DETAIL");?>
			    			</a>
			    			<a href="javascript:void(0);" class="hide" id="butHide<?= $jqxPrefix.$key;?>" title="<?= $this->translate("HIDE");?>" onclick="hideItem<?= $jqxPrefix;?>(this,'<?= $key;?>');">
			    				<i class="glyphicon glyphicon-remove" style="color:#e47171;"></i>
			    				<?= $this->translate("HIDE");?>
			    			</a>
		    			</div>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedUnitMeasurement"];?>
		    			<small>(<?= $value["ReceivedUnitMeasurementPrefix"];?>)</small>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedQty"].$value["ReceivedUnitMeasurement"];?>
		    			<small>(<?= $value["ReceivedQtyPrefix"];?>)</small>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedUnitPrice"];?>
		    			<small>(<?= $value["ReceivedUnitPricePrefix"];?>)</small>
		    		</td>
		    		<td id="pcspTdItemTrack<?= $jqxPrefix.$key;?>">
		    			<?php if( $value["IsTrack"] ):?>
			    			<?php 
			    				$track = $this->translate("VIEW");
			    			?>	
			    			<div class="text-center">
			    				<a href="javascript:void(0);" title="<?= $track;?>" onclick="showItemTrack<?= $jqxPrefix;?>(this,'<?= $key;?>');" id="butShowTrack<?= $jqxPrefix.$key;?>">
				    				<i class="glyphicon glyphicon-eye-open"></i>
				    				<?= $track;?>
				    			</a>
				    			<a href="javascript:void(0);" class="hide" id="butHideTrack<?= $jqxPrefix.$key;?>" title="<?= $this->translate("HIDE");?>" onclick="hideItemTrack<?= $jqxPrefix;?>(this,'<?= $key;?>');">
				    				<i class="glyphicon glyphicon-remove" style="color:#e47171;"></i>
				    				<?= $this->translate("HIDE");?>
				    			</a>
			    			</div>
			    		<?php endif;?>
		    		</td>
		    		<td><?= $value["Note"];?></td>
		    	</tr>
		    	<tr class="hide" id="pcspItemReceive<?= $jqxPrefix.$key;?>">
		    		<td colspan="8" class="no-padding pcsp-item-detail">
		    			<div class="col-md-12">
		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("ITEM_CODE");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["ItemCode"];?>
		    					</div>
		    				</div>
		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("BARCODE");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["ItemBarcode"];?>
		    					</div>
		    				</div>
		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("METHOD");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["MethodName"];?>
		    					</div>
		    				</div>

		    				<div class="clearfix"></div>

		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("CLASS");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["ClassName"];?>
		    					</div>
		    				</div>
		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("GROUP");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["GroupName"];?>
		    					</div>
		    				</div>
		    				<div class="col-md-4 no-padding">
		    					<label class="col-md-4 no-padding-left no-padding-right"><?= $this->translate("TYPE");?></label>
		    					<div class="col-md-8 no-padding-left no-padding-right">
		    						&nbsp;:&nbsp;<?= $value["TypeName"];?>
		    					</div>
		    				</div>
		    			</div>
		    			<div class="clearfix"></div>
		    		</td>
		    	</tr>
		    	<?php if( $value["IsTrack"] ):?>
			    	<tr class="hide" id="pcspItemTrack<?= $jqxPrefix.$key;?>">
			    		<td colspan="8" class="no-padding pcsp-item-detail">
			    			<div class="col-md-12">
			    				<?php 
			    					$asset  = "";
			    					$serial = "";
			    				?>
			    				<?php foreach( $value["Child"] as $k => $val ):?>
			    					<?php 
			    						if( $val["IsUsedAsset"] )
			    						{
				    						$asset .= '<div class="col-md-3 no-padding">';
						    					$asset .= '<label class="col-md-5 no-padding-left no-padding-right">';
						    						$asset .= $this->translate("ASSET").'&nbsp;#'.($k+1);
						    					$asset .= '</label>';
						    					$asset .= '<div class="col-md-7 no-padding-left no-padding-right">';
						    						$asset .= $val["AssetNo"];
						    					$asset .='</div>';
						    				$asset .= '</div>';
						    			}
						    			if( $val["IsUsedSerial"] )
						    			{
						    				$serial .= '<div class="col-md-3 no-padding">';
						    					$serial .= '<label class="col-md-5 no-padding-left no-padding-right">';
						    						$serial .= $this->translate("SERIAL").'&nbsp;#'.($k+1);
						    					$serial .= '</label>';
						    					$serial .= '<div class="col-md-7 no-padding-left no-padding-right">';
						    						$serial .= $val["SerialNo"];
						    					$serial .='</div>';
						    				$serial .= '</div>';
						    			}
			    					?>
			    					
			    				<?php endforeach;?>
			    				<?php if( !empty($asset) ):?>
				    				<div class="col-md-12 grid-title no-padding-top" style="border-bottom: 1px solid #ddddde;font-size: 16px;">
										<?= $this->translate("ITEM_ASSET");?>
									</div>
				    				<?= $asset;?>
				    			<?php endif;?>
			    				<?php if( !empty($serial) ):?>
				    				<div class="col-md-12 grid-title no-padding-top" style="border-bottom: 1px solid #ddddde;font-size: 16px;">
										<?= $this->translate("ITEM_SERIAL");?>
									</div>
				    				<?= $serial;?>
				    			<?php endif;?>
			    			</div>
			    		</td>
			    	</tr>
			    <?php endif;?>
		    <?php endforeach;?>
		    </tbody>
		    <tfoot>
		    	<tr>
		    		<th colspan="8">&nbsp;</th>
		    	</tr>
		    </tfoot>
		</table>
    </div>
</div>
<style type="text/css">
.pcsp-item-detail
{
	background-color: #fbfbfb4d !important;
	border-top: 0 !important;
}
.pcsp-td-item-view
{
	border-bottom: none !important;
	padding-bottom: 1px solid #fbfbfb4d !important;
	background-color: #fbfbfb4d !important;
}
</style>
<script type="text/javascript">
	
function showItem<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemReceive<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemReceive<?= $jqxPrefix;?>"+index;
	var hideButtonId    = "#butHide<?= $jqxPrefix;?>"+index;

	$("#pcspItemTrack<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butHideTrack<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butShowTrack<?= $jqxPrefix;?>"+index).removeClass("hide").addClass("show");
	$("#pcspTdItemTrack<?= $jqxPrefix;?>"+index).removeClass("pcsp-td-item-view");

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).addClass("pcsp-td-item-view");
	$(detailElementId).removeClass("hide");
	$(hideButtonId).removeClass("hide").addClass("show");
}

function hideItem<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemReceive<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemReceive<?= $jqxPrefix;?>"+index;
	var showButtonId    = "#butShow<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).removeClass("pcsp-td-item-view");
	$(detailElementId).addClass("hide");
	$(showButtonId).removeClass("hide").addClass("show");
}

function showItemTrack<?= $jqxPrefix;?>(e,index)
{
	$("#pcspItemReceive<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butHide<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butShow<?= $jqxPrefix;?>"+index).removeClass("hide").addClass("show");
	$("#pcspTdItemReceive<?= $jqxPrefix;?>"+index).removeClass("pcsp-td-item-view");

	var detailElementId = "#pcspItemTrack<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemTrack<?= $jqxPrefix;?>"+index;
	var hideButtonId    = "#butHideTrack<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).addClass("pcsp-td-item-view");
	$(detailElementId).removeClass("hide");
	$(hideButtonId).removeClass("hide").addClass("show");
}

function hideItemTrack<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemTrack<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemTrack<?= $jqxPrefix;?>"+index;
	var showButtonId    = "#butShowTrack<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).removeClass("pcsp-td-item-view");
	$(detailElementId).addClass("hide");
	$(showButtonId).removeClass("hide").addClass("show");
}

</script>