<!--  <div id="content" style="width: 40%;">
	<div id="panel" class="panel panel-default">
		<div id="panel-heading" class="panel-heading">
			New User
		</div>
		<div id="panel-body" class="panel-body">
			Sorry, you do not have permission to access this page!!!
		</div>
	</div>
</div>-->

<div id="panel-body" class="panel-body">
		<p style="color: red; font-size: 15px; font-weight: bold;"> You do not have permission to access this page! </p>
</div>