<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>User Authentication</title>
<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/icons/login-icon.png'))
                        ->prependStylesheet($this->basePath() . '/pcsp/css/login.css');
 ?>
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
        <div class="login-header">
            <span style="font-size: 22px;font-weight:bold;">Authentication</span>
        </div>
        <form class="login-container" method="post" action="<?php echo $this->basepath();?>/login">
            <?php
                if (!empty($this->getMsg)) {
                    echo '<p class="forgot">'.$this->escapehtml($this->getMsg).'</p>';
                }
            ?>
            <p><label for="lblUserName">Username</label>
                <input name="userName" value="" title="Please provide your username" autocomplete="off" autofocus="" placeholder="User Name" type="text" required="required"></p>
            <p><label for="lblPassword">Password</label>
                <input name="password" value=""  title="Password is required" placeholder="Password" type="password" required="required"></p>
            <p><input value="Log in" type="submit"></p>
        </form>
    </div>
</body>
</html>