<?php 
	use PCSPLib\PHPConstant;

	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_MISSING_BROKEN_CONTROLLER;
	$reasonUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_BROKEN_REASON_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysItemMissingBrokenNewAndEdit';

    $gridName = "#jqxGrid_sysItemMissingBrokenList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="no-padding margin-bottom-10" style="margin-top: 10px;" id="pcspTableItemTakeUse<?= $jqxPrefix;?>">
		<table class="gridtable margin-bottom-10" width="100%" id="tblMissing<?= $jqxPrefix;?>">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th width="200"><?= $this->translate("CATEGORY");?></th>
					<th width="200"><?= $this->translate("ITEM_NAME");?></th>
					<th><?= $this->translate("ITEM_MEASUREMENT");?></th>
					<th><?= $this->translate("QTY");?></th>
					<th><?= $this->translate("AVAILABLE_QTY");?></th>
					<th><?= $this->translate("REASON");?></th>
					<th><?= $this->translate("NOTE");?></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">
						<div class="pull-left">
							<a href="javascript:void(0);" title="<?= $this->translate('ADD_MORE');?>" onclick="addMore<?= $jqxPrefix;?>();">
								<i class="glyphicon glyphicon-plus"></i>
								<?= $this->translate("ADD_MORE");?>
							</a>
						</div>
						<div class="pull-right btn-group btn-icon-state">
							<a href="javascript:void(0);" title="<?= $this->translate('SAVE');?>" id="butSave<?= $jqxPrefix;?>">
								<i class="glyphicon glyphicon-saved"></i>
								<?= $this->translate("SAVE");?>
							</a>
							<a href="javascript:void(0);" class="margin-left-10" title="<?= $this->translate('CLEAR');?>" id="butClear<?= $jqxPrefix;?>">
								<i class="glyphicon glyphicon-refresh"></i>
								<?= $this->translate("CLEAR");?>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

</form>

<style type="text/css">
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(even) td 
{
	background: #f7fffe66 !important;
}
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(odd)  td
{
	background: #FFF !important;
}	
#winForm<?= $jqxPrefix;?> tbody tr td
{
	vertical-align: top;
}
.pcsp-red
{
	color: red;
}
</style>

<script type="text/javascript">

var index<?= $jqxPrefix;?> = 0;
var isExistItemNoVariance<?= $jqxPrefix;?> = false;
var indexReasonProcess<?= $jqxPrefix;?> = 0;
var itemBrokenReasonRecord = <?= json_encode($this->itemBrokenReasonRecord);?>;

function clearControl<?= $jqxPrefix;?>()
{
	index<?= $jqxPrefix;?> = 0;
	
	$("#tblMissing<?= $jqxPrefix;?> tbody").html("");

	initialItemReceive<?= $jqxPrefix;?>(3);
}

function setItemUnitMeasurement<?= $jqxPrefix;?>(index)
{
	var val = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).val();
	var unitMeasurement = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).text();
	if( val == 0 ) 
	{
		val = "";
		$("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val("");
		$("#txtItemUnitQty<?= $jqxPrefix;?>"+index).val("");
	}
	var arr = val.split(";$;");

	$("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");

	$("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val(arr[2]);
	$("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val(arr[1]);
	$("#pcspItemUnitMeasurement<?= $jqxPrefix;?>"+index).text(arr[0]);

	$("#txtStockUnitMeasurement<?= $jqxPrefix;?>"+index).val(unitMeasurement);

	getCalculateUnitQty<?= $jqxPrefix;?>(index);

	getCalcuateItemAvailableQty<?= $jqxPrefix;?>(index);
}

function removeElementParent<?= $jqxPrefix;?>(action)
{
    $(action).closest("tr").remove();

    setOverflow<?= $jqxPrefix;?>();
}

function getStr<?= $jqxPrefix;?>(index)
{
	var submitIndex = "$@$"+index;

	var str = '<tr class="item-no-variance<?= $jqxPrefix;?>" id="pcspTrItem<?= $jqxPrefix;?>'+index+'" data-index="'+index+'">';

			str += '<td>';
			
				str += '<p style="color:red;widht: 5px;color:red;" onclick=removeElementParent<?= $jqxPrefix;?>(this) class="cursor-pointer align-center pccsp-btn-action-remove">X</p>'

				// all hidden field
				str += '<input type="hidden" id="txtSystemItemUnitQty<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][SystemItemUnitQty]"/>'
				str += '<input type="hidden" id="txtDefaultSystemUnit<?= $jqxPrefix;?>'+index+'" value="" />'
				str += '<input type="hidden" id="txtStockUnitMeasurement<?= $jqxPrefix;?>'+index+'" name="Record['+submitIndex+'][MissingUnitMeasurement]" />'

				str += '<input type="hidden" id="txtItemUnitQty<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][SystemQty]" />';

				str += '<input type="hidden" id="txtStoackAvailableQty<?= $jqxPrefix;?>'+index+'" value="0" />';
				str += '<input type="hidden" id="txtDefaultSelectUnit<?= $jqxPrefix;?>'+index+'" value="0" />';
				// end hidden field

			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemCategory<?= $jqxPrefix;?>'+index+'" data-index="'+index+'" onchange="changeItemCategory<?= $jqxPrefix;?>(this,'+index+')"></div>';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemMaster<?= $jqxPrefix;?>'+index+'" data-index="'+index+'" name="Record['+submitIndex+'][ItemMasterId]"></div>';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemUnitMeasurement<?= $jqxPrefix;?>'+index+'" onchange="setItemUnitMeasurement<?= $jqxPrefix;?>('+index+');" ></div>';
				str += '<small class="pcsp-font-small" id="pcspItemUnitMeasurement<?= $jqxPrefix;?>'+index+'"></small>';
			str += '</td>';

			str += '<td>';

				str += '<input type="text" class="form-control input-sm" id="txtItemTakeUseQty<?= $jqxPrefix;?>'+index+'" onkeyup="getCalculateUnitQty<?= $jqxPrefix;?>('+index+');" name="Record['+submitIndex+'][MissingQty]" />';
				str += '<small class="pcsp-font-small" id="pcspItemUnitQty<?= $jqxPrefix;?>'+index+'"></small>';

			str += '</td>';

			str += '<td>';
				str += '<div id="pcspAvialableQty<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';

			str += '<td class="text-center" style="width: 230px;">';
				str += '<div class="col-md-10 no-padding-left no-padding-right">';
					str += '<div id="ddlItemBrokenReason<?= $jqxPrefix;?>'+index+'" name="Record['+submitIndex+'][ItemBrokenReasonId]"></div>';
				str += '</div>';

				str += '<div class="col-md-2 no-padding-left no-padding-right">';
						str += '<div class="btn-group padding-left-5 padding-top-5">';
						str += '<a href="javascript:void(0);" class="icon-active" id="btnAddMoreReason<?= $jqxPrefix;?>'+index+'" onclick="addMoreReason<?= $jqxPrefix;?>('+index+');">';
		        				str+= '<i class="glyphicon glyphicon-plus icon-spining-hover"></i>';
		    			str += '</a>';
		    			str += '<a href="javascript:void(0);" class="icon-active" id="btnRefresh<?= $jqxPrefix;?>" onclick="refreshReason<?= $jqxPrefix;?>('+index+');">';
					        str += '<i class="glyphicon glyphicon-refresh padding-left-2 icon-spining-hover"></i>';
					    str += '</a>';
					str += '</div>';
				str += '</div>';

				str += '<input type="hidden" id="txtItemBrokenReasonId<?= $jqxPrefix;?>'+index+'" />';

			str += '</td>';

			str += '<td class="text-center">';
				str += '<textarea class="form-control" style="height: 30px;" name="Record['+submitIndex+'][Note]" ></textarea>';
			str += '</td>';

		str+= '</tr>';
	return str;
}

function addMoreReason<?= $jqxPrefix;?>(index)
{
	indexReasonProcess<?= $jqxPrefix;?> = index;
	addNewRecord("_sysItemBrokenReasonNewAndEdit","<?= $this->translate('NEW_MISSING_BROKEN');?>",550,300,'<?= $reasonUrl;?>/new', [], "<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_LOADING_DATA')?>");
}

function refreshReason<?= $jqxPrefix;?>(index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $reasonUrl;?>/getAllActiveRecords",
        data: "",
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 
        	
        	itemBrokenReasonRecord = data;

        	setDropDownListReason<?= $jqxPrefix;?>(index);
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function setDropDownListReason<?= $jqxPrefix;?>(index)
{
	initDropDownList(jqxTheme,"100%",250, "#ddlItemBrokenReason<?= $jqxPrefix;?>"+index, itemBrokenReasonRecord, 'Name','Id', true, '', '0', "#txtItemBrokenReasonId<?= $jqxPrefix;?>"+index);
}

function changeItemCategory<?= $jqxPrefix;?>(e,index)
{
	$(e).removeClass("jqx-validator-error-element");
}

function getCalculateUnitQty<?= $jqxPrefix;?>(index)
{
	var unitQty = $("#txtItemTakeUseQty<?= $jqxPrefix;?>"+index).val();
	var sysQty  = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val();
	var defaultSystemUnit = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();
	var availableQty = $("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val();

	if( unitQty == "" ) unitQty = 0;

	var itemUnitQty = roundNumber(sysQty*unitQty,2);

	$("#txtItemTakeUseQty<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");

	if( availableQty*1 < itemUnitQty )
	{
		$("#txtItemTakeUseQty<?= $jqxPrefix;?>"+index).addClass("jqx-validator-error-element");
	}

	$("#txtItemUnitQty<?= $jqxPrefix;?>"+index).val(itemUnitQty);
	$("#pcspItemUnitQty<?= $jqxPrefix;?>"+index).text(itemUnitQty+defaultSystemUnit);
}

function setStockAvailableRecord<?= $jqxPrefix;?>(data,index)
{
    $("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val(data["CurrentQty"]);
}

function getCalcuateItemAvailableQty<?= $jqxPrefix;?>(index)
{
	var defaultSystemUnit = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();
	var unitMeasurement   = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).text();
	var systemUnitQty     = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val();
	var availableQty     = $("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val();
	var qty = "";

	if( unitMeasurement != "" )
	{
		qty = availableQty*1/systemUnitQty*1;
		qty = availableQty+defaultSystemUnit+" = "+qty+unitMeasurement;
	}

	$("#pcspAvialableQty<?= $jqxPrefix;?>"+index).text(qty);
}

function addMore<?= $jqxPrefix;?>()
{
	var index = index<?= $jqxPrefix;?>;
	var element = "#tblMissing<?= $jqxPrefix;?> tbody";
	var str = getStr<?= $jqxPrefix;?>(index);

	$(element).append(str);

	initDropDownList(jqxTheme,"100%",250, "#ddlItemCategory<?= $jqxPrefix;?>"+index,<?= json_encode($itemCategoryRecord);?>,'Name','Id', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemMaster<?= $jqxPrefix;?>"+index,[], '', '', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index, [], '', '', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemBrokenReason<?= $jqxPrefix;?>"+index, itemBrokenReasonRecord, 'Name','Id', true, '', '0', "#txtItemBrokenReasonId<?= $jqxPrefix;?>"+index);

	$("#ddlItemCategory<?= $jqxPrefix;?>"+index).on('select', function(event)
	{
		var index = $(this).attr("data-index");
		var categoryId = $(this).val();

		itemMasterRequired<?= $jqxPrefix;?>(index,0);

		setItemMaster<?= $jqxPrefix;?>(categoryId,index);
	});

	$("#ddlItemMaster<?= $jqxPrefix;?>"+index).on('select', function(event)
	{
		var index = $(this).attr("data-index");
		var itemCode = $(this).val();

		setItemUnit<?= $jqxPrefix;?>(itemCode,index);
	});

	index<?= $jqxPrefix;?> ++;

	setOverflow<?= $jqxPrefix;?>();
}

function setOverflow<?= $jqxPrefix;?>()
{
	var element = "#pcspTableItemTakeUse<?= $jqxPrefix;?>";
	var height  = $(element).height();
	var height1 = height*1-40;
	var respContent = $(".respContent").height();

	if( height1*1 > respContent*1 )
	{
		if( $(element).hasClass("overflow-y") == false )
		{
			height = respContent*1+40;
			$(element).height(height);

			$(element).addClass("overflow-y");
		}
	}
	else if( height1*1 == respContent*1 )
	{
		var tableHeight = $("#tblMissing<?= $jqxPrefix;?>").height()-40;

		if( tableHeight*1 < height1*1 )
		{
			$(element).removeClass("overflow-y");
		}
		else
		{
			$(element).addClass("overflow-y");
		}
	}
	else
	{
		$(element).removeClass("overflow-y");
	}
}

function initialItemReceive<?= $jqxPrefix;?>(size)
{
	$("#tblMissing<?= $jqxPrefix;?> tbody").html("");

	for( var i = 1; i <= size ; i ++ )
	{
		addMore<?= $jqxPrefix;?>();
	}
}

function setContentItemMaster<?= $jqxPrefix;?>(index,data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemMaster<?= $jqxPrefix;?>"+index,data, 'Name', 'Id', true, '', '0', "");
}

function setContentItemUnit<?= $jqxPrefix;?>(index,data,defaultUnit)
{
	$("#txtDefaultSelectUnit<?= $jqxPrefix;?>"+index).val(defaultUnit);

	initDropDownList(jqxTheme,"100%", 250, "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index,data, 'Name', 'Id', false, '',0, "#txtDefaultSelectUnit<?= $jqxPrefix;?>"+index);
}

function setItemMaster<?= $jqxPrefix;?>(categoryId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemActiveRecord",
        data: "CategoryId="+categoryId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 
        	setContentItemMaster<?= $jqxPrefix;?>(index,data)
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function setItemUnit<?= $jqxPrefix;?>(itemMasterId,index)
{
	$("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val("");
	$("#txtItemUnitQty<?= $jqxPrefix;?>"+index).val("");

	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemMasterId="+itemMasterId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	itemMasterRequired<?= $jqxPrefix;?>(index,0);


        	var isDuplicate = isDuplicateItemNoVariance<?= $jqxPrefix;?>(index);

    		if( isDuplicate == true )
    		{
    			itemMasterRequired<?= $jqxPrefix;?>(index,1);
    		}
    		isExistItemNoVariance<?= $jqxPrefix;?> = isDuplicate;

    		setStockAvailableRecord<?= $jqxPrefix;?>(data,index);

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];
        	setContentItemUnit<?= $jqxPrefix;?>(index,itemUnitRecord,defaultUnit);

        	setOverflow<?= $jqxPrefix;?>();
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function itemMasterRequired<?= $jqxPrefix;?>(index,requiredType)
{
	var element = "#ddlItemMaster<?= $jqxPrefix;?>"+index;
	if( requiredType == 0 )
	{
		$(element).removeClass("jqx-validator-error-element");
	}
	else
	{
		$(element).addClass("jqx-validator-error-element");
	}
}

function isDuplicateItemNoVariance<?= $jqxPrefix;?>(rowIndex)
{
	var element = "#tblMissing<?= $jqxPrefix;?> tbody tr.item-no-variance<?= $jqxPrefix;?>";
	var index,itemCode;
	var currentItemCode = $("#ddlItemMaster<?= $jqxPrefix;?>"+rowIndex).val();
	var isDuplicate = false;

	$(element).each(function()
	{
		index = $(this).attr("data-index");
		if( index*1 != rowIndex*1 )
		{
			itemCode = $("#ddlItemMaster<?= $jqxPrefix;?>"+index).val();
			if( currentItemCode == itemCode )
			{
				isDuplicate = true;
			}
		}
	});

	return isDuplicate;
}

function saveData<?= $jqxPrefix;?>(pre, saveUrl, gridId, formId)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
        	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_SAVE')?>");
        	if( isOk == false )
        		return false;
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();

	                clearControl<?= $jqxPrefix;?>();

                    $(gridId).jqxGrid({ autoshowloadelement: false});
                    $(gridId).jqxGrid('updatebounddata');
                    $(gridId).jqxGrid('clearselection');
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};
	
$(document).ready(function()
{
	initialItemReceive<?= $jqxPrefix;?>(3);

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord',"<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>');
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var bool = !isExistItemNoVariance<?= $jqxPrefix;?>;
	            	
            		var index,element;

            		$("#tblMissing<?= $jqxPrefix;?> tbody tr").each(function()
            		{
            			element = $(this);
            			index   = element.attr("data-index");

            			var elementCategory   = "#ddlItemCategory<?= $jqxPrefix;?>"+index;
            			var elementDdlCategory= "#ddlItemCategory<?= $jqxPrefix;?>"+index;
            			var elementItemMaster = "#ddlItemMaster<?= $jqxPrefix;?>"+index;
            			var elementItemUnit   = "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index;
            			var elementQty = "#txtItemTakeUseQty<?= $jqxPrefix;?>"+index;

            			var unitQty = $("#txtItemTakeUseQty<?= $jqxPrefix;?>"+index).val();
						var sysQty  = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val();
						var availableQty = $("#txtStoackAvailableQty<?= $jqxPrefix;?>"+index).val();

						if( unitQty == "" ) unitQty = 0;

						var itemUnitQty = roundNumber(sysQty*unitQty,2);

            			var itemMaster = $(elementItemMaster).val();
            			var itemUnit   = $(elementItemUnit).val();
            			var qty 	   = $(elementQty).val();
            			var category   = $(elementCategory).val();

            			$(elementDdlCategory).removeClass("jqx-validator-error-element");
            			$(elementItemUnit).removeClass("jqx-validator-error-element");
            			$(elementQty).removeClass("jqx-validator-error-element");
            			
            			if( category == null || category == 0)
            			{
            				$(elementDdlCategory).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( itemMaster == 0 || itemMaster == "" )
            			{
            				$(elementItemMaster).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			else if( $(elementItemMaster).hasClass("jqx-validator-error-element"))
            			{
            				bool = false;
            			}
            			if( itemUnit == 0 || itemUnit == "" )
            			{
            				$(elementItemUnit).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( qty == 0 || qty == "" || availableQty*1 < itemUnitQty*1 )
            			{
            				$(elementQty).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            		});

	            	return bool;
				}
			},
        ]
    });

	$(document).ajaxComplete(function(event, xhr, settings) 
	{
		if(settings.url === "<?= $reasonUrl;?>/saveRecord") 
        {
            if(xhr.responseJSON.Id != "undifined" && xhr.responseJSON.Id !== 0 )
            {
                var id = xhr.responseJSON.Id;
                var index = indexReasonProcess<?= $jqxPrefix;?>;
                $("#txtItemBrokenReasonId<?= $jqxPrefix;?>"+index).val(id);

                refreshReason<?= $jqxPrefix;?>(index);
            }
        }
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearControl<?= $jqxPrefix;?>();
	});
});
</script>