<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;

    $saleItemUrl = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_ITEM_CONTROLLER;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

function getJqxGridDataSource<?= $jqxPrefix;?>(getGridDataUrl, gridIdName, param)
{
  var source = 
  {
      type: "post",
      datatype: "json",
      cache: false,
      id: 'SalePriceId,Id',
      data: param,
      url: getGridDataUrl,
      root:'rows',
      beforeprocessing: function(data)
      {
         //source.data = [];
         source.totalrecords = (data != null)? data[0].total:0;
      },
      filter: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'filter');
      },
      sort: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'sort');
      },
  };
  
  return source;
};

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource<?= $jqxPrefix;?>('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function newSetupPrice<?= $jqxPrefix;?>(id,saleItemId,action)
{
    var param = JSON.parse('{"Id":"'+id+'","SaleItemId":"'+saleItemId+'"}');

    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("PRICE_SETUP")?>',500,250, '<?= $url;?>/'+action, param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var str = "";
    var level = params.level;
    if( level*1 == 1 )
    {
      if( typeof params.subItems[0] != "undefined" )
      {
          var record = params.subItems[0];

          str = record["Name"];
      }
    }
    else
    {
      str = group;
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}


$('#jqxGrid<?= $jqxPrefix;?>').on('rowclick', function (event) 
{
    var index = event.args.rowindex;
    if( index != -1 )
    {
        var record = event.args.row.bounddata;
        var id = record.Id;        
        var salePriceId = record.SalePriceId;

        if( salePriceId != null && salePriceId != 0 )
            newSetupPrice<?= $jqxPrefix;?>(salePriceId,id,"edit");
        else
          newSetupPrice<?= $jqxPrefix;?>(0,id,"new");
    }
});

function readImageURL<?= $jqxPrefix;?>(input, imgId) 
{
    if (input.files && input.files[0]) 
    {
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $(imgId).attr('src', e.target.result);

            saveData<?= $jqxPrefix;?>("<?= $saleItemUrl;?>/uploadImage", "#jqxGrid<?= $jqxPrefix;?>",winFormId<?= $jqxPrefix;?>);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

function saveData<?= $jqxPrefix;?>(saveUrl,gridId,formId)
{
    var data = new window.FormData($(formId)[0]);

    $.ajax
    ({
        type: "post",
        data: data,
        contentType: false,
        cache: false,
        processData:false,
        url: saveUrl,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();
            
            $(gridId).jqxGrid({ autoshowloadelement: true});
            $(gridId).jqxGrid('updatebounddata');
            $(gridId).jqxGrid('clearselection');
        },
        error: function (errs) 
        {
            closePageLoading();
            showMessage('Error','Error Save Data','270','120');
        }
    });
}

function browsImage<?= $jqxPrefix;?>(winFormId,txtFileId)
{
    winFormId<?= $jqxPrefix;?> = winFormId;

    $(txtFileId).click();
}

var  image<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var id = rowdata.Id;
    var str = '<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>'+id+'" name="winForm<?= $jqxPrefix;?>'+id+'" method="post">';

    str += "<input type='file' onchange=readImageURL<?= $jqxPrefix;?>(this,'#image<?= $jqxPrefix;?>"+id+"') id='txtFile<?= $jqxPrefix;?>"+id+"' class='hide' name='Image' />";
    str += "<input type='hidden' name='Id' value='"+id+"' />";

    str += "<div class='pcsp-grid-row-auto-height' style='height: 30px;'>";
    var path = "<?= $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER;?>/";
    var img  = rowdata.Image;
    if(img == "" || img == null)
    {
        path += "<?= PHPConstant::ITEM_IMAGE_BLANK;?>";
    }
    else
    {
        path += img;
    }

    str += "<img style='width: 30px;height: 30px;border-radius: 50%' src='"+path+"' class='margin-top-7 cursor-pointer' id='image<?= $jqxPrefix;?>"+id+"' onclick=browsImage<?= $jqxPrefix;?>('#winForm<?= $jqxPrefix;?>"+id+"','#txtFile<?= $jqxPrefix;?>"+id+"') />";

    str +="</div>";

    str += "</form>";

    return str;
}

var cellsrenderer<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
  var salePriceId = rowdata.SalePriceId;

  if ( salePriceId == null )
  {
      var element = $(defaulthtml);
      element.css({ 'color': 'red', 'width': '100%', 'height': '100%', 'padding-top': '10px','margin':'0px' });

      return element[0].outerHTML;
  }

  return $(defaulthtml).css({'padding-top':'5px'})[0].outerHTML;
}

$(document).ready(function () 
{   
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, 
        width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["CategoryName","Name"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            // { 
            //     text: "<?= $this->translate('Image');?>",datafield:"Image", cellsrenderer: image<?= $jqxPrefix;?>,width: 80,enabletooltips: false,align:'center',sortable: false,filterable: false
            // },
            { 
                text: "<?= $this->translate('Type');?>", datafield: 'TypeName',cellsrenderer: cellsrenderer<?= $jqxPrefix;?>
            },
            { 
                text: "<?= $this->translate('PRICE');?>", datafield: 'Price',cellsrenderer: cellsrenderer<?= $jqxPrefix;?>
            },
        ]
    }); 

    // $('#jqxGrid<?= $jqxPrefix;?>').on('bindingcomplete', function (event) 
    // {
    //     $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid('expandallgroups');
    // });
});

</script>