<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SALE_PRICE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSalePriceList';
    $newAndEditPrefix = '_sysSalePriceNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Sale Price");?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#item-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("Sale Price");?>
                </a>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="item-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('accountant/sale-price/partial/filter-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "categoryRecord" => $this->categoryRecord,
                                "itemTypeRecord" => $this->itemTypeRecord,

                            ]
                    );

                    echo $this->partial('accountant/sale-price/partial/grid-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    heightContentAptional = -50;
</script>