<?php 
    use PCSPLib\PHPConstant;
    
    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SALE_PRICE_CONTROLLER;
    $escaper = new Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSalePriceNewAndEdit';
    $pre = '_sysSalePriceList';
    $id = $this->record->Id;
    $isCopy = isset($this->isCopy)?$this->isCopy:0;
    $id = ($isCopy)?0:$this->record->Id;

    $gridIdName = "#jqxGrid".$pre;

?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

    <input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
    <input type="hidden" id="txtActive<?= $jqxPrefix;?>" name="IsActive" value="1" />
    <input type="hidden" id="txtSaleItemId<?= $jqxPrefix;?>" name="SaleItemId" value="<?= $this->saleItemId; ?>" />

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">
                <?= $this->translate('PRICE');?>
                <span class="star-red">*</span>
            </label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" id="txtPrice<?= $jqxPrefix;?>" name="Price" value="<?= $this->record->Price;?>">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label"><?= $this->translate('NOTE');?></label>
        </div>
        <div class="col-sm-8">
            <textarea class="form-control" name="Note"><?= $escaper->escapehtml($this->record->Note);?></textarea>
        </div>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
            [
                "url" => $url,
                "jqxPrefix" => $jqxPrefix,
                "gridName"  =>  $gridIdName,
                "isSaveNew" => 0
            ]
        );
    ?>
</form>

<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

<script type="text/javascript">

$(document).ready(function()
{
    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtPrice<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            }
        ]
    });
    
}); 
</script>