<footer class="main-footer">
	<div class="pull-right hidden-xs">
	  <b>Version</b> 1.0
	</div>
	<strong>Copyright &copy;  <a href="http://www.pcspgroup.com">PCSP Group</a>.</strong> All rights	reserved.
</footer>