<?php
use PCSPLib\Helper;
use PCSPLib\PHPConstant;
use Application\Helper\LeftMenu;

$auth = new \Zend\Authentication\AuthenticationService();
$userInfo = "";
$path = PHPConstant::USER_IMAGE_BLANK;
$since = '';
if($auth->hasIdentity())
{
    $userInfo = $auth->getIdentity()->LastName." ".$auth->getIdentity()->FirstName;
    $since = Helper::getDateFormat($auth->getIdentity()->AddDate);
    
    if($auth->getIdentity()->Image)
    {
    	$path = PHPConstant::RESOURCE_FILES_FOLDER."/".PHPConstant::USER_PHOTO_FOLDER."/".$auth->getIdentity()->Image;
    }

}
$jqxPrefix = "_sysLanguage";
$local = isset($this->arrVariable["local"])?$this->arrVariable["local"]:"En";

$stockAlertUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::STOCK_ALERT_CONTROLLER;

?>
<header class="main-header">
    <a href="<?= $this->url('home') ?>inventory" class="logo">
        <span class="logo-mini">Fruiti Yogurt</span>
        <span class="logo-lg"><img src="<?= $this->basepath();?>/images/logo/fruiti-yogurt-logo.png" alt="" border="0" title="" style="width: 150px;height: 40px;"/></span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-toggle">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="menu-module">
            
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                 <?php 
                    $stockAlertRecord = isset( $this->stockAlertRecord ) ? $this->stockAlertRecord : [];

                    $count = $this->countStockAlert;
                ?>
                <?php if( $count ):?>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">
                                <?= $count;?>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">
                                <?= $this->translate("Stock Alert");?>
                            </li>
                            <li>
                                <ul class="menu">
                                    <?php foreach( $stockAlertRecord as $key => $value ):?>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-warning text-yellow"></i> 
                                                <?= $value["Name"];?>
                                            </a>
                                        </li>
                                    <?php endforeach;?>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="<?= $stockAlertUrl;?>/list">
                                    <?= $this->translate("View All");?>
                                </a>
                            </li>
                        </ul>
                    </li>
                <?php endif;?>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<?= $this->basePath($path);?>" class="user-image" alt="User Image"/>
                        <span> <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu" style="">
                        <li class="user-header bg-light-black">
                            <img src="<?= $this->basePath($path);?>" class="img-circle" alt="User Image">
                            <p>
                                <?= $this->translate('Username')."&nbsp;:&nbsp;".$userInfo;?>
                                <small><?= $this->translate("Member since").":".$since;?></small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="<?= $this->url('user');?>/user/view-profile" class="btn btn-default btn-flat"><?= $this->translate('Profile');?>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="<?= $this->basepath();?>/logout" class="btn btn-default btn-flat" id="btnSignOut"><?= $this->translate('Sign Out');?>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<style type="text/css">
    .header-img-size
    {
        width: 40px;
        height: 40px;
        padding: 0 !important;
        margin: 0 !important;
        
    }
    .pcsp-img-circle
    {
        border-radius: 50%;
    }
</style>
<script type="text/javascript">

function setCurrentLanguage(local)
{
    $("#active-"+local+"<?= $jqxPrefix;?>").removeClass("hide").addClass("show");
    $("#"+local+"<?= $jqxPrefix;?>").addClass("hide");
}

function switchLanguage(local)
{
    var url = "<?= $this->basepath();?>/application/list";
    var param = "local="+local;
    $.ajax
    ({
        type: 'post',
        url: url,
        data:param,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();
            
            window.location.reload();
        },
        error: function (errs) 
        {
          closePageLoading();
        }
    });
}

function viewStockAlert(stockBalanceMasterId)
{
    var param = JSON.parse('{"StockBalanceMasterId": "'+stockBalanceMasterId+'"}')
    addNewRecord("_sysViewStockAlert", '<?= $this->translate("ALERT")?>',900,550, '<?= $stockAlertUrl;?>/view', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

function viewAllStockAlert()
{
    addNewRecord("_sysViewAllStockAlert", '<?= $this->translate("ALERT")?>',1000,500, '<?= $stockAlertUrl;?>/alert', [], '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

$(document).ready(function()
{
    // setCurrentLanguage("<?= $local;?>");
});
</script>