<?php
    use PCSPLib\Helper;
    use Application\Helper\LeftMenu;
?>
  
<aside class="main-sidebar">
      <section class="sidebar">
         <?php
              LeftMenu::setTranslate($this->arrVariable['translate']);
              LeftMenu::setBaseUrl($this->basePath());
              $menuRecord = LeftMenu::InitLeftMenu($this->arrVariable['idenMenu']);
              Helper::buildAdminMenu($menuRecord);
          ?>
      </section>
 </aside>