<?php

$jqxPrefix = $this->jqxPrefix;
$newAndEditPrefix = isset($this->newAndEditPrefix)?$this->newAndEditPrefix:'';
$url = $this->url;
$width = isset($this->width)?$this->width:550;
$height= isset($this->height)?$this->height:300;
$gridType = isset($this->gridType)?$this->gridType:1; // 1 is for grid, 2 is for treegrid
$gridIdName = $this->gridIdName;
$gridHeaderProperties = $this->gridHeaderProperties;

$gridColumnRecord = json_encode(isset($this->gridColumnRecord)?$this->gridColumnRecord:[]);

?>

<section class="content-custom-blog pcsp-resp-action">
    <div class="row no-margin-top">
            <div class="col-lg-10">
                <div class="btn-group btn-icon-state">
                    <a href="#" class="btn btn-default btn-sm icon-active" id="butNew<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-plus" title="<?= $this->translate('NEW');?>"></i> <?= $this->translate('NEW');?></a>
					<a href="#" class="btn btn-default btn-sm disabled" id="butEdit<?= $jqxPrefix;?>">
						<i class="glyphicon glyphicon-edit" title="<?= $this->translate('EDIT');?>"></i> <?= $this->translate('EDIT');?>
					</a>
					<a href="#" class="btn btn-default btn-sm disabled" id="butView<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-eye-open" title="<?= $this->translate('View');?>"></i> <?= $this->translate('View');?></a>
					<a href="#" class="btn btn-default btn-sm disabled" id="butDelete<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-trash" title="<?= $this->translate('DELETE');?>"></i> <?= $this->translate('DELETE');?></a>
                </div>
            </div>

            <?php 
				echo $this->partial("application/basepartial/script-grid-header-property-partial.phtml",
							[
								"url"				=>	$url,
								"jqxPrefix"			=>	$jqxPrefix,
								"gridIdName"		=>	$gridIdName,
								"gridColumnRecord"	=>	$gridColumnRecord,
								"gridType"			=>	$gridType

							]
						);
			?>
    </div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = '<?= $newAndEditPrefix;?>';

$(document).ready(function()
{
	$("<?= $gridIdName; ?>").on('rowselect rowunselect', function (event) 
	{
		var selectedRows = selectedRows = $("<?= $gridIdName; ?>").jqxGrid('getselectedrowindexes');
		
		$("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butView<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');

		var bool = false;
		if( selectedRows.length == 1 )
		{
			$("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			$("#butView<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			bool = true;		
		}
		else if( selectedRows.length > 1 )
		{
			bool = true;
		}
		if(bool)
		{
			$("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');			
		}
    });

	$("#butNew<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var param = JSON.parse('{"Id":"0","isPopup":1}');
        addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("NEW")?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });
	$("#butEdit<?= $jqxPrefix;?>").click(function(e)
	{
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_EDIT')?>', '<?= $this->translate('SELECT_ONLY_ONE_ROW_TO_EDIT')?>');
		if(selectedRow){
			var param = JSON.parse('{"Id":"'+selectedRow.Id+'","isPopup":1,"gridIdName":"<?= $gridIdName;?>"}');
			addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate('EDIT')?>',550, 200, '<?= $url;?>/edit', param, '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_LOADING_DATA')?>');
		}
    });
    $("#butView<?= $jqxPrefix;?>").click(function(e)
	{
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate("Please select row to view.")?>', '<?= $this->translate("Please select only one row to edit.")?>');
		if(selectedRow)
		{
			var param = JSON.parse('{"Id":"'+selectedRow.Id+'","ItemMasterId":"'+selectedRow.ItemMasterId+'","isPopup":1}');

			switchTab<?= $jqxPrefix;?>(1,1);

		    var element = "#item-detail-detail<?= $jqxPrefix;?>";

		    initialContent(element,"<?= $url;?>/view",param);
		}
    });
	
	$("#butDelete<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DELETE')?>', '');    
		if(selectedRows){
			var isOk = confirm("<?= $this->translate('MESSAGE_DELETE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.Id:0;
					listId.push(id);
				}
				deleteGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/deleteMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DELETE_DATA')?>');
			}
		}
    });	
 });

</script>