<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::STOCK_BALANCE_MASTER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysStockBalanceMasterList';
    $newAndEditPrefix = '_sysStockBalanceMasterNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Stock Balance");?>
        </li>
    </ol>
</section>

<section class="respContent no-padding pcsp-inv-tabs">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#take-use-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("Stock Balance");?>
                </a>
            </li>
            <li class="padding-right-5 hide" data-id="#item-detail-detail<?= $jqxPrefix;?>" >
                <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(1,0);">
                    <?= $this->translate("Detail");?>
                </a>
                <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this);"></i>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding auto-overflow-y">
            <div class="pcsp-tabs" id="take-use-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('inventory/stock-balance-master/partial/filter-partial.phtml',
                            [
                                "url"       => $url,
                                "jqxPrefix" => $jqxPrefix,
                                "categoryRecord" => $this->categoryRecord,
                            ]
                    );

                    echo $this->partial('inventory/stock-balance-master/partial/action-partial.phtml',
                        [
                            "url"           =>  $url,
                            "jqxPrefix"     =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  $newAndEditPrefix,
                            'gridIdName'        =>  "#jqxGrid".$jqxPrefix,
                            "gridColumnRecord"  => $this->gridColumnRecord,
                            "width" => 500,
                            "height"=> 400
                        ]
                    );
                    echo $this->partial('inventory/stock-balance-master/partial/grid-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix
                            ]
                    );
                ?>
            </div>
            <div class="pcsp-tabs padding-left-10 padding-right-10 padding-top-10" id="item-detail-detail<?= $jqxPrefix;?>">

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -50;

function newItemMissing<?= $jqxPrefix;?>()
{
    var element = "#item-detail<?= $jqxPrefix;?>";
    if( $(element).children().length == 0 )
    {
        initialContent(element,"<?= $url;?>/new", []);
    }
}

function removeTab<?= $jqxPrefix;?>(act)
{
    switchTab<?= $jqxPrefix;?>(0,1);
}

function switchTab<?= $jqxPrefix;?>(index,type)
{
    $(".pcsp-tabs-row").find("li").removeClass("selected");
    $(".pcsp-tabs-row li:eq("+index+")").addClass("selected");

    $(".pcsp-bg-tab-content").find(".pcsp-tabs").removeClass("show").addClass("hide");

    var contentEelement = $(".pcsp-tabs-row li:eq("+index+")").attr("data-id");
    $(contentEelement).removeClass("hide").addClass("show");

    switch( index*1 )
    {
        case 0:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(1)").addClass("hide");;
            }
            break;
        case 1:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(1)").removeClass("hide");
            }            
            break;
    }
}

</script>