<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysMySaleList';
    $newAndEditPrefix = '_sysSaleItemNewAndEdit';
?>
<div class="pcsp-bg-tab-content" style="">
    <ul class="pcsp-tabs-row">
        <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#receive-transaction<?= $jqxPrefix;?>">
            <a href="javascript:void(0);">
                <?= $this->translate("SALE_TRANSACTION");?>
            </a>
        </li>
        <li class="padding-right-5 hide tabs" data-id="#sale-item-detail<?= $jqxPrefix;?>" >
            <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(1,0);" id="txtSaleInvoice<?= $jqxPrefix;?>">
                <?= $this->translate("INVOICE");?>
            </a>
            <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this,1);"></i>
        </li>
        <li class="padding-right-5 hide tabs" data-id="#sale-view-invoice<?= $jqxPrefix;?>" >
            <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(2,0);" id="txtSaleViewInvoice<?= $jqxPrefix;?>">
                <?= $this->translate("VIEW");?>
            </a>
            <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this,2);"></i>
        </li>
    </ul>
    <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
        <div class="pcsp-tabs" id="receive-transaction<?= $jqxPrefix;?>">
            <?php 
                echo $this->partial('pos/pos/partial/grid-partial.phtml',
                        [
                            "url" => $url,
                            "jqxPrefix" => $jqxPrefix,
                        ]
                );
            ?>
        </div>
        <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="sale-item-detail<?= $jqxPrefix;?>">

        </div>
        <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="sale-view-invoice<?= $jqxPrefix;?>">

        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="window-button-fix-footer">
    <div class="window-button">
        <a href="javascript:;" id="btnClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>" class="btn btn-danger btn-xs">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div>

<script type="text/javascript">

function removeTab<?= $jqxPrefix;?>(act,type)
{
    switchTab<?= $jqxPrefix;?>(0,type);
}

function switchTab<?= $jqxPrefix;?>(index,type)
{
    $(".pcsp-tabs-row").find("li").removeClass("selected");
    $(".pcsp-tabs-row li:eq("+index+")").addClass("selected");

    $(".pcsp-bg-tab-content").find(".pcsp-tabs").removeClass("show").addClass("hide");

    var contentEelement = $(".pcsp-tabs-row li:eq("+index+")").attr("data-id");
    $(contentEelement).removeClass("hide").addClass("show");

    switch( index*1 )
    {
        case 0:

            if( type*1 != 0 )
            {
                $(".pcsp-tabs-row").find("li:eq("+type+")").addClass("hide");
            }

            break;
        case 1:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(1)").removeClass("hide");
            }       

            break;
        case 2:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(2)").removeClass("hide");
            }       

            break;
    }
}

$(document).ready(function()
{
    $("#btnClose<?= $jqxPrefix;?>").click(function()
    {
        $("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
    });
});

</script>