<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;

    $jqxPrefix = "hengPos";
?>
<style type="text/css">
.table-view-item thead tr th
{
    padding: 5px;
    font-weight: bolder;
    background-color: #d8d8d8;
    border-left: 1px solid white;
}
.table-view-item tbody tr td
{
    padding: 7px;
    cursor: pointer;
}
.table-view-item tbody tr td:hover
{
    background-color: #60aad2;
    color: white;
}
.table-view-item tr.selected td
{
    background-color: #004a73;
    color: white;
}
</style>
<?php if( count( $this->record ) ) : ?>
    <div class="no-padding heng-pos-layout-1 auto-overflow-y">
        <table class="table-view-item" width="100%">
            <tbody>
                <?php foreach( $this->record as $key => $value ) : ?>
                    <tr class = "select-product-type" data-group-record = "<?= $value['GroupRecord'];?>">
                        <td>
                            <?= $value["Name"];?>
                        </td>
                    </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </div>
<?php else:?>
    <div class="heng-text-center-div">
        <?= $this->translate("No data to display");?>
    </div>
<?php endif;?>

<script type="text/javascript">

function selectItem(e, groupRecord)
{
    console.log("selected");
    $(".table-view-item tr").removeClass("selected");

    $(e).addClass("selected");

    var param = JSON.parse('{"GroupRecord":"'+groupRecord+'"}');
    initialContent("#heng-sale-item","<?= $url;?>/new-item", param);
}
$(document).ready(function() {

    /*
     * get order Item
     */
    $(".select-product-type").on("click",function (event) {

        $(".table-view-item tr").removeClass("selected");
        $(this).addClass("selected");
        var param = JSON.parse('{"GroupRecord":"'+$(this).data("group-record")+'"}');
        initialContent("#heng-sale-item","<?= $url;?>/new-item", param);
    });
});
</script>