<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;

    $jqxPrefix = "hengPos";
?>
<style type="text/css">
.table-view-size tbody tr td
{
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #e4e4e4;
}
.table-view-size tbody tr:hover td
{
    background-color: #60aad2;
    color: white;
}
</style>
<?php if( count( $this->record ) ) : ?>
    <div class="no-padding heng-pos-layout-1 auto-overflow-y">
    <table class="table-view-size" width="100%">
        <tbody>
        <?php foreach( $this->record as $key => $val ):?>
            <?php 
                $id   = $val["SalePriceId"];
                $s_i_id    = $val["Id"];
                $item_name = $val["Name"];
                $price = $val["Price"];
                $type_name = $val["TypeName"];
                $image = $val["Image"];
                $isSaleWeight = $val["IsSaleWeight"];

                //$item_name = str_replace(" ", "&$&", $item_name);
                //$type_name = str_replace(" ", "&$&", $type_name);

                $str = $id.",".$item_name.",".$price.",".$type_name.",".$s_i_id;

                $json= array(
                        'id' => $id,
                        'name' => $item_name,
                        'price' => $price,
                        'typeName' => $type_name,
                        'sIId' => $s_i_id,
                        'isSaleWeight' => $isSaleWeight
                );

                $path = $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER."/";

                if( !empty( $image ) ) $path .= $image;
                else $path .= PHPConstant::ITEM_IMAGE_BLANK;

                $data = '{"condition" : 250, "minValue" : 1.4,"maxValue" : 1.5}';
                if(!$isSaleWeight ) {
                    $data = null;
                    $str = $str.",1";
                }
            ?>
            <tr class = "select-order"
                data-custom = '<?=json_encode($json);?>'
                data-id="<?=$id;?>"
                data-s-i-id="<?=$s_i_id;?>"
                data-item-name="<?=$item_name?>"
                data-price="<?=$price;?>"
                data-type-name="<?=$type_name;?>"
                data-collection = "<?=$str;?>"
                data-sale-weight-condition='<?=$data;?>'
                data-sale-weight="<?=$isSaleWeight;?>">
                <td>
                    <?= $type_name;?>
                </td>
                <td>
                    $<?= $price;?>
                </td>
            </tr>
        <?php endforeach;?>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<?php else:?>
    <div class="heng-text-center-div">
        <?= $this->translate("No data to display");?>
    </div>
<?php endif;?>