<?php 
	use PCSPLib\PHPConstant;

	$url   = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;
	$c_url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_CATEGORY_CONTROLLER;

	$jqxPrefix = "hengPos";

	$defaultTab = (int) date("Hsi");
?>

<div id="heng-screen-pos">
<div class="col-md-12 pos-header no-padding">
	<?php
        /*
		echo $this->partial('pos/pos/partial/pos-header-partial.phtml',
		        [
		        	"url" 		=> $url,
		        	"jqxPrefix"	=> $jqxPrefix,
		        	
		        ]
		    );
        */
        echo $this->partial('pos/pos/partial/pos-header-partial.phtml');
		echo $this->partial('pos/pos/partial/pos-right-menu-partial.phtml',
		        [
		        	"warehouseRecord" => $this->warehouseRecord,
		        	
		        ]
		    );
	?>
</div>

<div class="col-md-12 pos-content no-padding padding-top-5 " style="margin-top: 3px;">
	
	<div class="col-md-7 no-padding-left no-padding-right no-margin pos-layout">
		<div class="col-md-12 no-padding no-margin">
			<div class="searching">
				<div class="pull-left">
					<div style="font-size: 14px;">
						<span style="font-weight: bolder;">
							<?= $this->translate("Password")." : ";?>
						</span>
						<span style="color:#fe0606;">
							<?= $this->contactRecord->WiFiPassword;?>
						</span>
					</div>
				</div>
				<div class="pull-right">
		            <a href="javascript:void(0);" class="text-success" id="txt-internet-access">
		                <i class="glyphicon glyphicon-signal"></i>
		                <span>Internet Access</span>
		            </a>
		            <a href="javascript:void(0);" class="text-danger hide" id="txt-no-internet">
		                <i class="glyphicon glyphicon-signal"></i>
		                <span>No Internet</span>
		            </a>
				</div>
            <div class="clearfix"></div>
            </div>
		</div>
		<div class="col-sm-12 no-padding">
			<div class="col-sm-4 no-padding">
				<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
					Item
				</div>
				<div id="ddlTreeItemCategory" class="tree-grid" style="border-color: transparent;"></div>
			</div>
			<div class="col-sm-4 no-padding-left no-padding-right" id="pcsp-display-item" style="border-left:1px solid #f3f3f3;">
				<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
					Name
				</div>
				<div id="pos-content-item">
					<div class="heng-text-center-div">
				        <?= $this->translate("No data to display");?>
				    </div>
				</div>
			</div>
			<div class="col-sm-4 no-padding-left no-padding-right">
			    <div class="heng-pos-layout auto-overflow-y no-padding" style="border-left:1px solid rgb(237, 237, 237);">
			    	<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
						Size
					</div>
					<div class="clearfix"></div>
			        <div id="heng-sale-item">
			        	<div class="clearfix"></div>
			            <div class="heng-text-center-div">
			                <?= $this->translate("No data to display");?>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-md-5 pos-left no-padding heng-pos-tab" style="background: #f0f0f0;">
		<div id='jqxTabs' style="float: left;">
	        <ul id="unorderedList">
	            <li hasclosebutton='false' data-tab="<?= $defaultTab;?>">
	            	<?= $this->translate("Default");?>
	            </li>
	            <li canselect='false' hasclosebutton='false'>
	            	<?= $this->translate("New");?>
	            </li>
	        </ul>
	        <div id="pcsp-default-tab">
	        	
	        </div>
	        <div id="pcsp-new-tabs" >
	           
	        </div>
		</div>
		
	</div>

</div>
<div class="pcsp-popup heng-popup-manual-item">
    <div class="popup" id="heng-popup">
        <div class="popup-inner">
            <h4 style="text-align:center;font-weight:bolder;" id="lbl-item-name"></h4>
            <table class="table-popup" width="100%">
				<tr>
					<td width="100">
						<b><?= $this->translate("Weight");?></b>
					</td>
					<td id="lbl-qty">
						<div class="input-group">
							<input type="text" class="form-control input-sm" id="txtSaleWeightQty" onkeypress="return isAllowNumerice1(event,this,2);" onkeyup="saleWeigthQty(this);" maxlength="10" placeholder="<?= $this->translate('Enter weight here');?>">
							<span class="input-group-addon" id="basic-addon2">g</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<b><?= $this->translate("Price");?></b>
					</td>
					<td id="lbl-price">
						
					</td>
				</tr>
				<tr>
					<td>
						<b><?= $this->translate("Total");?></b>
					</td>
					<td id="lbl-total">
						0
					</td>
				</tr>
			</table>
			<div class="window-button-fix-footer">
				<div class="window-button">
					<div class="btn-group">
						<a class="btn btn-primary btn-xs disabled" id="btn-ok">
							<?= $this->translate("OK");?>
						</a>
			            <a class="btn btn-danger btn-xs hidden" data-popup-close="popup" href="javascript:void(0);">
			                <?= $this->translate("CLOSE");?>
			            </a>
			        </div>
			    </div>
            </div>
            <a class="popup-close" data-popup-close="popup" href="javascript:void(0);">x</a>
        </div>
    </div>
</div>

<div class="pcsp-popup heng-popup-receipt">
    <div class="popup" id="heng-popup-preview-receipt">
        <div class="popup-inner">
            <div class="heng-popup-content">
            	
            </div>
			<div class="window-button-fix-footer">
				<div class="window-button">
					<div class="btn-group">
						<a class="btn btn-primary btn-xs" id="btn-print" onclick="printReceipt();">
							<?= $this->translate("Print");?>
						</a>
			            <a class="btn btn-danger btn-xs hidden" data-popup-close="popup" href="javascript:void(0);">
			                <?= $this->translate("CLOSE");?>
			            </a>
			        </div>
			    </div>
            </div>
            <a class="popup-close" data-popup-close="popup" href="javascript:void(0);">x</a>
        </div>
    </div>
</div>

</div>

<input type="hidden" id="txtExchange" value="<?= $this->moneyExchange;?>" name="Exchange"/>

<script type="text/javascript">


    $(document).ready(function() {

        var currentTabIndex = 0;
        var selectTabIndex  = 0;
        var defaultDiscountId = 0;
        var defaultTab = <?= $defaultTab;?>

        var countRecord = 0;
        var contentHeight = 0;
        var initializeSize = 10;
        var selectedRowIndex = 0;
        var index = 0;
        var maxlengthQty = 5;
        var moneyExchange = <?= $this->moneyExchange;?>;

        var isScanDevice = false;
        var isItemDiscount = <?= $this->isItemDiscount;?>;

        console.log("I found you.");
        checkInternet();
        initialize();

        $('#jqxTabs').jqxTabs({ theme: jqxTheme,height: contentHeight+30, width: "100%",  showCloseButtons: true});

        initialTab();

        $('.pcsp-popup [data-popup-close]').on('click', function(e)
        {
            $('.pcsp-popup').children().fadeOut(350);
            isScanDevice = false;
            e.preventDefault();
        });
        $("#heng-popup-preview-receipt a.popup-close").on('click', function(e) {

            var tabIndex = $(".heng-popup-receipt").data("tabIndex");
            console.log("++++ tabIndex " +tabIndex);
            console.log("++++ default " +defaultTab);
            if ($(".heng-popup-receipt").data("tabIndex") == -1 || $(".heng-popup-receipt").data("tabIndex") == undefined) return;
            if( tabIndex*1 != defaultTab*1 )
            {
                var selectedItem = $('#jqxTabs').jqxTabs('selectedItem');
                $('#jqxTabs').jqxTabs('removeAt', selectedItem);
            }

            else
            {
                clearControl(tabIndex);
            }
            console.log("helo");
            $(".heng-popup-receipt").data("tabIndex", -1);
        });

        $('#jqxTabs').on('tabclick', function (event) {
            var tabIndex = event.args.item;
            var element  = "#unorderedList";

            var length = $(element).find("li").length;

            selectTabIndex = tabIndex;

            if (tabIndex*1 == length-1)
            {
                var key = getKey();
                var tabKey = tabIndex*1+key*1;

                currentTabIndex = tabKey;

                newTabContent(tabIndex);

                $(element).find("li:eq("+tabIndex+")").attr("data-tab",tabKey);
            }
            else
            {
                tabIndex = $(element).find("li:eq("+tabIndex+")").attr("data-tab");
                currentTabIndex = tabIndex;
            }
        });
        $('#jqxTabs').on('removed', function (event)
        {
            var tabIndex = event.args.item;
            var element  = "#unorderedList";
            var length = $(element).find("li").length;

            var selectTab = selectTabIndex;

            if( tabIndex*1 != 0 && tabIndex*1 >= selectTab*1 )
            {
                currentTabIndex = $(element).find("li:eq("+(selectTab-1)+")").attr("data-tab");

                selectTabIndex --;
            }
            else if( tabIndex*1 == 0 && length*1 > 1 && tabIndex*1 == selectTab*1)
            {
                currentTabIndex = $(element).find("li:eq(0)").attr("data-tab");
            }
            else if( length*1 == 2 )
            {
                currentTabIndex = <?= $defaultTab;?>;
            }
        });
        $("#ddlTreeItemCategory").jqxTreeGrid(
            {
                theme: jqxTheme, width: '100%',height: contentHeight-30,
                source: dataAdapter ,
                autoRowHeight: true,
                enableHover: true,
                filterable: false,
                showHeader: false,
                columns:
                    [
                        {
                            text: '<?= $this->translate("NAME");?>', datafield: 'Name'
                        }
                    ]
            });
        $('#ddlTreeItemCategory').on('bindingComplete', function (event)
        {
            $("#ddlTreeItemCategory").jqxTreeGrid('expandAll');
        });
        $("#ddlTreeItemCategory").on('rowClick', function (event)
        {
            // event args.
            var args = event.args;
            // row data.
            var row = args.row;
            var id  = row.Id;
            var isSaleWeight = row.IsSaleWeight;

            var param = JSON.parse('{"ItemCategoryId":"'+id+'","IsSaleWeight":"'+isSaleWeight+'"}');

            $("#heng-sale-item").html('<div class="heng-text-center-div"> <?= $this->translate("No data to display");?></div>');

            newContent(param);
        });



        function initialTabContent()
        {
            var tabIndex = currentTabIndex;
            var colspan = 5;
            var str ='<form class="form-horizontal" id="winForm'+tabIndex+'" name="winForm'+tabIndex+'" method="post">'
                +'<div id="pcsp-order-item'+tabIndex+'">'
                +'<table class="pos-input-text table-view" style="margin-top: 3px;" id="tblOrder'+tabIndex+'" width="100%">'
                +'	<thead>'
                +'		<tr>'
                +'			<th width="20">&nbsp;</th>'
                +'			<th width="40"><?= $this->translate("No");?></th>'
                +'			<th><?= $this->translate("DESCRIPTION");?></th>'
                +'			<th width="70"><?= $this->translate("QTY");?></th>'
                +'			<th width="100"><?= $this->translate("PRICE");?></th>';
            if( isItemDiscount*1 == 1 )
            {
                colspan = 6;
                str+='	<th width="100"><?= $this->translate("Discount");?></th>';
            }
            str+='		<th width="100"><?= $this->translate("TOTAL");?></th>'
                +'		</tr>'
                +'	</thead>'
                +'	<tbody>'

                +'	</tbody>'
                +'	<tfoot>'
                +'		<tr>'
                +'			<td colspan="'+colspan+'" style="text-align:right;"><?= $this->translate("Sub Total");?></td>'
                +'			<td id="lblSubTotal'+tabIndex+'">0</td>'
                +'		</tr>'
                +'		<tr>'
                +'			<td colspan="'+colspan+'" style="text-align:right;"><?= $this->translate("Discount");?></td>'
                +'			<td id="lblDiscount'+tabIndex+'">'
                +'					<div class="btn-group dropdown keep-open">'
                +'			        	<span id="bill-discount-dropdown-menu'+tabIndex+'" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">'
                +'			        		<span id="lblBillDiscount'+tabIndex+'">0</span>'
                +'			        		<span class="caret caret-up"></span>'
                +'			        	</span>'

                +'			        	<ul class="dropdown-menu pos-drop-up pull-right" style="min-width: 150px;" role="menu" aria-labelledby="bill-discount-dropdown-menu'+tabIndex+'">'
                +'			            	<div class="checkbox" style="padding: 0px 10px 10px 10px;color:#333 !important;" id="heng-bill-discount'+tabIndex+'">';
            <?php foreach( $this->discountRecord as $key => $value ):?>
            <?php if( $value["IsDefault"] ) : ?>
            defaultDiscountId = <?= $value["Id"];?>;
            <?php endif;?>

            str+='	<div class="padding-bottom-10">'
                +'    	<label>'
                +'            <input type="checkbox" class="chb-bill-discount'+tabIndex+'" onclick=changeDiscount('+tabIndex+',"<?= $value["Id"];?>","<?= $value["Name"];?>","<?= $value["Value"];?>","<?= $value["DiscountTypeId"];?>") value="<?= $value["Id"];?>" id="chb-bill-discount<?= $value["Id"];?>'+tabIndex+'">'
                +'            <span class="circle">'
                +'            	<i class="circle-icon glyphicon glyphicon-ok"></i>'
                +'            </span>'
                +'            <?= $value["Name"];?>'
                +'        </label>'
                +'    </div>';
            <?php endforeach;?>
            str+='</div>'
                +'</ul>'
                +'</div>'
                +'</td>'
                +'</tr>'
                +'<tr>'
                +'	<td colspan="'+colspan+'" style="text-align:right;"><?= $this->translate("Balance Due(Dollar)");?></td>'
                +'	<td style="color: #b72e59;" id="lblBalanceDue'+tabIndex+'">0</td>'
                +'</tr>'
                +'<tr>'
                +'	<td colspan="'+colspan+'" style="text-align:right;">'
                +'		<?= $this->translate("Balance Due(Riel)");?>'
                +'	</td>'
                +'	<td style="color: #b72e59;" id="lblBalanceDueRiel'+tabIndex+'">0</td>'
                +'</tr>'
                +'<tr>'
                +'	<td colspan="'+colspan+'" style="text-align:right;"><?= $this->translate("Change Given(Dollar)");?></td>'
                +'	<td style="color: #b72e59;" id="lblChangeGivenDollar'+tabIndex+'">0</td>'
                +'</tr>'
                +'<tr>'
                +'	<td colspan="'+colspan+'" style="text-align:right;">'
                +'		<?= $this->translate("Change Given(Riel)");?>'
                +'	</td>'
                +'	<td style="color: #b72e59;" id="lblChangeGivenRiel'+tabIndex+'">0</td>'
                +'</tr>'
                +'</tfoot>'
                +'</table>'
                +'</div>'
                +'<div class="clearfix"></div>'
                +'<div class="pos-left-footer" style = "font-size : 16px;">'
                +'	<div class="col-md-12 no-padding">'
                +'		<div class="col-md-12 no-padding" style="border-bottom: 0.5px solid #0000004d;font-weight:bolder;">'
                +'			&nbsp;<?= $this->translate("Payment");?>'
                +'		</div>'
                +'		<div class="clearfix"></div>'
                +'		<div class="col-md-12 margin-top-5">'
                +'			<div class="form-group">'
                +'				<label class="col-md-2 control-label"><?= $this->translate("Dollar");?></label>'
                +'				<div class="col-md-8 no-padding-left">'
                +'					<input style = "font-size : 16px;" type="text" class="form-control input-sm" onkeypress="return isAllowNumerice(event,this,2);" name="DollarTendered" onkeyup="calculatChangeGivenMoney('+tabIndex+');" id="txtDollarTendered'+tabIndex+'" maxlength="6">'
                +'				</div>'
                +'			</div>'
                +'			<div class="form-group">'
                +'				<label class="col-md-2 control-label"><?= $this->translate("Riel");?></label>'
                +'				<div class="col-md-8 no-padding-left">'
                +'					<input style = "font-size : 16px;" type="text" class="form-control input-sm" onkeypress="return isAllowNumerice(event,this,1);" name="RielTendered" onkeyup="calculatChangeGivenMoney('+tabIndex+');" id="txtRielTendered'+tabIndex+'" maxlength="7">'
                +'				</div>'
                +'			</div>'
                +'		</div>'
                +'	</div>'
                +'	<div class="clearfix"></div>'
                +'	<div class="button-fix-footer">'
                +'		<div class="pos-button cursor-pointer" title="<?= $this->translate('Payment');?>" onclick="payment('+tabIndex+');">'
                +'    		<span style="font-size: 14px;"><?= $this->translate("Payment");?></span>'
                +'    	</div>'
                +'		<div class="pos-button cursor-pointer hidden" title="<?= $this->translate('Clear');?>" onclick="reset('+tabIndex+');">'
                +'    		<span style="font-size: 14px;"><?= $this->translate("Clear");?></span>'
                +'		</div>'
                +'		<div class="clearfix"></div>'
                +'	</div>'
                +'</div>'
                +'<div class="clearfix"></div>'
                +'<input type="hidden" id="txtSubTotal'+tabIndex+'" value="0" name="SubTotal"/>'
                +'<input type="hidden" id="txtBalanceDue'+tabIndex+'" value="0" name="Total"/>'
                +'<input type="hidden" id="txtKhTotal'+tabIndex+'" value="0" name="KhTotal"/>'
                +'<input type="hidden" id="txtDiscount'+tabIndex+'" value="0" name="TotalDiscount"/>'
                +'<input type="hidden" id="txtDiscountType'+tabIndex+'" value="0" name="DiscountTypeId"/>'
                +'<input type="hidden" id="txtDiscountName'+tabIndex+'" value="" name="DiscountName"/>'
                +'<input type="hidden" id="txtDiscountId'+tabIndex+'" value="0" name="DiscountId"/>'
                +'<input type="hidden" id="txtDiscountValue'+tabIndex+'" value="0" name="DiscountValue"/>'
                +'<input type="hidden" id="txtChangeGivenDollar'+tabIndex+'" value="0" name="ChangeGivenDollar"/>'
                +'<input type="hidden" id="txtChangeGivenRiel'+tabIndex+'" value="0" name="ChangeGivenRiel"/>'
                +'<input type="hidden" id="txtIsCorrectChangeGiven'+tabIndex+'" value="0"/>'
                +'</form>'
            ;

            return str;
        }

        function isAllowNumerice1(event,e,type)
        {
            var charCode = ( event.which ) ? event.which : event.keyCode;
            var bool = true;

            if( charCode == 13 )
            {
                var val = $(e).val();
                if( val != "" && val*1 != 0 )
                {
                    $("#btn-ok").click();
                }
            }
            else if( charCode != 8 )
            {
                if( type*1 == 1 )// allow enter integory
                {
                    if ( charCode > 31 && ( charCode < 48 || charCode > 57 ) )
                        bool = false;
                }
                else if( type*1 == 2 ) // allow enter float number
                {
                    if ((event.which != 46 || $(e).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
                    {
                        bool = false;
                    }
                }
            }

            return bool;
        }

        function saleWeigthQty(e)
        {
            var qty = $(e).val();

            $("#btn-ok").addClass("disabled");

            if( qty != "" )
            {
                $("#btn-ok").removeClass("disabled");
            }
        }
        function receipt(tabIndex,invoiceNo,invoiceDate)
        {
            var str = getReceipt(tabIndex,invoiceNo,invoiceDate);

            $(".heng-popup-content").html(str);
            $(".heng-popup-receipt").data("tabIndex", tabIndex);
            $("#heng-popup-preview-receipt").fadeIn("slow");
        }
        /**
         * Print Receipt
         */
        function printReceipt()
        {
            var str = $(".heng-popup-content").html();

            printBlockContent(str,1);
            var tabIndex = $(".heng-popup-receipt").data("tabIndex");

            if ($(".heng-popup-receipt").data("tabIndex") == -1) return;

            if( tabIndex*1 != defaultTab*1 )
            {
                var selectedItem = $('#jqxTabs').jqxTabs('selectedItem');
                $('#jqxTabs').jqxTabs('removeAt', selectedItem);
            }
            else
            {
                clearControl(tabIndex);
            }
            $(".heng-popup-receipt").data("tabIndex", -1);
        }

        String.prototype.replaceAll = function (find, replace) {
            var str = this;
            return str.replace(new RegExp(find.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'g'), replace);
        };

        function newPopup(e,id,itemName,type_name,price,data)
        {
            setTimeout(function(){
                $("#txtSaleWeightQty").focus();},100);
            // var path = $(e).find("img").attr("src");
            var element = ".pcsp-popup";

            itemName = itemName.replaceAll("&$&"," ");
            type_name = type_name.replaceAll("&$&"," ");

            if( type_name != "" )
            {
                itemName += ' <small style="color:#b72e59;">('+type_name+')</small>';
            }

            // $(element).find("img").attr("src",path);
            $(element).find("#lbl-item-name").html(itemName);
            $(element).find("#lbl-price").text("<?= PHPConstant::FIX_CURRENCY;?>"+price);
            $(element).find("#lbl-qty").text(1);
            $(element).find("#lbl-total").text("<?= PHPConstant::FIX_CURRENCY;?>"+price);

            $("#heng-popup").fadeIn(350);
            isScanDevice = true;
            $("#btn-ok").attr("onclick", 'newItem('+id+','+price+',"'+data+'")');
        }
        function newItem(id,price,data) {
            var qty = $("#txtSaleWeightQty").val();

            $("#txtSaleWeightQty").val("");
            $('.pcsp-popup [data-popup-close]').trigger("click");

            data += ","+qty;
            data+=", weight";

            addItem(id,price,data,1);
        }
        function resetRowNumber(tabIndex)
        {
            var num = 1;
            $("#tblOrder"+tabIndex+" tbody tr").each(function()
            {
                $(this).find("td:eq(1)").text(num);

                num ++;
            });
        }
        function isHasDot(num)
        {
            return num.toString().indexOf(".") != -1 ? true : false;
        }
        function removeRow(index)
        {
            console.log(currentTabIndex);
            var tabIndex = currentTabIndex;
            var id = $("#txtId"+index).val();

            $("#tr"+index).remove();

            // setLeftOverflow();

            countRecord --;

            if( $("#tblOrder"+tabIndex+" tbody tr").length > 0 )
            {
                resetRowNumber(tabIndex);

                calculate();
            }
            else
            {
                clearControl(tabIndex);
                selectedRowIndex = 0;
            }
        }
        function typingNumeric(num)
        {
            var index = selectedRowIndex;

            if( index*1 > 0 )
            {
                var qty = getQty(index);

                if( num === "." )
                {
                    var isHasDot = isHasDot(qty);

                    if( isHasDot == true )
                    {
                        return;
                    }

                    qty += ".";
                }
                else if( num === "x" )
                {
                    if( qty != "" )
                    {
                        qty = qty.substr(0,qty.length-1);
                    }
                    if( qty == "" || qty == 0 )
                    {
                        removeRow(index);
                    }
                }
                else
                {
                    qty = qty+num;
                }

                if( qty.length > maxlengthQty*1 ) return;

                setQty(index,qty);

                setLabelQty(index,qty);

                calculateItemSubTotal(index);

                calculate();
            }
        }
        function getRowNumber(tabIndex)
        {
            return $("#tblOrder"+tabIndex+" tbody tr:last").index()+2;
        }
        function setLeftOverflow()
        {
            var leftElement = "#pcsp-order-item";
            var tblOrder    = "#tblOrder";
            var fullHeight  = contentHeight*1-170;
            var height = $(tblOrder).height();

            if( height*1 > fullHeight*1 )
            {
                if( !$(leftElement).hasClass("overflow-y") )
                {
                    $(leftElement).addClass("overflow-y");
                }
            }
            else if( $(leftElement).hasClass("overflow-y") )
            {
                $(leftElement).removeClass("overflow-y");
            }
        }
        function setRightOverflow()
        {
            var rightElement = "#pos-content-item";
            var element = "#pcsp-display-item";
            var fullHeight  = contentHeight;
            var height = $(rightElement).height();

            if( height*1 > fullHeight*1 )
            {
                if( !$(element).hasClass("overflow-y") )
                {
                    $(element).addClass("overflow-y");
                }
            }
            else if( $(element).hasClass("overflow-y") )
            {
                $(element).removeClass("overflow-y");
            }
        }
        function reset(tabIndex)
        {
            var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_CLEAR')?>");
            if( isOk == false ) return;

            clearControl(tabIndex);
        }
        function clearControl(tabIndex)
        {
            $("#tblOrder"+tabIndex+" tbody").html('');

            $("#winForm"+tabIndex).find("input").val("");
            $("#lblSubTotal"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
            $("#lblTotal"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
            $("#lblBillDiscount"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
            $("#lblBalanceDue"+tabIndex).text("0");

            $("#lblBalanceDueRiel"+tabIndex).text("0");
            $("#lblChangeGivenDollar"+tabIndex).text("0");
            $("#lblChangeGivenRiel"+tabIndex).text("0");

            $("#txtKhTotal"+tabIndex).val(0);
            $("#txtDiscountId"+tabIndex).val(0);
            $("#txtDiscountName"+tabIndex).val(0);
            $("#txtDiscountValue"+tabIndex).val(0);
            $("#txtDiscountType"+tabIndex).val(0);

            initialOrder(initializeSize);

            // setLeftOverflow();

            setDefaultDiscount(tabIndex);
        }
        /**
         * payment
         * @param tabIndex
         */
        function payment(tabIndex) {
            if( $("#tblOrder"+tabIndex+" tbody .has-order-item").length == 0 ) {
                showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('YOU_CAN_NOT_PAY_BECAUSE_NOT_FOUND_ITEM');?>",300,100);

                return;
            }
            if( isItemDiscount*1 == 1 ) {
                var billDiscountId = getDiscountId(tabIndex);
                var bool = false,checked;
                $("#tblOrder"+tabIndex+" tbody").find("input[type=checkbox]").each(function()
                {
                    checked = $(this).is(":checked");
                    if( checked == true ) bool = true;
                });
                if( billDiscountId != 0 && bool == true )
                {
                    showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('Incorrect discount, please check again.');?>",300,100);
                    return;
                }
            }

            var isCorrectChangeGiven = getCorrectChangeGiven(tabIndex);
            if( isCorrectChangeGiven*1 == 0 )
            {
                showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('Incorrect payment');?>",300,100);

                $("#txtDollarTendered"+tabIndex).addClass("jqx-validator-error-element");
                $("#txtRielTendered"+tabIndex).addClass("jqx-validator-error-element");

                return;
            }

            var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_PAY')?>");

            if( isOk == false ) return;

            saveData(tabIndex);
            // receipt(tabIndex,"0000001","01/Jan/2017");
        }
        function getReceipt(tabIndex,receiptNo,receiptDate) {
            var element = "#pcsp-order-item" + tabIndex + " tbody tr";
            var body = "", index, str = "";

            var no = 1, qty, price, total, itemTotal, totalDiscount, colspan = 5, subColspan = 4, subColspan1 = 2;

            if (isItemDiscount * 1 == 1) {
                colspan = 6;
                subColspan = 5;
                subColspan1 = 3;
            }
            $(element).each(function () {
                index = $(this).data("index");

                // qty = getQty(index);
                qty = getLabelQty(index);
                price = getPrice(index);
                itemTotal = getItemTotal(index);

                body += "<tr>";

                body += "<td style='padding-top: 2px;padding-bottom: 2px;'>";
                body += no;
                body += "</td>";

                body += "<td style='width: 120px;'>";
                body += getItemName(index);
                body += "</td>";

                body += "<td align='center'>";
                body += qty;
                body += "</td>";

                body += "<td align='center'>";
                body += "<?= PHPConstant::FIX_CURRENCY;?>" + roundNumber(price * 1, 2);
                body += "</td>";

                if (isItemDiscount * 1 == 1) {
                    totalDiscount = $("#txtItemDiscount" + index).val();
                    console.log("+++++Discount " + $("#txtItemDiscountName" + index).val())
                    body += "<td align='center'>";
                    var discountName = $("#txtItemDiscountName" + index).val();
                    if (discountName == null || discountName == "") {
                        body += "<?= PHPConstant::FIX_CURRENCY;?>" + roundNumber(totalDiscount * 1, 2);
                    } else {
                        body += "<sup>(" + $("#txtItemDiscountName" + index).val() + ")</sup>" + " <?= PHPConstant::FIX_CURRENCY;?>" + roundNumber(totalDiscount * 1, 2);
                    }

                    body += "</td>";
                }

                body += "<td align='center'>";
                body += "<?= PHPConstant::FIX_CURRENCY;?>" + roundNumber(itemTotal * 1, 2);
                body += "</td>";

                body += "</tr>";
                no++;
            });

            str = "<div style='font-size: 14px;font-family:Baskerville;'>";

            str += "<table cellpadding='0' cellspacing='0' style='font-size: 12px;'>";
            str += "<thead>";

            <?php if( !empty($this->contactRecord->Logo) ):?>
            str += "<tr>";
            str += "<td colspan='" + colspan + "' align='center' style='width: 120px;'>";
            str += "<img src='<?= $this->basepath() . PHPConstant::RESOURCE_FILES_FOLDER . '/' . $this->contactRecord->Logo;?>' style='max-width: 120px;' />";
            str += "</td>";
            str += "</tr>";
            <?php endif;?>

            <?php if( !empty($this->contactRecord->Name) ):?>
            str += "<tr>";
            str += "<td colspan='" + colspan + "' align='center' style='width: 200px;'>";
            str += "<p style='font-size: 18px;font-weight:bolder;text-align:center;'>";
            str += "<?= $this->contactRecord->Name;?>";
            str += "</p>";
            str += "</td>";
            str += "</tr>";
            <?php endif;?>

            <?php if( !empty($this->contactRecord->Address) ):?>
            str += "<tr>";
            str += "<td colspan='" + colspan + "' align='center' style='width: 200px;padding-top: 3px;'>";
            str += "<p style='font-size: 12px;font-weight:bolder;text-align:center;margin-bottom: 0;'>";
            str += "<?= $this->contactRecord->Address;?>";
            str += "</p>";
            str += "</td>";
            str += "</tr>";
            <?php endif;?>

            <?php if( !empty($this->contactRecord->Tel) ):?>
            str += "<tr>";
            str += "<td colspan='" + colspan + "' align='center' style='width: 200px;'>";
            str += "<p style='font-size: 12px;font-weight:bolder;text-align:center;margin-bottom: 0;'>";
            str += "<?= $this->translate('Tel') . ' : ' . $this->contactRecord->Tel;?>";
            str += "</p>";
            str += "</td>";
            str += "</tr>";
            <?php endif;?>


            str += "<tr>";
            str += "<td colspan='" + colspan + "' align='center' style='font-size:12px; margin-bottom: 0;'>";
            str += "<?= $this->translate('Password');?> : ";
            str += "<?= $this->contactRecord->WiFiPassword;?>";
            str += "</td>";
            str += "</tr>";

            str += "<tr>";
            str += "<td colspan='" + colspan + "'>";
            str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
            str += "</td>";
            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + colspan + "' style='padding-top: 5px;font-size: 12px;'>";
            str += "<div style='float:left;'>";
            str += "<span style='width: 100px;'><?= $this->translate('Date');?><span> : ";
            str += "<span style='font-weight:bolder;'>" + receiptDate + "</span>";
            str += "</div>";
            str += "<div style='float:right;'>";
            str += "<span style='width: 100px;'><?= $this->translate('Receipt');?><span> : ";
            str += "<span style='font-weight:bolder;'>" + receiptNo + "</span>";
            str += "</div>";
            str += "<div style='clear:both;'></div>";
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + colspan + "' style='padding-top: 2px;padding-bottom: 2px;'>";
            str += "<div>";
            str += "<span><?= $this->translate('Cashier');?><span> : ";
            str += "<span style='font-weight:bolder;'><?= $this->userFullName;?></span>";
            str += "</div>";
            str += "</td>";

            str += "</tr>";

            str += "<tr style='background-color: #848484; color: #fff;'>";

            str += "<td style='width: 30px;font-weight:bolder;'>";
            str += "#";
            str += "</td>";

            str += "<td style='width: 120px;font-weight:bolder; padding: 2px 0;'>";
            str += "<?= $this->translate('Item Name');?>";
            str += "</td>";

            str += "<td style='width: 30px;font-weight:bolder;' align='center'>";
            str += "<?= $this->translate('Qty');?>";
            str += "</td>";

            str += "<td style='width: 40px;font-weight:bolder;' align='center'>";
            str += "<?= $this->translate('Price');?>";
            str += "</td>";

            if (isItemDiscount * 1 == 1) {
                str += "<td style='width: 40px;font-weight:bolder;' align='center'>";
                str += "<?= $this->translate('Discount');?>";
                str += "</td>";
            }

            str += "<td style='width: 40px;font-weight:bolder;' align='center'>";
            str += "<?= $this->translate('Total');?>";
            str += "</td>";

            str += "</tr>";

            str += "<tr>";
            str += "<td colspan='" + colspan + "'>";
            str += "<div style='height: 2px;margin-top: 5px;'></div>";
            str += "</td>";
            str += "</tr>";

            str += "</thead>";

            str += "<tbody>";

            str += body;

            str += "<tr>";
            str += "<td colspan='" + colspan + "'>";
            str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
            str += "</td>";
            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + subColspan + "' align='right'>";
            str += "<?= $this->translate('Sub Total');?> : ";
            str += "</td>";
            str += "<td align='center'>";
            str += "<?= PHPConstant::FIX_CURRENCY;?>" + getSubTotal(tabIndex);
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + subColspan + "' align='right'>";
            var dis = getDiscountName(tabIndex);
            if (dis == null || dis == "" || dis == 0) {
                dis = "0%";
            }
            str += "<?= $this->translate('Discount');?> (" + dis + ") : ";

            var totalDiscount = getTotalBillDiscount(tabIndex);

            totalDiscount = roundNumber(totalDiscount, 2);

            str += "</td>";
            str += "<td align='center'>";
            str += "<?= PHPConstant::FIX_CURRENCY;?>" + totalDiscount;
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + colspan + "' style='padding-top: 2px;padding-bottom: 2px;'>";
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            var dolarBalanceDue = getBalanceDue(tabIndex);
            dolarBalanceDue = roundNumber(dolarBalanceDue, 2);

            str += "<td colspan='" + subColspan + "' align='right'>";
            str += "<?= $this->translate('Balance Due');?>(Dollar) : ";
            str += "</td>";
            str += "<td align='center'>";
            //str += "<?= PHPConstant::FIX_CURRENCY;?>" + dolarBalanceDue;
            str += dolarBalanceDue;
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            var balanceDueRiel = getBalanceDueRiel(tabIndex);
            balanceDueRiel = roundNumber(balanceDueRiel, 2);

            str += "<td colspan='" + subColspan + "' align='right'>";
            str += "<?= $this->translate('Balance Due');?>(Riel) : ";
            str += "</td>";
            str += "<td align='center'>";
            str += balanceDueRiel;
            str += "</td>";

            str += "</tr>";

            str += "<tr>";

            str += "<td colspan='" + colspan + "' style='padding-top: 2px;padding-bottom: 2px;'>";
            str += "</td>";

            str += "</tr>";


            var dollarTendered = getDollarTendered(tabIndex);
            if (dollarTendered != "" && dollarTendered != 0 && dollarTendered != null) {
                dollarTendered = roundNumber(dollarTendered, 2);
                str += "<tr>";
                str += "<td colspan='" + subColspan + "' align='right'>";
                str += "<?= $this->translate('Received');?>(Dollar) : ";
                str += "</td>";
                str += "<td align='center'>";
                //str += "<?= PHPConstant::FIX_CURRENCY;?>" + dollarTendered;
                str += dollarTendered;
                str += "</td>";
                str += "</tr>";
            }

            var rielTendered = getRielTendered(tabIndex);
            if (rielTendered != 0 && rielTendered != "0" && rielTendered != null) {
                rielTendered = roundNumber(rielTendered,2);
                str += "<tr>";

                str += "<td colspan='"+subColspan+"' align='right'>";
                str += "<?= $this->translate('Received');?>(Riel) : ";
                str += "</td>";
                str += "<td align='center'>";
                str += rielTendered;
                str += "</td>";

                str += "</tr>";

            }
            str += "<tr>";
            str += "<td colspan='"+subColspan1+"' style='padding-top: 2px;padding-bottom: 2px;'>";
            str += "</td>";

            str += "<td colspan='3' style='padding-top: 2px;padding-bottom: 2px;'>";
            str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
            str += "</td>";
            str += "</tr>";

            var changeGivenDollar = getChangeGivenDollar(tabIndex);
            changeGivenDollar = roundNumber(changeGivenDollar,2);
            if (dollarTendered != 0 && dollarTendered != null) {
                str += "<tr>";
                str += "<td colspan='"+subColspan+"' align='right'>";
                str += "<?= $this->translate('Change Given');?>(Dollar) : ";
                str += "</td>";
                str += "<td align='center'>";
                //str += "<?= PHPConstant::FIX_CURRENCY;?>"+changeGivenDollar;
                str += changeGivenDollar;
                str += "</td>";
                str += "</tr>";
            }

            var changeGivenRiel = getChangeGivenRiel(tabIndex);
            changeGivenRiel = roundNumber(changeGivenRiel,2);

            if (rielTendered != 0 && rielTendered != null) {
                str += "<tr>";
                str += "<td colspan='"+subColspan+"' align='right'>";
                str += "<?= $this->translate('Change Given');?>(Riel) : ";
                str += "</td>";
                str += "<td align='center'>";
                str += changeGivenRiel;
                str += "</td>";

                str += "</tr>";
            }



            str += "<tr>";
            str += "<td colspan='"+colspan+"' style='padding-top: 5px;padding-bottom: 2px;'>";
            str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
            str += "</td>";
            str += "</tr>";

            str += "<tr>";
            str += "<td colspan='"+colspan+"' align='center'>";

            str += "<div style='font-size: 10px;'><?= $this->translate('Thanks for your purchased');?>.</div>";
            str += "<div style='font-size: 10px;'><?= $this->translate('See you again');?>!</div>";
            str += "</td>";
            str += "</tr>";

            str += "<tr>";
            str += "<td colspan='"+colspan+"'>";
            str += "<div style='margin-top: 5px;'>.</div>";
            str += "</td>";
            str += "</tr>";

            str += "</tbody>";
            str+= "</table>";

            str += "</div>";

            return str;
        }

        function saveData(tabIndex) {
            if('print' in window)
            {

            }
            else
            {
                var ok = confirm("<?= $this->translate('Printing is not supported on this device, Do you want to save?')?>");
                if( ok == false )
                {
                    return;
                }
            }

            var json = ($("#winForm"+tabIndex).serializeJSON());
            var data = $.param(json);
            var url  = "<?= $url;?>/saveRecord";

            $.ajax
            ({
                type: 'post',
                dataType: 'json',
                url: url,
                data: data,
                beforeSend: function()
                {
                    pageLoading();
                },
                success: function (data)
                {
                    closePageLoading();

                    if( typeof data["msg"] != "undefined" )
                    {

                    }
                    else
                    {
                        var invoiceNo   = data["InvoiceNo"];
                        var invoiceDate = data["InvoiceDate"];

                        receipt(tabIndex,invoiceNo,invoiceDate);


                        //if( tabIndex*1 != defaultTab*1 )
                        //{
                        //	var selectedItem = $('#jqxTabs').jqxTabs('selectedItem');
                        //	$('#jqxTabs').jqxTabs('removeAt', selectedItem);
                        //}
                        //else
                        //{
                        //	clearControl(tabIndex);
                        //}

                    }
                },
                error: function (errs)
                {
                    closePageLoading();
                    showMessage('Error','Error Save Data','270','120');
                }
            });
        }
        function getStr(index, data)
        {
            console.log("index " + index);
            var tabIndex = currentTabIndex;
            var id = '',name = '',qty = '',price = '',total = '',category = '',saleItemId = 0,isEmpty = true, qtyLabel = "",lblName="";
            var eventStr = "";
            var submitIndex = "@$@"+index;
            var actionRemove = "",classControl = "",type=0;

            if( data != "" )
            {
                var arr = data.split(",");
                id = arr[0];
                name  = arr[1];
                price = arr[2];
                category   = arr[3];
                saleItemId = arr[4];
                qty = arr[5];
                qtyLabel = qty;
                total = price;
                if( typeof arr[6] != "undefined" && arr[6] == "weight")
                {
                    qtyLabel += "g";
                    total = roundNumber((qty/100)*price,2);
                    type = 1;
                }

                name = name.replaceAll("&$&"," ");
                category = category.replaceAll("&$&"," ");

                lblName = name;
                name += '<small style="font-size: 10px;color:#b72e59;"> ('+category+')</small>';

                isEmpty = false;

                // eventStr = 'onclick="selectTableRow(this,'+index+');"';

                actionRemove = ' onclick=removeRow("'+index+'") ';

                classControl = "has-order-item";
            }


            var str  = '<tr class="'+classControl+'" id="tr'+index+'" '+eventStr+' data-index="'+index+'" data-id="'+id+'">';

            str += "<td align='center' "+actionRemove+" style='color:red;cursor:pointer;'>";
            if( isEmpty == false )
            {
                str += 'X';
            }
            str += "</td>";

            str += '<td class="align-center">';
            if( isEmpty == false )
            {
                str += getRowNumber(tabIndex);
            }
            str += '</td>';

            str += '<td style="padding-left: 5px;" id="lblName'+index+'">';
            str += name;
            str += '</td>';

            str += '<td align="center" width="70">';

            if( isEmpty == false )
            {
                str += "<input type='text' readonly='readonly' id='txtLableQty"+index+"' value='"+qtyLabel+"' style='width: 70px;'>"
            }
            else
            {
                str += "&nbsp;";
            }
            str += '</td>';

            str += '<td>';
            if( isEmpty == false )
            {
                str += "<?= PHPConstant::FIX_CURRENCY;?>"+price;

                str += '<input type="hidden" id="txtQty'+index+'" value="'+qty+'" class="form-control input-sm" onkeyup="calculateItemSubTotal('+index+');" maxlength="'+maxlengthQty+'" name="Record['+submitIndex+'][Qty]" readonly="readonly"/>';

                str += '<input type="hidden" class="" id="txtId'+index+'" value="'+id+'" name="Record['+submitIndex+'][SalePriceId]" />';
                str += '<input type="hidden" class="" id="txtSaleItemId'+index+'" name="Record['+submitIndex+'][SaleItemId]" value="'+saleItemId+'" />';

                str += '<input type="hidden" id="txtPrice'+index+'" value="'+price+'" name="Record['+submitIndex+'][Price]" />';
                str += '<input type="hidden" id="txtItemSubTotal'+index+'" value="'+total+'" data-index="'+index+'" name="Record['+submitIndex+'][SubTotal]" />';
                str += '<input type="hidden" class="pos-item-total'+tabIndex+'" id="txtItemTotal'+index+'" value="'+total+'" data-index="'+index+'" name="Record['+submitIndex+'][Total]" />';

                str += '<input type="hidden" id="txtName'+index+'" value="'+lblName+'" data-index="'+index+'"  />';

                str +='<input type="hidden" id="txtItemType'+index+'" value="'+type+'" />';
                str +='<input type="hidden" id="txtItemDiscount'+index+'" value="0" name="Record['+submitIndex+'][TotalDiscount]"/>';
                str +='<input type="hidden" id="txtItemDiscountType'+index+'" value="0" name="Record['+submitIndex+'][DiscountTypeId]"/>';
                str +='<input type="hidden" id="txtItemDiscountName'+index+'" value="" name="Record['+submitIndex+'][DiscountName]"/>';
                str +='<input type="hidden" id="txtItemDiscountId'+index+'" value="0" name="Record['+submitIndex+'][DiscountId]"/>';
                str +='<input type="hidden" id="txtItemDiscountValue'+index+'" value="0" name="Record['+submitIndex+'][DiscountValue]"/>';
            }
            str += '</td>';

            if( isItemDiscount*1 == 1 )
            {
                str += '<td>';
                if( isEmpty == false )
                {
                    str+='<div class="dropdown keep-open">';
                    str+='<span id="item-discount-dropdown-menu'+index+'" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">';
                    str+='<span id="lblItemDiscount'+index+'">$0</span>';
                    str+='<span class="caret caret-up"></span>';
                    str+='</span>';
                    str+='<ul class="dropdown-menu pull-right" style="width: 150px;height: 150px;overflow-y: auto;" role="menu" aria-labelledby="item-discount-dropdown-menu'+index+'">';
                    str+='<div class="checkbox" style="padding: 0px 10px 10px 10px;color:#333 !important;" id="heng-item-discount'+index+'">';
                    <?php foreach( $this->discountRecord as $key => $value ) : ?>
                    str+='<div class="padding-bottom-10">';
                    str+='<label>'
                    str+=' <input type="checkbox" class="chb-item-discount'+index+'" onclick=changeItemDiscount(this,"'+index+'","<?= $value["Id"];?>","<?= $value["Name"];?>","<?= $value["Value"];?>","<?= $value["DiscountTypeId"];?>") value="<?= $value["Id"];?>" id="chb-item-discount<?= $value["Id"];?>'+index+'">';
                    str+='<span class="circle">';
                    str+='<i class="circle-icon glyphicon glyphicon-ok"></i>';
                    str+='</span>';
                    str+='<?= $value["Name"];?>';
                    str+='</label>';
                    str+='</div>';
                    <?php endforeach; ?>
                    str+='</div>';
                    str+='</ul>';
                    str+='</div>';
                }
                str += '</td>';
            }

            str += '<td id="lblItemTotal'+index+'">';
            if( isEmpty == false )
            {
                str += "<?= PHPConstant::FIX_CURRENCY;?>"+total;
            }
            str += '</td>';

            str += "</tr>";

            return str;
        }
        function changeItemDiscount(e,index,id,name,discountValue,discountType)
        {
            var checked = $(e).is(":checked");

            $(".chb-item-discount"+index).prop("checked",false);

            if( checked == false )
            {
                id = 0;
                name ="";
                discountValue = 0;
                discountType = 0;
            }

            $("#txtItemDiscountId"+index).val(id);
            $("#txtItemDiscountName"+index).val(name);
            $("#txtItemDiscountValue"+index).val(discountValue);
            $("#txtItemDiscountType"+index).val(discountType);

            $(e).prop("checked",checked);

            calculateItemSubTotal(index);

            calculate();
        }
        function calculateItemSubTotal(index)
        {
            var qty = getQty(index);
            var price=getPrice(index);
            var type = $("#txtItemType"+index).val();

            if( qty == "" ) qty = 0;

            if( type*1 == 1 ) qty = qty/100;

            var total = qty*price;
            total = roundNumber(total,2);

            $("#txtItemSubTotal"+index).val(total);

            calculateItemTotal(index,total);

            calculate();
        }
        function calculateItemTotal(index,total)
        {
            if( isItemDiscount*1 == 1 )
            {
                var discountValue = $("#txtItemDiscountValue"+index).val();
                var discountType  = $("#txtItemDiscountType"+index).val();

                if( discountValue== "" ) discountValue= 0;
                if( discountType == "" ) discountType = 0;

                if( discountType*1 == 1 )
                {
                    discountValue = total*discountValue/100;
                }

                total = total*1-discountValue*1;

                total = roundNumber(total,2);
                discountValue = roundNumber(discountValue,2);

                $("#txtItemDiscount"+index).val(discountValue);
                $("#lblItemDiscount"+index).text("<?= PHPConstant::FIX_CURRENCY;?>"+discountValue);
            }

            setItemTotal(index,total);
            setLabelItemTotal(index,total);
        }
        function addMore(data) {

            var tabIndex = currentTabIndex;
            console.log("=== index " + index);
            var index = index+"_"+tabIndex;
            var element = "#tblOrder"+tabIndex+" tbody";

            console.log(index);
            var str = getStr(index,data);

            $(element).append(str);

            index ++;

            if( data != "" )
            {
                //calculate();
                var length = $(element+" tr").length;
                if( length == 2 )
                {
                    $(".pos-drop-up").height(90);
                }
                else if( length == 3 )
                {
                    $(".pos-drop-up").height(100);
                }
                else if( length == 4 )
                {
                    $(".pos-drop-up").height(110);
                }
                else if( length == 5 )
                {
                    $(".pos-drop-up").height(120);
                }
                else if( length == 6 )
                {
                    $(".pos-drop-up").height(130);
                }
                else if( length == 7 )
                {
                    $(".pos-drop-up").height(140);
                }
                else
                {
                    $(".pos-drop-up").height(80);
                }
            }
            else
            {
                $(".pos-drop-up").height(150);
            }
        }
        function selectTableRow(e,index)
        {
            $('.selected').removeClass('selected');
            $(e).addClass("selected");

            selectedRowIndex = index;
        }
        function initialOrder(size)
        {
            for( var i = 1; i <= size ; i ++ )
            {
                addMore('');
            }
        }
        function initialContent(divContentId, url, param)
        {
            $(divContentId).html('');
            $.ajax
            ({
                type: 'post',
                url: url,
                data:param,
                beforeSend: function()
                {
                    pageLoading();
                },
                success: function (data)
                {
                    closePageLoading();

                    $(divContentId).html(data);

                    setRightOverflow();
                },
                error: function (errs)
                {
                    closePageLoading();
                    showMessage('Error','Error Loading Content','270','120');
                }
            });
        }
        function addItem(id,price,data,type) {
            console.log(data);
            var tabIndex = currentTabIndex;
            console.log(tabIndex);
            if( $("#tblOrder"+tabIndex+" tbody .has-order-item").length == 0 )
            {
                $("#tblOrder"+tabIndex+" tbody").html("");
            }

            var isNew = true, currentIndex = 0;

            if( type*1 == 0 )
            {
                $("#tblOrder"+tabIndex+" tbody tr").each(function()
                {
                    var currentId = $(this).attr("data-id");
                    if( id*1 == currentId*1 && isNew == true )
                    {
                        isNew = false;
                        currentIndex = $(this).attr("data-index");
                    }
                });
            }
            if( isNew == false )
            {
                var qty = getQty(currentIndex);

                setQty(currentIndex,qty*1+1);

                setLabelQty(currentIndex,qty*1+1);

                calculateItemSubTotal(currentIndex);
            }
            else
            {
                addMore(data);

                countRecord ++;

                // setLeftOverflow();
            }

            calculate();
        }
        function getCalculateSubTotal(tabIndex) {
            var subTotal = 0, index;

            $(".pos-item-total"+tabIndex).each(function() {
                index = $(this).data("index");

                subTotal = subTotal*1+getItemTotal(index)*1;
            });

            setSubTotal(tabIndex,roundNumber(subTotal,2));
            setLabelSubTotal(tabIndex,"<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(subTotal,2));

            return subTotal;
        }
        function getTotalBillDiscount(tabIndex)
        {
            var discountType = getDiscountType(tabIndex);
            var discountValue= getDiscountValue(tabIndex);
            var subTotal = getSubTotal(tabIndex);

            if( discountValue === "" || discountValue === "undefined" ) discountValue = 0 ;
            if( discountType === "" || discountType === "undefined" ) discountType = 0 ;

            if( discountType*1 == 1 )
            {
                discountValue = subTotal*1*discountValue/100;
            }

            setTotalDiscount(tabIndex,roundNumber(discountValue,2));
            setLableDiscount(tabIndex,"<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(discountValue,2));

            return discountValue;
        }

        function calculate() {
            var tabIndex = currentTabIndex;

            getCalculateSubTotal(tabIndex);

            var subTotal = getSubTotal(tabIndex);
            var totalBillDiscount = getTotalBillDiscount(tabIndex);

            var balanceDue = roundNumber(subTotal,2)*1-roundNumber(totalBillDiscount,2)*1

            if( balanceDue*1 < 0 ) balanceDue = 0;

            setBalanceDue(tabIndex,roundNumber(balanceDue,2));
            setLabelBalanceDue(tabIndex, roundNumber(balanceDue,2));

            var balanceDueRiel = moneyExchange*balanceDue;

            balanceDueRiel = getFormatRiel(balanceDueRiel);

            setKhTotal(tabIndex,balanceDueRiel);
            setLabelBalanceDueRiel(tabIndex,roundNumber(balanceDueRiel,2));

            calculatChangeGivenMoney(tabIndex);
        }
        function initialize()
        {
            initialLayout();
        }
        function initialLayout()
        {
            var bodyHeight = $(window).height();
            var headerHeight = $(".pos-header").height();

            contentHeight = bodyHeight-74;

            $(".pos-layout").height(contentHeight);
            $(".pos-left").height(bodyHeight*1-44);
            $("#pcsp-order-item").height(bodyHeight*1-196);
            $("#pcsp-display-item").height(contentHeight);
            $(".heng-pos-layout").height(contentHeight);

            $(".heng-popup-content").height(bodyHeight-156);
        }
        $(window).keypress(function(event)
        {
            var code = event.keyCode || event.which;

            if( code == 122 )
            {
                setTimeout(function()
                {
                    initialLayout();
                },1500);
            }
        });
        function setDefaultDiscount(tabIndex)
        {
            var checkbox = $("#heng-bill-discount"+tabIndex).find("#chb-bill-discount"+defaultDiscountId+""+tabIndex);
            var checked = checkbox.is(":checked");
            if( checked == false )
            {
                checkbox.click();
            }
            else
            {
                checkbox.click();
                checkbox.click();
            }

            return checked;
        }
        function newContent(param)
        {
            var element = "#pos-content-item";

            initialContent(element,"<?= $url;?>/new-content", param);
        }
        var dataSource = getJqxTreeGridDataSource('<?= $url."/getRecordsForTreeGrid";?>', "#ddlTreeItemCategory", []);

        console.log("===================================="+dataSource);
        var dataAdapter = new $.jqx.dataAdapter(dataSource,
            {
                loadError: function(xhr, status, error)
                {
                    alert(error);
                }
            });
        function checkInternet()
        {
            window.setInterval(function()
            {
                $.ajax
                ({
                    url: '<?= $url;?>/checkInternet',
                    success: function(data)
                    {
                        $("#txt-internet-access").removeClass("hide");
                        $("#txt-no-internet").addClass("hide");
                    },
                    error: function(data)
                    {
                        $("#txt-internet-access").addClass("hide");
                        $("#txt-no-internet").removeClass("hide");
                    }
                });
            }, 10000);
        }
        function getFormatRiel(currency)
        {
            currency = parseInt(currency);

            var num = currency%100;

            if( num*1 >= 50 )
            {
                num = -num*1+100;
            }
            else
            {
                num = -num;
            }

            return currency*1+num*1;
        }
        function getCurrentTime(tabIndex)
        {
            var date  = new Date();
            var hours = date.getHours();
            var ap = "am";

            if( hours*1 > 11 ) ap = "pm";

            return "<a data-disable='0' onclick='renameTab(this,"+tabIndex+");' style='color:white;background-color: transparent;' id='btnTab"+tabIndex+"'>"+hours+":"+date.getMinutes()+":"+date.getSeconds()+" "+ap+"</a>";
        }
        function renameTab(e,tabIndex)
        {
            var tabText = $.trim($(e).text());
            if( $(e).attr("data-disable")*1 == 1 ) return;

            $(e).attr("data-disable",1);
            $(e).css({"color":"black"});
            $(e).html("<input type='text' data-text='"+tabText+"' value='"+tabText+"' style='width: 90px;' onblur=tabBlur(this,"+tabIndex+") id='txtTabText"+tabIndex+"'>");

            $("#txtTabText"+tabIndex).focus().select();
        }
        function tabBlur(e,tabIndex)
        {
            var tabText = $(e).val();
            var eParent = "#btnTab"+tabIndex;

            if( tabText == "" ) tabText = $(e).attr("data-text");

            $(eParent).css({"color":"white"});
            $(eParent).attr("data-disable",0);

            $(eParent).html(tabText);
        }
        function setLeftHeight()
        {
            $("#pcsp-order-item"+currentTabIndex).height(fullHeight);
        }
        function newTabContent(tabIndex)
        {
            var content = initialTabContent();

            $('#jqxTabs').jqxTabs('addAt', tabIndex, getCurrentTime(tabIndex), content);

            initialOrder(initializeSize);

            // setLeftHeight();
            setDefaultDiscount(currentTabIndex);
        }
        function changeDiscount(tabIndex,id,name,discountValue,discountType)
        {
            var e = "#chb-bill-discount"+id+""+tabIndex;
            var checked = $(e).is(":checked");

            $(".chb-bill-discount"+tabIndex).prop("checked",false);

            if( checked == false )
            {
                id = 0;
                name ="";
                discountValue = 0;
                discountType = 0;
            }

            setDiscountId(tabIndex,id);
            setDiscountName(tabIndex,name);
            setDiscountValue(tabIndex,discountValue);
            setDiscountType(tabIndex,discountType);

            $(e).prop("checked",checked);

            totalDiscount = getTotalBillDiscount(tabIndex);

            calculate();
        }
        function initialTab()
        {
            currentTabIndex = <?= $defaultTab;?>;

            var content = initialTabContent();

            $("#pcsp-default-tab").append(content);

            initialOrder(initializeSize);

            setDefaultDiscount(currentTabIndex);
        }
        function getKey() {
            console.log("**** " +index);
            return index;
        }

        function setKhTotal(tabIndex,val)
        {
            $("#txtKhTotal"+tabIndex).val(val);
        }
        function getLabelName(index)
        {
            return $("#lblName"+index).text();
        }
        function getItemName(index)
        {
            return $("#txtName"+index).val();
        }
        function getPrice(index)
        {
            return $("#txtPrice"+index).val();
        }
        function getItemTotal(index)
        {
            return $("#txtItemTotal"+index).val();
        }
        function setItemTotal(index,val)
        {
            $("#txtItemTotal"+index).val(val);
        }
        function setLabelItemTotal(index,val)
        {
            $("#lblItemTotal"+index).text("<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(val,2));
        }
        function getQty(index)
        {
            return $("#txtQty"+index).val();
        }
        function setQty(index,val)
        {
            $("#txtQty"+index).val(val);
        }
        function setLabelQty(index,val)
        {
            $("#txtLableQty"+index).val(val);
        }
        function getLabelQty(index)
        {
            return $("#txtLableQty"+index).val();
        }
        function setLabelBalanceDueRiel(tabIndex,val)
        {
            return $("#lblBalanceDueRiel"+tabIndex).text(val);
        }
        function getBalanceDueRiel(tabIndex)
        {
            return $("#txtKhTotal"+tabIndex).val();
        }
        function getBalanceDue(tabIndex)
        {
            return $("#txtBalanceDue"+tabIndex).val();
        }
        function setBalanceDue(tabIndex,val)
        {
            $("#txtBalanceDue"+tabIndex).val(val);
        }
        function setLabelBalanceDue(tabIndex,val)
        {
            $("#lblBalanceDue"+tabIndex).text(val);
        }
        function getTotal(tabIndex)
        {
            return $("#txtTotal"+tabIndex).val();
        }
        function setTotal(tabIndex,val)
        {
            $("#txtTotal"+tabIndex).val(val);
        }
        function getSubTotal(tabIndex)
        {
            return $("#txtSubTotal"+tabIndex).val();
        }
        function setSubTotal(tabIndex,val)
        {
            $("#txtSubTotal"+tabIndex).val(val)
        }
        function setLabelSubTotal(tabIndex,val)
        {
            $("#lblSubTotal"+tabIndex).text(val);
        }
        function getTotalDiscount(tabIndex)
        {
            return $("#txtDiscount"+tabIndex).val();
        }
        function setTotalDiscount(tabIndex,val)
        {
            $("#txtDiscount"+tabIndex).val(val);
        }
        function setLableDiscount(tabIndex,val)
        {
            $("#lblBillDiscount"+tabIndex).text(val);
        }
        function getDiscountId(tabIndex)
        {
            return $("#txtDiscountId"+tabIndex).val();
        }
        function setDiscountId(tabIndex,val)
        {
            $("#txtDiscountId"+tabIndex).val(val);
        }
        function getDiscountName(tabIndex)
        {
            return $("#txtDiscountName"+tabIndex).val();
        }
        function setDiscountName(tabIndex,val)
        {
            $("#txtDiscountName"+tabIndex).val(val);
        }
        function getDiscountValue(tabIndex)
        {
            return $("#txtDiscountValue"+tabIndex).val();
        }
        function setDiscountValue(tabIndex,val)
        {
            $("#txtDiscountValue"+tabIndex).val(val);
        }
        function getDiscountType(tabIndex)
        {
            return $("#txtDiscountType"+tabIndex).val();
        }
        function setDiscountType(tabIndex,val)
        {
            $("#txtDiscountType"+tabIndex).val(val);
        }
        function calculatChangeGivenMoney(tabIndex)
        {
            var dollarTendered = getDollarTendered(tabIndex);
            var rielTendered   = getRielTendered(tabIndex);
            var dollarDueAmount= getBalanceDue(tabIndex);
            var rielDueAmount  = getBalanceDueRiel(tabIndex);

            var exchange = moneyExchange;

            if( dollarTendered == "" ) dollarTendered = 0;
            if( rielTendered == "" ) rielTendered = 0;

            var totalReilPay = rielTendered*1+dollarTendered*exchange;
            totalReilPay = getFormatRiel(totalReilPay);

            var changeGivenReil = roundNumber(totalReilPay*1-rielDueAmount*1,2);

            $("#txtDollarTendered"+tabIndex).removeClass("jqx-validator-error-element");
            $("#txtRielTendered"+tabIndex).removeClass("jqx-validator-error-element");

            if( changeGivenReil*1 < 0 )
            {
                setCorrectChangeGiven(tabIndex,0);

                changeGivenReil = 0;
            }
            else
            {
                // if( parseFloat(changeGivenReil) <= 0 ) changeGivenReil = 0;

                setCorrectChangeGiven(tabIndex,1);
            }
            // console.log(totalReilPay+"="+rielDueAmount);

            var changeGivenDollar = changeGivenReil*1/exchange*1;

            if( totalReilPay*1 == rielDueAmount*1 )
            {
                //changeGivenDollar = dollarTendered;
                changeGivenDollar = 0;
            }

            changeGivenDollar = roundNumber(changeGivenDollar,2);

            setLabelChangeGivenDollar(tabIndex,changeGivenDollar);
            setLabelChangeGivenRiel(tabIndex,changeGivenReil);

            setChangeGivenDollar(tabIndex,changeGivenDollar);
            setChangeGivenRiel(tabIndex,changeGivenReil);
        }
        function getDollarTendered(tabIndex)
        {
            var val = $("#txtDollarTendered"+tabIndex).val();
            if( val == "" ) val = 0;

            return val;
        }
        function getRielTendered(tabIndex)
        {
            var val = $("#txtRielTendered"+tabIndex).val();
            if( val == "" ) val = 0;
            else val = getFormatRiel(val);

            return val;
        }
        function setLabelChangeGivenDollar(tabIndex,val)
        {
            $("#lblChangeGivenDollar"+tabIndex).text(roundNumber(val,2));
        }
        function setLabelChangeGivenRiel(tabIndex,val)
        {
            $("#lblChangeGivenRiel"+tabIndex).text(roundNumber(val,2));
        }
        function getCorrectChangeGiven(tabIndex)
        {
            return $("#txtIsCorrectChangeGiven"+tabIndex).val();
        }
        function setCorrectChangeGiven(tabIndex,val)
        {
            $("#txtIsCorrectChangeGiven"+tabIndex).val(val);
        }
        function setChangeGivenDollar(tabIndex,val)
        {
            $("#txtChangeGivenDollar"+tabIndex).val(roundNumber(val,2));
        }
        function setChangeGivenRiel(tabIndex,val)
        {
            $("#txtChangeGivenRiel"+tabIndex).val(roundNumber(val,2));
        }
        function getChangeGivenDollar(tabIndex)
        {
            return $("#txtChangeGivenDollar"+tabIndex).val();
        }
        function getChangeGivenRiel(tabIndex)
        {
            return $("#txtChangeGivenRiel"+tabIndex).val();
        }
    });



</script>