<?php 
	use PCSPLib\PHPConstant;

	$url   = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;
	$c_url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_CATEGORY_CONTROLLER;

	$jqxPrefix = "hengPos";

	$defaultTab = (int)date("Hsi");
?>

<div id="heng-screen-pos<?= $jqxPrefix;?>">
<div class="col-md-12 pos-header no-padding">
	<?php 
		echo $this->partial('pos/pos/partial/pos-header-partial.phtml',
		        [
		        	"url" 		=> $url,
		        	"jqxPrefix"	=> $jqxPrefix,
		        	
		        ]
		    );
		echo $this->partial('pos/pos/partial/pos-right-menu-partial.phtml',
		        [
		        	"warehouseRecord" => $this->warehouseRecord,
		        	
		        ]
		    );
	?>
</div>

<div class="col-md-12 pos-content no-padding padding-top-5 " style="margin-top: 3px;">
	
	<div class="col-md-7 no-padding-left no-padding-right no-margin pos-layout">
		<div class="col-md-12 no-padding no-margin">
			<div class="searching">
				<div class="pull-left">
					<div style="font-size: 14px;">
						<span style="font-weight: bolder;">
							<?= $this->translate("Password")." : ";?>
						</span>
						<span style="color:#fe0606;">
							<?= $this->contactRecord->WiFiPassword;?>
						</span>
					</div>
				</div>
				<div class="pull-right">
		            <a href="javascript:void(0);" class="text-success" id="txt-internet-access<?= $jqxPrefix;?>">
		                <i class="glyphicon glyphicon-signal"></i>
		                <span>Internet Access</span>
		            </a>
		            <a href="javascript:void(0);" class="text-danger hide" id="txt-no-internet<?= $jqxPrefix;?>">
		                <i class="glyphicon glyphicon-signal"></i>
		                <span>No Internet</span>
		            </a>
				</div>
            <div class="clearfix"></div>
            </div>
		</div>
		<div class="col-sm-12 no-padding">
			<div class="col-sm-4 no-padding">
				<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
					Item
				</div>
				<div id="ddlTreeItemCategory<?= $jqxPrefix;?>" class="tree-grid" style="border-color: transparent;"></div>
			</div>
			<div class="col-sm-4 no-padding-left no-padding-right" id="pcsp-display-item<?= $jqxPrefix;?>" style="border-left:1px solid #f3f3f3;">
				<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
					Name
				</div>
				<div id="pos-content-item<?= $jqxPrefix;?>">
					<div class="heng-text-center-div">
				        <?= $this->translate("No data to display");?>
				    </div>
				</div>
			</div>
			<div class="col-sm-4 no-padding-left no-padding-right">
			    <div class="heng-pos-layout auto-overflow-y no-padding" style="border-left:1px solid rgb(237, 237, 237);">
			    	<div style="padding: 5px;background-color:#d8d8d8;font-weight: bolder;">
						Size
					</div>
					<div class="clearfix"></div>
			        <div id="heng-sale-item<?= $jqxPrefix;?>">
			        	<div class="clearfix"></div>
			            <div class="heng-text-center-div">
			                <?= $this->translate("No data to display");?>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-md-5 pos-left no-padding heng-pos-tab" style="background: #f0f0f0;">
		<div id='jqxTabs<?= $jqxPrefix;?>' style="float: left;">
	        <ul id="unorderedList<?= $jqxPrefix;?>">
	            <li hasclosebutton='false' data-tab="<?= $defaultTab;?>">
	            	<?= $this->translate("Default");?>
	            </li>
	            <li canselect='false' hasclosebutton='false'>
	            	<?= $this->translate("New");?>
	            </li>
	        </ul>
	        <div id="pcsp-default-tab<?= $jqxPrefix;?>">
	        	
	        </div>
	        <div id="pcsp-new-tabs<?= $jqxPrefix;?>" >
	           
	        </div>
		</div>
		
	</div>

</div>
<div class="pcsp-popup heng-popup-manual-item">
    <div class="popup" id="heng-popup">
        <div class="popup-inner">
            <h4 style="text-align:center;font-weight:bolder;" id="lbl-item-name"></h4>
            <table class="table-popup" width="100%">
				<tr>
					<td width="100">
						<b><?= $this->translate("Weight");?></b>
					</td>
					<td id="lbl-qty">
						<div class="input-group">
							<input type="text" class="form-control input-sm" id="txtSaleWeightQty<?= $jqxPrefix;?>" onkeypress="return isAllowNumerice1(event,this,2);" onkeyup="saleWeigthQty<?= $jqxPrefix;?>(this);" maxlength="10" placeholder="<?= $this->translate('Enter weight here');?>">
							<span class="input-group-addon" id="basic-addon2">g</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<b><?= $this->translate("Price");?></b>
					</td>
					<td id="lbl-price">
						
					</td>
				</tr>
				<tr>
					<td>
						<b><?= $this->translate("Total");?></b>
					</td>
					<td id="lbl-total<?= $jqxPrefix;?>">
						0
					</td>
				</tr>
			</table>
			<div class="window-button-fix-footer">
				<div class="window-button">
					<div class="btn-group">
						<a class="btn btn-primary btn-xs disabled" id="btn-ok<?= $jqxPrefix;?>">
							<?= $this->translate("OK");?>
						</a>
			            <a class="btn btn-danger btn-xs hidden" data-popup-close="popup" href="javascript:void(0);">
			                <?= $this->translate("CLOSE");?>
			            </a>
			        </div>
			    </div>
            </div>
            <a class="popup-close" data-popup-close="popup" href="javascript:void(0);">x</a>
        </div>
    </div>
</div>

<div class="pcsp-popup heng-popup-receipt">
    <div class="popup" id="heng-popup-preview-receipt">
        <div class="popup-inner">
            <div class="heng-popup-content">
            	
            </div>
			<div class="window-button-fix-footer">
				<div class="window-button">
					<div class="btn-group">
						<a class="btn btn-primary btn-xs" id="btn-print<?= $jqxPrefix;?>" onclick="printReceipt<?= $jqxPrefix;?>();">
							<?= $this->translate("Print");?>
						</a>
			            <a class="btn btn-danger btn-xs" data-popup-close="popup" href="javascript:void(0);">
			                <?= $this->translate("CLOSE");?>
			            </a>
			        </div>
			    </div>
            </div>
            <a class="popup-close" data-popup-close="popup" href="javascript:void(0);">x</a>
        </div>
    </div>
</div>

</div>

<input type="hidden" id="txtExchange<?= $jqxPrefix;?>" value="<?= $this->moneyExchange;?>" name="Exchange"/>

<style type="text/css">
body
{
	font-size: 16px;
}
.table-view
{
	font-size: 16px;
}
.tree-grid table tr td
{
	font-size: 16px;
}

.button-fix-footer
{
	width: 100%;
	height: 30px;
	margin-top: 15px;
	text-align: right;
}
.button-fix-footer .pos-button
{
  display: block;
  color: #fff;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  height: 30px;
  background: #6c7072;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  width: 100px;
  float: right;
  margin-right: 5px;
}

.heng-text-center-div
{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	font-size: 16px;
  	transform: translate(-50%,-50%);
}
.tree-grid
{
	border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid #f0f0f0 !important;
}
.jqx-grid-cell
{
    border: 0 !important;
    /*background: transparent;*/
}
.jqx-grid-cell table tr td
{
    cursor: pointer;
}
.heng-popup-content table
{
	width: 100%;
}
.table-view thead tr th
{
    padding: 2px;
    border-bottom: 2px solid black;
}
.table-view tbody tr td
{
    padding: 2px;
    border-bottom: 1px solid silver;
}
.table-view tfoot tr td
{
    padding: 2px;
}
.pos-content table.table-view tbody tr.selected 
{
    background-color: #E3E3E3 !important;
    color:#000;
    vertical-align: middle;
}

.table-popup tr td
{
	padding:2px;
}
.pos-drop-up 
{
    top: auto;
    bottom: 100% !important;
    z-index: 999999;
    height: 80px;
    overflow-y: auto; 
}
.searching
{
	padding: 5px;
	background-color: #f3f3f3;
}
.none-event
{
	pointer-events: none;
	opacity: 0.3;
}
.window-button-fix-footer
{
	position:absolute;
	left:0px;bottom:0px;
	height:30px;
	width:100%;
	padding-right:6px;
	padding-top:8px;
	background-color: #F4F4F5;
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
	box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}
.window-button
{
	float: right;
	margin-top: -4px;
}
.window-button a
{
	width: 80px;
}
.pcsp-popup .popup 
{
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
.heng-popup-manual-item .popup-inner 
{
    width:400px;
    min-height: 230px;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    /*box-shadow:0px 2px 6px rgba(0,0,0,1);*/
    border-radius:3px;
    background:#fff;
}
.heng-popup-receipt .popup-inner 
{
    width:450px;
    min-height: 230px;
    padding:12px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    /*box-shadow:0px 2px 6px rgba(0,0,0,1);*/
    border-radius:3px;
    background:#fff;
}
.heng-popup-content
{
    overflow-y: auto;
}
.pcsp-popup .popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background: black;
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:red;
}
.pcsp-popup .popup-close:hover 
{
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/* tab */
.heng-pos-tab .jqx-widget-darkblue 
{
    border-color: transparent !important;
}
.heng-pos-tab .jqx-fill-state-normal-darkblue, 
.heng-pos-tab .jqx-widget-header-darkblue, 
.heng-pos-tab .jqx-menu-vertical-darkblue 
{
    border-color: transparent !important;
}
.heng-pos-tab .jqx-widget-content 
{
    background: transparent !important;
}
</style>

<script type="text/javascript">
var currentTabIndex<?= $jqxPrefix;?> = 0;
var selectTabIndex<?= $jqxPrefix;?>  = 0;
var defaultDiscountId = 0;
var defaultTab = <?= $defaultTab;?>

var countRecord<?= $jqxPrefix;?> = 0;
var contentHeight<?= $jqxPrefix;?> = 0;
var initializeSize<?= $jqxPrefix;?> = 10;
var selectedRowIndex<?= $jqxPrefix;?> = 0;
var index<?= $jqxPrefix;?> = 0;
var maxlengthQty<?= $jqxPrefix;?> = 5;
var moneyExchange<?= $jqxPrefix;?> = <?= $this->moneyExchange;?>;

var isScanDevice = false;
var isItemDiscount = <?= $this->isItemDiscount;?>;

function isAllowNumerice1(event,e,type)
{
  	var charCode = ( event.which ) ? event.which : event.keyCode;
  	var bool = true;

  	if( charCode == 13 )
  	{
  		var val = $(e).val();
  		if( val != "" && val*1 != 0 )
  		{
  			$("#btn-ok<?= $jqxPrefix;?>").click();
  		}
  	}
  	else if( charCode != 8 )
  	{
    	if( type*1 == 1 )// allow enter integory
    	{
      		if ( charCode > 31 && ( charCode < 48 || charCode > 57 ) )
        		bool = false;
    	}
    	else if( type*1 == 2 ) // allow enter float number
    	{
      		if ((event.which != 46 || $(e).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) 
      		{
        		bool = false;
      		}
    	}
  	}

  	return bool;
}

function saleWeigthQty<?= $jqxPrefix;?>(e)
{
	var qty = $(e).val();

	$("#btn-ok<?= $jqxPrefix;?>").addClass("disabled");

	if( qty != "" )
	{
		$("#btn-ok<?= $jqxPrefix;?>").removeClass("disabled");
	}
}
function receipt<?= $jqxPrefix;?>(tabIndex,invoiceNo,invoiceDate)
{
    var str = getReceipt<?= $jqxPrefix;?>(tabIndex,invoiceNo,invoiceDate);

    $(".heng-popup-content").html(str);

	$("#heng-popup-preview-receipt").fadeIn("slow");
}

function printReceipt<?= $jqxPrefix;?>()
{
	var str = $(".heng-popup-content").html();

	printBlockContent(str,1);
}

String.prototype.replaceAll = function (find, replace) {
    var str = this;
    return str.replace(new RegExp(find.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&'), 'g'), replace);
};

function newPopup<?= $jqxPrefix;?>(e,id,itemName,type_name,price,data)
{
	setTimeout(function(){
        $("#txtSaleWeightQty<?= $jqxPrefix;?>").focus();},100);
	// var path = $(e).find("img").attr("src");
	var element = ".pcsp-popup";

	itemName = itemName.replaceAll("&$&"," ");
	type_name = type_name.replaceAll("&$&"," ");

	if( type_name != "" )
	{
		itemName += ' <small style="color:#b72e59;">('+type_name+')</small>';
	}

	// $(element).find("img").attr("src",path);
	$(element).find("#lbl-item-name").html(itemName);
	$(element).find("#lbl-price").text("<?= PHPConstant::FIX_CURRENCY;?>"+price);
	$(element).find("#lbl-qty<?= $jqxPrefix;?>").text(1);
	$(element).find("#lbl-total<?= $jqxPrefix;?>").text("<?= PHPConstant::FIX_CURRENCY;?>"+price);

    $("#heng-popup").fadeIn(350);
    isScanDevice = true;
	$("#btn-ok<?= $jqxPrefix;?>").attr("onclick", 'newItem<?= $jqxPrefix;?>('+id+','+price+',"'+data+'")');
}

$(function() 
{
    $('.pcsp-popup [data-popup-close]').on('click', function(e)  
    {
        $('.pcsp-popup').children().fadeOut(350);
 		isScanDevice = false;
        e.preventDefault();
    });
});
function newItem<?= $jqxPrefix;?>(id,price,data)
{
	var qty = $("#txtSaleWeightQty<?= $jqxPrefix;?>").val();

	$("#txtSaleWeightQty<?= $jqxPrefix;?>").val("");
	$('.pcsp-popup [data-popup-close]').trigger("click");

	data += ","+qty;
    data+=",weight";

	addItem<?= $jqxPrefix;?>(id,price,data,1);
}
function resetRowNumber<?= $jqxPrefix;?>(tabIndex)
{
	var num = 1;
	$("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody tr").each(function()
	{
		$(this).find("td:eq(1)").text(num);

		num ++;
	});
}
function isHasDot<?= $jqxPrefix;?>(num) 
{
    return num.toString().indexOf(".") != -1 ? true : false;
}
function removeRow<?= $jqxPrefix;?>(index)
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;
	var id = $("#txtId<?= $jqxPrefix;?>"+index).val();

	$("#tr<?= $jqxPrefix;?>"+index).remove();

	// setLeftOverflow<?= $jqxPrefix;?>();

	countRecord<?= $jqxPrefix;?> --;

	if( $("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody tr").length > 0 )
	{
		resetRowNumber<?= $jqxPrefix;?>(tabIndex);

		calculate<?= $jqxPrefix;?>();
	}
	else
	{
		clearControl<?= $jqxPrefix;?>(tabIndex);
		selectedRowIndex<?= $jqxPrefix;?> = 0;
	}
}
function typingNumeric<?= $jqxPrefix;?>(num)
{
	var index = selectedRowIndex<?= $jqxPrefix;?>;

	if( index*1 > 0 )
	{
		var qty = getQty<?= $jqxPrefix;?>(index);

		if( num === "." )
		{
			var isHasDot = isHasDot<?= $jqxPrefix;?>(qty);

			if( isHasDot == true )
			{
				return;
			}

			qty += ".";
		}
		else if( num === "x" )
		{
			if( qty != "" )
			{
				qty = qty.substr(0,qty.length-1);
			}
			if( qty == "" || qty == 0 )
			{
				removeRow<?= $jqxPrefix;?>(index);
			}
		}
		else
		{
			qty = qty+num;
		}

		if( qty.length > maxlengthQty<?= $jqxPrefix;?>*1 ) return;

		setQty<?= $jqxPrefix;?>(index,qty);

		setLabelQty<?= $jqxPrefix;?>(index,qty);

		calculateItemTotal<?= $jqxPrefix;?>(index);

		calculate<?= $jqxPrefix;?>();
	}
}
function getRowNumber<?= $jqxPrefix;?>(tabIndex)
{
	return $("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody tr:last").index()+2;
}
function setLeftOverflow<?= $jqxPrefix;?>()
{
	var leftElement = "#pcsp-order-item<?= $jqxPrefix;?>";
	var tblOrder    = "#tblOrder<?= $jqxPrefix?>";
	var fullHeight  = contentHeight<?= $jqxPrefix;?>*1-170;
	var height = $(tblOrder).height();

	if( height*1 > fullHeight*1 )
	{
		if( !$(leftElement).hasClass("overflow-y") )
		{
			$(leftElement).addClass("overflow-y");
		}
	}
	else if( $(leftElement).hasClass("overflow-y") )
	{
		$(leftElement).removeClass("overflow-y");
	}
}
function setRightOverflow<?= $jqxPrefix;?>()
{
	var rightElement = "#pos-content-item<?= $jqxPrefix;?>";
	var element = "#pcsp-display-item<?= $jqxPrefix;?>";
	var fullHeight  = contentHeight<?= $jqxPrefix;?>;
	var height = $(rightElement).height();

	if( height*1 > fullHeight*1 )
	{
		if( !$(element).hasClass("overflow-y") )
		{
			$(element).addClass("overflow-y");
		}
	}
	else if( $(element).hasClass("overflow-y") )
	{
		$(element).removeClass("overflow-y");
	}
}
function reset<?= $jqxPrefix;?>(tabIndex)
{
	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_CLEAR')?>");
	if( isOk == false ) return;

	clearControl<?= $jqxPrefix;?>(tabIndex);
}
function clearControl<?= $jqxPrefix;?>(tabIndex)
{
	$("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody").html('');

	$("#winForm<?= $jqxPrefix;?>"+tabIndex).find("input").val("");
	$("#lblSubTotal<?= $jqxPrefix;?>"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
	$("#lblTotal<?= $jqxPrefix;?>"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
	$("#lblBillDiscount<?= $jqxPrefix;?>"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
	$("#lblBalanceDue<?= $jqxPrefix;?>"+tabIndex).text("<?= PHPConstant::FIX_CURRENCY;?>0");
	$("#lblBalanceDueRiel<?= $jqxPrefix;?>"+tabIndex).text("R0");

	$("#txtKhTotal<?= $jqxPrefix;?>"+tabIndex).val(0);
	$("#txtDiscountId<?= $jqxPrefix;?>"+tabIndex).val(0);
	$("#txtDiscountName<?= $jqxPrefix;?>"+tabIndex).val(0);
	$("#txtDiscountValue<?= $jqxPrefix;?>"+tabIndex).val(0);
	$("#txtDiscountType<?= $jqxPrefix;?>"+tabIndex).val(0);

	initialOrder<?= $jqxPrefix;?>(initializeSize<?= $jqxPrefix;?>);

	// setLeftOverflow<?= $jqxPrefix;?>();

	setDefaultDiscount(tabIndex);
}
function payment<?= $jqxPrefix;?>(tabIndex)
{
	if( $("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody .has-order-item").length == 0 )
	{
		showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('YOU_CAN_NOT_PAY_BECAUSE_NOT_FOUND_ITEM');?>",300,100);

		return;
	}
	else
	{
		var isCorrectChangeGiven = getCorrectChangeGiven(tabIndex);
		if( isCorrectChangeGiven*1 == 0 )
		{
			showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('Incorrect payment');?>",300,100);

			$("#txtDollarTendered<?= $jqxPrefix;?>"+tabIndex).addClass("jqx-validator-error-element");
			$("#txtRielTendered<?= $jqxPrefix;?>"+tabIndex).addClass("jqx-validator-error-element");

			return;
		}
	}

	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_PAY')?>");

	if( isOk == false ) return;

	saveData<?= $jqxPrefix;?>(tabIndex);
	// receipt<?= $jqxPrefix;?>(tabIndex,"0000001","01/Jan/2017");
}
function getReceipt<?= $jqxPrefix;?>(tabIndex,receiptNo,receiptDate)
{
	var element = "#pcsp-order-item<?= $jqxPrefix;?>"+tabIndex+" tbody tr";
	var body = "",index,str = "";

	var no = 1,qty,price,total,itemTotal;

	$(element).each(function()
	{
		index = $(this).data("index");

		// qty = getQty<?= $jqxPrefix;?>(index);
		qty = getLabelQty<?= $jqxPrefix;?>(index);
		price = getPrice<?= $jqxPrefix;?>(index);
		itemTotal = getItemTotal<?= $jqxPrefix;?>(index);
		
		body += "<tr>";

			body += "<td style='padding-top: 2px;padding-bottom: 2px;'>";
				body += no;
			body += "</td>";

			body += "<td style='width: 120px;'>";
				body += getItemName<?= $jqxPrefix;?>(index);
			body += "</td>";

			body += "<td align='center'>";
				body += qty;
			body += "</td>";

			body += "<td align='center'>";
				body += "<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(price*1,2);
			body += "</td>";

			body += "<td align='center'>";
				body += "<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(itemTotal*1,2);
			body += "</td>";

		body += "</tr>";
		no ++;
	});

	str = "<div style='font-size: 14px;font-family:Baskerville;'>";

		str += "<table cellpadding='0' cellspacing='0' style='font-size: 12px;'>";
			str += "<thead>";

				<?php if( !empty( $this->contactRecord->Logo ) ):?>
					str += "<tr>";
						str += "<td colspan='5' align='center' style='width: 120px;'>";
								str += "<img src='<?= $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER.'/'.$this->contactRecord->Logo;?>' style='max-width: 120px;' />";
						str += "</td>";
					str += "</tr>";
				<?php endif;?>

				<?php if( !empty( $this->contactRecord->Name ) ):?>
					str += "<tr>";
						str += "<td colspan='5' align='center' style='width: 200px;'>";
							str += "<p style='font-size: 18px;font-weight:bolder;text-align:center;'>";
								str += "<?= $this->contactRecord->Name;?>";
							str += "</p>";
						str += "</td>";
					str += "</tr>";
				<?php endif;?>

				<?php if( !empty( $this->contactRecord->Address ) ):?>
					str += "<tr>";
						str += "<td colspan='5' align='center' style='width: 200px;padding-top: 3px;'>";
							str += "<p style='font-size: 12px;font-weight:bolder;text-align:center;'>";
								str += "<?= $this->contactRecord->Address;?>";
							str += "</p>";
						str += "</td>";
					str += "</tr>";
				<?php endif;?>

				<?php if( !empty( $this->contactRecord->Tel ) ):?>
					str += "<tr>";
						str += "<td colspan='5' align='center' style='width: 200px;'>";
							str += "<p style='font-size: 12px;font-weight:bolder;text-align:center;'>";
								str += "<?= $this->translate('Tel').' : '.$this->contactRecord->Tel;?>";
							str += "</p>";
						str += "</td>";
					str += "</tr>";
				<?php endif;?>


    str += "<tr>";
    str += "<td colspan='5' align='center' style='padding-top: 2px;padding-bottom: 2px;font-size:12px;'>";
    str += "<?= $this->translate('Password');?> : ";
    str += "<?= $this->contactRecord->WiFiPassword;?>";
    str += "</td>";
    str += "</tr>";

				str += "<tr>";
					str += "<td colspan='5'>";
						str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
					str += "</td>";
				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='5' style='padding-top: 5px;font-size: 12px;'>";
						str += "<div style='float:left;'>";
							str += "<span style='width: 100px;'><?= $this->translate('Date');?><span> : ";
							str += "<span style='font-weight:bolder;'>"+receiptDate+"</span>";
						str += "</div>";
						str += "<div style='float:right;'>";
							str += "<span style='width: 100px;'><?= $this->translate('Receipt');?><span> : ";
							str += "<span style='font-weight:bolder;'>"+receiptNo+"</span>";
						str += "</div>";
						str += "<div style='clear:both;'></div>";
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='5' style='padding-top: 2px;padding-bottom: 2px;'>";
						str += "<div>";
							str += "<span><?= $this->translate('Cashier');?><span> : ";
							str += "<span style='font-weight:bolder;'><?= $this->userFullName;?></span>";
						str += "</div>";
					str += "</td>";

				str += "</tr>";		

				str += "<tr style='background-color: #848484; color: #fff;'>";

					str += "<td style='width: 30px;font-weight:bolder;'>";
						str += "#";
					str += "</td>";

					str += "<td style='width: 120px;font-weight:bolder; padding: 5px 0;'>";
						str += "<?= $this->translate('Item Name');?>";
					str += "</td>";

					str += "<td style='width: 30px;font-weight:bolder;' align='center'>";
						str += "<?= $this->translate('Qty');?>";
					str += "</td>";

					str += "<td style='width: 40px;font-weight:bolder;' align='center'>";
						str += "<?= $this->translate('Price');?>";
					str += "</td>";

					str += "<td style='width: 40px;font-weight:bolder;' align='center'>";
						str += "<?= $this->translate('Total');?>";
					str += "</td>";

				str += "</tr>";

				str += "<tr>";
					str += "<td colspan='5'>";
						str += "<div style='height: 2px;margin-top: 5px;'></div>";
					str += "</td>";
				str += "</tr>";
				
				

			str += "</thead>";

			str += "<tbody>";

				str += body;

				str += "<tr>";
					str += "<td colspan='5'>";
						str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
					str += "</td>";
				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Sub Total');?> : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "<?= PHPConstant::FIX_CURRENCY;?>"+getSubTotal<?= $jqxPrefix;?>(tabIndex);
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='4' align='right'>";
						//str += "<?= $this->translate('Discount');?> : ";
                                                  str += "<?= $this->translate('Discount');?> ("+getDiscountName<?= $jqxPrefix;?>(tabIndex)+") : ";
                    var totalDiscount = getTotalBillDiscount<?= $jqxPrefix;?>(tabIndex);

                    totalDiscount = roundNumber(totalDiscount,2);

					str += "</td>";
					str += "<td align='center'>";
						str += "<?= PHPConstant::FIX_CURRENCY;?>"+totalDiscount;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='5' style='padding-top: 2px;padding-bottom: 2px;'>";
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

				var dolarBalanceDue = getBalanceDue<?= $jqxPrefix;?>(tabIndex);
				dolarBalanceDue = roundNumber(dolarBalanceDue,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Balance Due');?>(Dollar) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "<?= PHPConstant::FIX_CURRENCY;?>"+dolarBalanceDue;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

				var balanceDueRiel = getBalanceDueRiel<?= $jqxPrefix;?>(tabIndex);
				balanceDueRiel = roundNumber(balanceDueRiel,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Balance Due');?>(Riel) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "R"+balanceDueRiel;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

					str += "<td colspan='5' style='padding-top: 2px;padding-bottom: 2px;'>";
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

				var dollarTendered = getDollarTendered(tabIndex);
				dollarTendered = roundNumber(dollarTendered,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Received');?>(Dollar) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "<?= PHPConstant::FIX_CURRENCY;?>"+dollarTendered;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

				var rielTendered = getRielTendered(tabIndex);
				rielTendered = roundNumber(rielTendered,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Received');?>(Riel) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "R"+rielTendered;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";
					str += "<td colspan='2' style='padding-top: 2px;padding-bottom: 2px;'>";
                    			str += "</td>";

					str += "<td colspan='3' style='padding-top: 2px;padding-bottom: 2px;'>";
                        		str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
					str += "</td>";
				str += "</tr>";

				str += "<tr>";

				var changeGivenDollar = getChangeGivenDollar(tabIndex);
				changeGivenDollar = roundNumber(changeGivenDollar,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Change Given');?>(Dollar) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "<?= PHPConstant::FIX_CURRENCY;?>"+changeGivenDollar;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";

				var changeGivenRiel = getChangeGivenRiel(tabIndex);
				changeGivenRiel = roundNumber(changeGivenRiel,2);

					str += "<td colspan='4' align='right'>";
						str += "<?= $this->translate('Change Given');?>(Riel) : ";
					str += "</td>";
					str += "<td align='center'>";
						str += "R"+changeGivenRiel;
					str += "</td>";

				str += "</tr>";

				str += "<tr>";
					str += "<td colspan='5' style='padding-top: 5px;padding-bottom: 2px;'>";
                        		str += "<div style='border-top: 1px solid black;height: 2px;margin-top: 5px;'></div>";
					str += "</td>";
				str += "</tr>";
				
				str += "<tr>";
					str += "<td colspan='5' align='center'>";

						str += "<div style='font-size: 10px;'><?= $this->translate('Thanks for your purchased');?>.</div>";
						str += "<div style='font-size: 10px;'><?= $this->translate('See you again');?>!</div>";
					str += "</td>";
				str += "</tr>";

				str += "<tr>";
					str += "<td colspan='5'>";
						str += "<div style='margin-top: 10px;'>.</div>";
					str += "</td>";
				str += "</tr>";

			str += "</tbody>";
		str+= "</table>";

	str += "</div>";

	return str;
}
function saveData<?= $jqxPrefix;?>(tabIndex)
{
	if('print' in window)
	{
	  	
	} 
	else 
	{
	 	var ok = confirm("<?= $this->translate('Printing is not supported on this device, Do you want to save?')?>");
	 	if( ok == false )
	 	{
	 		return;
	 	}
	}

  	var json = ($("#winForm<?= $jqxPrefix;?>"+tabIndex).serializeJSON());
  	var data = $.param(json);
  	var url  = "<?= $url;?>/saveRecord";

  	$.ajax
  	({
        type: 'post',
        dataType: 'json',
        url: url,
        data: data,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();

            if( typeof data["msg"] != "undefined" )
            {

            }
            else
            {
            	var invoiceNo   = data["InvoiceNo"];
            	var invoiceDate = data["InvoiceDate"];

            	receipt<?= $jqxPrefix;?>(tabIndex,invoiceNo,invoiceDate);

            	if( tabIndex*1 != defaultTab*1 )
            	{
            		var selectedItem = $('#jqxTabs<?= $jqxPrefix;?>').jqxTabs('selectedItem');
            		$('#jqxTabs<?= $jqxPrefix;?>').jqxTabs('removeAt', selectedItem);
            	}
            	else
            	{
	            	clearControl<?= $jqxPrefix;?>(tabIndex);
            	}
            }
      	},
      	error: function (errs) 
      	{
          	closePageLoading();
          	showMessage('Error','Error Save Data','270','120');
      	}
  	});
}
function getStr<?= $jqxPrefix;?>(index,data)
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;
    var id = '',name = '',qty = '',price = '',total = '',category = '',saleItemId = 0,isEmpty = true, qtyLabel = "",lblName="";
    var eventStr = "";
    var submitIndex = "@$@"+index;
    var actionRemove = "",classControl = "";

    if( data != "" )
    {
        var arr = data.split(",");
        id = arr[0];
        name  = arr[1];
        price = arr[2];
        category   = arr[3];
        saleItemId = arr[4];
        qty = arr[5];
        qtyLabel = qty;
        total = price;
        if( typeof arr[6] != "undefined" && arr[6] == "weight")
        {
            qtyLabel += "g";
            total = roundNumber((qty/100)*price,2);
        }

        name = name.replaceAll("&$&"," ");
        category = category.replaceAll("&$&"," ");

        lblName = name;
        name += '<small style="font-size: 10px;color:#b72e59;"> ('+category+')</small>';

        isEmpty = false;

        eventStr = 'onclick="selectTableRow<?= $jqxPrefix;?>(this,'+index+');"';

        actionRemove = ' onclick=removeRow<?= $jqxPrefix;?>("'+index+'") ';

        classControl = "has-order-item";
    }


    var str  = '<tr class="'+classControl+'" id="tr<?= $jqxPrefix;?>'+index+'" '+eventStr+' data-index="'+index+'" data-id="'+id+'">';

    str += "<td align='center' "+actionRemove+" style='color:red;cursor:pointer;'>";
    if( isEmpty == false )
    {
        str += 'X';
    }
    str += "</td>";

    str += '<td class="align-center">';
    if( isEmpty == false )
    {
        str += getRowNumber<?= $jqxPrefix;?>(tabIndex);
    }
    str += '</td>';

    str += '<td style="padding-left: 5px;" id="lblName<?= $jqxPrefix;?>'+index+'">';
    str += name;
    str += '</td>';

    str += '<td align="center" width="70">';

    if( isEmpty == false )
    {
        str += "<input type='text' readonly='readonly' id='txtLableQty<?= $jqxPrefix;?>"+index+"' value='"+qtyLabel+"' style='width: 70px;'>"
    }
    else
    {
        str += "&nbsp;";
    }
    str += '</td>';

    str += '<td>';
    if( isEmpty == false )
    {
        str += "<?= PHPConstant::FIX_CURRENCY;?>"+price;

        str += '<input type="hidden" id="txtQty<?= $jqxPrefix;?>'+index+'" value="'+qty+'" class="form-control input-sm" onkeyup="calculateItemTotal<?= $jqxPrefix;?>('+index+');" maxlength="'+maxlengthQty<?= $jqxPrefix;?>+'" name="Record['+submitIndex+'][Qty]" readonly="readonly"/>';

        str += '<input type="hidden" class="" id="txtId<?= $jqxPrefix;?>'+index+'" value="'+id+'" name="Record['+submitIndex+'][SalePriceId]" />';
        str += '<input type="hidden" class="" id="txtSaleItemId<?= $jqxPrefix;?>'+index+'" name="Record['+submitIndex+'][SaleItemId]" value="'+saleItemId+'" />';

        str += '<input type="hidden" id="txtPrice<?= $jqxPrefix;?>'+index+'" value="'+price+'" name="Record['+submitIndex+'][Price]" />';
        str += '<input type="hidden" id="txtSubTotal<?= $jqxPrefix;?>'+index+'" value="'+total+'" data-index="'+index+'" name="Record['+submitIndex+'][SubTotal]" />';
        str += '<input type="hidden" class="pos-item-total'+tabIndex+'" id="txtItemTotal<?= $jqxPrefix;?>'+index+'" value="'+total+'" data-index="'+index+'" name="Record['+submitIndex+'][Total]" />';

        str += '<input type="hidden" id="txtName<?= $jqxPrefix;?>'+index+'" value="'+lblName+'" data-index="'+index+'"  />';
    }
    str += '</td>';

    str += '<td id="lblItemTotal<?= $jqxPrefix;?>'+index+'">';
    if( isEmpty == false )
    {
        str += "<?= PHPConstant::FIX_CURRENCY;?>"+total;
    }
    str += '</td>';

    str += "</tr>";

    return str;
}
function addMore<?= $jqxPrefix;?>(data)
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;
	var index = index<?= $jqxPrefix;?>+"_"+tabIndex;
	var element = "#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody";

	var str = getStr<?= $jqxPrefix;?>(index,data);

	$(element).append(str);

	index<?= $jqxPrefix;?> ++;

	if( data != "" )
	{
		//calculate<?= $jqxPrefix;?>();
		var length = $(element+" tr").length;
		if( length == 2 )
		{
			$(".pos-drop-up").height(90);
		}
		else if( length == 3 )
		{
			$(".pos-drop-up").height(100);
		}
		else if( length == 4 )
		{
			$(".pos-drop-up").height(110);
		}
		else if( length == 5 )
		{
			$(".pos-drop-up").height(120);
		}
		else if( length == 6 )
		{
			$(".pos-drop-up").height(130);
		}
		else if( length == 7 )
		{
			$(".pos-drop-up").height(140);
		}
		else
		{
			$(".pos-drop-up").height(80);
		}
	}
	else
	{
		$(".pos-drop-up").height(150);
	}
}
function selectTableRow<?= $jqxPrefix;?>(e,index)
{
	$('.selected').removeClass('selected');
    $(e).addClass("selected");

    selectedRowIndex<?= $jqxPrefix;?> = index;
}
function initialOrder<?= $jqxPrefix;?>(size)
{
	for( var i = 1; i <= size ; i ++ )
	{
		addMore<?= $jqxPrefix;?>('');
	}
}
function initialContent<?= $jqxPrefix;?>(divContentId, url, param)
{
  	$(divContentId).html('');
  	$.ajax
  	({
        type: 'post',
        url: url,
        data:param,
        beforeSend: function()
        {
         	pageLoading();
        },
        success: function (data) 
        {
          	closePageLoading();

            $(divContentId).html(data);

            setRightOverflow<?= $jqxPrefix;?>();
        },
        error: function (errs) 
        {
         	closePageLoading();
          	showMessage('Error','Error Loading Content','270','120');
        }
    });
}
function addItem<?= $jqxPrefix;?>(id,price,data,type)
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;

	if( $("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody .has-order-item").length == 0 )
	{
		$("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody").html("");
	}

	var isNew = true,currentIndex = 0;

	if( type*1 == 0 )
	{
		$("#tblOrder<?= $jqxPrefix;?>"+tabIndex+" tbody tr").each(function()
		{
			var currentId = $(this).attr("data-id");
			if( id*1 == currentId*1 && isNew == true )
			{
				isNew = false;
				currentIndex = $(this).attr("data-index");
			}
		});
	}
	if( isNew == false )
	{
		var qty = getQty<?= $jqxPrefix;?>(currentIndex);

		setQty<?= $jqxPrefix;?>(currentIndex,qty*1+1);

		setLabelQty<?= $jqxPrefix;?>(currentIndex,qty*1+1);

		calculateItemTotal<?= $jqxPrefix;?>(currentIndex);
	}
	else
	{
		addMore<?= $jqxPrefix;?>(data);
	
		countRecord<?= $jqxPrefix;?> ++;

		// setLeftOverflow<?= $jqxPrefix;?>();
	}

	calculate<?= $jqxPrefix;?>();
}
function getCalculateSubTotal<?= $jqxPrefix;?>(tabIndex)
{
	var subTotal = 0,index;

	$(".pos-item-total"+tabIndex).each(function()
	{
		index = $(this).data("index");

		subTotal = subTotal*1+getItemTotal<?= $jqxPrefix;?>(index)*1;
	});

	setSubTotal<?= $jqxPrefix;?>(tabIndex,roundNumber(subTotal,2));
	setLabelSubTotal<?= $jqxPrefix;?>(tabIndex,"<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(subTotal,2));

	return subTotal;
}
function getTotalBillDiscount<?= $jqxPrefix;?>(tabIndex)
{
	var discountType = getDiscountType<?= $jqxPrefix;?>(tabIndex);
	var discountValue= getDiscountValue<?= $jqxPrefix;?>(tabIndex);
	var subTotal = getSubTotal<?= $jqxPrefix;?>(tabIndex);

	if( discountValue === "" || discountValue === "undefined" ) discountValue = 0 ;
	if( discountType === "" || discountType === "undefined" ) discountType = 0 ;

	if( discountType*1 == 1 )
	{
		discountValue = subTotal*1*discountValue/100;
	}

	setTotalDiscount<?= $jqxPrefix;?>(tabIndex,roundNumber(discountValue,2));
	setLableDiscount<?= $jqxPrefix;?>(tabIndex,"<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(discountValue,2));

	return discountValue;
}
function calculateItemTotal<?= $jqxPrefix;?>(index)
{
	var qty = getQty<?= $jqxPrefix;?>(index);
	var price=getPrice<?= $jqxPrefix;?>(index);

	if( qty == "" ) qty = 0;

	var total = qty*price;

	setItemTotal<?= $jqxPrefix;?>(index,total);
	setLabelItemTotal<?= $jqxPrefix;?>(index,roundNumber(total,2));

	calculate<?= $jqxPrefix;?>();
}
function calculate<?= $jqxPrefix;?>()
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;

	getCalculateSubTotal<?= $jqxPrefix;?>(tabIndex);

	var subTotal = getSubTotal<?= $jqxPrefix;?>(tabIndex);
	var totalBillDiscount = getTotalBillDiscount<?= $jqxPrefix;?>(tabIndex);

	var balanceDue = roundNumber(subTotal,2)*1-roundNumber(totalBillDiscount,2)*1

	if( balanceDue*1 < 0 ) balanceDue = 0;

	setBalanceDue<?= $jqxPrefix;?>(tabIndex,roundNumber(balanceDue,2));
	setLabelBalanceDue<?= $jqxPrefix;?>(tabIndex,"<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(balanceDue,2));

	var balanceDueRiel = moneyExchange<?= $jqxPrefix;?>*balanceDue;

	balanceDueRiel = getFormatRiel(balanceDueRiel);

	setKhTotal<?= $jqxPrefix;?>(tabIndex,balanceDueRiel);
	setLabelBalanceDueRiel<?= $jqxPrefix;?>(tabIndex,roundNumber(balanceDueRiel,2));

	calculatChangeGivenMoney(tabIndex);
}
function initialize<?= $jqxPrefix;?>()
{
	initialLayout<?= $jqxPrefix;?>();
}
function initialLayout<?= $jqxPrefix;?>()
{
	var bodyHeight = $(window).height();
	var headerHeight = $(".pos-header").height();

	contentHeight<?= $jqxPrefix;?> = bodyHeight-74;

	$(".pos-layout").height(contentHeight<?= $jqxPrefix;?>);
	$(".pos-left").height(bodyHeight*1-44);
	$("#pcsp-order-item<?= $jqxPrefix;?>").height(bodyHeight*1-196);
	$("#pcsp-display-item<?= $jqxPrefix;?>").height(contentHeight<?= $jqxPrefix;?>);
	$(".heng-pos-layout").height(contentHeight<?= $jqxPrefix;?>);

	$(".heng-popup-content").height(bodyHeight-156);
}
$(window).keypress(function(event)
{
    var code = event.keyCode || event.which;

    if( code == 122 )
    {
    	setTimeout(function()
    	{
        	initialLayout<?= $jqxPrefix;?>();
    	},1500);
    }
});
function setDefaultDiscount(tabIndex)
{
	var checkbox = $("#heng-bill-discount"+tabIndex).find("#chb-bill-discount"+defaultDiscountId+""+tabIndex);
	var checked = checkbox.is(":checked");
	if( checked == false )
	{
		checkbox.click();
	}
	else
	{
		checkbox.click();
		checkbox.click();
	}
	
	return checked;
}
function newContent<?= $jqxPrefix;?>(param)
{
    var element = "#pos-content-item<?= $jqxPrefix;?>";

    initialContent<?= $jqxPrefix;?>(element,"<?= $url;?>/new-content", param);
}
var dataSource<?= $jqxPrefix;?> = getJqxTreeGridDataSource('<?= $url."/getRecordsForTreeGrid";?>', "#ddlTreeItemCategory<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>,
{
    loadError: function(xhr, status, error)
    {
        alert(error);
    }
});
function checkInternet()
{
	window.setInterval(function() 
	{
		$.ajax
		({
		    url: '<?= $url;?>/checkInternet',
		    success: function(data) 
		    {
		    	$("#txt-internet-access<?= $jqxPrefix;?>").removeClass("hide");
				$("#txt-no-internet<?= $jqxPrefix;?>").addClass("hide");
		    },
		    error: function(data) 
		    {
		        $("#txt-internet-access<?= $jqxPrefix;?>").addClass("hide");
				$("#txt-no-internet<?= $jqxPrefix;?>").removeClass("hide");
		    }
		});
	}, 10000);
}
function getFormatRiel(currency)
{
	currency = parseInt(currency);

	var num = currency%100;
	
	if( num*1 >= 50 )
	{
		num = -num*1+100;
	}
	else
	{
		num = -num;
	}

	return currency*1+num*1;
}
function getCurrentTime<?= $jqxPrefix;?>(tabIndex)
{
	var date  = new Date();
	var hours = date.getHours();
	var ap = "am";

	if( hours*1 > 11 ) ap = "pm";

	return "<a data-disable='0' onclick='renameTab(this,"+tabIndex+");' style='color:white;background-color: transparent;' id='btnTab"+tabIndex+"'>"+hours+":"+date.getMinutes()+":"+date.getSeconds()+" "+ap+"</a>";
}
function renameTab(e,tabIndex)
{
	var tabText = $.trim($(e).text());
	if( $(e).attr("data-disable")*1 == 1 ) return;

	$(e).attr("data-disable",1);
	$(e).css({"color":"black"});
	$(e).html("<input type='text' data-text='"+tabText+"' value='"+tabText+"' style='width: 90px;' onblur=tabBlur(this,"+tabIndex+") id='txtTabText"+tabIndex+"'>");

	$("#txtTabText"+tabIndex).focus();
}
function tabBlur(e,tabIndex)
{
	var tabText = $(e).val();
	var eParent = "#btnTab"+tabIndex;

	if( tabText == "" ) tabText = $(e).attr("data-text");

	$(eParent).css({"color":"white"});
	$(eParent).attr("data-disable",0);

	$(eParent).html(tabText);
}
function setLeftHeight<?= $jqxPrefix;?>()
{
	$("#pcsp-order-item<?= $jqxPrefix;?>"+currentTabIndex<?= $jqxPrefix;?>).height(fullHeight<?= $jqxPrefix;?>);
}
function newTabContent<?= $jqxPrefix;?>(tabIndex)
{ 
	var content = initialTabContent<?= $jqxPrefix;?>();

	$('#jqxTabs<?= $jqxPrefix;?>').jqxTabs('addAt', tabIndex, getCurrentTime<?= $jqxPrefix;?>(tabIndex), content);

	initialOrder<?= $jqxPrefix;?>(initializeSize<?= $jqxPrefix;?>);

	// setLeftHeight<?= $jqxPrefix;?>();
	setDefaultDiscount(currentTabIndex<?= $jqxPrefix;?>);
}
function changeDiscount<?= $jqxPrefix;?>(tabIndex,id,name,discountValue,discountType)
{
	var e = "#chb-bill-discount"+id+""+tabIndex;
	var checked = $(e).is(":checked");

	$(".chb-bill-discount"+tabIndex).prop("checked",false);

	if( checked == false )
	{
		id = 0;
		name ="";
		discountValue = 0;
		discountType = 0;
	}

	setDiscountId<?= $jqxPrefix;?>(tabIndex,id);
	setDiscountName<?= $jqxPrefix;?>(tabIndex,name);
	setDiscountValue<?= $jqxPrefix;?>(tabIndex,discountValue);
	setDiscountType<?= $jqxPrefix;?>(tabIndex,discountType);

	$(e).prop("checked",checked);

	totalDiscount = getTotalBillDiscount<?= $jqxPrefix;?>(tabIndex);

	calculate<?= $jqxPrefix;?>();
}
function getKey<?= $jqxPrefix;?>()
{
	return index<?= $jqxPrefix;?>;
}
function initialTab<?= $jqxPrefix;?>()
{
	currentTabIndex<?= $jqxPrefix;?> = <?= $defaultTab;?>;

	var content = initialTabContent<?= $jqxPrefix;?>();

	$("#pcsp-default-tab<?= $jqxPrefix;?>").append(content);

	initialOrder<?= $jqxPrefix;?>(initializeSize<?= $jqxPrefix;?>);

	setDefaultDiscount(currentTabIndex<?= $jqxPrefix;?>);

	// setLeftHeight<?= $jqxPrefix;?>();

	// setLeftOverflow<?= $jqxPrefix;?>();
}
$(document).ready(function()
{
	checkInternet();

	initialize<?= $jqxPrefix;?>();

	$('#jqxTabs<?= $jqxPrefix;?>').jqxTabs({ theme: jqxTheme,height: contentHeight<?= $jqxPrefix;?>+30, width: "100%",  showCloseButtons: true});
	
	initialTab<?= $jqxPrefix;?>();

	$('#jqxTabs<?= $jqxPrefix;?>').on('tabclick', function (event) 
    {
    	var tabIndex = event.args.item;
    	var element  = "#unorderedList<?= $jqxPrefix;?>";

    	var length = $(element).find("li").length;

    	selectTabIndex<?= $jqxPrefix;?> = tabIndex;

        if (tabIndex*1 == length-1) 
        {
        	var key = getKey<?= $jqxPrefix;?>();
        	var tabKey = tabIndex*1+key*1;

        	currentTabIndex<?= $jqxPrefix;?> = tabKey;

            newTabContent<?= $jqxPrefix;?>(tabIndex);

            $(element).find("li:eq("+tabIndex+")").attr("data-tab",tabKey);
        }
        else
        {
        	tabIndex = $(element).find("li:eq("+tabIndex+")").attr("data-tab");
        	currentTabIndex<?= $jqxPrefix;?> = tabIndex;
        }
    });
    $('#jqxTabs<?= $jqxPrefix;?>').on('removed', function (event) 
    {
	    var tabIndex = event.args.item;
	    var element  = "#unorderedList<?= $jqxPrefix;?>";
	    var length = $(element).find("li").length;

	    var selectTab = selectTabIndex<?= $jqxPrefix;?>;

	    if( tabIndex*1 != 0 && tabIndex*1 >= selectTab*1 )
	    {
	    	currentTabIndex<?= $jqxPrefix;?> = $(element).find("li:eq("+(selectTab-1)+")").attr("data-tab");

	    	selectTabIndex<?= $jqxPrefix;?> --;
	    }	
	    else if( tabIndex*1 == 0 && length*1 > 1 && tabIndex*1 == selectTab*1)
	    {
	    	currentTabIndex<?= $jqxPrefix;?> = $(element).find("li:eq(0)").attr("data-tab");
	    }
	    else if( length*1 == 2 )
	    {
	    	currentTabIndex<?= $jqxPrefix;?> = <?= $defaultTab;?>;
	    }
	});
	$("#ddlTreeItemCategory<?= $jqxPrefix;?>").jqxTreeGrid(
    {
        theme: jqxTheme, width: '100%',height: contentHeight<?= $jqxPrefix;?>-30,
        source: dataAdapter<?= $jqxPrefix;?> ,
        autoRowHeight: true,
        enableHover: true,
        filterable: false,
        showHeader: false,
        columns:
        [
            {
                text: '<?= $this->translate("NAME");?>', datafield: 'Name'
            }
        ]
    });
    $('#ddlTreeItemCategory<?= $jqxPrefix;?>').on('bindingComplete', function (event) 
    {
        $("#ddlTreeItemCategory<?= $jqxPrefix;?>").jqxTreeGrid('expandAll');
    });
    $("#ddlTreeItemCategory<?= $jqxPrefix;?>").on('rowClick', function (event) 
    {
        // event args.
        var args = event.args;
        // row data.
        var row = args.row;
        var id  = row.Id;
        var isSaleWeight = row.IsSaleWeight;

        var param = JSON.parse('{"ItemCategoryId":"'+id+'","IsSaleWeight":"'+isSaleWeight+'"}');

        $("#heng-sale-item<?= $jqxPrefix;?>").html('<div class="heng-text-center-div"> <?= $this->translate("No data to display");?></div>');

        newContent<?= $jqxPrefix;?>(param);
    });
});
function initialTabContent<?= $jqxPrefix;?>()
{
	var tabIndex = currentTabIndex<?= $jqxPrefix;?>;

	var str ='<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>'+tabIndex+'" name="winForm<?= $jqxPrefix;?>'+tabIndex+'" method="post">' 
			+'<div id="pcsp-order-item<?= $jqxPrefix;?>'+tabIndex+'">'
			+'<table class="pos-input-text table-view" style="margin-top: 3px;" id="tblOrder<?= $jqxPrefix;?>'+tabIndex+'" width="100%">'
			+'	<thead>'
			+'		<tr>'
			+'			<th width="20">&nbsp;</th>'
			+'			<th width="40"><?= $this->translate("No");?></th>'
			+'			<th><?= $this->translate("DESCRIPTION");?></th>'
			+'			<th width="70"><?= $this->translate("QTY");?></th>'
			+'			<th width="100"><?= $this->translate("PRICE");?></th>'
			+'			<th width="100"><?= $this->translate("TOTAL");?></th>'
			+'		</tr>'
			+'	</thead>'
			+'	<tbody>'
					
			+'	</tbody>'
			+'	<tfoot>'
			+'		<tr>'
			+'			<td colspan="5" style="text-align:right;"><?= $this->translate("Sub Total");?></td>'
			+'			<td id="lblSubTotal<?= $jqxPrefix;?>'+tabIndex+'">$0</td>'
			+'		</tr>'
			+'		<tr>'
			+'			<td colspan="5" style="text-align:right;"><?= $this->translate("Discount");?></td>'
			+'			<td id="lblDiscount<?= $jqxPrefix;?>'+tabIndex+'">'
			+'					<div class="btn-group dropdown keep-open">'
			+'			        	<span id="bill-discount-dropdown-menu<?= $jqxPrefix;?>'+tabIndex+'" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">'
			+'			        		<span id="lblBillDiscount<?= $jqxPrefix;?>'+tabIndex+'">$0</span>'
			+'			        		<span class="caret caret-up"></span>'
			+'			        	</span>'

			+'			        	<ul class="dropdown-menu pos-drop-up pull-right" style="min-width: 150px;" role="menu" aria-labelledby="bill-discount-dropdown-menu<?= $jqxPrefix;?>'+tabIndex+'">'
			+'			            	<div style="padding: 0px 10px 10px 10px;color:#333 !important;" id="heng-bill-discount'+tabIndex+'">';
					            		<?php foreach( $this->discountRecord as $key => $value ):?>
					            			<?php if( $value->IsDefault ) : ?>
					            				defaultDiscountId = <?= $value->Id;?>;
					            			<?php endif;?>
					            				
							            str+='	<div class="checkbox">'
								        +'    	<label>'
									    +'            <input type="checkbox" class="chb-bill-discount'+tabIndex+'" onclick=changeDiscount<?= $jqxPrefix;?>('+tabIndex+',"<?= $value->Id;?>","<?= $value->Name;?>","<?= $value->Value;?>","<?= $value->DiscountTypeId;?>") value="<?= $value->Id;?>" id="chb-bill-discount<?= $value->Id;?>'+tabIndex+'">'
									    +'            <span class="circle">'
									    +'            	<i class="circle-icon glyphicon glyphicon-ok"></i>'
									    +'            </span>'
									    +'            <?= $value->Name;?>'
									    +'        </label>'
									    +'    </div>';
							            <?php endforeach;?>
					            	str+='</div>'
					        	+'</ul>'
					    	+'</div>'
						+'</td>'
					+'</tr>'
					+'<tr>'
					+'	<td colspan="5" style="text-align:right;"><?= $this->translate("Balance Due(Dollar)");?></td>'
					+'	<td style="color: #b72e59;" id="lblBalanceDue<?= $jqxPrefix;?>'+tabIndex+'">$0</td>'
					+'</tr>'
					+'<tr>'
					+'	<td colspan="5" style="text-align:right;">'
					+'		<?= $this->translate("Balance Due(Riel)");?>'
					+'	</td>'
					+'	<td style="color: #b72e59;" id="lblBalanceDueRiel<?= $jqxPrefix;?>'+tabIndex+'">R0</td>'
					+'</tr>'
					+'<tr>'
					+'	<td colspan="5" style="text-align:right;"><?= $this->translate("Change Given(Dollar)");?></td>'
					+'	<td style="color: #b72e59;" id="lblChangeGivenDollar<?= $jqxPrefix;?>'+tabIndex+'">$0</td>'
					+'</tr>'
					+'<tr>'
					+'	<td colspan="5" style="text-align:right;">'
					+'		<?= $this->translate("Change Given(Riel)");?>'
					+'	</td>'
					+'	<td style="color: #b72e59;" id="lblChangeGivenRiel<?= $jqxPrefix;?>'+tabIndex+'">R0</td>'
					+'</tr>'
				+'</tfoot>'
			+'</table>'
		+'</div>'
		+'<div class="clearfix"></div>'
		+'<div class="pos-left-footer">'
		+'	<div class="col-md-12 no-padding">'
		+'		<div class="col-md-12 no-padding" style="border-bottom: 0.5px solid #0000004d;font-weight:bolder;">'
		+'			&nbsp;<?= $this->translate("Payment");?>'
		+'		</div>'
		+'		<div class="clearfix"></div>'
		+'		<div class="col-md-12 margin-top-5">'
		+'			<div class="form-group">'
		+'				<label class="col-md-2 control-label"><?= $this->translate("Dollar");?></label>'
		+'				<div class="col-md-8 no-padding-left">'
		+'					<input type="text" class="form-control input-sm" onkeypress="return isAllowNumerice(event,this,2);" name="DollarTendered" onkeyup="calculatChangeGivenMoney('+tabIndex+');" id="txtDollarTendered<?= $jqxPrefix;?>'+tabIndex+'" maxlength="6">'
		+'				</div>'
		+'			</div>'
		+'			<div class="form-group">'
		+'				<label class="col-md-2 control-label"><?= $this->translate("Riel");?></label>'
		+'				<div class="col-md-8 no-padding-left">'
		+'					<input type="text" class="form-control input-sm" onkeypress="return isAllowNumerice(event,this,1);" name="RielTendered" onkeyup="calculatChangeGivenMoney('+tabIndex+');" id="txtRielTendered<?= $jqxPrefix;?>'+tabIndex+'" maxlength="7">'
		+'				</div>'
		+'			</div>'
		+'		</div>'
		+'	</div>'
		+'	<div class="clearfix"></div>'
		+'	<div class="button-fix-footer">'
		+'		<div class="pos-button cursor-pointer" title="<?= $this->translate('Payment');?>" onclick="payment<?= $jqxPrefix;?>('+tabIndex+');">'
		+'    		<span style="font-size: 14px;"><?= $this->translate("Payment");?></span>'
		+'    	</div>'
		+'		<div class="pos-button cursor-pointer hidden" title="<?= $this->translate('Clear');?>" onclick="reset<?= $jqxPrefix;?>('+tabIndex+');">'
		+'    		<span style="font-size: 14px;"><?= $this->translate("Clear");?></span>'
		+'		</div>'
		+'		<div class="clearfix"></div>'
		+'	</div>'
		+'</div>'
		+'<div class="clearfix"></div>'
		+'<input type="hidden" id="txtSubTotal<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="SubTotal"/>'
		+'<input type="hidden" id="txtBalanceDue<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="Total"/>'
		+'<input type="hidden" id="txtKhTotal<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="KhTotal"/>'
		+'<input type="hidden" id="txtDiscount<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="TotalDiscount"/>'
		+'<input type="hidden" id="txtDiscountType<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="DiscountTypeId"/>'
		+'<input type="hidden" id="txtDiscountName<?= $jqxPrefix;?>'+tabIndex+'" value="" name="DiscountName"/>'
		+'<input type="hidden" id="txtDiscountId<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="DiscountId"/>'
		+'<input type="hidden" id="txtDiscountValue<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="DiscountValue"/>'
		+'<input type="hidden" id="txtChangeGivenDollar<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="ChangeGivenDollar"/>'
		+'<input type="hidden" id="txtChangeGivenRiel<?= $jqxPrefix;?>'+tabIndex+'" value="0" name="ChangeGivenRiel"/>'
		+'<input type="hidden" id="txtIsCorrectChangeGiven<?= $jqxPrefix;?>'+tabIndex+'" value="0"/>'
	+'</form>'
		;

	return str;
}
function setKhTotal<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtKhTotal<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function getLabelName<?= $jqxPrefix;?>(index)
{
	return $("#lblName<?= $jqxPrefix;?>"+index).text();
}
function getItemName<?= $jqxPrefix;?>(index)
{
    return $("#txtName<?= $jqxPrefix;?>"+index).val();
}
function getPrice<?= $jqxPrefix;?>(index)
{
	return $("#txtPrice<?= $jqxPrefix;?>"+index).val();
}
function getItemTotal<?= $jqxPrefix;?>(index)
{
	return $("#txtItemTotal<?= $jqxPrefix;?>"+index).val();
}
function setItemTotal<?= $jqxPrefix;?>(index,val)
{
	$("#txtItemTotal<?= $jqxPrefix;?>"+index).val(val);
}
function setLabelItemTotal<?= $jqxPrefix;?>(index,val)
{
	$("#lblItemTotal<?= $jqxPrefix;?>"+index).text("<?= PHPConstant::FIX_CURRENCY;?>"+roundNumber(val,2));
}
function getQty<?= $jqxPrefix;?>(index)
{
	return $("#txtQty<?= $jqxPrefix;?>"+index).val();
}
function setQty<?= $jqxPrefix;?>(index,val)
{
	$("#txtQty<?= $jqxPrefix;?>"+index).val(val);
}
function setLabelQty<?= $jqxPrefix;?>(index,val)
{
	$("#txtLableQty<?= $jqxPrefix;?>"+index).val(val);
}
function getLabelQty<?= $jqxPrefix;?>(index)
{
	return $("#txtLableQty<?= $jqxPrefix;?>"+index).val();
}
function setLabelBalanceDueRiel<?= $jqxPrefix;?>(tabIndex,val)
{
	return $("#lblBalanceDueRiel<?= $jqxPrefix;?>"+tabIndex).text("R"+val);
}
function getBalanceDueRiel<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtKhTotal<?= $jqxPrefix;?>"+tabIndex).val();
}
function getBalanceDue<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtBalanceDue<?= $jqxPrefix;?>"+tabIndex).val();
}
function setBalanceDue<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtBalanceDue<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function setLabelBalanceDue<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#lblBalanceDue<?= $jqxPrefix;?>"+tabIndex).text(val);
}
function getTotal<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtTotal<?= $jqxPrefix;?>"+tabIndex).val();
}
function setTotal<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtTotal<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function getSubTotal<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtSubTotal<?= $jqxPrefix;?>"+tabIndex).val();
}
function setSubTotal<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtSubTotal<?= $jqxPrefix;?>"+tabIndex).val(val)
}
function setLabelSubTotal<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#lblSubTotal<?= $jqxPrefix;?>"+tabIndex).text(val);
}
function getTotalDiscount<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtDiscount<?= $jqxPrefix;?>"+tabIndex).val();
}
function setTotalDiscount<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtDiscount<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function setLableDiscount<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#lblBillDiscount<?= $jqxPrefix;?>"+tabIndex).text(val);
}
function getDiscountId<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtDiscountId<?= $jqxPrefix;?>"+tabIndex).val();
}
function setDiscountId<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtDiscountId<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function getDiscountName<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtDiscountName<?= $jqxPrefix;?>"+tabIndex).val();
}
function setDiscountName<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtDiscountName<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function getDiscountValue<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtDiscountValue<?= $jqxPrefix;?>"+tabIndex).val();
}
function setDiscountValue<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtDiscountValue<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function getDiscountType<?= $jqxPrefix;?>(tabIndex)
{
	return $("#txtDiscountType<?= $jqxPrefix;?>"+tabIndex).val();
}
function setDiscountType<?= $jqxPrefix;?>(tabIndex,val)
{
	$("#txtDiscountType<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function calculatChangeGivenMoney(tabIndex)
{
	var dollarTendered = getDollarTendered(tabIndex);
	var rielTendered   = getRielTendered(tabIndex);
	var dollarDueAmount= getBalanceDue<?= $jqxPrefix;?>(tabIndex);
	var rielDueAmount  = getBalanceDueRiel<?= $jqxPrefix;?>(tabIndex);

	var exchange = moneyExchange<?= $jqxPrefix;?>;

	if( dollarTendered == "" ) dollarTendered = 0;
	if( rielTendered == "" ) rielTendered = 0;

	var totalReilPay = rielTendered*1+dollarTendered*exchange;
	totalReilPay = getFormatRiel(totalReilPay);

	var changeGivenReil = roundNumber(totalReilPay*1-rielDueAmount*1,2);

	$("#txtDollarTendered<?= $jqxPrefix;?>"+tabIndex).removeClass("jqx-validator-error-element");
	$("#txtRielTendered<?= $jqxPrefix;?>"+tabIndex).removeClass("jqx-validator-error-element");
	
	if( changeGivenReil*1 < 0 ) 
	{
		setCorrectChangeGiven(tabIndex,0);

		changeGivenReil = 0;
	}
	else
	{
		// if( parseFloat(changeGivenReil) <= 0 ) changeGivenReil = 0;
		
		setCorrectChangeGiven(tabIndex,1);
	}
	// console.log(totalReilPay+"="+rielDueAmount);
	
	var changeGivenDollar = changeGivenReil*1/exchange*1;
	
	if( totalReilPay*1 == rielDueAmount*1 )
	{
		changeGivenDollar = dollarTendered;
	}

	changeGivenDollar = roundNumber(changeGivenDollar,2);

	setLabelChangeGivenDollar(tabIndex,changeGivenDollar);
	setLabelChangeGivenRiel(tabIndex,changeGivenReil);

	setChangeGivenDollar(tabIndex,changeGivenDollar);
	setChangeGivenRiel(tabIndex,changeGivenReil);
}
function getDollarTendered(tabIndex)
{
	var val = $("#txtDollarTendered<?= $jqxPrefix;?>"+tabIndex).val();
	if( val == "" ) val = 0;

	return val;
}
function getRielTendered(tabIndex)
{
	var val = $("#txtRielTendered<?= $jqxPrefix;?>"+tabIndex).val();
	if( val == "" ) val = 0;
	else val = getFormatRiel(val);

	return val;
}
function setLabelChangeGivenDollar(tabIndex,val)
{
	$("#lblChangeGivenDollar<?= $jqxPrefix;?>"+tabIndex).text("$"+roundNumber(val,2));
}
function setLabelChangeGivenRiel(tabIndex,val)
{
	$("#lblChangeGivenRiel<?= $jqxPrefix;?>"+tabIndex).text("R"+roundNumber(val,2));
}
function getCorrectChangeGiven(tabIndex)
{
	return $("#txtIsCorrectChangeGiven<?= $jqxPrefix;?>"+tabIndex).val();
}
function setCorrectChangeGiven(tabIndex,val)
{
	$("#txtIsCorrectChangeGiven<?= $jqxPrefix;?>"+tabIndex).val(val);
}
function setChangeGivenDollar(tabIndex,val)
{
	$("#txtChangeGivenDollar<?= $jqxPrefix;?>"+tabIndex).val(roundNumber(val,2));
}
function setChangeGivenRiel(tabIndex,val)
{
	$("#txtChangeGivenRiel<?= $jqxPrefix;?>"+tabIndex).val(roundNumber(val,2));
}
function getChangeGivenDollar(tabIndex)
{
	return $("#txtChangeGivenDollar<?= $jqxPrefix;?>"+tabIndex).val();
}
function getChangeGivenRiel(tabIndex)
{
	return $("#txtChangeGivenRiel<?= $jqxPrefix;?>"+tabIndex).val();
}
</script>