<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSaleView';
?>

<section class="content">
    <div>
        <?php foreach( $this->record as $key => $value ):?>
            <div class="invoice-layout margin-bottom-10 box-invoice" style="padding: 0 15px 20px 15px;">
                <div class="no-padding align-right pull-right">
                    <i class="glyphicon glyphicon-print cursor-pointer" style="font-size: 20px;padding-top: 5px;" onclick="printBlockContent('#divContentToPrint<?= $key;?>')"></i>
                </div>
                <div id="divContentToPrint<?= $key;?>">
                    <style type="text/css">
                        .box-invoice
                        {
                            box-shadow: 0 0 5px #878787;
                        }
                        .tbl-invoice
                        {
                            width: 100%;
                            border-collapse: initial !important;
                            border-spacing: 0px;
                        }
                        .tbl-invoice thead tr th
                        {
                            padding: 5px;
                            text-align: center;
                            border-top: 1px solid #dbdbdb;
                            border-bottom: 1px solid #dbdbdb;
                        }
                        .tbl-invoice tbody tr td
                        {
                            padding: 5px;
                            border-bottom: 1px solid #dbdbdb;
                        }
                        .tbl-right tr td
                        {

                        }
                        </style>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4" style="font-size: 20px;">
                            <b><?= $this->translate("INVOICE");?></b>
                        </div>
                        <div class="col-sm-4 tbl-right">
                            <table width="100%">
                                <tr>
                                    <td style="text-align:right;">
                                        <?= $this->translate("INVOICE_NO");?>
                                    </td>
                                    <td width="5" style="text-align:center;">:</td>
                                    <td width="100">
                                        <?= $value["InvoiceNo"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;">
                                        <?= $this->translate("INVOICE_DATE");?>
                                    </td>
                                    <td width="5" style="text-align:center;">:</td>
                                    <td width="100">
                                        <?= date("d-M-Y",strtotime($value["InvoiceDate"]));?>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table width="100%" class="tbl-invoice">
                            <thead>
                                <tr>
                                    <th width="50"><?= $this->translate("NO");?></th>
                                    <th><?= $this->translate("DESCRIPTION");?></th>
                                    <th><?= $this->translate("QTY");?></th>
                                    <th><?= $this->translate("PRICE");?></th>
                                    <th><?= $this->translate("DISCOUNT");?></th>
                                    <th><?= $this->translate("TOTAL");?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach( $value["Child"] as $k => $val ):?>
                                    <tr>
                                        <td style="text-align:center;"><?= $k+1;?></td>
                                        <td>
                                            <?php 
                                                $itemName = $val["ItemName"];
                                                $varianceLabels = $val["VarianceLabels"];

                                                if( !empty( $varianceLabels ) )
                                                {
                                                    $itemVarianceValue = $val["ItemVarianceValue"];
                                                    $arr1 = explode(";$;", $varianceLabels);
                                                    $arr2 = explode(";$;", $itemVarianceValue);
                                                    $s = "";

                                                    for( $i = 0 ; $i < count( $arr1 ) ; $i ++ )
                                                    {
                                                        if( !empty( $s ) ) $s .= ", ";
                                                        $s .= $arr1[$i].":".$arr2[$i];
                                                    }

                                                    $itemName .= ' <small style="font-size: 10px;color:#223ac2;">('.$s.')</small>';
                                                }

                                                echo $itemName;
                                            ?>
                                        </td>
                                        <td style="text-align:center;">
                                            <?= $val["Qty"];?>
                                        </td>
                                        <td style="text-align:center;">
                                            <?= $val["UnitPrice"];?>
                                        </td>
                                        <td style="text-align:center;">
                                            <?= $val["TotalItemDiscount"];?>
                                        </td>
                                        <td style="text-align:center;">
                                            <?= $val["ItemTotal"];?>
                                        </td>
                                    </tr>
                                <?php endforeach;?>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("SUB_TOTAL");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["SubTotal"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("DISCOUNT");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["TotalDiscount"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("TAX");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["TotalTax"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("TOTAL");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["Total"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("PAID_AMOUNT");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["PaidAmount"];?>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right">
                                        <?= $this->translate("BALANCE");?>
                                    </td>
                                    <td style="text-align:center;">
                                        <?= $value["Balance"];?>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        <?php endforeach;?>
    </div>
</section>

<script type="text/javascript">

function printBlockContent(contentToPrint)
{
    var contents = $(contentToPrint).html();
    var frame1 = $('<iframe />');
    frame1[0].name = "frame1";
    frame1.css({ "position": "absolute", "top": "-1000000px" });

    $("body").append(frame1);

    var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
    
    frameDoc.document.open();
    //Create a new HTML document.
    frameDoc.document.write('<html><head><title></title>');
    //Append the external CSS file.
    frameDoc.document.write('<link rel="stylesheet" href="<?= $this->basepath("/pcsp/css/printcss.css");?>" />');
    frameDoc.document.write('<link rel="stylesheet" href="<?= $this->basepath("/plugin/bootstrap/css/bootstrap.min.css");?>" />');
    frameDoc.document.write('<link rel="stylesheet" href="<?= $this->basepath("/pcsp/css/pcsp.css");?>" />');
    frameDoc.document.write('<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />');
    frameDoc.document.write('<style media="print">@page { size: auto;  margin: 0mm; }.hengpageA4 {width: 14cm;padding: 0;margin: 0 auto;}</style>');
    frameDoc.document.write('</head><body><div class="hengpageA4">');

    //Append the DIV contents.
    frameDoc.document.write(contents);
    frameDoc.document.write('</div></body></html>');
    frameDoc.document.close();

    setTimeout(function () 
    {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        frame1.remove();
    }, 500);
}

</script>