<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

$(document).ready(function () 
{       
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        selectionmode: 'multiplerows',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('NAME');?>", datafield: 'Name'
            },
            { 
                text: "<?= $this->translate('TEL');?>", datafield: 'Tel'
            },
            { 
                text: "<?= $this->translate('EMAIL');?>", datafield: 'Email'
            },
            { 
                text: "<?= $this->translate('WEBSIT');?>", datafield: 'Website'
            },
            { 
                text: "<?= $this->translate('ADDRESS');?>", datafield: 'Address'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'Note'
            },
            { 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:100
            },
        ]
    }); 
});
</script>