<?php 
    use PCSPLib\PHPConstant;
    
    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;
    
    $escaper = new Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysSupplierNewAndEdit';
    $jqxPre = '_sysSupplierList';

    $gridIdName = ($this->gridIdName !="0")?$this->gridIdName:"#jqxGrid".$jqxPre;
    $id = $this->record->Id;
    if($this->isCopy == 1)$id = 0;
?>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
    <input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />

    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("NAME");?><span class="star-red">*</span></label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <input class="form-control input-sm" id="txtName<?= $jqxPrefix?>" placeholder="<?= $this->translate('Name');?>" type="text" name="Name" value="<?= $this->record->Name;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?= $this->translate("TEL");?>
        </label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <input class="form-control input-sm" id="txtTel<?= $jqxPrefix?>" placeholder="<?= $this->translate('TEL');?>" type="text" name="Tel" value="<?= $this->record->Tel;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?= $this->translate("EMAIL");?>
        </label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <input class="form-control input-sm" id="txtEmail<?= $jqxPrefix?>" placeholder="<?= $this->translate('EMAIL');?>" type="text" name="Email" value="<?= $this->record->Email;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?= $this->translate("WEBSITE");?>
        </label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <input class="form-control input-sm" id="txtWebsite<?= $jqxPrefix?>" placeholder="<?= $this->translate('WEBSITE');?>" type="text" name="Website" value="<?= $this->record->Website;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("ADDRESS");?></label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <textarea class="form-control" id="txtAddress<?= $jqxPrefix?>" placeholder="<?= $this->translate('ADDRESS');?>" type="text" name="Address"><?= $this->record->Note;?></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("Note");?></label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-6 no-padding-right">
            <textarea class="form-control" id="txtNote<?= $jqxPrefix?>" placeholder="<?= $this->translate('Note');?>" type="text" name="Note"><?= $this->record->Note;?></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("Active");?></label>
        <label class="col-sm-1 control-label">:</label>
        <div class="col-sm-7 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbActive<?= $jqxPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url" => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  => $gridIdName,

                    ]
        );
    ?>
</form>

<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
    $("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");
    
    $("#chbActive<?= $jqxPrefix?>").prop('checked', true);
}

$(document).ready(function () 
{
    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: [
                {
                    input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
                },
          ]
    });
});
</script>