<?php 
    use PCSPLib\PHPConstant;
    use Zend\Session\Container;

    $url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::SUBJECT_CONTROLLER;
    $jqxPrefix = '_sysSubjectList';
    $newAndEditPrefix = '_sysSubjectNewAndEdit';
    
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?php echo $this->url('system-setting');?>">
            <?php echo $this->translate('Dashboard');?></a>
        </li>
        <li><?php echo $this->translate('SUBJECT');?></li>
    </ol>
</section>

<?php
    echo $this->partial('application/basepartial/action-partial.phtml',
        [
            "url"           =>  $url,
            "jqxPrefix"     =>  $jqxPrefix,
            "newAndEditPrefix"  =>  $newAndEditPrefix,
            'gridIdName'        =>  "#jqxGrid".$jqxPrefix,
            "gridColumnRecord"  => $this->gridColumnRecord,
        ]
    );

	echo $this->partial('application/basepartial/list-partial.phtml',
			[
				"url"               =>	$url,
				"jqxPrefix"         => $jqxPrefix,
				"newAndEditPrefix"  => $newAndEditPrefix,
			]
	);
?>