<?php 
	$jqxPrefix = '_sysItemMasterNewAndEdit';
?>

<input type="hidden" name="SystemUnitLabel" value="<?= $this->parentLabel;?>">

<div class="box box-default no-padding" style="border-top: 0.5px solid #d2d6de !important;">
	<div class="box-body no-padding-top" style="min-height: 100px;">
		<table>
			<thead>
				<tr>
					<th class="padding-right-10">
						<?= $this->parentLabel;?>
					</th>
					<th class="text-center padding-left-10 padding-right-10">
						<?= $this->translate("DEFAULT_AS_RECEIVE");?>
					</th>
					<th class="text-center padding-left-10 padding-right-10">
						<?= $this->translate("DEFAULT_AS_TAKE/USE");?>
					</th>
				</tr>
			</thead>
			<tbody>

				<?php foreach( $this->record as $key => $value ):?>
					<?php 
						$submitIndex = "$@$".$key;

						$disabled = " disabled = 'disabled' ";

						$checked  = "";
						$item     = "";
						$defaultAsReceiveChecked = "";
						$defaultAsTakeChecked = "";
						$unitDisable = "";
						$readOnly = "";
						if( isset( $value["IsUsabled"] ) && $value["IsUsabled"] )
						{
							$checked = " checked='checked' ";
							$item = $value["Value"];
							$disabled = "";
							if($value["Name"] == $this->defaultReceiveUnit)
								$defaultAsReceiveChecked = " checked='checked' ";
							if($value["Name"] == $this->defaultTakeUnit)
								$defaultAsTakeChecked = " checked='checked' ";
							if( $this->isInUsed )
							{
								$unitDisable = " disabled = 'disabled' ";
								$readOnly = " readonly='readonly' ";
							}
						}
					?>
					<tr>
						<td class="padding-bottom-5">
							<div class="checkbox pull-left">
								<label style="min-width: 70px;">
					                <input type="checkbox" value="<?= $value["Name"];?>" name="UnitRecord[<?= $submitIndex;?>][Name]" onclick="getChangeItemMeasurement(this);" <?= $checked.$unitDisable;?>>
					                <?php if( !empty( $unitDisable ) ):?>
					                	<input type="hidden" value="<?= $value["Name"];?>" name="UnitRecord[<?= $submitIndex;?>][Name]">
					                <?php endif;?>
					            	<span class="circle">
					            		<i class="circle-icon glyphicon glyphicon-ok"></i>
					            	</span>
					            	<?= $value["Name"];?>
					            </label>
							</div>
							<div class="pull-left">
								<label class="margin-top-7 padding-left-2 padding-right-2">=</label>
							</div>
							<div class="pull-left">
								<input type="text" class="form-control input-sm" style="width: 100px;" name="UnitRecord[<?= $submitIndex;?>][Value]" value="<?= $item;?>" <?= $readOnly;?> >
							</div>
							<div class="pull-left">
								<label class="margin-top-7 padding-left-2 padding-right-2"><?= $this->systemUnitLabel;?></label>
							</div>
						</td>
						<td class="text-center">
							<div class="radio">
								<label>
					                <input type="radio" value="<?= $value["Name"];?>" name="DefaultReceiveUnit" <?= $disabled.$defaultAsReceiveChecked;?>>
					            	<span class="circle">
					            		<i class="circle-icon glyphicon glyphicon-ok"></i>
					            	</span>
					            </label>
							</div>
						</td>
						<td class="text-center">
							<div class="radio">
								<label>
					                <input type="radio" value="<?= $value["Name"];?>" name="DefaultTakeUnit" <?= $disabled.$defaultAsTakeChecked;?>>
					            	<span class="circle">
					            		<i class="circle-icon glyphicon glyphicon-ok"></i>
					            	</span>
					            </label>
							</div>
						</td>
					</tr>
				<?php endforeach;?>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">

function getChangeItemMeasurement(act)
{
	var checked = $(act).is(":checked");
	var element = $(act).closest("tr");
	if(checked)
	{
		element.find("input[type=radio]").attr('disabled',false);
	}
	else
	{
		element.find("input[type=radio]").attr('disabled',true);
		element.find("input[type=radio]").attr('checked',false);
	}
}

</script>