<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

function getJqxGridDataSource<?= $jqxPrefix;?>(getGridDataUrl, gridIdName, param)
{
  var source = 
  {
      type: "post",
      datatype: "json",
      cache: false,
      id: 'SalePriceId,Id',
      data: param,
      url: getGridDataUrl,
      root:'rows',
      beforeprocessing: function(data)
      {
         //source.data = [];
         source.totalrecords = (data != null)? data[0].total:0;
      },
      filter: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'filter');
      },
      sort: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'sort');
      },
  };
  
  return source;
};

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource<?= $jqxPrefix;?>('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function newSetupPrice<?= $jqxPrefix;?>(id,stockMasterId,itemMasterId)
{
    var param = JSON.parse('{"Id":"'+id+'","StockMasterId":"'+stockMasterId+'","ItemMasterId":"'+itemMasterId+'"}');

    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("PRICE_SETUP")?>',1100,600, '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

function isNoPriceSetup<?= $jqxPrefix;?>(data)
{
    var bool = false;

    var salePriceId = data["SalePriceId"];
    
    if( salePriceId == null || salePriceId == "" || salePriceId == 0 )
    {
        bool = true;
    }

    return bool;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var str = "";
    
    if( typeof params.subItems[0] != "undefined" )
    {
        var record = params.subItems[0];
        var specialPriceId = record["SpecialPriceId"];
        var stockMasterId  = record["Id"];
        var itemMasterId   = record["ItemMasterId"];
        var isHasPriceActive=record["IsHasPriceActive"];

        str = "<?= $this->translate('ITEM_NAME');?> : "+record["Name"];
        if( isHasPriceActive == 0 )
        {
            var bool = isNoPriceSetup<?= $jqxPrefix;?>(record);
            if( bool == true )
            {
                str += "<a href='javascript:void(0);' class='padding-left-10 pcsp-red' onclick=newSetupPrice<?= $jqxPrefix;?>(0,'"+stockMasterId+"','"+itemMasterId+"') ><?= $this->translate('NO_SETUP_PRICE');?></a>";
            }
            else
            {
                str += "<a href='javascript:void(0);' class='padding-left-10 pcsp-red' onclick=newSetupPrice<?= $jqxPrefix;?>(0,'"+stockMasterId+"','"+itemMasterId+"') ><?= $this->translate('NO_ACTIVE_PRICE');?></a>";
            }
        }

        str += "<a href='javascript:void(0);' class='padding-left-10' onclick=newSetupPrice<?= $jqxPrefix;?>(0,'"+stockMasterId+"','"+itemMasterId+"') ><?= $this->translate('NEW_PRICE');?></a>";
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}

var  isActivePrice<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var str = "";
    var isActivePrice = rowdata.IsActivePrice;
    var salePriceId   = rowdata.SalePriceId;
    
    if( salePriceId != null && salePriceId != "" && salePriceId != 0 )
    {
        if( isActivePrice == 1 )
        {
            str = '<i style="color: #0099FF;" class="glyphicon glyphicon-ok"></i>';
        }
    }
    return '<div class="jqx-grid-cell-wrap margin-top-5" style="position: absolute;">' + str +  '</div>';
}

$('#jqxGrid<?= $jqxPrefix;?>').on('rowclick', function (event) 
{
    var index = event.args.rowindex;
    if( index != -1 )
    {
        var record = event.args.row.bounddata;
        var stockMasterId = record.Id;
        var itemMasterId  = record.ItemMasterId;
        var salePriceId = record.SalePriceId;
        if( salePriceId != null && salePriceId != 0 )
            newSetupPrice<?= $jqxPrefix;?>(salePriceId,stockMasterId,itemMasterId);
    }
});

$(document).ready(function () 
{   
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, 
        width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["ItemMasterId"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('PRICE');?>", datafield: 'Price',width: 100
            },
            { 
                text: "<?= $this->translate('SPECIAL_PRICE');?>", datafield: 'SpecialPrice'
            }, 
            { 
                text: "<?= $this->translate('SPECIAL_FROM_DATE');?>", datafield: 'SpecialPriceFromDate'
            },
            { 
                text: "<?= $this->translate('SPECIAL_TO_DATE');?>", datafield: 'SpecialPriceToDate'
            },  
            { 
                text: "<?= $this->translate('ACTIVE_PRICE_FROM_DATE');?>", datafield: 'ActivePriceFromDate'
            },
            { 
                text: "<?= $this->translate('ACTIVE_PRICE_TO_DATE');?>", datafield: 'ActivePriceToDate'
            },  
            { 
                text: "<?= $this->translate('ACTIVE_PRICE');?>",cellsrenderer: isActivePrice<?= $jqxPrefix;?>,sortable: false,enabletooltips: false
            },  
        ]
    }); 
});
</script>