<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SALE_PRICE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysSalePriceList';
    $newAndEditPrefix = '_sysSalePriceNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?php echo $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("SALE_PRICE");?>
        </li>
    </ol>
</section>
<?php

    echo $this->partial('inventory/sale-price/partial/grid-partial.phtml',
            [
                "url" =>    $url,
                "jqxPrefix" => $jqxPrefix,
                "newAndEditPrefix" => $newAndEditPrefix,
            ]
    );
?>
