<?php 
    use PCSPLib\PHPConstant;
    
    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SALE_PRICE_CONTROLLER;
    
    $escaper = new Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysSalePriceNewAndEdit';
    $jqxPre = '_sysSalePriceList';

    $gridIdName = "#jqxGrid".$jqxPre;
    $id = $this->record->Id;

    $jqxGroupPricePrefix = "_sysGroupPriceList";
    $jqxTierPricePrefix  = "_sysTierPriceList";
?>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
    <input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
    <input type="hidden" id="txtStockMasterId<?= $jqxPrefix;?>" name="StockMasterId" value="<?= $this->stockMasterId; ?>" />
    <input type="hidden" id="txtItemMasterId<?= $jqxPrefix;?>" name="ItemMasterId" value="<?= $this->itemMasterId; ?>" />

    <div class="col-md-12 grid-title ">
        <?= $this->translate("GENERAL");?>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("PRICE");?><span class="star-red">*</span></label>
                <div class="col-sm-7 no-padding-right">
                    <input class="form-control input-sm" id="txtPrice<?= $jqxPrefix?>" placeholder="<?= $this->translate('PRICE');?>" type="text" name="Price" value="<?= $this->record->Price;?>">
                </div>
            </div>
        </div>
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("ITEM_DISCOUNT");?></label>
                <div class="col-sm-7 no-padding-right checkbox">
                    <label>
                        <input type="checkbox" value="1" <?= (($this->record->IsItemDiscount == 1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsItemDiscount" id="chbActive<?= $jqxPrefix?>">
                        <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 no-padding">
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("ACTIVE_FROM_DATE");?></label>
                <div class="col-sm-7 no-padding-right">
                    <div id="txtActivePriceFromDate<?= $jqxPrefix;?>" name="ActivePriceFromDate"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("ACTIVE_TO_DATE");?></label>
                <div class="col-sm-7 no-padding-right">
                    <div id="txtActivePriceToDate<?= $jqxPrefix;?>" name="ActivePriceToDate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 grid-title ">
        <?= $this->translate("SPECIAL_PRICE");?>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("PRICE");?></label>
                <div class="col-sm-7 no-padding-right">
                    <input class="form-control input-sm" id="txtSpecialPrice<?= $jqxPrefix?>" placeholder="<?= $this->translate('PRICE');?>" type="text" name="SpecialPrice" value="<?= $this->record->SpecialPrice;?>">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("FROM_DATE");?></label>
                <div class="col-sm-7 no-padding-right">
                    <div id="txtSpecialPriceFromDate<?= $jqxPrefix;?>" name="SpecialPriceFromDate"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5 no-padding-left">
            <div class="form-group">
                <label class="col-sm-5 control-label"><?= $this->translate("TO_DATE");?></label>
                <div class="col-sm-7 no-padding-right">
                    <div id="txtSpecialPriceToDate<?= $jqxPrefix;?>" name="SpecialPriceToDate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-title ">
        <?= $this->translate("GROUP_PRICE");?>
    </div>
    <div class="col-md-12 no-padding">
        <?php 
            echo $this->partial("inventory/sale-price/partial/new-group-price-partial.phtml",
                        [
                            "url" => $url,
                            "jqxPrefix" => $jqxPrefix,
                            "jqxPre" => $jqxGroupPricePrefix,
                            "groupPriceRecord" => $this->groupPriceRecord,
                            "customerGroupRecord" => $this->customerGroupRecord,

                        ]
            );
        ?>
    </div>

    <div class="col-md-12 grid-title ">
        <?= $this->translate("TIER_PRICE");?>
    </div>
    <div class="col-md-12 no-padding">
        <?php 
            echo $this->partial("inventory/sale-price/partial/new-tier-price-partial.phtml",
                [
                    "url" => $url,
                    "jqxPrefix" => $jqxPrefix,
                    "jqxPre" => $jqxTierPricePrefix,
                    "tierPriceRecord" => $this->tierPriceRecord,
                    "customerGroupRecord" => $this->customerGroupRecord,

                ]
            );
        ?>
    </div>
    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
            [
                "url" => $url,
                "jqxPrefix" => $jqxPrefix,
                "gridName"  => $gridIdName,

            ]
        );
    ?>
</form>

<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
    $("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");
    
    $("#chbActive<?= $jqxPrefix?>").prop('checked', true);
}

function isExistGroupPrice<?= $jqxPrefix;?>()
{
    var element =  "#pcspTblGroupPrice<?= $jqxGroupPricePrefix;?> tbody";
    var isHasRecord = isNoRecord<?= $jqxGroupPricePrefix;?>;
    var isExist = false;
    if( isHasRecord == false )
    {
        var index,cId,price,cElement,pElement;
        $(element+" tr").each(function()
        {
            index = $(this).attr("data-index");
            cElement = "#ddlCustomerGroup<?= $jqxGroupPricePrefix;?>"+index;
            pElement = "#txtPrice<?= $jqxGroupPricePrefix;?>"+index;
            cId = $(cElement).val();
            price = $(pElement).val();
            if( cId == 0 || cId == "" )
            {
                $(cElement).addClass("jqx-validator-error-element");
                isExist = true;
            }
            if( price*1 == 0 || price == "" )
            {
                $(pElement).addClass("jqx-validator-error-element");
                isExist = true;
            }

            var specialPriceElement = "#txtSpecialPrice<?= $jqxGroupPricePrefix;?>"+index;
            var specialPriceFromDateElement = "#txtSpecialPriceFromDate<?= $jqxGroupPricePrefix;?>"+index;
            var specialPriceToDateElement = "#txtSpecialPriceToDate<?= $jqxGroupPricePrefix;?>"+index;
            var specialPrice = $(specialPriceElement).val();
            var specialPriceFromDate = $(specialPriceFromDateElement).val();
            var specialPriceToDate = $(specialPriceToDateElement).val();
            if( ( specialPrice*1 != 0 && specialPrice != "") || ( specialPriceFromDate != null && specialPriceFromDate != "" ) || ( specialPriceToDate != null && specialPriceToDate != "" ) )
            {
                $(specialPriceElement).removeClass("jqx-validator-error-element");
                $(specialPriceFromDateElement).removeClass("jqx-validator-error-element");
                $(specialPriceToDateElement).removeClass("jqx-validator-error-element");

                if( specialPrice == 0 || specialPrice == "" )
                {
                    $(specialPriceElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
                if( specialPriceFromDate == null || specialPriceFromDate == "" )
                {
                    $(specialPriceFromDateElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
                if( specialPriceToDate == null || specialPriceToDate == "" )
                {
                    $(specialPriceToDateElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
            }
        });
    }

    if( isExist == false )
    {
        isExist = isExist<?= $jqxGroupPricePrefix;?>;
    }

    return isExist;
}

function isExistTierPrice<?= $jqxPrefix;?>()
{
    var element =  "#pcspTblTierPrice<?= $jqxTierPricePrefix;?> tbody";
    var isHasRecord = isNoRecord<?= $jqxTierPricePrefix;?>;
    var isExist = false;
    if( isHasRecord == false )
    {
        var index,cId,price,cElement,pElement,qty;
        $(element+" tr").each(function()
        {
            index = $(this).attr("data-index");
            cElement = "#ddlCustomerGroup<?= $jqxTierPricePrefix;?>"+index;
            pElement = "#txtPrice<?= $jqxTierPricePrefix;?>"+index;
            qElement = "#txtQty<?= $jqxTierPricePrefix;?>"+index;
            cId = $(cElement).val();
            price = $(pElement).val();
            qty = $(pElement).val();
            if( cId == 0 || cId == "" )
            {
                $(cElement).addClass("jqx-validator-error-element");
                isExist = true;
            }
            if( price*1 == 0 || price == "" )
            {
                $(pElement).addClass("jqx-validator-error-element");
                isExist = true;
            }
            if( qty*1 == 0 || qty == "" )
            {
                $(qElement).addClass("jqx-validator-error-element");
                isExist = true;
            }

            var specialPriceElement = "#txtSpecialPrice<?= $jqxTierPricePrefix;?>"+index;
            var specialPriceFromDateElement = "#txtSpecialPriceFromDate<?= $jqxTierPricePrefix;?>"+index;
            var specialPriceToDateElement = "#txtSpecialPriceToDate<?= $jqxTierPricePrefix;?>"+index;
            var specialPrice = $(specialPriceElement).val();
            var specialPriceFromDate = $(specialPriceFromDateElement).val();
            var specialPriceToDate = $(specialPriceToDateElement).val();
            if( ( specialPrice*1 != 0 && specialPrice != "") || ( specialPriceFromDate != null && specialPriceFromDate != "" ) || ( specialPriceToDate != null && specialPriceToDate != "" ) )
            {
                $(specialPriceElement).removeClass("jqx-validator-error-element");
                $(specialPriceFromDateElement).removeClass("jqx-validator-error-element");
                $(specialPriceToDateElement).removeClass("jqx-validator-error-element");

                if( specialPrice == 0 || specialPrice == "" )
                {
                    $(specialPriceElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
                if( specialPriceFromDate == null || specialPriceFromDate == "" )
                {
                    $(specialPriceFromDateElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
                if( specialPriceToDate == null || specialPriceToDate == "" )
                {
                    $(specialPriceToDateElement).addClass("jqx-validator-error-element");
                    isExist = true;
                }
            }
        });
    }

    if( isExist == false )
    {
        isExist = isExist<?= $jqxGroupPricePrefix;?>;
    }

    return isExist;
}

$(document).ready(function () 
{
    $('#txtActivePriceFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
    $('#txtActivePriceToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
    $('#txtSpecialPriceFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
    $('#txtSpecialPriceToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

    <?php if( !empty( $this->record->ActivePriceFromDate ) ):?>
        $("#txtActivePriceFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $this->record->ActivePriceFromDate;?>");
    <?php endif;?> 

    <?php if( !empty( $this->record->ActivePriceToDate ) ):?>
        $("#txtActivePriceToDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $this->record->ActivePriceToDate;?>");
    <?php endif;?> 

    <?php if( !empty( $this->record->SpecialPriceFromDate ) ):?>
        $("#txtSpecialPriceFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $this->record->SpecialPriceFromDate;?>");
    <?php endif;?> 

    <?php if( !empty( $this->record->SpecialPriceToDate ) ):?>
        $("#txtSpecialPriceToDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $this->record->SpecialPriceToDate;?>");
    <?php endif;?> 

    $("#txtSpecialPrice<?= $jqxPrefix;?>").keyup(function()
    {
        $(this).removeClass("jqx-validator-error-element");
    });

    $("#txtSpecialPriceFromDate<?= $jqxPrefix;?>").change(function()
    {
        $(this).removeClass("jqx-validator-error-element");
    });

    $("#txtSpecialPriceToDate<?= $jqxPrefix;?>").change(function()
    {
        $(this).removeClass("jqx-validator-error-element");
    });

    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtPrice<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
                {
                    var bool = true;
                    
                    var specialPriceElement = "#txtSpecialPrice<?= $jqxPrefix;?>";
                    var specialPriceFromDateElement = "#txtSpecialPriceFromDate<?= $jqxPrefix;?>";
                    var specialPriceToDateElement = "#txtSpecialPriceToDate<?= $jqxPrefix;?>";
                    var specialPrice = $(specialPriceElement).val();
                    var specialPriceFromDate = $(specialPriceFromDateElement).val();
                    var specialPriceToDate = $(specialPriceToDateElement).val();
                    if( ( specialPrice*1 != 0 && specialPrice != "") || ( specialPriceFromDate != null && specialPriceFromDate != "" ) || ( specialPriceToDate != null && specialPriceToDate != "" ) )
                    {
                        $(specialPriceElement).removeClass("jqx-validator-error-element");
                        $(specialPriceFromDateElement).removeClass("jqx-validator-error-element");
                        $(specialPriceToDateElement).removeClass("jqx-validator-error-element");

                        if( specialPrice == 0 || specialPrice == "" )
                        {
                            $(specialPriceElement).addClass("jqx-validator-error-element");
                            bool = false;
                        }
                        if( specialPriceFromDate == null || specialPriceFromDate == "" )
                        {
                            $(specialPriceFromDateElement).addClass("jqx-validator-error-element");
                            bool = false;
                        }
                        if( specialPriceToDate == null || specialPriceToDate == "" )
                        {
                            $(specialPriceToDateElement).addClass("jqx-validator-error-element");
                            bool = false;
                        }
                    }
                    var isExistGroupPrice = !isExistGroupPrice<?= $jqxPrefix;?>();
                    if( bool == true )
                        bool = isExistGroupPrice;

                    var isExistTierPrice = !isExistTierPrice<?= $jqxPrefix;?>();
                    if( bool == true )
                        bool = isExistTierPrice;

                    return bool;
                }
            },
        ]
    });
});
</script>