<?php 
    use PCSPLib\PHPConstant;
    
    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;

    $jqxPre = $this->jqxPre;
?>
<table class="gridtable" width="100%" id="pcspTblGroupPrice<?= $jqxPre;?>">
    <thead>
        <tr>
            <th></th>
            <th><?= $this->translate("CUSTOMER_GROUP");?></th>
            <th><?= $this->translate("PRICE");?></th>
            <th><?= $this->translate("SPECIAL_PRICE");?></th>
            <th><?= $this->translate("SPECIAL_FROM_DATE");?></th>
            <th><?= $this->translate("SPECIAL_TO_DATE");?></th>
            <th><?= $this->translate("NOTE");?></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <div class="pull-left">
                    <a href="javascript:void(0);" title="<?= $this->translate('ADD_MORE');?>" onclick="addMore<?= $jqxPre;?>('');">
                        <i class="glyphicon glyphicon-plus"></i>
                        <?= $this->translate("ADD_MORE");?>
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
var index<?= $jqxPre;?> = 0;
var isExist<?= $jqxPre;?> = false;
var isNoRecord<?= $jqxPre;?> = false;
var customerGroupRecord<?= $jqxPre;?> = <?= json_encode($this->customerGroupRecord);?>;

function removeElementParent<?= $jqxPre;?>(e)
{
    $(e).closest("tr").remove();

    if( $("#pcspTblGroupPrice<?= $jqxPre;?> tbody").children().length == 0 )
    {
        addNoDataToDisplay<?= $jqxPre;?>();
    }
}

function isExistCustomerGroup<?= $jqxPre;?>(rowIndex)
{
    var isExist = false;
    var element = "#pcspTblGroupPrice<?= $jqxPre;?> tbody tr";
    var index,customerGroupId;
    var currentcustomerGroupId = $("#ddlCustomerGroup<?= $jqxPre;?>"+rowIndex).val();
    var nodeElement = "";

    $("#ddlCustomerGroup<?= $jqxPre;?>"+rowIndex).removeClass("jqx-validator-error-element");

    $(element).each(function()
    {
        index = $(this).attr("data-index");
        if( index*1 != rowIndex*1 )
        {
            nodeElement = "#ddlCustomerGroup<?= $jqxPre;?>"+index;
            customerGroupId = $(nodeElement).val();
            if( currentcustomerGroupId*1 == customerGroupId*1 )
            {
                isExist = true;
                $("#ddlCustomerGroup<?= $jqxPre;?>"+rowIndex).addClass("jqx-validator-error-element");
            }
            else
            {
                $(nodeElement).removeClass("jqx-validator-error-element");
            }
        }
    });

    isExist<?= $jqxPre;?> = isExist;

    return isExist;
}

function getStrNoDataToDisplay<?= $jqxPre;?>()
{
    var str = '<tr class="no-data-to-display<?= $jqxPre;?>">';
            str += '<td colspan="7">';
                str += "<?= $this->translate('NO_DATA_TO_DISPLAY');?>";
            str += '</td>';
        str+= '</tr>';

    return str;
}

function changeValue<?= $jqxPre;?>(index,type)
{
    if( type*1 == 1 )
    {
        $("#txtPrice<?= $jqxPre;?>"+index).removeClass("jqx-validator-error-element");
    }
    else
    {
        $("#txtSpecialPrice<?= $jqxPre;?>"+index).removeClass("jqx-validator-error-element");
        $("#txtSpecialPriceFromDate<?= $jqxPre;?>"+index).removeClass("jqx-validator-error-element");
        $("#txtSpecialPriceToDate<?= $jqxPre;?>"+index).removeClass("jqx-validator-error-element");
    }
}

function getStr<?= $jqxPre;?>(index,data)
{
    var submitIndex = "@$@"+index,cId = "",price = "",specialPrice = "",note = "";
    if( data != "" )
    {
        cId = data["CustomerGroupId"];
        price = data["Price"];
        specialPrice = data["SpecialPrice"];
        note = data["Note"];
    }
    var str  = '<tr data-index="'+index+'">';

            str += '<td>';
                str += '<p style="color:red;widht: 5px;" onclick=removeElementParent<?= $jqxPre;?>(this) class="cursor-pointer align-center pccsp-btn-action-remove">X</p>';
            str += '</td>';

            str += '<td>';
                str += '<div id="ddlCustomerGroup<?= $jqxPre;?>'+index+'" onchange=isExistCustomerGroup<?= $jqxPre;?>("'+index+'") name="GroupPriceRecord['+submitIndex+'][CustomerGroupId]"></div>';
                str += '<input type="hidden" id="txtCustomerGroupId<?= $jqxPre;?>'+index+'" value="'+cId+'"/>'
            str += '</td>';

            str += '<td>';
                str += '<input type="text" class="form-control input-sm" name="GroupPriceRecord['+submitIndex+'][Price]" value="'+price+'" id="txtPrice<?= $jqxPre;?>'+index+'" onkeyup="changeValue<?= $jqxPre;?>('+index+',1);" />';
            str += '</td>';

            str += '<td>';
                str += '<input type="text" class="form-control input-sm" name="GroupPriceRecord['+submitIndex+'][SpecialPrice]" value="'+specialPrice+'" id="txtSpecialPrice<?= $jqxPre;?>'+index+'" onkeyup="changeValue<?= $jqxPre;?>('+index+',0);"/>';
            str += '</td>';

            str += '<td>';
                str += '<div id="txtSpecialPriceFromDate<?= $jqxPre;?>'+index+'" name="GroupPriceRecord['+submitIndex+'][SpecialPriceFromDate]" onchange="changeValue<?= $jqxPre;?>('+index+',0);"></div>';
            str += '</td>';

            str += '<td>';
                str += '<div id="txtSpecialPriceToDate<?= $jqxPre;?>'+index+'" name="GroupPriceRecord['+submitIndex+'][SpecialPriceToDate]" onchange="changeValue<?= $jqxPre;?>('+index+',0);"></div>';
            str += '</td>';

            str += '<td class="text-center">';
                str += '<textarea class="form-control" style="height: 30px;" name="GroupPriceRecord['+submitIndex+'][Note]">'+note+'</textarea>';
            str += '</td>';

        str += '</tr>';

    return str;
}

function addMore<?= $jqxPre;?>(data)
{
    var index = index<?= $jqxPre;?>;
    var element = "#pcspTblGroupPrice<?= $jqxPre;?> tbody";
    var str = getStr<?= $jqxPre;?>(index,data);

    if( isNoRecord<?= $jqxPre;?> == true )
    {
        isNoRecord<?= $jqxPre;?> = false;
        $(element).html("");
    }

    $(element).append(str);

    initDropDownList(jqxTheme,150,250, "#ddlCustomerGroup<?= $jqxPre;?>"+index,customerGroupRecord<?= $jqxPre;?>, 'Name','Id', true, '', '0', "#txtCustomerGroupId<?= $jqxPre;?>"+index);

    $('#txtSpecialPriceFromDate<?= $jqxPre;?>'+index).jqxDateTimeInput({theme: jqxTheme, width: 150, height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
    $('#txtSpecialPriceToDate<?= $jqxPre;?>'+index).jqxDateTimeInput({theme: jqxTheme, width: 150, height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

    if( data != "" )
    {
        var specialPriceFromDate = data["SpecialPriceFromDate"];
        var specialPriceToDate = data["SpecialPriceToDate"];

        if( specialPriceFromDate != null && specialPriceFromDate != "" )
        {
            $("#txtSpecialPriceFromDate<?= $jqxPre;?>"+index).jqxDateTimeInput("setDate",specialPriceFromDate);
        }
        if( specialPriceToDate != null && specialPriceToDate != "" )
        {
            $("#txtSpecialPriceToDate<?= $jqxPre;?>"+index).jqxDateTimeInput("setDate",specialPriceToDate);
        }
    }

    index<?= $jqxPre;?> ++;
}

function addNoDataToDisplay<?= $jqxPre;?>()
{
    var str = getStrNoDataToDisplay<?= $jqxPre;?>();
    var element = "#pcspTblGroupPrice<?= $jqxPre;?> tbody";

    index<?= $jqxPre;?> = 0;
    isNoRecord<?= $jqxPre;?> = true;

    $(element).append(str);
}

function initial<?= $jqxPre;?>(record)
{
    if( record == "" )
    {
        addNoDataToDisplay<?= $jqxPre;?>();
    }
    else
    {
        $.each(record,function(key,value)
        {
            addMore<?= $jqxPre;?>(value);
        });
    }
}

$(document).ready(function()
{
    <?php if( count( $this->groupPriceRecord ) ):?>
        initial<?= $jqxPre;?>(<?= json_encode($this->groupPriceRecord);?>);
    <?php else:?>
        initial<?= $jqxPre;?>('');
    <?php endif;?>
});

</script>