<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_TYPE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysSaleTypeList';
    $newAndEditPrefix = '_sysSaleTypeNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?php echo $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("SALE_TYPE");?>
        </li>
    </ol>
</section>

<?php
    echo $this->partial('application/basepartial/action-partial.phtml',
        [
            "url"           =>  $url,
            "jqxPrefix"     =>  $jqxPrefix,
            "newAndEditPrefix"  =>  $newAndEditPrefix,
            'gridIdName'        =>  "#jqxGrid".$jqxPrefix,
            "gridColumnRecord"  => $this->gridColumnRecord,
        ]
    );

    echo $this->partial('application/basepartial/list-partial.phtml',
            [
                "url" =>    $url,
                "jqxPrefix" => $jqxPrefix,
                "newAndEditPrefix" => $newAndEditPrefix,
            ]
    );
?>