<?php 
	use PCSPLib\PHPConstant;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemReceiveView';
?>
<div class="form-horizontal">
	<div class="col-md-12 grid-title no-padding" style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("ITEM_RECEIVE");?>
	</div>

	<div class="col-md-6 padding-left-10 padding-bottom-10">
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("SUPPLIER");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= $this->groupRecord->SupplierName;?>
        </label>
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("RECEIVE_DATE");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($this->groupRecord->ReceivedDate));?>
        </label>
        <label class="col-md-4 control-label no-padding-left" style="text-align:left;">
        	<?= $this->translate("NOTE");?>
        </label>
        <label class="col-md-8 control-label" style="text-align:left;">
        	<?= nl2br($this->groupRecord->Note);?>
        </label>
	</div>
	<div class="col-md-12 grid-title no-padding" style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("RECEIVE_DETAIL");?>
	</div>
    <div>
    	<table class="gridtable margin-bottom-10" width="100%">
    		<thead>
    			<tr>
    				<th><?= $this->translate("NO");?></th>
    				<th><?= $this->translate("CATEGORY");?></th>
    				<th><?= $this->translate("ITEM_NAME");?></th>
    				<th><?= $this->translate("RECEIVE_UNIT");?></th>
    				<th><?= $this->translate("RECEIVE_QTY");?></th>
    				<th><?= $this->translate("RECEIVE_PRICE");?></th>
    				<th><?= $this->translate("NOTE");?></th>
    			</tr>
    		</thead>
    		<tbody>

		    <?php foreach( $this->record as $key => $value ):?>
		    	<tr>
		    		<td class="text-center"><?= $key+1;?></td>
		    		<td><?= $value["CategoryName"];?></td>
		    		<td id="pcspTdItemReceive<?= $jqxPrefix.$key;?>">
		    			<?= $value["Name"];?>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedUnitMeasurement"];?>
		    			<small>(<?= $value["ReceivedUnitMeasurementPrefix"];?>)</small>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedQty"].$value["ReceivedUnitMeasurement"];?>
		    			<small>(<?= $value["ReceivedQtyPrefix"];?>)</small>
		    		</td>
		    		<td>
		    			<?= $value["ReceivedUnitPrice"];?>
		    			<small>(<?= $value["ReceivedUnitPricePrefix"];?>)</small>
		    		</td>
		    		<td><?= $value["Note"];?></td>
		    	</tr>
		    <?php endforeach;?>
		    </tbody>
		    <tfoot>
		    	<tr>
		    		<th colspan="8">&nbsp;</th>
		    	</tr>
		    </tfoot>
		</table>
    </div>
</div>
<style type="text/css">
.pcsp-item-detail
{
	background-color: #fbfbfb4d !important;
	border-top: 0 !important;
}
.pcsp-td-item-view
{
	border-bottom: none !important;
	padding-bottom: 1px solid #fbfbfb4d !important;
	background-color: #fbfbfb4d !important;
}
</style>