<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
    
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?php echo $jqxPrefix;?> = "<?php echo $newAndEditPrefix;?>";

var dataSource<?php echo $jqxPrefix;?> = getJqxGridDataSource('<?php echo $url;?>/getRecordsForGrid', "#jqxGrid<?php echo $jqxPrefix;?>", {'ValueType':1});

var dataAdapter<?php echo $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?php echo $jqxPrefix;?>);

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var record = params.subItems[0];
    var str = record['DiscountTypeName'];

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}
var defaultRecord = function (row, datafield, value) 
{
  var str = "<div style='position:relative;text-align:center;top:30%;'>";

    str += value==0?'':'<i style="color: #0099FF;" class="glyphicon glyphicon-ok" title=""></i>'

  str += "</div>";

    return str;
};
$(document).ready(function () 
{
	$("#jqxGrid<?php echo $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?php echo $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        selectionmode: 'multiplerows',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?php echo PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?php echo PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
		virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["DiscountTypeName"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?php echo $this->translate('NAME');?>", datafield: 'Name', width: 180, hideable: false, hidden: false
            },
            { 
                text: "<?php echo $this->translate('VALUE');?>", datafield: 'Value', width: 150
            },
            {
				text: "<?php echo $this->translate('NOTE');?>", datafield: 'Note'
            },
            { 
                text: "<?php echo $this->translate('Default');?>", datafield: 'IsDefault', cellsrenderer: defaultRecord,align:'center', width:120
            },
			{ 
                text: "<?php echo $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120
            },
        ]
    }); 
	
});

</script>