<?php 
    use PCSPLib\PHPConstant;
    use Zend\Session\Container;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::USER_CONTROLLER;
    $jqxPrefix = '_userList';
    $newAndEditPrefix = '_userNewAndEdit';
    $advanceSearchPrefix = '_userAdvanceSearch';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('user');?>">
                <?= $this->translate('DASHBOARD');?>
            </a>
        </li>
        <li>
            <a href="<?= $this->url('user');?>/user/list">
                <?= $this->translate('USER');?>
            </a>
        </li>
        <li>
            <?= $this->translate('PROFILE');?>
        </li>
    </ol>
</section>

<section class="content no-padding-top">
    <div class="col-md-12 no-padding">
        <div style="cursor: move;" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="pull-left header">
                    <img id="picture<?= $jqxPrefix;?>"  style="width: 30px;height: 30px;margin-top: -9px;" src="<?php if(empty($this->record->Image))echo $this->basepath().'/'.PHPConstant::USER_IMAGE_BLANK;else echo $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER.'/'.PHPConstant::USER_PHOTO_FOLDER.'/'.$this->record->Image; ?>" class="img-circle"/> 
                    <?= $this->translate("PROFILE");?>
                </li>
            </ul>
            <div class="tab-content " style="min-height: 250px;">
                <div class="col-sm-7">
                    <label class="col-sm-2 control-label title-label input-sm"><?= $this->translate("NAME");?></label>
                    <label class="col-sm-1 control-label input-sm">:</label>
                    <label class="col-sm-9 control-label input-sm"><?= $record->LastName." ".$record->FirstName;?></label>

                    <label class="col-sm-2 control-label title-label input-sm"><?= $this->translate("EMAIL");?></label>
                    <label class="col-sm-1 control-label input-sm">:</label>
                    <label class="col-sm-9 control-label input-sm"><?= $record->Email;?></label>

                    <label class="col-sm-2 control-label title-label input-sm"><?= $this->translate("TEL");?></label>
                    <label class="col-sm-1 control-label input-sm">:</label>
                    <label class="col-sm-9 control-label input-sm"><?= $record->Tel;?></label>

                    <label class="col-sm-2 control-label title-label input-sm"><?= $this->translate("CREATED_AT");?></label>
                    <label class="col-sm-1 control-label input-sm">:</label>
                    <label class="col-sm-9 control-label input-sm"><?= date(PHPConstant::FIX_DATE_FORMAT, strtotime($record->AddDate));?></label>

                    <label class="col-sm-2 control-label title-label input-sm"><?= $this->translate("UPDATED_AT");?></label>
                    <label class="col-sm-1 control-label input-sm">:</label>
                    <label class="col-sm-9 control-label input-sm"><?= date(PHPConstant::FIX_DATE_FORMAT, strtotime($record->ModifyDate));?></label>

                </div>
                <div class="col-sm-5">
                    <img id="picture<?= $jqxPrefix;?>"  style="width: 140px;height: 150px;" src="<?php if(empty($this->record->Image))echo $this->basepath().'/'.PHPConstant::USER_IMAGE_BLANK;else echo $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER.'/'.PHPConstant::USER_PHOTO_FOLDER.'/'.$this->record->Image; ?>" class="img-circle pull-right"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding-left">
        <div style="cursor: move;" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="pull-left header">
                    <img id="picture<?= $jqxPrefix;?>"  style="width: 30px;height: 30px;margin-top: -9px;" src="<?php if(empty($this->record->Image))echo $this->basepath().'/'.PHPConstant::USER_IMAGE_BLANK;else echo $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER.'/'.PHPConstant::USER_PHOTO_FOLDER.'/'.$this->record->Image; ?>" class="img-circle"/> 
                    <?= $this->translate("CHANGE_PROFILE");?>
                </li>
            </ul>
            <div class="tab-content" style="min-height: 250px;">
                <form class="form-horizontal" id="winFormChangeProfile<?= $jqxPrefix;?>" name="winFormChangeProfile<?= $jqxPrefix;?>" method="post">
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("LAST_NAME");?><span class="star-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm " placeholder="<?= $this->translate("LAST_NAME");?>" name="LastName" id="txtLastName<?= $jqxPrefix;?>" value="<?= $this->record->LastName;?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("FIRST_NAME");?><span class="star-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm " placeholder="<?= $this->translate("FIRST_NAME");?>" name="FirstName" id="txtFirstName<?= $jqxPrefix;?>" value="<?= $this->record->FirstName;?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("SEX");?></label>
                        <div class="col-sm-8 radio no-padding-left">
                            <label>
                                <input type="radio" value="1"  name="SexId" checked="checked">
                                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
                                <span><?= $this->translate("MALE");?></span>
                            </label>
                            <label>
                                <input type="radio" value="2"  name="SexId" <?= ($this->record->SexId == 2)?" checked='checked' ":"";?>>
                                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
                                <span><?= $this->translate("FEMALE");?></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("DOB");?></label>
                        <div class="col-sm-8">
                            <div id="txtDOB<?= $newAndEditPrefix;?>" name="DOB"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("TEL");?></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm " placeholder="<?= $this->translate("TEL");?>" name="Tel" id="txtTel<?= $jqxPrefix;?>" value="<?= $this->record->Tel;?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("EMAIL");?></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm " placeholder="<?= $this->translate("EMAIL");?>" name="Email" id="txtEmail<?= $jqxPrefix;?>" value="<?= $this->record->Email;?>">
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <div class="btn-group btn-icon-state pull-right">
                    <a  href="javascript:;" class="btn btn-default btn-sm icon-active" id="butSaveChangeProfile<?= $jqxPrefix;?>"> 
                        <i class="glyphicon glyphicon-saved"></i>
                        <?= $this->translate("SAVE_CHANGE");?>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding-right">
        <div style="cursor: move;" class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="pull-left header icon-active">
                    <i class="glyphicon glyphicon-lock "></i>
                    <?= $this->translate("CHANGE_PASSWORD");?>
                </li>
            </ul>
            <div class="tab-content" style="min-height: 250px;">

                <form class="form-horizontal" id="winFormChangePassword<?= $jqxPrefix;?>" name="winFormChangePassword<?= $jqxPrefix;?>" method="post">
                    <div class="form-group" style="margin-top: 60px;">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("CURRENT_PASSWORD");?><span class="star-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control input-sm " placeholder="<?= $this->translate("CURRENT_PASSWORD");?>" id="txtCurrentPassword<?= $jqxPrefix;?>" name="CurrentPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("NEW_PASSWORD");?><span class="star-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control input-sm " placeholder="<?= $this->translate("NEW_PASSWORD");?>" name="NewPassword" id="txtNewPassword<?= $jqxPrefix;?>">
                            <span id="msgCheckNewPassword<?= $jqxPrefix;?>" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label input-sm"><?= $this->translate("CONFIRM_PASSWORD");?><span class="star-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control input-sm " placeholder="<?= $this->translate("CONFIRM_PASSWORD");?>" id="txtConfirmPassword<?= $jqxPrefix;?>">
                            <span id="msgCheckConfirmPassword<?= $jqxPrefix;?>" style="color:red;"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <div class="btn-group btn-icon-state pull-right">
                    <a  href="javascript:;" class="btn btn-default btn-sm icon-active " id="butSaveChangePassword<?= $jqxPrefix;?>"> 
                        <i class="glyphicon glyphicon-saved"></i>
                        <?= $this->translate("SAVE_CHANGE");?>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

<script type="text/javascript">

$(document).ready(function()
{
    $('#txtDOB<?= $newAndEditPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', readonly: true, formatString: "d-MMM-yyyy", value: null});
    <?php if($this->record->DOB != null):?>
        $("#txtDOB<?= $newAndEditPrefix;?>").jqxDateTimeInput('setDate', new Date("<?= $this->record->DOB;?>"));
    <?php endif;?>

    $('#winFormChangeProfile<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtFirstName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtLastName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required'
            }
        ]
    });

    $('#winFormChangePassword<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtCurrentPassword<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtNewPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function()
                {
                    var password = $("#txtNewPassword<?= $jqxPrefix;?>").val();
                    var confirmPassword = $("#txtConfirmPassword<?= $jqxPrefix;?>").val();
                    var bool = true;
                    var msg = "";

                    if( confirmPassword != "")
                    {
                        if( password != confirmPassword )
                        {
                            msg = "<?php echo $this->translate('PASSWORD_NOT_MATCH');?>";
                        }
                    }
                    if( password == "" )bool = false;
                    
                    $("#msgCheckConfirmPassword<?= $jqxPrefix;?>").html(msg);

                    return bool;
                }
            },
            {
                input: '#txtConfirmPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function()
                {
                    var password = $("#txtNewPassword<?= $jqxPrefix;?>").val();
                    var confirmPassword = $("#txtConfirmPassword<?= $jqxPrefix;?>").val();
                    var bool = true;
                    var msg = "";

                    if( password != confirmPassword )
                    {
                        msg = "<?php echo $this->translate('PASSWORD_NOT_MATCH');?>";
                        bool = false;
                    }
                    if( confirmPassword == "" ) bool = false;

                    $("#msgCheckConfirmPassword<?= $jqxPrefix;?>").html(msg);

                    return bool;
                }
            }
        ]
    });

    $("#butSaveChangeProfile<?= $jqxPrefix;?>").click(function()
    {
        saveData('<?= $jqxPrefix;?>', '', '', '<?= $url."/saveChangeProfile";?>', "" , 1, '#winFormChangeProfile<?= $jqxPrefix;?>', '', false);
    });

    $("#butSaveChangePassword<?= $jqxPrefix;?>").click(function()
    {
        saveData('<?= $jqxPrefix;?>', '', '', '<?= $url."/saveChangePassword";?>', "" , 1, '#winFormChangePassword<?= $jqxPrefix;?>', '', false);
    });

    $(document).ajaxComplete(function(event, xhr, settings) 
    {
        if(settings.url == "<?php echo $url;?>/saveChangeProfile") 
        {
            if(xhr.responseJSON != null)
            {
                window.location.reload();
            }
        }
    });
});
</script>