<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_BROKEN_REASON_CONTROLLER;
    $jqxPrefix = '_sysItemBrokenReasonList';
    $newAndEditPrefix = '_sysItemBrokenReasonNewAndEdit';
    
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?php echo $this->url('inventory');?>">
            <?php echo $this->translate('DASHBOARD');?></a>
        </li>
        <li><?php echo $this->translate('Product Borken Reason');?></li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#item-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("List All");?>
                </a>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="item-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('application/basepartial/filter-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                            ]
                    );
                    
                    echo $this->partial('application/basepartial/action-partial.phtml',
                        [
                            "url"           =>  $url,
                            "jqxPrefix"     =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  $newAndEditPrefix,
                            'gridIdName'        =>  "#jqxGrid".$jqxPrefix,
                            "gridColumnRecord"  => $this->gridColumnRecord,
                        ]
                    );

                    echo $this->partial('application/basepartial/list-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -50;

</script>