<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::DISCOUNT_CONTROLLER;
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Item discount");?>
        </li>
    </ol>
</section>

<section class="respContent padding-left-10 padding-right-10">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group checkbox">
		        <div class="padding-top-5">
		            <label>
		                <input type="checkbox" value="1" name="Monday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Monday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="2" name="Tuesday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Tuesday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="3" name="Wednesday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Wednesday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="4" name="Thursday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Thursday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="5" name="Friday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Friday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="6" name="Saturday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Saturday
		            </label>
		        </div>
		        <div class="padding-top-10">
		            <label>
		                <input type="checkbox" value="7" name="Sunday">
		                <span class="circle">
		                	<i class="circle-icon glyphicon glyphicon-ok"></i>
		                </span>
		                Sunday
		            </label>
		        </div>
		    </div>
		</div>
	</div>
</div>
</section>

<script type="text/javascript">

$(document).ready(function()
{
	$.each(<?= json_encode( $this->record );?>,function(key,value)
	{
		$("input[type=checkbox][value='"+value+"']").prop("checked",true);
	});

	$("input[type=checkbox]").change(function()
	{
		var checked = $(this).is(":checked");
		var value = $(this).val();

		if( checked == true ) checked = 1;
		else checked = 0;

		var param = "Value="+value+"&Checked="+checked;

		$.ajax
		({
	        type: 'post',
	        url: "<?= $url;?>/change-item",
	        data: param,
	        beforeSend: function()
	        {
	         	pageLoading();
	        },
	        success: function (data) 
	        {
	          	closePageLoading();

	            
	        },
	        error: function (errs) 
	        {
	          	closePageLoading();
	          	showMessage('Message','Sorry this page is currenly not available. Please contact to administrator to check.','270','120');
	        }
	    });
	});
});

</script>