<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::FORMAT_CONTROLLER;

    $jqxPrefix = '_sysIdNoFormatList';
    $newAndEditPrefix = '_sysIdNoFormatNewAndEdit';
?>

<script type="text/javascript" src="<?= $this->basePath().'/plugin/jquery/jquery-ui.js';?>"></script>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li class="">
            <a href="<?= $this->url('system-setting');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li class="active"> 
            <?= $this->translate("FORMAT");?>
        </li>
    </ol>
</section>
<section class="content">
    <div class="panel panel-success">
        <div class="panel-body">
            <div class="btn-group btn-icon-state margin-bottom-5" id="btnAction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);" class="btn btn-default btn-sm icon-active" id="butNew<?= $jqxPrefix;?>">
                    <i class="glyphicon glyphicon-plus" title="<?= $this->translate('NEW');?>"></i> 
                    <?= $this->translate('NEW');?>
                </a>
                <?php 
                    $disabled = " disabled ";
                    if(count($this->record))$disabled = "icon-active";
                ?>
                <a href="javascript:void(0);" class="btn btn-default btn-sm <?= $disabled;?>" onclick="edit<?= $jqxPrefix;?>(this);">
                    <i class="glyphicon glyphicon-edit"></i>
                    <?= $this->translate("EDIT");?>
                </a>
            </div>

            <form id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
                <table id="tblFormat<?= $jqxPrefix;?>" class="gridtable" width="100%" id="tblFormat<?= $jqxPrefix;?>">
                    <body>
                        <?php $isHasRecord = false;?>
                        <?php foreach( $this->record as $key => $value ):$isHasRecord = true;?>
                            <tr id="trElement<?= $jqxPrefix.$key;?>" class="cursor-move">
                                <td>
                                    <input type="hidden" class="pcsp-order-num" name="Record[][OrderNum]" value="<?= $value->OrderNum;?>">
                                    <input type="hidden" name="Record[][Id]" value="<?= $value->Id;?>">
                                    <input type="hidden" name="Record[][FormatType]" value="<?= $value->FormatType;?>">
                                    <input type="hidden" name="Record[][Identify]" value="<?= $value->Identify;?>">
                                    <?php if($value->FormatType == 1):?>
                                        <p style="font-size: 11px;margin: 0 0 5px;"><?= $this->translate("TEXT");?></p>
                                        <input type="text" name="Record[][Text]" class="form-control input-sm input-200" value="<?= $value->Text;?>" readonly="readonly"  onfocus="changeBorder<?= $jqxPrefix;?>(this);">
                                    <?php elseif($value->FormatType == 2):?>
                                        <div class="col-sm-6 no-padding">
                                            <p style="font-size: 11px;margin: 0 0 5px;"><?= $this->translate("DIGIT");?></p>
                                            <input type="text" style="margin-top: -5px;" name="Record[][Digit]" class="form-control input-sm" value="<?= $value->Digit;?>" readonly="readonly" onkeypress="return isNumberKey(event)"  onfocus="changeBorder<?= $jqxPrefix;?>(this);">
                                        </div>
                                        <div class="col-sm-6 ">
                                            <p style="font-size: 11px;margin: 0 0 5px;"><?= $this->translate("START_NUM");?></p>
                                            <input type="text" style="margin-top: -5px;" name="Record[][StartNum]" class="form-control input-sm " value="<?= $value->StartNum;?>" readonly="readonly" onkeypress="return isNumberKey(event)"  onfocus="changeBorder<?= $jqxPrefix;?>(this);">
                                        </div>
                                    <?php else:?>
                                        <p style="font-size: 11px;margin: 0 0 5px;">
                                            <?= $this->translate("DATE_FORMAT");?>
                                        </p>
                                        <div id="ddlDateFormat<?= $jqxPrefix.$key;?>" name="Record[][DateFormat]" class="DateFormat"></div>
                                        <input type="hidden" id="txtDateFormat<?= $jqxPrefix;?>" value="<?= $value->DateFormat;?>">
                                        <script type="text/javascript">
                                            $(document).ready(function()
                                            {
                                                initDropDownList(jqxTheme, 250, 250, "#ddlDateFormat<?= $jqxPrefix.$key; ?>", <?= json_encode($this->fixDateFormat);?>, 'Name', 'Id', true, '', '0', "#txtDateFormat<?= $jqxPrefix; ?>");
                                                $("#ddlDateFormat<?= $jqxPrefix.$key;?>").jqxDropDownList({disabled:true});
                                            });
                                        </script>   
                                    <?php endif;?>
                                </td>
                                <td class="text-center">
                                    <p class="red cursor-pointer" onclick="removeElement<?= $jqxPrefix;?>('#trElement<?= $jqxPrefix.$key;?>',<?= $value->Id;?>);">X</p>
                                </td>
                            </tr>
                        <?php endforeach;?>
                        <?php if(!$isHasRecord):?>
                            <tr>
                                <td colspan="4">
                                    <?= $this->translate("NO_DATA_TO_DISPLAY");?>
                                </td>
                            </tr>
                        <?php endif;?>
                    </body>
                </table>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";
var removeElementId<?= $jqxPrefix;?> = '';

function changeBorder<?= $jqxPrefix;?>(act)
{
    $(act).removeClass("jqx-validator-error-element");
}

function validForm<?= $jqxPrefix;?>()
{
    var isValid = true;
    $("#tblFormat<?= $jqxPrefix;?> tbody tr").each(function()
    {
        var formControl = $(this).find("input[type='text']");
        $(formControl).each(function()
        {
            var itemVal = $(this).val();
            $(this).removeClass("jqx-validator-error-element");
            if(itemVal == "")
            {
                $(this).addClass("jqx-validator-error-element");
                isValid = false;
            }
        });
    });

    return isValid;
}

function saveRecord<?= $jqxPrefix;?>(bool)
{
    if(bool == false)
    {
        var isValid = validForm<?= $jqxPrefix;?>();
        if(isValid == false)
            return false;
    }
    var json = ($("#winForm<?= $jqxPrefix;?>").serializeJSON());
    var data = $.param(json);
    var url = "<?= $url;?>/saveRecord"
    $.ajax
    ({
        type: 'post',
        dataType: 'json',
        url: url,
        data: data,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();
        },
        error: function (errs) 
        {
            closePageLoading();
            showMessage('Error','Error Save Data','270','120');
        }
    });
}

function removeElement<?= $jqxPrefix;?>(elementId, id)
{
    var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_DELETE')?>");
    if(isOk)
    {   
        removeElementId<?= $jqxPrefix;?> = elementId;
        var listId = [];
        listId.push(id);
        deleteGridRow(listId, '', 1, '<?= $url;?>/deleteMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DELETE_DATA')?>');
    }
}

function getStrSaveButton<?= $jqxPrefix;?>()
{
    var str = "<i class='glyphicon glyphicon-floppy-save'></i>&nbsp;<?= $this->translate('SAVE');?>";

    return str;
}

function changeButton<?= $jqxPrefix;?>(act)
{
    var str = getStrSaveButton<?= $jqxPrefix;?>();
    $(act).append(str);
}

function changeEven<?= $jqxPrefix;?>(act)
{
    $(act).attr('onclick', 'saveRecord<?= $jqxPrefix;?>(false)');
}

function enableAll<?= $jqxPrefix;?>()
{
    var tblId = "#tblFormat<?= $jqxPrefix;?>";
    $(tblId+" tbody tr").each(function()
    {
        var element = $(this).find('input[type="text"]');
        $(element).each(function()
        {
            $(this).prop("readonly", false);
        });
        element = $(this).find(".DateFormat");
        if(element.length)
        {
            $(element).jqxDropDownList({disabled:false});
        }
    });
}

function resetNoNumber<?= $jqxPrefix;?>()
{
    var num = 1;
    $("#tblFormat<?= $jqxPrefix;?> tbody tr").each(function()
    {
        $(this).children('td').eq(0).text(num);
        num ++;
    });
}

function edit<?= $jqxPrefix;?>(act)
{
    $(act).html("");
    changeButton<?= $jqxPrefix;?>(act);
    changeEven<?= $jqxPrefix;?>(act);
    enableAll<?= $jqxPrefix;?>();
}

function getStrNoDataToDisplay<?= $jqxPrefix;?>()
{
    var str = "<tr><td colspan='4'><?= $this->translate('NO_DATA_TO_DISPLAY');?></td></tr>";

    return str;
}

function reDisplay<?= $jqxPrefix;?>()
{
    var isHasRecord =  false;
    $("#tblFormat<?= $jqxPrefix;?> tbody tr").each(function()
    {
        isHasRecord = true;
        return isHasRecord;
    });
    if(isHasRecord ==  false)
    {
        var str = getStrNoDataToDisplay<?= $jqxPrefix;?>();
        $("#tblFormat<?= $jqxPrefix;?> tbody").append(str);
        $("#btnAction<?= $jqxPrefix;?>").remove();
        $("#tblFormat<?= $jqxPrefix;?> tfoot tr th").append("&nbsp;");
    }
}

function preview<?= $jqxPrefix;?>()
{
    var param = JSON.parse('{"isPopup":1,"Identify":<?= $this->identify;?>}');
    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("PREVIEW")?>',400, 150, '<?= $url;?>/preview', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

$(document).ready(function()
{
    var fixHelper<?= $jqxPrefix;?> = function(e, ui) 
    {
        ui.children().each(function() {
            $(this).width($(this).width());
        });

        return ui;
    };

    $("#tblFormat<?= $jqxPrefix;?> tbody").sortable
    ({
        helper: fixHelper<?= $jqxPrefix;?>,
        update: function( event, ui ) 
        {
            var orderNum = 0;
            $("#tblFormat<?= $jqxPrefix;?> tbody tr").each(function()
            {
                $(this).find("td input[type=hidden]:eq(0)").val(orderNum);
                orderNum ++;
            });
            saveRecord<?= $jqxPrefix;?>(true);
        }
    }).disableSelection();

    $("#butNew<?= $jqxPrefix;?>").click(function()
    {
        var param = JSON.parse('{"isPopup":1,"Identify":<?= $this->identify;?>}');
        addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("NEW")?>',500, 200, '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });

    $(document).ajaxComplete(function(event, xhr, settings) 
    {
        var url = settings.url;
        if( url === "<?= $url;?>/saveRecord")
        {
            if(xhr.responseJSON != null && xhr.responseJSON.length == 0)
            {
                pageLoading();
                window.location.reload();
            }
        }
        else if(url === "<?= $url;?>/deleteMultipleRecords")
        {
            // if(removeElementId<?= $jqxPrefix;?> != "")
            //     $(removeElementId<?= $jqxPrefix;?>).remove();
            // removeElementId<?= $jqxPrefix;?> = "";
            // resetNoNumber<?= $jqxPrefix;?>();
            // reDisplay<?= $jqxPrefix;?>();
            pageLoading();
            window.location.reload();
        }
    });
});
</script>