<?php 
    use PCSPLib\PHPConstant;
    $url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::FORMAT_CONTROLLER;
    $escaper = new Zend\Escaper\Escaper('utf-8');
    
    $jqxPrefix = '_sysIdNoFormatNewAndEdit';
?>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
    <input type="hidden" name="Identify" value="<?= $this->identify;?>">
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">
                <?= $this->translate('TYPE');?>
                <span class="star-red">*</span>
            </label>
        </div>
        <div class="col-sm-8 radio no-padding-left no-padding-right">
            <label class="no-padding-left">
                <input type="radio" value="2" name="FormatType" checked="checked">
                    <span class="circle">
                    <i class="circle-icon glyphicon glyphicon-ok"></i>
                </span>
                <?= $this->translate("DIGIT");?>
            </label>
            <label class="no-padding-left">
                <input type="radio" value="1" name="FormatType">
                    <span class="circle">
                    <i class="circle-icon glyphicon glyphicon-ok"></i>
                </span>
                <?= $this->translate("TEXT");?>
            </label>
            <label class="no-padding-left">
                <input type="radio" value="3" name="FormatType">
                    <span class="circle">
                    <i class="circle-icon glyphicon glyphicon-ok"></i>
                </span>
                <?= $this->translate("DATE");?>
            </label>
        </div>
    </div>
    <div id="digit<?= $jqxPrefix;?>">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label">
                    <?= $this->translate('DIGIT');?>
                    <span class="star-red">*</span>
                </label>
            </div>
            <div class="col-sm-8 no-padding-left">
                <input type="text" name="DigitRecord[Digit]" id="txtDigit<?= $jqxPrefix;?>" class="form-control input-sm" onkeypress="return isNumberKey(event)" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label">
                    <?= $this->translate('START_NUM');?>
                    <span class="star-red">*</span>
                </label>
            </div>
            <div class="col-sm-8 no-padding-left">
                <input type="text" name="DigitRecord[StartNum]" id="txtDigitStartNumber<?= $jqxPrefix;?>" class="form-control input-sm" onkeypress="return isNumberKey(event)">
            </div>
        </div>
    </div>
    <div id="text<?= $jqxPrefix;?>" class="hide">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label">
                    <?= $this->translate('TEXT');?>
                    <span class="star-red">*</span>
                </label>
            </div>
            <div class="col-sm-8 no-padding-left">
                <input type="text" name="TextRecord[Text]" id="txtText<?= $jqxPrefix;?>" class="form-control input-sm" >
            </div>
        </div>
    </div>
    <div id="date<?= $jqxPrefix;?>" class="hide">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label">
                    <?= $this->translate('DATE_FORMAT');?>
                    <span class="star-red">*</span>
                </label>
            </div>
            <div class="col-sm-8 no-padding-left">
                <div id="ddlDateFormat<?= $jqxPrefix;?>" name="DateFormatRecord[DateFormat]"></div>
            </div>
        </div>
    </div>
    
    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url"       => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  =>  "",
                        "isSaveNew" =>  0,

                    ]
                );  
    ?>

    <input type="hidden" id="txtRequireFeild<?= $jqxPrefix;?>">
</form>

<script type="text/javascript">

function hideInputTiype<?= $jqxPrefix;?>()
{
    $("#digit<?= $jqxPrefix;?>").removeClass("show").addClass("hide");
    $("#text<?= $jqxPrefix;?>").removeClass("show").addClass("hide");
    $("#date<?= $jqxPrefix;?>").removeClass("show").addClass("hide");
}

$(document).ready(function () 
{
    initDropDownList(jqxTheme, "100%", 250, "#ddlDateFormat<?= $jqxPrefix; ?>", <?= json_encode($this->fixDateFormat);?>, 'Name', 'Id', true, '', '0', "");

    $("input[type=text]").keydown(function()
    {
        $(this).removeClass("jqx-validator-error-element");
    });

    $("#ddlDateFormat<?= $jqxPrefix;?>").change(function()
    {
        $(this).removeClass("jqx-validator-error-element");
    });

    $("input[name=FormatType]").change(function()
    {
        var val = $(this).val();
        hideInputTiype<?= $jqxPrefix;?>();
        switch(val*1)
        {
            case 2:
                $("#digit<?= $jqxPrefix;?>").removeClass("hide").addClass("show");
                break;
            case 1:
                $("#text<?= $jqxPrefix;?>").removeClass("hide").addClass("show");
                break;
            case 3:
                $("#date<?= $jqxPrefix;?>").removeClass("hide").addClass("show");
                break;
        }
    });

    $('#winForm<?= $jqxPrefix;?>').jqxValidator(
    { 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtRequireFeild<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: function () 
                {
                    var bool = true;
                    var typeId = $("input[name=FormatType]:checked").val();
                    switch(typeId*1)
                    {
                        case 2:
                            var digitId = "#txtDigit<?= $jqxPrefix;?>";
                            var startNumId = "#txtDigitStartNumber<?= $jqxPrefix;?>";
                            var digit = $(digitId).val();
                            var startNum = $(startNumId).val();

                            $(digitId).removeClass("jqx-validator-error-element");
                            $(startNumId).removeClass("jqx-validator-error-element");

                            if(digit == "")
                            {
                                $(digitId).addClass("jqx-validator-error-element");
                                bool = false;
                            }
                            if(startNum == "")
                            {
                                $(startNumId).addClass("jqx-validator-error-element");
                                bool = false;
                            }

                            break;
                        case 1:
                            var textId = "#txtText<?= $jqxPrefix;?>";
                            var text = $(textId).val();

                            $(textId).removeClass("jqx-validator-error-element");

                            if(text == "")
                            {
                                $(textId).addClass("jqx-validator-error-element");
                                bool = false;
                            }

                            break;
                        case 3:
                            var dateFormatId = "#ddlDateFormat<?= $jqxPrefix;?>";
                            //var digitId = "#txtDateFormatDigit<?= $jqxPrefix;?>";
                            //var startNumId = "#txtDateFormatStartNumber<?= $jqxPrefix;?>";

                            var dateFormat = $(dateFormatId).val();
                            //var digit = $(digitId).val();
                            //var startNum = $(startNumId).val();

                            $(dateFormatId).removeClass("jqx-validator-error-element");
                            //$(digitId).removeClass("jqx-validator-error-element");
                            //$(startNumId).removeClass("jqx-validator-error-element");

                            if(dateFormat == 0 || dateFormat == "" )
                            {
                                $(dateFormatId).addClass("jqx-validator-error-element");
                                bool = false;
                            }
                            // if(digit == "")
                            // {
                            //     $(digitId).addClass("jqx-validator-error-element");
                            //     bool = false;
                            // }
                            // if(startNum == "")
                            // {
                            //     $(startNumId).addClass("jqx-validator-error-element");
                            //     bool = false;
                            // }

                            break;
                    }
                    return bool;
                }
            }
        ]
    });
});
</script>