<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;
    $isSupplier = isset($this->isSupplier)?$this->isSupplier:1;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
<div class="col-md-12 form-horizontal margin-bottom-10 no-margin-top no-padding-top">
	<div class="col-md-12 no-padding-left no-padding-top no-margin-top">
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left" style="margin-top: -15px;">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("ROLE");?>
	        </label>
	        <div id="ddlChRole<?= $jqxPrefix;?>" name="RoleId"></div>
	    </div>

	    <div class="clearfix"></div>
	    <div class="col-md-12 no-padding-left no-padding-bottom padding-top-5" id="pcspButMoreFilter<?= $jqxPrefix;?>">
			<a href="javascript:void(0);" onclick="moreFilter<?= $jqxPrefix;?>(1,'#pcspButMoreFilter<?= $jqxPrefix;?>','#pcspMoreFilter<?= $jqxPrefix;?>');">
				<?= $this->translate("MORE_FILTER");?>
			</a>
		</div>
	</div>

	<div class="col-md-12 no-padding-left no-padding-top hide" id="pcspMoreFilter<?= $jqxPrefix;?>">
		<div class="grid-title no-padding-bottom no-margin" style="border-bottom: 1px solid #ddddde;">
			<span><?= $this->translate("MORE_FILTER");?></span>
			
			<a href="javascript:void(0);" class="pull-right padding-right-10">
				<i class="glyphicon glyphicon-remove-sign pcsp-red" onclick="hideFilter<?= $jqxPrefix;?>(1,'#pcspButMoreFilter<?= $jqxPrefix;?>','#pcspMoreFilter<?= $jqxPrefix;?>');" ></i>
			</a>
		</div>
		<div class="col-md-12 no-padding" id="pcspMoreFilters<?= $jqxPrefix;?>">
		
		</div>
	</div>

	<div class="col-md-12 no-padding-left no-padding-bottom padding-top-5 hide" id="pcspButAdvanceFilter<?= $jqxPrefix;?>">
		<a href="javascript:void(0);" onclick="moreFilter<?= $jqxPrefix;?>(2,'#pcspButAdvanceFilter<?= $jqxPrefix;?>','#pcspAdvanceFilter<?= $jqxPrefix;?>');">
			<?= $this->translate("Advance Filter");?>
		</a>
	</div>

	<div class="col-md-12 no-padding-left no-padding-top hide" id="pcspAdvanceFilter<?= $jqxPrefix;?>">
		<div class="grid-title no-padding-bottom no-margin" style="border-bottom: 1px solid #ddddde;">
			<?= $this->translate("Advance Filter");?>
			<a href="javascript:void(0);" class="pull-right">
				<i class="glyphicon glyphicon-remove-sign pcsp-red padding-right-10" onclick="hideFilter<?= $jqxPrefix;?>(2,'#pcspButAdvanceFilter<?= $jqxPrefix;?>','#pcspAdvanceFilter<?= $jqxPrefix;?>');"></i>
			</a>
		</div>
		<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left" id="pcspItemCategory<?= $jqxPrefix;?>">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("From Date");?>
	        </label>
	        <div id="txtFromDate<?= $jqxPrefix;?>" name="FromDate"></div>
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("To Date");?>
	        </label>
	        <div id="txtToDate<?= $jqxPrefix;?>" name="ToDate"></div>
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("DOB From");?>
	        </label>
	        <div id="txtDOBFromDate<?= $jqxPrefix;?>" name="DOBFromDate"></div>
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("DOB To");?>
	        </label>
	        <div id="txtDOBToDate<?= $jqxPrefix;?>" name="DOBToDate"></div>
	    </div>

	    <div class="clearfix"></div>
	    
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("TEL");?>
	        </label>
	        <input type="text" class="form-control input-sm" name="Tel">
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("EMAIL");?>
	        </label>
	        <input type="text" class="form-control input-sm" name="Email">
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("ADDRESS");?>
	        </label>
	        <input type="text" class="form-control input-sm" name="Address">
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Gender");?>
	        </label>
	        <div class="radio no-padding-left no-paddign-right">
                <label class="no-padding-left no-padding-right padding-top-5">
                    <input type="radio" value="0" name="SexId" checked="checked" id="txtAllGender<?= $jqxPrefix;?>">
                    <span class="circle">
                    	<i class="circle-icon glyphicon glyphicon-ok"></i>
                    </span>
                    <span><?= $this->translate("ALL");?></span>
                </label>
                <label class="no-padding-left no-padding-right padding-top-5">
                    <input type="radio" value="1" name="SexId">
                    <span class="circle">
                    	<i class="circle-icon glyphicon glyphicon-ok"></i>
                    </span>
                    <span><?= $this->translate("MALE");?></span>
                </label>
                <label class="no-padding-left no-padding-right padding-top-5">
                    <input type="radio" value="2"  name="SexId">
                    <span class="circle">
                    	<i class="circle-icon glyphicon glyphicon-ok"></i>
                    </span>
                    <span><?= $this->translate("FEMALE");?></span>
                </label>
            </div>
	    </div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 no-padding">
		<div class="padding-top-10">
			<?php 
                echo $this->partial("application/basepartial/action-filter-partial.phtml",
                            array(
                                'jqxPrefix' =>  $jqxPrefix,
                                
                            )
                        );
            ?>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
var moreFilterIndex<?= $jqxPrefix;?> = 0;
var isFirstLoading<?= $jqxPrefix;?> = true;

function setWindowOverflow<?= $jqxPrefix;?>(bool)
{
	var element = ".pcsp-tab-content";
	
	if( isFirstLoading<?= $jqxPrefix;?> == true )
	{
		var height = $(".respContent").height();
		
		$(element).height(height*1+80-heightContentAptional);
	}
	if( bool == true )
	{
		$(element).addClass("overflow-y");
	}
	else
	{
		$(element).removeClass("overflow-y");
	}

	isFirstLoading<?= $jqxPrefix;?> = false;
}

function initialFilter<?= $jqxPrefix;?>() 
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
	var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "<?= $gridIdName;?>", json);
	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	clearDropDownListCheckbox("#ddlChWarehouse<?= $jqxPrefix;?>");
	clearDropDownListCheckbox("#ddlChRole<?= $jqxPrefix;?>");
	$("#txtAllUserType<?= $jqxPrefix;?>").prop("checked",true);

	// clear more filter
	moreFilterIndex<?= $jqxPrefix;?> = 0;
	initialMoreFilter<?= $jqxPrefix;?>(1);

	clearAdvanceFilter<?= $jqxPrefix;?>();
}

function clearAdvanceFilter<?= $jqxPrefix;?>()
{
	clearDate("#txtFromDate<?= $jqxPrefix;?>");
	clearDate("#txtToDate<?= $jqxPrefix;?>");
	clearDate("#txtDOBFromDate<?= $jqxPrefix;?>");
	clearDate("#txtDOBToDate<?= $jqxPrefix;?>");

	$("#txtAllGender<?= $jqxPrefix;?>").prop("checked",true);

	$("#winForm<?= $jqxPrefix;?>").find("input[type=text]").val("");
}

function hideFilter<?= $jqxPrefix;?>(type,elmentId,moreFilterElementId)
{
	$(moreFilterElementId).removeClass("show").addClass("hide");
	
	if( type == 1 )
	{
		moreFilterIndex<?= $jqxPrefix;?> = 0;
		$("#pcspMoreFilters<?= $jqxPrefix;?>").html("");
		$(elmentId).removeClass("hide").addClass("show");

		$("#pcspButAdvanceFilter<?= $jqxPrefix;?>").removeClass("show").addClass("hide");
	}
	else if( type == 2 )
	{
		if( $("#pcspMoreFilters<?= $jqxPrefix;?>").children().length != 0 )
			$(elmentId).removeClass("hide").addClass("show");
		else
			$(elmentId).removeClass("show").addClass("hide");

		clearAdvanceFilter<?= $jqxPrefix;?>();
	}
	if( $("#pcspAdvanceFilter<?= $jqxPrefix;?>").hasClass("hide") && $("#pcspMoreFilter<?= $jqxPrefix;?>").hasClass("hide") )
	{
		setWindowOverflow<?= $jqxPrefix;?>(false);
	}
}

function moreFilter<?= $jqxPrefix;?>(type,elmentId,moreFilterElementId)
{
	$(moreFilterElementId).removeClass("hide");

	if( type == 1 )
	{
		$(elmentId).removeClass("show").addClass("hide");
		initialMoreFilter<?= $jqxPrefix;?>(1);

		if( $("#pcspAdvanceFilter<?= $jqxPrefix;?>").hasClass("hide") )
			$("#pcspButAdvanceFilter<?= $jqxPrefix;?>").removeClass("hide").addClass("show");
	}
	else if( type == 2 )
	{
		$(elmentId).removeClass("show").addClass("hide");
	}
	setWindowOverflow<?= $jqxPrefix;?>(true);
}

function getStrMoreFilter<?= $jqxPrefix;?>(index)
{
	var submitIndex = "@$@"+index;
	var str = '<div class="col-md-12 no-padding" id="pcspMoreFilters<?= $jqxPrefix;?>'+index+'">' 
				+'<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">'
		        +'<label class="col-sm-12 control-label pcsp-align-left no-padding-left">'
		        +'	<?= $this->translate("LAST_NAME");?>'
		        +'</label>'
		        +'<input type="text" class="form-control input-sm" name="Record['+submitIndex+'][LastName]">'
		    +'</div>'
		    +'<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">'
		    +'    <label class="col-sm-12 control-label pcsp-align-left no-padding-left">'
		    +'    	<?= $this->translate("FIRST_NAME");?>'
		    +'    </label>'
		    +'    <input type="text" class="form-control input-sm" name="Record['+submitIndex+'][FirstName]">'
		    +'</div>'
		    +'<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">'
		    +'    <label class="col-sm-12 control-label pcsp-align-left no-padding-left">'
		    +'    	<?= $this->translate("USER_NAME");?>'
		    +'    </label>'
		    +'    <input type="text" class="form-control input-sm" name="Record['+submitIndex+'][UserName]">'
		    +'</div>'
		    +'<div class="col-md-1 no-padding-top no-padding-bottom no-padding-left" >'
		    +	'<label class="col-sm-12 control-label">&nbsp;</label>'
		    +	'<div>'
		    +		'<a href="javascript:void(0);" class="pcsp-addmore-filter-action" id="butAddMoreFilter<?= $jqxPrefix;?>'+index+'">'
		    +			"<i class='glyphicon glyphicon-plus padding-top-5' onclick=addMoreFilterAction<?= $jqxPrefix;?>(this,"+index+")></i>"
		    +		'</a>'
		    +	'</div>'
		    +'</div>'
		+'</div>';

	return str;
}

function removeMoreFilterAction<?= $jqxPrefix;?>(e,index)
{
	$("#pcspMoreFilters<?= $jqxPrefix;?>"+index).remove();
}

function addMoreFilterAction<?= $jqxPrefix;?>(e,index)
{
	$("#butAddMoreFilter<?= $jqxPrefix;?>"+index).html("<i class='glyphicon glyphicon-remove padding-top-5 pcsp-red' onclick=removeMoreFilterAction<?= $jqxPrefix;?>(this,"+index+")></i>");

	addMoreFilter<?= $jqxPrefix;?>();
}

function addMoreFilter<?= $jqxPrefix;?>()
{
	var index = moreFilterIndex<?= $jqxPrefix;?>;
	var str = getStrMoreFilter<?= $jqxPrefix;?>(index);

	$("#pcspMoreFilters<?= $jqxPrefix;?>").append(str);

	moreFilterIndex<?= $jqxPrefix;?> ++;
}

function initialMoreFilter<?= $jqxPrefix;?>(size)
{
	$("#pcspMoreFilters<?= $jqxPrefix;?>").html("");

	for( var i = 1 ; i <= size ; i ++ )
	{
		addMoreFilter<?= $jqxPrefix;?>();
	}
}

$(document).ready(function()
{
	$('#txtFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	$('#txtToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	$('#txtDOBFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	$('#txtDOBToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	
	initDropDownListCheckbox(jqxTheme, "100%", 250, "#ddlChRole<?= $jqxPrefix;?>", <?= json_encode($this->roleRecords);?>, "Name", "Id", false, "", 0, "");
	
	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>