<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::USER_CONTROLLER;
    $jqxPrefix = '_sysUserList';
    $newAndEditPrefix = '_sysUserNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('user');?>">
                <?= $this->translate('DASHBOARD');?>
            </a>
        </li>
        <li>
            <?= $this->translate('USER');?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#item-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("List All");?>
                </a>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="item-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('user/user/partial/filter-partial.phtml',
                            [
                                "url"           => $url,
                                "jqxPrefix"     => $jqxPrefix,
                                "roleRecords"   => $this->roleRecords,

                            ]
                    );
                    echo $this->partial('application/basepartial/action-partial.phtml',
                            [
                                "url"       =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                'width'     => 1000,
                                'height'    => 500,
                                'gridIdName'=> "#jqxGrid".$jqxPrefix,
                                "gridColumnRecord"  => $this->gridColumnRecord,
                            ]
                    );

                    echo $this->partial('user/user/partial/grid-partial.phtml',
                            [
                                "url"           => $url,
                                "jqxPrefix"     => $jqxPrefix,
                                "newAndEditPrefix"=>$newAndEditPrefix,

                            ]
                    );
                ?>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -80;

</script>