<?php 
    use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::USER_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');

	$jqxPrefix = '_sysUserNewAndEdit';
    $jqxPre = '_sysUserList';

	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;
	$loginName = ($isCopy)?'':$this->record->UserName;
?>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id;?>" />
	<input type="hidden" name="oldLoginName" id="oldLoginName<?= $jqxPrefix;?>" value="<?= $loginName;?>">

	<div class="col-sm-12">
		<div class="col-md-12 grid-title">
			<?= $this->translate("PROFILE_INFO");?>
		</div>
		<div class="col-sm-10 no-padding">
			<div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("FIRST_NAME");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="text" autofocus="autofocus" name="FirstName" id="txtFirstName<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($this->record->FirstName);?>" class="form-control input-sm input-200">
		        </div>
		        <label class="col-sm-2 control-label">
		        	<?= $this->translate("LAST_NAME");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="text" name="LastName" id="txtLastName<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($this->record->LastName);?>" class="form-control input-sm input-200">
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("DOB");?>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <div id="txtDOB<?= $jqxPrefix;?>" name="DOB"></div>
		        </div>
		        <label class="col-sm-2 control-label"><?= $this->translate("GENDRE");?></label>
		        <div class="col-sm-4 radio no-padding-left">
	                <label>
	                    <input type="radio" value="1"  name="SexId" checked="checked">
	                    <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
	                    <span><?= $this->translate("MALE");?></span>
	                </label>
	                <label>
	                    <input type="radio" value="2"  name="SexId" <?= ($this->record->SexId == 2)?" checked='checked' ":"";?>>
	                    <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
	                    <span><?= $this->translate("FEMALE");?></span>
	                </label>
	            </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("TEL");?>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="text" name="Tel" id="txtPhone<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($this->record->Tel);?>" class="form-control input-sm input-200">
		        </div>
		        <label class="col-sm-2 control-label">
		        	<?= $this->translate("EMAIL");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="text" name="Email" id="txtEmail<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($this->record->Email);?>" class="form-control input-sm input-200">
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("ADDRESS");?>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <textarea style="width: 100%; height: 70px;" name="Address" class="form-control" id="txtAddress<?= $jqxPrefix;?>"><?= $escaper->escapehtml($this->record->Address);?></textarea>
		        </div>
		        <label class="col-sm-2 control-label">
		        	<?= $this->translate("NOTE");?>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <textarea style="width: 100%; height: 70px;" name="Note" class="form-control" id="txtNote<?= $jqxPrefix;?>"><?= $escaper->escapehtml($this->record->Note);?></textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("ROLE_NAME");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <div name="RoleId" id="ddlUserRole<?= $jqxPrefix;?>" style='float: left;'></div>
					<input type="hidden" id="txtUserRoleId<?= $jqxPrefix; ?>" value="<?= $escaper->escapehtml($this->record->RoleId);?>">
		        </div>
		        <label class="col-sm-2 control-label"><?= $this->translate("Active");?></label>
		        <div class="col-sm-4 checkbox">
		            <label>
		                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbActive<?= $jqxPre?>">
		                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
		              </label>
		        </div>
		    </div>
		</div>
		<div class="col-sm-2 no-padding-right">
			<div style="box-shadow: 0 0 1px blue;width: 140px;height: 150px;">
	        	<img id="picture<?= $jqxPrefix; ?>"  style="width: 140px;height: 150px;" src="<?php if(empty($this->record->Image))echo $this->basepath().'/'.PHPConstant::USER_IMAGE_BLANK;else echo $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER.'/'.PHPConstant::USER_PHOTO_FOLDER.'/'.$this->record->Image; ?>" alt=""/>
	        </div>
	        <a href="javascript:void(0);" style="height: 30px;width: 140px;margin-top: 2px;" id="butBrowseImage<?= $jqxPrefix;?>" class="btn btn-primary btn-sm">
	        	<?= $this->translate('BROWSE_IMAGE')?>
	        </a>
	        <input type="file" id="txtImage<?= $jqxPrefix;?>" name="Image" class="file-to-upload" style="display: none;" onchange="readImageURL(this, '#picture<?= $jqxPrefix; ?>');" style="vertical-align:top;" tabindex="12">
		</div>

		<div class="col-md-12 grid-title">
			<?= $this->translate("ACCOUNT_INFO");?>
		</div>
		<div class="col-sm-10 no-padding">
			<div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("USERNAME");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="text" name="UserName" id="txtUserName<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($loginName);?>" class="form-control input-sm input-200 pull-left"   style="float: left;">&nbsp;
					<span id="msgCheck<?= $jqxPrefix;?>"   style="float: left;"></span>
					<input type="hidden" name="userExist" id="userExist<?= $jqxPrefix;?>" value="0">
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 control-label no-padding-left">
		        	<?= $this->translate("PASSWORD");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="password" name="Password" id="txtPassword<?= $jqxPrefix;?>" class="form-control input-sm input-200 pull-left" value="">&nbsp;
		   			<span id="msgCheckPassword<?= $jqxPrefix;?>"></span>
		        </div>
		        <label class="col-sm-2 control-label no-padding-right no-padding-left">
		        	<?= $this->translate("CONFIRM_PASSWORD");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-4 no-padding-right">
		            <input type="password" name="ConfirmPassword" id="txtConfirmPassword<?= $jqxPrefix;?>" class="form-control input-sm input-200 pull-left" value="">&nbsp;
		   			<span id="msgCheckConfirmPassword<?= $jqxPrefix;?>"></span>
		        </div>
		    </div>
		</div>
	</div>
	<?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" 		=> $url,
						"jqxPrefix"	=> $jqxPrefix,
						"gridName"	=> "#jqxGrid".$jqxPre,
						"isSaveType"=> 2, //saveDataWithAttachement

					]
		);
	?>
</form>

<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
	$("#winForm<?= $jqxPrefix;?>").find("input[type=text],input[type=hidden],textarea").val("");
	$("#txtId<?= $jqxPrefix;?>").val('0');
	$("#chbActive<?= $jqxPrefix;?>").prop('checked', true);
	$("#txtMale<?= $jqxPrefix;?>[value=1]").prop('checked', true);
	$("input[name=UserTypeId][value=1]").prop('checked', true);
	$("#picture<?= $jqxPrefix; ?>").attr('src', '<?= $this->basepath().'/'.PHPConstant::USER_IMAGE_BLANK;?>');
	clearDate("#txtDOB<?= $jqxPrefix;?>");
	clearDropDownList("#ddlUserRole<?= $jqxPrefix;?>");		
}

$(document).ready(function()
{	
	initDropDownList(jqxTheme, "100%", 250, '#ddlUserRole<?= $jqxPrefix; ?>', <?= json_encode($this->roleRecords);?>, 'Name', 'Id', true, '', '0', "#txtUserRoleId<?= $jqxPrefix; ?>");

	$('#txtDOB<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	<?php if($this->record->DOB != null):?>
     	$("#txtDOB<?= $jqxPrefix;?>").jqxDateTimeInput('setDate', new Date("<?= $this->record->DOB;?>"));
  	<?php endif;?>
	
	$('#butBrowseImage<?= $jqxPrefix;?>').click(function()
    {
     	$("#txtImage<?= $jqxPrefix?>").click();
    });
	
	$('#winForm<?= $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: [
				{
					input: '#txtFirstName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
				},
				{
					input: '#txtLastName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required'
				},
				{ 	
					input: '#txtUserName<?= $jqxPrefix;?>', message: ' ', message: ' ', action: 'change', rule: 'required'
				},
				{
					input: '#txtEmail<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required'
				},
				{	input: '#ddlUserRole<?= $jqxPrefix; ?>', message: ' ', action: 'select', rule: function () {
						if($("#ddlUserRole<?= $jqxPrefix; ?>").val() == "" || $("#ddlUserRole<?= $jqxPrefix; ?>").val() == "0"){
							return false;
						}
						return true;
					}
				},
				{	input: '#userExist<?= $jqxPrefix; ?>', message: ' ', action: 'keyup', rule: function (input) {
						if(input.val()==1){
							showMessage('<?= $this->translate('WARNING')?>','<?= $this->translate('USERNAME_IS_ALREADY_EXIST')?>', '270', '90');
                     		return false;
						}
						return true;
					}
				},
				<?php if($id==0){?>
				{ 	input: '#txtPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function(){
						if($('#txtPassword<?= $jqxPrefix;?>').val() == ''){
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() != $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() == $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html('');
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html('');
							return true;
						} 
						return true;
					}
				},
				{ 	input: '#txtConfirmPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function(){
						if($('#txtConfirmPassword<?= $jqxPrefix;?>').val() == ''){
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() != $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() == $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html('');
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html('');
							return true;
						} 
						return true;
					}
				},
				<?php }else{ ?>
				{ 	input: '#txtPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function(){
						if($('#txtPassword<?= $jqxPrefix;?>').val() != $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() == $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html('');
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html('');
							return true;
						} 
						return true;
					}
				},
				{ 	input: '#txtConfirmPassword<?= $jqxPrefix;?>', message: ' ', action: 'keyup', rule: function(){
						if($('#txtPassword<?= $jqxPrefix;?>').val() != $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html("<i style='color: red;' class='glyphicon glyphicon-remove' title='<?= $this->translate('PASSWORD_NOT_MATCH')?>'/> <?= $this->translate("PASSWORD_NOT_MATCH")?>");
							return false;
						}
						else if($('#txtPassword<?= $jqxPrefix;?>').val() == $('#txtConfirmPassword<?= $jqxPrefix;?>').val()){
							$('#msgCheckPassword<?= $jqxPrefix;?>').html('');
							$('#msgCheckConfirmPassword<?= $jqxPrefix;?>').html('');
							return true;
						} 
						return true;
					}
				},
				<?php } ?>
		]
	});
	
	$("#txtUserName<?= $jqxPrefix;?>").blur(function()
	{
		if($("#txtUserName<?= $jqxPrefix;?>").val() == ""){
			$('#msgCheck<?= $jqxPrefix;?>').html('');
		}
		if($("#txtUserName<?= $jqxPrefix;?>").val() != $("#oldLoginName<?= $jqxPrefix;?>").val()){
			var userName = $("#txtUserName<?= $jqxPrefix;?>").val();
			var id = $("#txtId<?= $jqxPrefix;?>").val();
			$.ajax
			({
				type: "POST",
				url: "<?= $url;?>/isUserNameExist",
				data: "Id="+id+"&UserName="+userName+"&isAjax=true",
				success: function(response)
				{
					if(response.success == true)
					{
						$('#userExist<?= $jqxPrefix;?>').val('1');
						$('#msgCheck<?= $jqxPrefix;?>').html('<i style="color: red;" class="glyphicon glyphicon-remove" title="<?= $this->translate('USERNAME_IS_ALREADY_EXIST')?>"> <?= $this->translate('USERNAME_IS_ALREADY_EXIST')?>');
					}
					else
					{
						$('#userExist<?= $jqxPrefix;?>').val('0');
						$('#msgCheck<?= $jqxPrefix;?>').html('');
					}
					closePageLoading();
				},
				beforeSend: function(){
					pageLoading();
				},	
			});
	 	}
	});
}); 
</script>