<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        // selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('NO');?>", columntype: 'number', width:'60', cellsrenderer: numberRenderer, align:'center', 
                sortable: false, filterable: false, editable: false, groupable: false, draggable: false, resizable: false, enabletooltips: false,
            },
            { 
                text: "<?= $this->translate('Product Name');?>", datafield: 'Name'
            },
            { 
                text: "<?= $this->translate('CATEGORY');?>", datafield: 'CategoryName'
            },
            { 
                text: "<?= $this->translate('Qty');?>", datafield: 'CurrentQty',
            },
            { 
                text: "<?= $this->translate('UNIT_MEASUREMENT');?>", datafield: 'DefaultSystemUnit'
            },
        ]
    }); 
});
</script>