<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
    
?>

<section class="content">
	<div id="jqxGrid<?php echo $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?php echo $jqxPrefix;?> = "<?php echo $newAndEditPrefix;?>";

var dataSource<?php echo $jqxPrefix;?> = getJqxGridDataSource('<?php echo $url;?>/getRecordsForGrid', "#jqxGrid<?php echo $jqxPrefix;?>", []);

var dataAdapter<?php echo $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?php echo $jqxPrefix;?>);

$(document).ready(function () {
		
	$("#jqxGrid<?php echo $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?php echo $jqxPrefix;?>,
        showtoolbar: false,
        filterable: true,
		showfilterrow: true,
        sortable: true,
        selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?php echo PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?php echo PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
		
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: [
            { 
                text: "<?php echo $this->translate('NO');?>", columntype: 'number', width:'60', cellsrenderer: numberRenderer, align:'center', 
				sortable: false, filterable: false, editable: false, groupable: false, draggable: false, resizable: false, enabletooltips: false
            },
            { 
                text: "<?php echo $this->translate('NAME');?>", datafield: 'Name', width: 180, hideable: false, hidden: false
            },
            { 
                text: "<?php echo $this->translate('EMAIL');?>", datafield: 'Email', width: 150
            },
            { 
                text: "<?php echo $this->translate('TEL');?>", datafield: 'PhoneNumber', width: 150
            },
            { 
                text: "<?php echo $this->translate('ADDRESS');?>", datafield: 'Address'
            },
            {
				text: "<?php echo $this->translate('NOTE');?>", datafield: 'Note'
            },
            /*{ 
                text: "<?php echo $this->translate('ROLE_NAME');?>", datafield: 'RoleName', filtertype: 'checkedlist', width: 200,
				filteritems: new $.jqx.dataAdapter(<?php echo json_encode($this->roleRecords);?>), 
                        createfilterwidget: function (column, htmlElement, editor) {
                            editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                        }
            },*/
			{ 
                text: "<?php echo $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
				editable: false, groupable: false, draggable: false,  enabletooltips: false, filtertype: 'checkedlist',
				filteritems: new $.jqx.dataAdapter(activeInactiveList), 
                        createfilterwidget: function (column, htmlElement, editor) {
                            editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                        }
            },
            /*{ 
                text: '<?php echo $this->translate("ACTION");?>',cellsrenderer: butAction<?php echo $jqxPrefix;?>, sortable:false, width: 100,align:'center'
            }*/
    
        ]
    }); 
	
});

</script>