<?php 
    use PCSPLib\PHPConstant;
	$url = $this->url;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = $this->jqxPrefix;
	$newAndEditPrefix = $this->newAndEditPrefix;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;
?>
<form id="winForm<?php echo $newAndEditPrefix;?>" name="winForm<?php echo $newAndEditPrefix;?>" method="post">

<div class="content">
	<input type="hidden" id="txtId<?php echo $newAndEditPrefix;?>" name="Id" value="<?php echo $id;?>" />
	<table class="form-table">
		<tr>
           <td><?php echo $this->translate('NAME')?></td>
           <td>
           		<input type="text" name="Name" id="txtName<?php echo $newAndEditPrefix;?>" value="<?php echo $escaper->escapehtml($this->record->Name);?>" class="form-control input-sm input-200">
           </td>
	    </tr>
	    <tr>
            <td><?php echo $this->translate('TEL')?></td>
            <td>
           		<input type="text" name="PhoneNumber" id="txtPhoneNumber<?php echo $newAndEditPrefix;?>" value="<?php echo $escaper->escapehtml($this->record->PhoneNumber);?>" class="form-control input-sm input-200">
            </td>
	    </tr>
	    <tr>
	   		<td><?php echo $this->translate('EMAIL');?></td>
	   		<td>
	   			<input type="text" name="Email" id="txtEmail<?php echo $newAndEditPrefix;?>" value="<?php echo $escaper->escapehtml($this->record->Email);?>" class="form-control input-sm input-200">
	   		</td>
	    </tr>
		<tr>
			<td>
				<?php echo $this->translate('ADDRESS');?>
			</td>
			<td>
				<textarea style="width: 100%; height: 70px;" name="Address" class="form-control" id="txtAddress<?php echo $newAndEditPrefix;?>"><?php echo $escaper->escapehtml($this->record->Address);?></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<?php echo $this->translate('NOTE');?>
			</td>
			<td>
				<textarea style="width: 100%; height: 70px;" name="Note" class="form-control" id="txtNote<?php echo $newAndEditPrefix;?>"><?php echo $escaper->escapehtml($this->record->Note);?></textarea>
			</td>
		</tr>
		<tr>
			<td><?php echo $this->translate('ACTIVE');?></td>
			<td><input type="checkbox" name="IsActive" id="chbActive<?php echo $newAndEditPrefix;?>" value="1" <?php echo (($this->record->IsActive ==1 || empty($this->record->Id)) ? 'checked="checked"':'');?>></td>
		</tr>
	</table>
	<?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" => $url,
						"jqxPrefix"	=> $newAndEditPrefix,
						"gridName"	=> "#jqxGrid".$jqxPrefix,
						"isSaveType" => 2, //saveDataWithAttachement

					]
		);
	?>
</form>
</div>
<script type="text/javascript">

function clearControl<?php echo $newAndEditPrefix;?>()
{
	$("#txtId<?php echo $newAndEditPrefix;?>").val('0');
	$('#txtName<?php echo $newAndEditPrefix;?>').val('');
	$("#txtNote<?php echo $newAndEditPrefix;?>").val('');
	$('#txtAddress<?php echo $newAndEditPrefix;?>').val('');
	$('#txtEmail<?php echo $newAndEditPrefix;?>').val('');
	$('#txtPhoneNumber<?php echo $newAndEditPrefix;?>').val('');
	$("#chbActive<?php echo $newAndEditPrefix;?>").prop('checked', true);	
}

$(document).ready(function()
{
	
	$('#winForm<?php echo $newAndEditPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: [
				{
					input: '#txtName<?php echo $newAndEditPrefix;?>', message: ' ', action: 'change', rule: 'required' 
				},
		]
	});
	
}); 
</script>