<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_ITEM_CONTROLLER;
	$tUrl = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_TYPE_CONTROLLER;
	$cUrl = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_CATEGORY_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	
	$jqxPrefix = '_sysSaleItemNewAndEdit';
	$pre = '_sysSaleItemList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = "#jqxGrid".$pre;

?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

  <input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
  <input type="hidden" id="txtGroupRecord<?= $jqxPrefix;?>" name="GroupRecord" value="<?= $this->record->GroupRecord; ?>" />

	<div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label"><?= $this->translate("NAME");?><span class="star-red">*</span></label>
	        <div class="col-sm-8">
	            <input class="form-control input-sm" id="txtName<?= $jqxPrefix?>" placeholder="<?= $this->translate('NAME');?>" type="text" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>">
	        </div>
	    </div>
    </div>
    <div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label">
	        	<?= $this->translate("ITEM_TYPE");?>
	        	<span class="star-red">*</span>
	        </label>
	        <div class="col-sm-8">
	            <div id="ddlItemType<?= $jqxPrefix;?>" name="ItemTypeId"></div>
              <input type="hidden" id="txtItemTypeId<?= $jqxPrefix;?>" value="<?= $this->record->ItemTypeId;?>">
	            <input type="hidden" id="txtItemTypeName<?= $jqxPrefix;?>" value="<?= $this->record->TypeName;?>" name="TypeName">
	        </div>
	    </div>
	    <div class="col-sm-2 no-padding">
            <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                    [
                        "jqxPrefix"         =>  $jqxPrefix,
                        "newAndEditPrefix"  =>  "_sysItemTypeNewAndEdit",
                        "dropDownListId"    =>  "#ddlItemType".$jqxPrefix,
                        "hiddenFeildId"     =>  "#txtItemTypeId".$jqxPrefix,
                        "url"               =>  $tUrl,
                        "title"             =>  $this->translate("NEW_ITEM_TYPE"),
                        
                    ]);
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 no-padding">
            <label class="col-sm-4 control-label">
              <?= $this->translate("Track");?>
            </label>
            <div class="col-sm-8">
                <div id="ddlChbItemMaster<?= $jqxPrefix;?>" name="ItemMasterIds"></div>
                <input type="hidden" id="txtItemMasterIds<?= $jqxPrefix;?>" value="<?= $this->record->ItemMasterIds;?>">
            </div>
        </div>
    </div>
    <div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label">
	        	<?= $this->translate("CATEGORY");?>
	        </label>
	        <div class="col-sm-8">
	            <div id="ddlItemCategory<?= $jqxPrefix;?>">
	            	<div id='ddlTreeItemCategory<?= $jqxPrefix; ?>'></div>
	            </div>
				<input type="hidden" name="ItemCategoryIds" id="txtItemCategoryId<?= $jqxPrefix; ?>" value="<?= $this->record->ItemCategoryIds;?>">
				<input type="hidden" name="ItemCategoryName" id="txtItemCategoryName<?= $jqxPrefix; ?>" value="">
	        </div>
	    </div>
    </div>
    <div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label"><?= $this->translate("NOTE");?></label>
	        <div class="col-sm-8">
	            <textarea class="form-control" id="txtNote<?= $jqxPrefix?>" placeholder="<?= $this->translate('NOTE');?>" type="text" name="Note" style="width: 100%; height: 100px;"><?= $escaper->escapehtml($this->record->Note);?></textarea>
	        </div>
	    </div>
    </div>

    <div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label"><?= $this->translate("ACTIVE");?></label>
	        <div class="col-sm-8 checkbox">
	            <label>
	                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chhActive<?= $jqxPrefix?>">
	                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
	              </label>
	        </div>
	    </div>
    </div>

	<?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" 		=> $url,
						"jqxPrefix"	=> $jqxPrefix,
						"gridName"	=> $gridIdName,

					]
		);
	?>
</form>
<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
	$('#txtName<?= $jqxPrefix;?>').val('');
	$("#txtNote<?= $jqxPrefix;?>").val('');
	$("#txtId<?= $jqxPrefix;?>").val('0');
	$("#chhActive<?= $jqxPrefix?>").prop('checked', true);

	clearDropDownList("#ddlItemType<?= $jqxPrefix;?>");
}

function getChbTreeCheckItem<?= $jqxPrefix;?>(ddlChbName)
{
  	var arrId = [];
  	var items = $(ddlChbName).jqxTree('getCheckedItems');

  	if( items != null && items.length > 0 )
  	{
        $.each(items, function (index) 
        {
        	if( this.id != 0 && this.id != "" && this.parentId != 0 )
        	{
          		arrId.push(this.id);                         
        	}
        });
 	}

  	return arrId.join(',');
};

var populateTreeCheckboxContent<?= $jqxPrefix;?> = function (event, jqxTree, dropDownList, hiddenId, isSelect)
{
  	var args = event.args;
   	var item = $(jqxTree).jqxTree('getItem', args.element);

   	if( isSelect === true )
   	{
    	$(jqxTree).jqxTree('checkItem', item, true);
     	$(jqxTree).jqxTree('selectItem', null); 
   	}
   
   	var arrText = [];
  	var items = $(jqxTree).jqxTree('getCheckedItems');

  	if(items!=null && items.length > 0)
  	{
       	$.each(items, function (index) 
       	{
       		if( this.id != 0 && this.id != "" && this.parentId != 0 )
       		{
        		arrText.push(this.label);                         
       		}
       	});
  	}

  	var text = arrText.join(',');
   
   	(hiddenId != null && hiddenId != "" ? $(hiddenId).val(getChbTreeCheckItem<?= $jqxPrefix;?>(jqxTree)):'');

   	var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + text + '</div>';
   	
   	$(dropDownList).jqxDropDownButton('setContent', dropDownContent); 
};

var jqxTreeDropDownListCheckbox<?= $jqxPrefix;?> = function(jqxTheme, width, height, dropDownList, jqxTreeId, jsonList, hiddenId, hasRoot, hasMainRoot, mainRootText,isSelectFirstItem, isExpandAll)
{
  	$(dropDownList).jqxDropDownButton('setContent', '');
   	var jqxTree = jqxTreeId;
   	var defaultHiddenVal = (hiddenId != null && hiddenId != "" ? $(hiddenId).val() : '');

   	$(dropDownList).jqxDropDownButton({ theme: jqxTheme, width: width, height: 25});
   
   	$(jqxTree).bind('checkChange', function (event) 
   	{
    	populateTreeCheckboxContent<?= $jqxPrefix;?>(event, jqxTree, dropDownList, hiddenId, false);
   	});
   
   	$(jqxTree).bind('select', function (event) 
   	{
    	populateTreeCheckboxContent<?= $jqxPrefix;?>(event, jqxTree, dropDownList, hiddenId, true);
   	});
   
   	var records = [];
   	if(jsonList!=null && jsonList.length > 0)
   	{
    	var source = jsonList;                                                                                                                
       	var dataAdapter = new $.jqx.dataAdapter(source);
       	dataAdapter.dataBind(); 
       	records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
  	}
   
   	if( hasRoot === true )
   	{
    	if( hasMainRoot != null && hasMainRoot === true )
    	{
      		if( mainRootText != null && mainRootText != '' )
      		{
        		records = [{ label: mainRootText, id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
      		}
      		else
      		{
        		records = [{ label: "Main Root", id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
	      	}
	    }
	    else
	    {
	      	records = [{ label: " ", id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
	    }
    }
   
    if( isExpandAll === true )
    {
    	$(jqxTree).jqxTree({ hasThreeStates: true, checkboxes: true, theme: jqxTheme, source: records, width: width-2, height: height}).jqxTree('expandAll');
   	}
   	else
   	{
    	$(jqxTree).jqxTree({ hasThreeStates: true, checkboxes: true, theme: jqxTheme, source: records, width: width-2, height: height});
    }

    if(isSelectFirstItem === true )
    {
    	$(jqxTree).jqxTree('selectItem', $(jqxTree).find('li:first')[0]);
    }
   
    if(defaultHiddenVal != "" && defaultHiddenVal != "0")
    {
      	var element = $(jqxTree).find('#'+defaultHiddenVal)[0];
      	$(jqxTree).jqxTree('selectItem', element);
    }
  
   	if( defaultHiddenVal != "" && defaultHiddenVal != "0" )
   	{
    	var arrId = defaultHiddenVal.split(",");
    	for( i = 0 ; i < arrId.length ; i++ )
    	{
      		var element = $(jqxTree).find('#'+arrId[i])[0];
          	$(jqxTree).jqxTree('selectItem', element);
    	}
  	}   
};

$(document).ready(function () 
{
	initDropDownList(jqxTheme,"100%",250,"#ddlItemType<?= $jqxPrefix; ?>",<?= json_encode($this->itemTypeRecord);?>,'Name','Id',true,'',0, "#txtItemTypeId<?= $jqxPrefix;?>");

	jqxTreeDropDownListCheckbox<?= $jqxPrefix;?>(jqxTheme, 270, 250,"#ddlItemCategory<?= $jqxPrefix;?>", "#ddlTreeItemCategory<?= $jqxPrefix;?>",<?= json_encode($this->categoryRecord);?>, "#txtItemCategoryId<?= $jqxPrefix;?>", true, true, "",false, true);

  initDropDownListCheckbox(jqxTheme, "100%", 250, "#ddlChbItemMaster<?= $jqxPrefix;?>", <?= json_encode($this->itemMasterRecord);?>, "Name", "Id", false, '', 0, $("#txtItemMasterIds<?= $jqxPrefix;?>").val());

    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			},
			{
	        	input: '#ddlItemType<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlItemType<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}

					return true;
				}
			},
			{
		      input: '#txtItemCategoryId<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
		      {

              $("#txtItemCategoryName<?= $jqxPrefix;?>").val($.trim($("#ddlItemCategory<?= $jqxPrefix;?>").text()));
					    $("#txtItemTypeName<?= $jqxPrefix;?>").val($.trim($("#ddlItemType<?= $jqxPrefix;?>").text()));

					    return true;
				  }
			}
		]
	});
});
</script>