<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::STOCK_BALANCE_MASTER_CONTROLLER;

    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysStockBalanceMasterNewAndEdit';

    $gridName = "#jqxGrid_sysStockBalanceMasterList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<input type="hidden" value="<?= $this->record->Id;?>" name="Id">
	<div class="form-group" style="margin-top: 20px;">
    	<label class="col-md-3 control-label no-padding-left">
        	<?= $this->translate("Current qty");?>
        </label>
		<div class="col-md-8 no-padding">
            <input type="text" class="form-control input-sm" value="<?= $this->record->CurrentQty;?>" readonly>
	    </div>
    </div>
	<div class="form-group">
    	<label class="col-md-3 control-label no-padding-left">
        	<?= $this->translate("Update to");?>
        	<span class="star-red">*</span>
        </label>
		<div class="col-md-8 no-padding">
            <input type="text" class="form-control input-sm" value="<?= $this->record->CurrentQty;?>" name="Qty" onkeypress="return isAllowNumerice(event,this,2);" onkeyup="changeQty(this);">
	    </div>
    </div>
  
</form>

<div class="window-button-fix-footer">
	<div class="window-button">
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSave<?= $jqxPrefix;?>" title="<?= $this->translate('Update');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-saved"></i>
            <?= $this->translate('Update');?>
        </a>
        <a style="margin-left: 5px !important;" class="btn btn-danger btn-xs" href="javascript:;" id="butClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div> 

<script type="text/javascript">
function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
	$("#butSave<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butClose<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
}
function changeQty(e)
{
	$(e).removeClass("jqx-validator-error-element");
}
$(document).ready(function()
{
	initialActionButtonToTheme<?= $jqxPrefix;?>();

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>();
	});
	$("#butClose<?= $jqxPrefix;?>").click(function()
	{
		$("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
	});
});
function saveData<?= $jqxPrefix;?>()
{
	var qty = $("input[name='Qty']").val();
	if( qty == "" )
	{
		$("input[name='Qty']").addClass("jqx-validator-error-element");

		return false;
	}
  	var json = ($("#winForm<?= $jqxPrefix;?>").serializeJSON());
  	var data = $.param(json);

  	$.ajax
  	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/updateRecord",
        data: data,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();

            var gridId = "<?= $gridName;?>";

            if(gridId != '')
            {
                $(gridId).jqxGrid({ autoshowloadelement: false});
                $(gridId).jqxGrid('updatebounddata');
                $(gridId).jqxGrid('clearselection');
            }

            $("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
      	},
      	error: function (errs) 
      	{
          	closePageLoading();
          	showMessage('Error','Error Save Data','270','120');
      	}
  	});
};
</script>