<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_RECEIVE_CONTROLLER;
	$sUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysStockBalanceMasterNewAndEdit';

    $gridName = "#jqxGrid_sysStockBalanceMasterList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="form-group">
	    <div class="col-md-4 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("SUPPLIER");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="ddlSupplier<?= $jqxPrefix;?>" name="ItemRecieveGroup[SupplierId]"></div>
	            <input type="hidden" id="txtSupplierId<?= $jqxPrefix;?>">
		    </div>
		    <div class="col-sm-2 no-padding">
                <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysSupplierNewAndEdit",
                            "dropDownListId"    =>  "#ddlSupplier".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtSupplierId".$jqxPrefix,
                            "url"               =>  $sUrl,
                            "height"			=>	420,
                            "title"             =>  $this->translate("NEW_SUPPLIER"),
                            
                        ]);
                ?>
            </div>
	    </div>
	    <div class="col-md-4 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("RECEIVE_DATE");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="txtReceiveDate<?= $jqxPrefix;?>" name="ItemRecieveGroup[ReceivedDate]"></div>
		    </div>
	    </div>
    </div>
    <div class="col-md-12 grid-title " style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("RECEIVE_DETAIL");?>
	</div>
	<div class="clearfix"></div>
	<div class="no-padding margin-bottom-10">
		<div id="heng-product-receive">
			
		</div>
		<div >
			<a href="javascript:;" class="" style="margin: 10px;" onclick="addMoreProductCategory();">
			<i class="fa fa-plus"></i>&nbsp;Add more category
			</a>
		</div>
	</div>

	<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

</form>

<div class="window-button-fix-footer">
	<div class="window-button">
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSaveNew<?= $jqxPrefix;?>" title="<?= $this->translate('Save New');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-saved"></i>
            <?= $this->translate('Save New');?>
        </a>
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSave<?= $jqxPrefix;?>" title="<?= $this->translate('SAVE');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-save"></i>
            <?= $this->translate('SAVE');?>
        </a>
        <a style="margin-left: 5px !important;" class="btn btn-danger btn-xs" href="javascript:;" id="butClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div> 

<style type="text/css">
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(even) td 
{
	background: #f7fffe66 !important;
}
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(odd)  td
{
	background: #FFF !important;
}	
#winForm<?= $jqxPrefix;?> tbody tr td
{
	vertical-align: top;
}
.pcsp-red
{
	color: red;
}
</style>

<script type="text/javascript">

var isExistItemNoVariance  = false;
var categoryIndex = 0;
var rowIndex = 0;
var firstLoading = true;
var itemMasterRecord = [];
var isSaveClose<?php echo $jqxPrefix;?> = false;

function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
	$("#butSaveNew<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butSave<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butClose<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
}
function clearControl()
{
	rowIndex = 0;
	categoryIndex = 0;
	
	$("#ddlSupplier<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
	$("#txtReceiveDate<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");

	$("#heng-product-receive").html("");

	addMoreProductCategory();
}
function setItemUnitMeasurement(index)
{
	var val = $("#ddlItemUnitMeasurement"+index).val();
	if( val == 0 ) val = "";
	var arr = val.split(";$;");

	$("#ddlItemUnitMeasurement"+index).removeClass("jqx-validator-error-element");
	$("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val(arr[2]);
	$("#txtSystemItemUnitQty"+index).val(arr[1]);
	$("#pcspItemUnitMeasurement<?= $jqxPrefix;?>"+index).text(arr[0]);
	$("#txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>"+index).val(arr[0]);

	getCalculateUnitQty(index);
}
function removeElementParent(action)
{
    $(action).closest("tr").remove();
}

function getItemStr(index,categoryIndex1,type)
{
	var submitIndex = "$@$"+index;
	var submitIndex1 = "$@$"+categoryIndex1;

	var str = '<tr class="item-no-variance<?= $jqxPrefix;?>" id="pcspTrItem<?= $jqxPrefix;?>'+index+'" data-index="'+index+'">';

			str += '<td class="text-center">';
				
				if( type*1 == 1 )
				{
					str += '<p style="color:red;widht: 5px;color:red;" onclick=removeElementParent(this) class="cursor-pointer align-center pccsp-btn-action-remove">X</p>';
				}
				else
				{
					str += '<p style="widht: 5px;" class="align-center pccsp-btn-action-remove">X</p>';
				}

				// all hidden field
				str += '<input type="hidden" id="txtSystemItemUnitQty'+index+'" value="0"/>'
				str += '<input type="hidden" id="txtReceivedUnitMeasurement<?= $jqxPrefix;?>'+index+'" value="" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedUnitMeasurement]"/>'
				str += '<input type="hidden" id="txtDefaultSystemUnit<?= $jqxPrefix;?>'+index+'" value="" />'
				str += '<input type="hidden" id="txtItemUnitQty<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex1+'][Child]['+submitIndex+'][SystemQty]"/>'
				str += '<input type="hidden" id="txtReceivedUnitPrice<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex1+'][Child]['+submitIndex+'][SystemUnitPrice]"/>';

				str += '<input type="hidden" id="txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedUnitMeasurementPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedQtyPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedQtyPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedUnitPricePrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedUnitPricePrefix]"/>';

				str += '<input type="hidden" id="txtDefaultSelectUnit'+index+'" value="0" />';

				// end hidden field

			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemMaster'+index+'" data-index="'+index+'" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ItemMasterId]" ></div>';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemUnitMeasurement'+index+'" onchange="setItemUnitMeasurement('+index+');" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ItemUnitMeasurement]" ></div>';
				str += '<div id="pcspItemUnitMeasurement<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm" id="txtItemReceiveQty'+index+'" onkeyup="getCalculateUnitQty('+index+');" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedQty]" onkeypress="return isAllowNumerice(event,this,2);"/>';
				str += '<div id="pcspItemUnitQty'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm"  id="txtItemUnitPrice'+index+'" onkeyup="getCalculateItemUnitPrice('+index+');" onkeypress="return isAllowNumerice(event,this,2);" name="Record['+submitIndex1+'][Child]['+submitIndex+'][ReceivedUnitPrice]" />';

				str += '<div id="pcspSystemDefaultPrice<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';
			str += '</td>';
		str+= '</tr>';
	return str;
}
function addMoreItem(categoryIndex1,type)
{
	var index = rowIndex+categoryIndex1;

	var element = "#pcspItemReceive"+categoryIndex1+" tbody";

	var str = getItemStr(index,categoryIndex1,type);

	$(element).append(str);

	source = [];
	var categoryId = $("#ddlItemCategory"+categoryIndex1).val();

	if( typeof itemMasterRecord[categoryId] != "undefined" )
	{
		source = itemMasterRecord[categoryId];
	}

	initDropDownList(jqxTheme,"100%",250, "#ddlItemMaster"+index,source, "Name","Id", true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemUnitMeasurement"+index, [], '', '', true, '', '0', "");

	$("#ddlItemMaster"+index).on('select', function(event)
	{
		var index = $(this).attr("data-index");
		var itemMasterId = $(this).val();

		setItemUnit(itemMasterId,index);
	});

	rowIndex ++;
}
function setAllItemMaster(rowIndex,data)
{
	var index;
	$("#pcspItemReceive"+rowIndex+" tbody tr").each(function()
	{
		index = $(this).data("index");

		setContentItemMaster(index,data)
	});
}
function setItemMaster(categoryId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemActiveRecord",
        data: "CategoryId="+categoryId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 
        	// setContentItemMaster(index,data)
        	setAllItemMaster(index,data);

        	itemMasterRecord[categoryId] = data;
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function addMoreProductCategory()
{
	var str = getStrMoreProductCategory();

	$("#heng-product-receive").append(str);

	addMoreItem(categoryIndex,0);

	initDropDownList(jqxTheme,"100%",250, "#ddlItemCategory"+categoryIndex,<?= json_encode($this->itemCategoryRecord);?>, 'Name', 'Id', true, '', '0', "");

	$("#ddlItemCategory"+categoryIndex).on('select',function(event)
	{
		var categoryId = $(this).val();
		var index = $(this).data("index");

		if( categoryId != 0 && categoryId != "" )
		{
			$("#ddlItemCategory"+index).removeClass("jqx-validator-error-element");
		}
		if( typeof itemMasterRecord[categoryId] == "undefined" )
		{
			setItemMaster(categoryId,index);
		}
		else
		{
			setAllItemMaster(index,itemMasterRecord[categoryId]);
		}
	});

	categoryIndex ++;
}
function removeItemCategory(element)
{
	$(element).remove();
}
function getStrMoreProductCategory()
{
	var strItem = "";
	var submitIndex = "$@$"+categoryIndex;
	
	var remove = '<p style="color:red;cursor:pointer;margin-top: -16px !important;margin-left:-10px !important;width:20px;height:20px;padding-left: -50px !important;" onclick=removeItemCategory("#heng-category'+categoryIndex+'");>X</p>';

	if( firstLoading == true )
	{
		remove = '<p style="margin-top: -18px !important;margin-left:-13px !important;width:20px;height:20px;">&nbsp;</p>';
	}

	firstLoading = false;

	var str = '<div style="margin-top: 10px;padding: 5px !important;background-color: #F8F8FF;box-shadow: 0 0 1px rgb(58, 133, 255);" class="heng-category" id="heng-category'+categoryIndex+'" data-index="'+categoryIndex+'">'
			+ remove
			+'	<div class="" data-id="'+categoryIndex+'">'
			+'<div class="form-group">'
			+'	<div class="col-md-3 no-padding">'
			+'		Product category'
			+'	</div>'
			+'	<div class="clearfix"></div>'
		    +'	<div class="col-md-3 no-padding">'
			+'		<div id="ddlItemCategory'+categoryIndex+'" name="Record['+submitIndex+'][ItemCategoryId]" data-index="'+categoryIndex+'"></div>'
			+'	</div>'
			+'</div>'
			+'<table class="gridtable margin-bottom-10" width="100%" id="pcspItemReceive'+categoryIndex+'">'
			+'	<thead>'
			+'		<tr>'
			+'			<th width="30">&nbsp;</th>'
			+'			<th width="200"><?= $this->translate("Product name");?></th>'
			+'			<th><?= $this->translate("Measurement");?></th>'
			+'			<th><?= $this->translate("Qty");?></th>'
			+'			<th><?= $this->translate("Unit price");?></th>'
			+'		</tr>'
			+'	</thead>'
			+'	<tbody>'

			+'	</tbody>'
			+'	<tfoot>'
			+'		<tr>'
			+'			<td colspan="5">'
			+'				<div class="pull-left">'
			+'					<a href="javascript:void(0);" title="<?= $this->translate("Add more");?>" onclick="addMoreItem('+categoryIndex+',1);">'
			+'						<i class="glyphicon glyphicon-plus"></i>'
			+'						<?= $this->translate("Add more");?>'
			+'					</a>'
			+'				</div>'
			+'			</td>'
			+'		</tr>'
			+'	</tfoot>'
			+'</table>'
		+'</div>';

	return str;
}
function removeProductCategory()
{

}
$(document).ready(function()
{
	initialActionButtonToTheme<?= $jqxPrefix;?>();

	initDropDownList(jqxTheme, "100%", 250, "#ddlSupplier<?= $jqxPrefix; ?>", <?= json_encode($this->supplierRecord);?>, 'Name', 'Id', true, '', '0', "#txtSupplierId<?= $jqxPrefix; ?>");

	$('#txtReceiveDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	addMoreProductCategory();

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>',true);
	});
	$("#butSaveNew<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>',false);
	});
	$("#butClose<?= $jqxPrefix;?>").click(function()
	{
		$("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlSupplier<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlSupplier<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtReceiveDate<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var id = $('#txtReceiveDate<?= $jqxPrefix; ?>').val()
					if( id != null && id == "" )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var bool = checkValidatControl();

	            	return bool;
	            }
	        }
        ]
    });
});
function setContentItemMaster(index,data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemMaster"+index,data, 'Name', 'Id', true, '', '0', "");
}
function setContentItemUnit(index,data,defaultUnit)
{
	$("#txtDefaultSelectUnit"+index).val(defaultUnit);
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemUnitMeasurement"+index,data, 'Name', 'Id', true, '', '0', "#txtDefaultSelectUnit"+index);
}
function itemMasterRequired(index,requiredType)
{
	var element = "#ddlItemMaster"+index;
	if( requiredType == 0 )
	{
		$(element).removeClass("jqx-validator-error-element");
	}
	else
	{
		$(element).addClass("jqx-validator-error-element");
	}
}
function isDuplicateItemNoVariance(rowIndex)
{
	var element = "#pcspItemReceive tbody tr.item-no-variance<?= $jqxPrefix;?>";
	var index,itemMasterId;
	var currentItemMasterId = $("#ddlItemMaster"+rowIndex).val();
	var isDuplicate = false;

	$(element).each(function()
	{
		index = $(this).attr("data-index");
		if( index*1 != rowIndex*1 )
		{
			itemMasterId = $("#ddlItemMaster"+index).val();
			if( currentItemMasterId == itemMasterId )
			{
				isDuplicate = true;
			}
		}
	});

	return isDuplicate;
}
function getCalculateUnitQty(index)
{
	var unitQty = $("#txtItemReceiveQty"+index).val();
	var sysQty  = $("#txtSystemItemUnitQty"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();

	if( unitQty == "" || unitQty == "." ) unitQty = 0;
	if( sysQty == "" ) sysQty = 0;

	var itemUnitQty = sysQty*unitQty;

	$("#txtItemReceiveQty"+index).removeClass("jqx-validator-error-element");

	$("#txtItemUnitQty<?= $jqxPrefix;?>"+index).val(itemUnitQty);
	$("#pcspItemUnitQty"+index).text(itemUnitQty+" "+defaultSystemUnit);
	$("#txtReceivedQtyPrefix<?= $jqxPrefix;?>"+index).val(itemUnitQty+" "+defaultSystemUnit);

	getCalculateItemUnitPrice(index);
}

function setItemUnit(itemMasterId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemMasterId="+itemMasterId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];
        	setContentItemUnit(index,itemUnitRecord,defaultUnit);

        	itemMasterRequired(index,0);

    		var isDuplicate = isDuplicateItemNoVariance(index);

    		if( isDuplicate == true )
    		{
    			itemMasterRequired(index,1);
    		}
    		isExistItemNoVariance = isDuplicate;
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}
function getCalculateItemUnitPrice(index)
{
	var sysQty    = $("#txtSystemItemUnitQty"+index).val();
	var unitPrice = $("#txtItemUnitPrice"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();

	if( unitPrice == "" || unitPrice == ".") unitPrice = 0;
	if( sysQty == "" || sysQty == 0 ) sysQty = 1;

	var systemPrice = unitPrice/sysQty;

	systemPrice = roundNumber(systemPrice,2);
	var systemPrice1 = "1 "+defaultSystemUnit+" = "+systemPrice;

	$("#txtItemUnitPrice"+index).removeClass("jqx-validator-error-element");
	$("#pcspSystemDefaultPrice<?= $jqxPrefix;?>"+index).text(systemPrice1);
	$("#txtReceivedUnitPrice<?= $jqxPrefix;?>"+index).val(systemPrice);
	$("#txtReceivedUnitPricePrefix<?= $jqxPrefix;?>"+index).val(systemPrice1);
}
function saveData<?= $jqxPrefix;?>(pre, saveUrl, gridId, formId,isSaveClose)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();

	                if(gridId != '')
	                {
                        $(gridId).jqxGrid({ autoshowloadelement: false});
                        $(gridId).jqxGrid('updatebounddata');
                        $(gridId).jqxGrid('clearselection');
	                }
	                if( isSaveClose == true )
	                {
                  		$("#jqxWindowPopUp"+pre).trigger('close');
                  	}
                  	else
                  	{
	                	clearControl();
                  	}
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};
function checkValidatControl()
{
	var valid = true;

	$("#heng-product-receive").find(".heng-category").each(function()
	{
		var cIndex = $(this).data('index');

		var itemCategoryId = $("#ddlItemCategory"+cIndex).val();

		$('#ddlItemCategory'+cIndex).removeClass('jqx-validator-error-element');

		if( itemCategoryId == 0 || itemCategoryId == '' )
		{
			$("#ddlItemCategory"+cIndex).addClass("jqx-validator-error-element");
			valid = false;
		}

		$("#pcspItemReceive"+cIndex+" tbody tr").each(function()
		{	
			var rowIndex = $(this).data('index');

			var itemMasterId = $("#ddlItemMaster"+rowIndex).val();
			var itemUnitMeasurementId = $("#ddlItemUnitMeasurement"+rowIndex).val();

			var qty = $("#txtItemReceiveQty"+rowIndex).val();
			var price=$("#txtItemUnitPrice"+rowIndex).val();

			$('#ddlItemMaster'+rowIndex).removeClass('jqx-validator-error-element');
			$('#ddlItemUnitMeasurement'+rowIndex).removeClass('jqx-validator-error-element');
			$('#txtItemReceiveQty'+rowIndex).removeClass('jqx-validator-error-element');
			$('#txtItemUnitPrice'+rowIndex).removeClass('jqx-validator-error-element');

			if(itemMasterId == 0 || itemMasterId == '')
			{
				$("#ddlItemMaster"+rowIndex).addClass("jqx-validator-error-element");
				valid = false;
			}
			if(itemUnitMeasurementId == 0 || itemUnitMeasurementId == '')
			{
				$("#ddlItemUnitMeasurement"+rowIndex).addClass("jqx-validator-error-element");
				valid = false;
			}
			if(qty == 0 || qty == '')
			{
				$("#txtItemReceiveQty"+rowIndex).addClass("jqx-validator-error-element");
				valid = false;
			}
			if(price == 0 || price == '')
			{
				$("#txtItemUnitPrice"+rowIndex).addClass("jqx-validator-error-element");
				valid = false;
			}
		});
	});

	return valid;
}
</script>