<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_RECEIVE_CONTROLLER;
	$sUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysStockBalanceMasterNewAndEdit';

    $gridName = "#jqxGrid_sysStockBalanceMasterList";
?>
<div class="col-md-12">
	<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

		<div class="form-group">
	    	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("SUPPLIER");?>
	        	<span class="star-red">*</span>
	        </label>
			<div class="col-md-8 no-padding">
	            <div id="ddlSupplier<?= $jqxPrefix;?>" name="Record[SupplierId]"></div>
	            <input type="hidden" id="txtSupplierId<?= $jqxPrefix;?>">
		    </div>
	    </div>
	    <div class="form-group">
	    	<label class="col-md-4 control-label no-padding-left">
	        	<?= $this->translate("RECEIVE_DATE");?>
	        	<span class="star-red">*</span>
	        </label>
			<div class="col-md-8 no-padding">
	            <div id="txtReceiveDate" name="Record[ReceivedDate]"></div>
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="col-md-4 control-label no-padding-left">
		    	<?= $this->translate("Product category");?>
		    	<span class="star-red">*</span>
		    </label>
			<div class="col-md-8 no-padding">
		        <div id="ddlItemCategory" name="Record[ItemCategoryId]"></div>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-md-4 control-label no-padding-left">
		    	<?= $this->translate("Product name");?>
		    	<span class="star-red">*</span>
		    </label>
			<div class="col-md-8 no-padding">
		        <div id="ddlItemMaster" name="Record[ItemMasterId]"></div>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-md-4 control-label no-padding-left">
		    	<?= $this->translate("Unit measurement");?>
		    	<span class="star-red">*</span>
		    </label>
			<div class="col-md-8 no-padding">
		        <div id="ddlItemUnitMeasurement" name="Record[ReceivedUnitMeasurement]"></div>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-md-4 control-label no-padding-left">
		    	<?= $this->translate("Quantiry");?>
		    	<span class="star-red">*</span>
		    </label>
			<div class="col-md-8 no-padding">
		        <input type="text" class="form-control input-sm" id="txtItemReceiveQty" onkeyup="getCalculateUnitQty();" name="Record[ReceivedQty]" onkeypress="return isAllowNumerice(event,this,2);"/>
				<div id="pcspItemUnitQty"></div>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-md-4 control-label no-padding-left">
		    	<?= $this->translate("Unit price");?>
		    	<span class="star-red">*</span>
		    </label>
			<div class="col-md-8 no-padding">
		        <input type="text" class="form-control input-sm"  id="txtItemUnitPrice" onkeyup="getCalculateItemUnitPrice();" onkeypress="return isAllowNumerice(event,this,2);" name="Record[ReceivedUnitPrice]" />

				<div id="pcspSystemDefaultPrice"></div>
		    </div>
		</div>

		<input type="hidden" id="txtSystemItemUnitQty" value="0" />
		<input type="hidden" id="txtReceivedUnitMeasurement" value="" name="Record[ReceivedUnitMeasurement]" />
		<input type="hidden" id="txtDefaultSystemUnit" value="" />
		<input type="hidden" id="txtItemUnitQty" value="0" name="Record[SystemQty]" />
		<input type="hidden" id="txtReceivedUnitPrice" value="0" name="Record[SystemUnitPrice]" />

		<input type="hidden" id="txtReceivedUnitMeasurementPrefix" value="0" name="Record[ReceivedUnitMeasurementPrefix]" />
		<input type="hidden" id="txtReceivedQtyPrefix" value="0" name="Record[ReceivedQtyPrefix]" />
		<input type="hidden" id="txtReceivedUnitPricePrefix" value="0" name="Record[ReceivedUnitPricePrefix]" />
		<input type="hidden" id="txtDefaultSelectUnit" value="0" />
	</form>
</div>
<div class="window-button-fix-footer">
	<div class="window-button">
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSaveNew<?= $jqxPrefix;?>" title="<?= $this->translate('Save New');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-saved"></i>
            <?= $this->translate('Save New');?>
        </a>
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSave<?= $jqxPrefix;?>" title="<?= $this->translate('SAVE');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-save"></i>
            <?= $this->translate('SAVE');?>
        </a>
        <a style="margin-left: 5px !important;" class="btn btn-danger btn-xs" href="javascript:;" id="butClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div> 

<style type="text/css">
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(even) td 
{
	background: #f7fffe66 !important;
}
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(odd)  td
{
	background: #FFF !important;
}	
#winForm<?= $jqxPrefix;?> tbody tr td
{
	vertical-align: top;
}
.pcsp-red
{
	color: red;
}
</style>

<script type="text/javascript">

var itemMasterRecord = [];
var itemUnitMeasurmentRecord = [];

function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
	$("#butSaveNew<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butSave<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butClose<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
}
function clearControl()
{	
	clearDropDownList("#ddlItemMaster");
	clearDropDownList("#ddlItemUnitMeasurement");

	$("#txtItemReceiveQty").val("");
	$("#txtReceivedUnitPrice").val("");

	$("#txtItemUnitPrice").text("");
	$("#pcspItemUnitQty").text("");
	$("input[name='Record[ReceivedUnitPrice]']").val("");
	$("#pcspSystemDefaultPrice").text("");
}
function setItemUnitMeasurement()
{
	var val = $("#ddlItemUnitMeasurement").val();

	if( val == 0 ) val = "";
	var arr = val.split(";$;");

	$("#ddlItemUnitMeasurement").removeClass("jqx-validator-error-element");
	$("#txtDefaultSystemUnit").val(arr[2]);
	$("#txtSystemItemUnitQty").val(arr[1]);
	$("#pcspItemUnitMeasurement").text(arr[0]);
	$("#txtReceivedUnitMeasurementPrefix").val(arr[0]);

	getCalculateUnitQty();
}
function setItemMaster(categoryId)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemActiveRecord",
        data: "CategoryId="+categoryId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	setContentItemMaster(data);

        	itemMasterRecord[categoryId] = data;
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}
$(document).ready(function()
{
	initialActionButtonToTheme<?= $jqxPrefix;?>();

	initDropDownList(jqxTheme, "100%", 250, "#ddlSupplier<?= $jqxPrefix; ?>", <?= json_encode($this->supplierRecord);?>, 'Name', 'Id', true, '', '0', "#txtSupplierId<?= $jqxPrefix; ?>");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemCategory",<?= json_encode($this->itemCategoryRecord);?>, 'Name', 'Id', true, '', '0', "");
	initDropDownList(jqxTheme, "100%", 250, "#ddlItemMaster",[], '', '', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemUnitMeasurement", [], '', '', true, '', '0', "");

	$('#txtReceiveDate').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});  
	
	$("#ddlItemCategory").on('select',function(event)
	{
		var categoryId = $(this).val();

		if( categoryId != 0 && categoryId != "" )
		{
			$("#ddlItemCategory").removeClass("jqx-validator-error-element");
		}
		if( categoryId == 0 || categoryId == "" )
		{
			setContentItemMaster([]);
		}
		else if( typeof itemMasterRecord[categoryId] == "undefined" )
		{
			setItemMaster(categoryId);
		}
		else
		{
			setContentItemMaster(itemMasterRecord[categoryId]);
		}
	});
	$("#ddlItemMaster").on('select', function(event)
	{
		var itemMasterId = $(this).val();

		if( itemMasterId == 0 || itemMasterId == "" )
		{
			setContentItemUnit([],"");
		}
		else if( typeof itemUnitMeasurmentRecord[itemMasterId] == "undefined" )
		{
			setItemUnit(itemMasterId);
		}
		else
		{
			setContentItemUnit(itemUnitMeasurmentRecord[itemMasterId],"");
		}
	});
	$("#ddlItemUnitMeasurement").on('select', function(event)
	{
		var val = $("#ddlItemUnitMeasurement").val();
		var text = $("#ddlItemUnitMeasurement").text();

		if( val == 0 ) 
		{
			$("#txtDefaultSystemUnit").val("");
			$("#txtSystemItemUnitQty").val("");
			$("#pcspItemUnitMeasurement").text("");
			$("#txtReceivedUnitMeasurementPrefix").val("");

			$("#txtReceivedUnitMeasurement").val("");

			return;
		}
		var arr = val.split(";$;");

		$("#ddlItemUnitMeasurement").removeClass("jqx-validator-error-element");
		
		$("#txtDefaultSystemUnit").val(arr[2]);
		$("#txtSystemItemUnitQty").val(arr[1]);
		$("#pcspItemUnitMeasurement").text(arr[0]);
		$("#txtReceivedUnitMeasurementPrefix").val(arr[0]);

		$("#txtReceivedUnitMeasurement").val($.trim(text));

		getCalculateUnitQty();
	});
	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>',true);
	});
	$("#butSaveNew<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>',false);
	});
	$("#butClose<?= $jqxPrefix;?>").click(function()
	{
		$("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlSupplier<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlSupplier<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtReceiveDate',message: ' ',action: 'change',rule: function () 
	        	{
	            	var id = $('#txtReceiveDate').val()
					if( id != null && id == "" )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#ddlItemCategory',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlItemCategory').val()
					if( id != null && id == 0 )
					{
						return false;
					}

					return true;
				}
			},
			{
	        	input: '#ddlItemMaster',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlItemMaster').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#ddlItemUnitMeasurement',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlItemUnitMeasurement').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
                input: '#txtItemReceiveQty', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtItemReceiveQty', message: ' ', action: 'change', rule: 'required' 
            }
        ]
    });
});
function setContentItemMaster(data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemMaster",data, 'Name', 'Id', true, '', '0', "");
}
function setContentItemUnit(data,defaultUnit)
{
	$("#txtDefaultSelectUnit").val(defaultUnit);

	initDropDownList(jqxTheme,"100%", 250, "#ddlItemUnitMeasurement",data, 'Name', 'Id', true, '', '0', "#txtDefaultSelectUnit");
}
function getCalculateUnitQty()
{
	var unitQty = $("#txtItemReceiveQty").val();
	var sysQty  = $("#txtSystemItemUnitQty").val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit").val();

	if( unitQty == "" || unitQty == "." ) unitQty = 0;
	if( sysQty == "" ) sysQty = 0;

	var itemUnitQty = sysQty*unitQty;

	$("#txtItemReceiveQty").removeClass("jqx-validator-error-element");

	$("#txtItemUnitQty").val(itemUnitQty);
	$("#pcspItemUnitQty").text(itemUnitQty+" "+defaultSystemUnit);
	$("#txtReceivedQtyPrefix").val(itemUnitQty+" "+defaultSystemUnit);

	getCalculateItemUnitPrice();
}

function setItemUnit(itemMasterId)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemMasterId="+itemMasterId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];

        	setContentItemUnit(itemUnitRecord,defaultUnit);

        	itemUnitMeasurmentRecord[itemMasterId] = itemUnitRecord;
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}
function getCalculateItemUnitPrice()
{
	var sysQty    = $("#txtSystemItemUnitQty").val();
	var unitPrice = $("#txtItemUnitPrice").val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit").val();

	if( unitPrice == "" || unitPrice == ".") unitPrice = 0;
	if( sysQty == "" || sysQty == 0 ) sysQty = 1;

	var systemPrice = unitPrice/sysQty;

	systemPrice = roundNumber(systemPrice,2);
	var systemPrice1 = "1 "+defaultSystemUnit+" = "+systemPrice;

	$("#txtItemUnitPrice").removeClass("jqx-validator-error-element");
	$("#pcspSystemDefaultPrice").text(systemPrice1);
	$("#txtReceivedUnitPrice").val(systemPrice);
	$("#txtReceivedUnitPricePrefix").val(systemPrice1);
}
function saveData<?= $jqxPrefix;?>(pre, saveUrl, gridId, formId,isSaveClose)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();

	                if(gridId != '')
	                {
                        $(gridId).jqxGrid({ autoshowloadelement: false});
                        $(gridId).jqxGrid('updatebounddata');
                        $(gridId).jqxGrid('clearselection');
	                }
	                if( isSaveClose == true )
	                {
                  		$("#jqxWindowPopUp"+pre).trigger('close');
                  	}
                  	else
                  	{
	                	clearControl();
                  	}
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};
</script>