
<div id="product-view" class="auto-overflow-y">
	<div class="">
		<table>
			<tr>
				<th width="100"><?= $this->translate("Product name");?></th>
				<td align="center" width="10">:</td>
				<td>
					<?= $this->record->Name;?>
				</td>
			</tr>
			<tr>
				<th width="100"><?= $this->translate("Category");?></th>
				<td align="center" width="10">:</td>
				<td>
					<?= $this->record->CategoryName;?>
				</td>
			</tr>
		</table>
	</div>
	<table class="table-grid" width="100%">
		<tr>
			<th width="30">#</th>
			<th style="text-align:left;" colspan="2"><?= $this->translate("Received date");?></th>
			<th style="text-align:left;" colspan="2"><?= $this->translate("Supplier");?></th>
		</tr>
		<?php 
			$index = 1;
		?>
		<?php foreach( $this->itemReceiveRecord as $g => $value ) : ?>
			<tr>
				<td width="30" align="center"><?= $index;$index++;?></td>
				<td colspan="2"><?= date("d-M-Y",strtotime($value["Supplier"]));?></td>
				<td colspan="2"><?= $value["Supplier"];?></td>
			</tr>
			<tr>
				<th rowspan="<?= count($value['Child'])+1;?>"></th>
				<th width="30">#</th>
				<th><?= $this->translate("Qty");?></th>
				<th><?= $this->translate("Unit measurement");?></th>
				<th><?= $this->translate("Unit price");?></th>
			</tr>
			<?php foreach( $value["Child"] as $k => $val ) :?>
				<tr>
					<td align="center"><?= $k+1;?></td>
					<td>
						<?= $val["ReceivedQty"];?>
					</td>
					<td>
						<?= $val["ReceivedUnitMeasurement"];?>
					</td>
					<td>
						<?= $val["ReceivedUnitPrice"];?>
					</td>
				</tr>
			<?php endforeach;?>
		<?php endforeach;?>
	</table>
</div>

<style type="text/css">
table.table-grid 
{
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
} 
table.table-grid th 
{
    padding: 2px;
    border: 1px solid #E0E0E0;
    background-color: #F4F4F4;
    text-align: center;
}
table.table-grid td 
{
    padding: 2px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
}
table.table-grid tbody tr.selected td
{
    background-color: #F2F5FF !important;
    color:#000;
    vertical-align: middle;
}
</style>

<script type="text/javascript">

$(document).ready(function()
{
	var height = $(window).height();

	$("#product-view").height(height-150);
});

</script>