<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: true,
		showfilterrow: true,
        sortable: true,
        selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('NAME');?>", datafield: 'Name'
            },
            { 
                text: "<?= $this->translate('ACTION_NAME');?>", datafield: 'Prefix'
            },
            { 
                text: "<?= $this->translate('ORDER_NUM');?>", datafield: 'OrderNum'
            },
			{ 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
				editable: false, groupable: false, draggable: false,  enabletooltips: false, filtertype: 'checkedlist',
				filteritems: new $.jqx.dataAdapter(activeInactiveList), 
                        createfilterwidget: function (column, htmlElement, editor) 
                        {
                            editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                        }
            },
        ]
    }); 
    
    $('#jqxGrid<?= $jqxPrefix;?>').on('bindingcomplete', function (event) 
    {
        $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid('expandallgroups');
    });
});
</script>