<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::RESOURCE_ACTION_CONTROLLER;

    $escaper = new Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysResourceActionNewAndEdit';
    $jqxPre = '_sysResourceActionList';
    $isCopy = isset($this->isCopy)?$this->isCopy:0;
    $id = ($isCopy)?0:$this->record->Id;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />

    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("NAME");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="Name" value="<?= $this->record->Name;?>" id="txtName<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("ACTION_NAME");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="Prefix" value="<?= $this->record->Prefix;?>" id="txtPrefix<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("ORDER_NUM");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="OrderNum" value="<?= $this->record->OrderNum;?>" id="txtOrderNum<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbIsActive<?= $jqxPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url"       => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  => "#jqxGrid".$jqxPre,

                    ]
        );
    ?>
</form>

<script type="text/javascript">
function clearControl<?= $jqxPrefix;?>()
{
    $("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");

    $("#chbIsActive<?= $jqxPrefix;?>").prop("checked", true);
}
$(document).ready(function()
{
    $('#winForm<?php echo $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtPrefix<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
        ]
    });
});

</script>