
<div class="pcsp-invoice-header">
    <div class="col-sm-4 no-padding">
        <table width="100%">
            <tr>
                <td colspan="3" align="center" style="font-size: 20px;">
                    <?= $this->contactRecord["Name"];?>
                </td>
            </tr>
            <tr>
                <td width="100">
                    <?= $this->translate("Tel");?>
                </td>
                <td width="5" align="center">:</td>
                <td>
                    <?php if( !empty( $this->contactRecord["Tel"] ) ):?>
                        <?= $this->contactRecord["Tel"];?>
                    <?php else:?>
                        <?= $this->contactRecord["Tel"];?>
                    <?php endif;?>
                </td>
            </tr>
            <tr>
                <td width="100">
                    <?= $this->translate("Address");?>
                </td>
                <td width="5" align="center">:</td>
                <td>
                    <?= $this->contactRecord["Address"];?>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4" style="font-size: 20px;">
        <b><?= $this->translate("Invoice");?></b>
    </div>
    <div class="col-sm-4 tbl-right no-padding">
        <table width="100%">
            <tr>
                <td style="text-align:right;">
                    <?= $this->translate("Invoice No");?>
                </td>
                <td width="5" style="text-align:center;">:</td>
                <td width="100" align="center">
                    <?= $this->record["InvoiceNo"];?>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">
                    <?= $this->translate("Invoice Date");?>
                </td>
                <td width="5" style="text-align:center;">:</td>
                <td width="100" align="center">
                    <?= date("d-M-Y",strtotime($this->record["InvoiceDate"]));?>
                </td>
            </tr>
        </table>
    </div>
</div>