<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE."/income";

    $jqxPrefix = '_sysIncomeList';

    $currentDate = date("Y-m-d");
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Income");?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" data-id="#list-all<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("List All");?>
                </a>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" >
            <div class="pcsp-tabs" id="list-all<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('accountant/income/partial/filter-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "categoryRecord" => $this->categoryRecord,
                                "itemTypeRecord" => $this->itemTypeRecord,

                            ]
                    );
                ?>
                <div class="content respContent">
                    <div id="jqxGrid<?= $jqxPrefix;?>"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
#pagerjqxGrid_sysIncomeList *
{
    display: none !important;
}
</style>
<script type="text/javascript">

heightContentAptional = -20;

function getJqxGridDataSource1(getGridDataUrl, gridIdName, param)
{
  var source = {
      type: "post",
      datatype: "json",
      cache: false,
      id: 'Id',
      data: param,
      url: getGridDataUrl,
      root: 'rows',
      beforeprocessing: function(data)
      {

      },
      filter: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'filter');
      },
      sort: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'sort');
      },
  };

  return source;
};

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource1('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", JSON.parse('{"FromDate":"<?= $currentDate;?>"}'));

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + group +  '</div>';
}
$(document).ready(function()
{
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        sortable: true,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        virtualmode: true,
        pagesize: 1000000,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["InvoiceDate"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('Category');?>", datafield: "CategoryName",width: 150
            },
            { 
                text: "<?= $this->translate('Name');?>", datafield: "Name",minwidth: 150
            },
            <?php foreach( $this->typeRecord as $key => $value ) : ?>
            { 
                text: "<?= $value['Name'];?>", datafield: "Qty<?= $value['Id'];?>",width: 100
            },
            <?php endforeach;?>
            { 
                text: "<?= $this->translate('Sub Total');?>", datafield: "SubTotal",width: 100
            },
            { 
                text: "<?= $this->translate('Discount');?>", datafield: "TotalDiscount",width: 100
            },
            { 
                text: "<?= $this->translate('Total');?>", datafield: "TotalAmount",width: 100
            },            
        ],
    }); 
    $('#jqxGrid<?= $jqxPrefix;?>').on('bindingcomplete', function (event) 
    {;
        $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid('expandallgroups');
    });
});
</script>