<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <?= $this->headTitle('')->setSeparator(' - ')->setAutoEscape(false) ?>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath().'/pcsp/css/custom-layout.css')
        ->prependStylesheet($this->basePath().'/pcsp/css/html-form.css')
        ->prependStylesheet($this->basePath().'/plugin/bootstrap/css/round.icon.badges.css')
        ->prependStylesheet($this->basePath().'/plugin/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath().'/plugin/font-awesome/css/font-awesome.min.css')
        ->prependStylesheet($this->basePath().'/plugin/jqwidgets/css/jqx.darkblue.css')
        ->prependStylesheet($this->basePath().'/plugin/jqwidgets/css/jqx.base.css')
        ->prependStylesheet($this->basePath().'/plugin/AdminLTE/css/skins/_all-skins.min.css')
        ->prependStylesheet($this->basePath().'/plugin/AdminLTE/css/AdminLTE.css')
        ->prependStylesheet($this->basePath().'/pcsp/css/pcsp.css')
        ->prependStylesheet($this->basePath().'/pcsp/css/printcss.css');
    ?>
    <!-- Scripts -->
    <?= $this->headScript()
        ->appendFile($this->basePath().'/plugin/jquery/multiupload.js')
        ->appendFile($this->basePath().'/plugin/jquery/jquery-2.2.3.min.js')
        ->appendFile($this->basepath().'/plugin/jquery/jquery.serializeJSON.min.js')
        ->appendFile($this->basePath().'/plugin/jquery/jquery.scrollTo.min.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/jqxcore.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/jqx-all.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/globalize.js')
        ->appendFile($this->basePath().'/plugin/bootstrap/js/bootstrap.js')
        ->appendFile($this->basepath().'/pcsp/js/pcsp-jqx-function.js')
        ->appendFile($this->basepath().'/pcsp/js/pcsp-global-function.js')
    ?>
<style type="text/css">
.main-footer {

}
</style>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">

        <?= $this->partial("layout/partial/header-partial.phtml",
                [
                    "stockAlertRecord"=> $this->arrVariable["stockAlertRecord"],
                    "countStockAlert" => $this->arrVariable["countStockAlert"]
                ]);
        ?>
        <!-- =================================================== -->

        <?= $this->partial("layout/partial/left-menu-partial.phtml",$this->viewModel()->getCurrent()->getVariables());?>

        <!-- =================================================== -->

        <div class="content-wrapper">
            <?= ($this->content!=''?$this->content:null); ?>
        </div>

        <!-- =================================================== -->

        <?= $this->partial("layout/partial/script-menu-partial.phtml",[]);?>
      
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="<?= $this->basePath().'/plugin/AdminLTE/js/app.min.js';?>"></script>
    <script type="text/javascript" src="<?= $this->basePath().'/plugin/AdminLTE/js/demo.js';?>"></script>
    <script type="text/javascript" src="<?= $this->basePath().'/plugin/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js';?>"></script>
    <script type="text/javascript" src="<?= $this->basePath().'/pcsp/js/layout.js';?>"></script>
</body>
</html>