<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <?= $this->headTitle($this->translate('Point Of Sale'))->setSeparator(' - ')->setAutoEscape(false) ?>

  <?=
        $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath().'/plugin/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath().'/plugin/font-awesome/css/font-awesome.min.css')
            ->prependStylesheet('https://fonts.googleapis.com/css?family=Grand Hotel')
        // ->prependStylesheet($this->basePath().'/plugin/bootstrap/css/chosen/chosen.min.css')
        ->prependStylesheet($this->basePath().'/plugin/jqwidgets/css/jqx.darkblue.css')
        ->prependStylesheet($this->basePath().'/plugin/jqwidgets/css/jqx.base.css')
        ->prependStylesheet($this->basePath().'/plugin/AdminLTE/css/AdminLTE.css')
        ->prependStylesheet($this->basePath().'/pcsp/css/pcsp.css')
        ->prependStylesheet($this->basePath().'/pcsp/css/pos.css')

        ;
    ?>
    <!-- Scripts -->
    <?= $this->headScript()
        ->appendFile($this->basePath().'/plugin/jquery/multiupload.js')
        ->appendFile($this->basePath().'/plugin/jquery/jquery-2.2.3.min.js')
        ->appendFile($this->basepath().'/plugin/jquery/jquery.serializeJSON.min.js')
        ->appendFile($this->basePath().'/plugin/jquery/jquery.scrollTo.min.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/jqxcore.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/jqx-all.js')
        ->appendFile($this->basepath().'/plugin/jqwidgets/js/globalize.js')
        ->appendFile($this->basePath().'/plugin/bootstrap/js/bootstrap.js')
        // ->appendFile($this->basePath().'/plugin/bootstrap/js/chosen/chosen.jquery.min.js')
        ->appendFile($this->basepath().'/pcsp/js/pcsp-jqx-function.js')
        ->appendFile($this->basepath().'/pcsp/js/pcsp-global-function.js')
        ->appendFile($this->basepath().'/pcsp/js/jquery.fullscreen.min.js')
    ?>

</head>
<body>
    <?= ($this->content!=''?$this->content:null); ?>
</body>
</html>