<?php

$jqxPrefix = $this->jqxPrefix;
$newAndEditPrefix = isset($this->newAndEditPrefix)?$this->newAndEditPrefix:'';
$url = $this->url;
$width = isset($this->width)?$this->width:550;
$height= isset($this->height)?$this->height:300;
$gridType = isset($this->gridType)?$this->gridType:1; // 1 is for grid, 2 is for treegrid
$gridIdName = $this->gridIdName;

$isCanEdit = isset($this->isCanEdit)?$this->isCanEdit:1;
$isCanDelete = isset($this->isCanDelete)?$this->isCanDelete:1;
$isCanEnable = isset($this->isCanEnable)?$this->isCanEnable:1;
$isCanDisable = isset($this->isCanDisable)?$this->isCanDisable:1;

$gridColumnRecord = json_encode(isset($this->gridColumnRecord)?$this->gridColumnRecord:[]);

?>

<section class="content-custom-blog pcsp-resp-action">
    <div class="row">
            <div class="col-lg-10">
                <div class="btn-group btn-icon-state">
                <?php if( $isCanEdit ):?>
                	<a href="#" class="btn btn-default btn-sm disabled" id="butEdit<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-edit" title="<?= $this->translate('EDIT');?>"></i> <?= $this->translate('EDIT');?></a>
                <?php endif;?>
				<?php if( $isCanDelete ) :?> 
					<a href="#" class="btn btn-default btn-sm disabled" id="butDelete<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-trash" title="<?= $this->translate('DELETE');?>"></i> <?= $this->translate('DELETE');?></a>
				<?php endif;?>
				<?php if( $isCanEnable ):?> 
					<a href="#" class="btn btn-default btn-sm disabled" id="butEnable<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-ok" title="<?= $this->translate('ENABLE');?>"></i> <?= $this->translate('ENABLE');?></a>
				<?php endif;?>
				<?php if( $isCanDisable ):?>
					<a href="#" class="btn btn-default btn-sm disabled" id="butDisable<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-remove" title="<?= $this->translate('DISABLE');?>"></i> <?= $this->translate('DISABLE');?></a>
				<?php endif;?>
                </div>
            </div>

            <?php 
				echo $this->partial("application/basepartial/script-grid-header-property-partial.phtml",
							[
								"url"				=>	$url,
								"jqxPrefix"			=>	$jqxPrefix,
								"gridIdName"		=>	$gridIdName,
								"gridColumnRecord"	=>	$gridColumnRecord,
								"gridType"			=>	$gridType

							]
						);
			?>
    </div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = '<?= $newAndEditPrefix;?>';

$(document).ready(function()
{
	$("<?= $gridIdName; ?>").on('rowselect rowunselect', function (event) 
	{
		var selectedRows = selectedRows = $("<?= $gridIdName; ?>").jqxGrid('getselectedrowindexes');
		
		$("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butDisable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butEnable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		
		if( selectedRows.length == 1 )
		{
			$("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');	
		}
		if( selectedRows.length > 0 )
		{
			$("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			$("#butEnable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			$("#butDisable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
		}
    });

    $("#butEdit<?= $jqxPrefix;?>").click(function(e)
	{
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>',"<?= $this->translate('SELECT_ROW_TO_EDIT')?>","<?= $this->translate('SELECT_ONLY_ONE_ROW_TO_EDIT')?>");
		if(selectedRow)
		{
			var param = JSON.parse('{"Id":"'+selectedRow.ItemTaxId+'","ItemCategoryId":"'+selectedRow.Id+'","ItemMasterId":"'+selectedRow.ItemMasterId+'"}');
			addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>,"<?= $this->translate('EDIT')?>","<?= $width;?>", "<?= $height;?>", '<?= $url;?>/edit', param,"<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_LOADING_DATA')?>");
		}
    });
	
	$("#butDelete<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DELETE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_DELETE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.ItemTaxId:0;
					if( id != null )
						listId.push(id);
				}
				if( listId.length > 0 )
					deleteGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/deleteMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DELETE_DATA')?>');
			}
		}
    });
	
	$("#butDisable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DISABLE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_DISABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.ItemTaxId:0;
					if( id != null )
						listId.push(id);
				}
				if( listId.length > 0 )
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/disableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DISABLE_DATA')?>');
			}
		}
	});
	
	$("#butEnable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_ENABLE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_ENABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.ItemTaxId:0;
					if( id != null )
						listId.push(id);
				}
				if( listId.length > 0 )
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/enableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_ENABLE_DATA')?>');
			}
		}
	});
 });

</script>