<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";


var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", {'ValueType':1});

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function newSetupTax<?= $jqxPrefix;?>(id,itemCategoryId,isCategoryTax,action)
{
    var param = JSON.parse('{"Id":"'+id+'","ItemCategoryId":"'+itemCategoryId+'","IsCategoryTax" : '+isCategoryTax+'}');

    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("SETUP_TAX")?>',"<?= $this->width;?>","<?= $this->height;?>", '<?= $url;?>/'+action, param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var str = "";
    
    if( typeof params.subItems[0] != "undefined" )
    {
        var record = params.subItems[0];
        var id = record["Id"];
        var itemCategoryId = record["ItemCategoryId"];
        var isCategoryTax = record["IsCategoryTax"];

        str = "<?= $this->translate('ITEM_CATEGORY');?> : "+record["Name"];
        
        if( isCategoryTax == 0 )
        {
            str += "<a href='javascript:void(0);' class='padding-left-10 pcsp-red' onclick=newSetupTax<?= $jqxPrefix;?>(0,'"+itemCategoryId+"',1,'new') ><?= $this->translate('NO_CATEGORY_TAX');?></a>";

            str += "<a href='javascript:void(0);' class='padding-left-10' onclick=newSetupTax<?= $jqxPrefix;?>(0,'"+itemCategoryId+"',1,'new')><?= $this->translate('SETUP_TAX');?></a>";
        }
        else
        {
            var isActive = record["IsCategoryTax"];
            var taxName   = record["CategoryTaxName"];
            str += ",<span style='color:blue;'><?= $this->translate('TAX');?> : "+taxName+"</span>";
            if( isActive*1 == 0 )
            {
                str += "<a href='javascript:void(0);' class='padding-left-10 pcsp-red'><?= $this->translate('TAX_DISABLE');?></a>";
            }
            str += "<a href='javascript:void(0);' class='padding-left-10' onclick=newSetupTax<?= $jqxPrefix;?>('"+id+"','"+id+"',1,'edit')><?= $this->translate('EDIT');?></a>";
        }
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}

$('#jqxGrid<?= $jqxPrefix;?>').on('rowselect', function (event) 
{
    var index = event.args.rowindex;
    var record = event.args.row;
    var id = record.Id;
    var itemCategoryId  = record.ItemCategoryId;
    
    newSetupTax<?= $jqxPrefix;?>(id,itemCategoryId,0,"edit");
});

var  itemName<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var str = "";
    var name= rowdata.Name;
    var varianceLabels = rowdata.VarianceLabels;

    str += name;

    if( varianceLabels != "" && varianceLabels != null )
    {
        var varianceValues = rowdata.ItemVarianceValue;
        var arr1 = varianceLabels.split(";$;");
        var arr2 = varianceValues.split(";$;");
        var s = '';
        for( var i = 0 ; i < arr1.length ; i ++ )
        {
            if( s != "" ) s += ", ";
            s += arr1[i]+":"+arr2[i];
        }
        str += "<small class='pcsp-font-small'>("+s+")</small>";
    }

    return '<div class="jqx-grid-cell-wrap jqx-grid-cell-left-align margin-top-5">' + str +  '</div>';
}

var  itemTaxType<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var str = "";
    var isItemTax = rowdata.IsItemTax;
    var isCategoryTax = rowdata.IsCategoryTax;

    if( isItemTax*1 == 1 || isCategoryTax*1 == 1 )
    {
        if( isCategoryTax*1 == 1 && isItemTax*1 == 0 )
        {
            str += "<span style='color:orange;'><?= $this->translate('CATEGORY_TAX');?></span>";
        }
        else
        {
            str += "<span style='color:blue;'><?= $this->translate('ITEM_TAX');?></span>";
        }
    }
    else
    {
        str += "<span class='pcsp-red'><?= $this->translate('NO_TAX');?></span>";
    }

    return '<div class="jqx-grid-cell-wrap jqx-grid-cell-left-align margin-top-5">' + str +  '</div>';
}

var  itemTaxName<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var taxName = "";
    var isItemTax = rowdata.IsItemTax;

    if( isItemTax*1 == 1 )
    {
        taxName = rowdata.ItemTaxName;
    }
    else
    {
        taxName = rowdata.CategoryTaxName;
    }

    if( taxName == null ) taxName = "";

    return '<div class="jqx-grid-cell-wrap jqx-grid-cell-left-align margin-top-5">' + taxName +  '</div>';
}

var  itemTaxValue<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var taxValue = "";
    var isItemTax = rowdata.IsItemTax;

    if( isItemTax*1 == 1 )
    {
        taxValue = rowdata.ItemTaxValue;
    }
    else
    {
        taxValue = rowdata.CategoryTaxValue;
    }
    if( taxValue == null ) taxValue = "";

    return '<div class="jqx-grid-cell-wrap jqx-grid-cell-left-align margin-top-5">' + taxValue +  '</div>';
}

var  itemTaxNote<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var taxNote = "";
    var isItemTax = rowdata.IsItemTax;

    if( isItemTax*1 == 1 )
    {
        taxNote = rowdata.ItemTaxNote;
    }
    else
    {
        taxNote = rowdata.CategoryTaxNote;
    }
    if( taxNote == null ) taxNote = "";

    return '<div class="jqx-grid-cell-wrap jqx-grid-cell-left-align margin-top-5">' + taxNote +  '</div>';
}

$(document).ready(function () 
{	
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        // selectionmode: 'checkbox',
        sortable: false,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
		virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["CategoryName"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('ITEM_NAME');?>",cellsrenderer: itemName<?= $jqxPrefix;?>
            },
            { 
                text: "<?= $this->translate('TAX_TYPE');?>",cellsrenderer: itemTaxType<?= $jqxPrefix;?>
            },
            { 
                text: "<?= $this->translate('TAX_NAME');?>", cellsrenderer: itemTaxName<?= $jqxPrefix;?>, width: 180
            },
            { 
                text: "<?= $this->translate('TAX_VALUE');?>",cellsrenderer: itemTaxValue<?= $jqxPrefix;?>, width: 150
            },
            {
				text: "<?= $this->translate('NOTE');?>", cellsrenderer: itemTaxNote<?= $jqxPrefix;?>
            },
        ]
    }); 
});
</script>