<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::ITEM_TAX_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemTaxList';
    $newAndEditPrefix = '_sysItemTaxNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?php echo $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("ITEM_TAX");?>
        </li>
    </ol>
</section>

<?php 
    // echo $this->partial('accountant/item-tax/partial/action-partial.phtml',
    //         [
    //             "url"           =>  $url,
    //             "jqxPrefix"     =>  $jqxPrefix,
    //             "newAndEditPrefix"  =>  $newAndEditPrefix,
    //             'gridIdName'    =>  "#jqxGrid".$jqxPrefix,
    //             "gridColumnRecord"  => $this->gridColumnRecord,
    //             "width" => 450,
    //             "height"=> 250,
    //         ]
    // );

    echo $this->partial('accountant/item-tax/partial/grid-partial.phtml',
            [
                "url"                   =>  $url,
                "jqxPrefix"             =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
                "width" => 450,
                "height"=> 250,
            ]
    );
?>