<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::ITEM_TAX_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = '_sysItemTaxNewAndEdit';
	$pre = '_sysItemTaxList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = "#jqxGrid".$pre;
	$activeName = "IsCategoryTax";
	$isActiveChecked = " checked='checked' ";

	$taxId = $this->record->CategoryTaxId;
	$note = $this->record->CategoryTaxNote;

	if( !$this->isCategoryTax )
	{
		$activeName = "IsItemTax";
		$note = $this->record->ItemTaxNote;
		if( $this->record->ItemTaxId )
			$taxId = $this->record->ItemTaxId;
	}

	if( $this->record->ItemTaxId || $this->record->ItemTaxId )
	{
		if( $this->isCategoryTax ) 
		{
			if( !$this->record->CategoryTaxId )
				$isActiveChecked = "";
		}
		elseif( !$this->record->ItemTaxId ) 
		{
			$isActiveChecked = "";
		}
	}
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
	<input type="hidden" id="txtItemCategoryId<?= $jqxPrefix;?>" name="ItemCategoryId" value="<?= $this->itemCategoryId; ?>" />
	<input type="hidden" id="txtIsCategoryTax<?= $jqxPrefix;?>" name="IsCategoryTax" value="<?= $this->isCategoryTax; ?>" />

	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label">
    			<?= $this->translate('TAX');?>
    			<span class="star-red">*</span>
    		</label>
    	</div>
    	<div class="col-sm-8">
    		<div id="ddlTax<?= $jqxPrefix;?>" name="TaxId"></div>
    		<input type="hidden" id="txtTaxId<?= $jqxPrefix;?>" value="<?= $taxId;?>">
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?= $this->translate('NOTE');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<textarea class="form-control" name="Note"><?= $escaper->escapehtml($note);?></textarea>
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= $isActiveChecked;?> name="<?= $activeName;?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
			[
				"url" => $url,
				"jqxPrefix"	=> $jqxPrefix,
				"gridName"	=>	$gridIdName,
				"isSaveNew" => 0
			]
		);
	?>
</form>

<script type="text/javascript">

$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlTax<?= $jqxPrefix; ?>", <?= json_encode($this->taxRecord);?>, 'Name', 'Id', true, '', '0', "#txtTaxId<?= $jqxPrefix; ?>");

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
                input: '#ddlTax<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
                {
                    var id = $('#ddlTax<?= $jqxPrefix; ?>').val()
                    if( id != null && id == 0 )
                    {
                        return false;
                    }
                    return true;
                }
            },
		]
	});
	
}); 
</script>