<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var text = group;

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + text +  '</div>';
}

$(document).ready(function () 
{       
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["TakeUseDate"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('ITEM_NAME');?>", datafield: 'ItemName'
            },
            { 
                text: "<?= $this->translate('CATEGORY');?>", datafield: 'CategoryName'
            },
            { 
                text: "<?= $this->translate('Unit Qty');?>", datafield: 'SystemQty'
            },
            { 
                text: "<?= $this->translate('QTY');?>", datafield: 'TakeUseQty'
            },
            { 
                text: "<?= $this->translate('UNIT_MEASUREMENT');?>", datafield: 'TakeUseUnitMeasurement'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'Note'
            },
            { 
                text: "", datafield: 'TakeUseDate',hidden:true
            },
        ]
    }); 
});
</script>