
<div class="margin-bottom-10 box-invoice" style="padding: 0 15px 20px 15px;">
    <div class="no-padding align-right pull-right">
        <i class="glyphicon glyphicon-print cursor-pointer" style="font-size: 20px;padding-top: 5px;" onclick="printBlockContent('divContentToPrint')"></i>
    </div>
    <div id="divContentToPrint">
		<div class="col-sm-12">
		    <div class="col-sm-4">
		        
		    </div>
		    <div class="col-sm-4" style="font-size: 20px;">
		        <b><?= $this->translate("INVOICE");?></b>
		    </div>
		    <div class="col-sm-4 tbl-right">
		        <table width="100%">
		            <tr>
		                <td style="text-align:right;">
		                    <?= $this->translate("INVOICE_NO");?>
		                </td>
		                <td width="5" style="text-align:center;">:</td>
		                <td width="100">
		                    <?= $this->record->InvoiceNo;?>
		                </td>
		            </tr>
		            <tr>
		                <td style="text-align:right;">
		                    <?= $this->translate("INVOICE_DATE");?>
		                </td>
		                <td width="5" style="text-align:center;">:</td>
		                <td width="100">
		                    <?= date("d-M-Y",strtotime($this->record->InvoiceDate));?>
		                </td>
		            </tr>
		        </table>
		    </div>
		</div>

		<table class="pcsp-table-invoice">
			<thead>
				<tr>
					<th width="40" align="center"><?= $this->translate("NO");?></th>
					<th><?= $this->translate("DESCRIPTION");?></th>
					<th width="100"><?= $this->translate("QTY");?></th>
					<th width="100"><?= $this->translate("PRICE");?></th>
					<th width="100"><?= $this->translate("TOTAL");?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach( $this->detailRecord as $key => $value ):?>
					<tr>
						<td align="center"><?= $key+1;?></td>
						<td>
							<?php 
								$itemName = $value["Name"];

								if( !empty($value["VarianceName"]) )
			    				{
			    					$itemName .= '<br/><small class="grid-small-text">('.$value["VarianceName"].')</small>';
			    				}

			    				echo $itemName;
							?>
						</td>
						<td><?= $value["Qty"];?></td>
						<td><?= $value["UnitPrice"];?></td>
						<td><?= $value["TotalDiscount"];?></td>
						<td><?= $value["Total"];?></td>
					</tr>
				<?php endforeach;?>
			</tbody>
		</table>

		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("SUB_TOTAL");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->SubTotal;?>
		        </label>
		    </div>
		</div>
		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("DISCOUNT");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->TotalBillDiscount;?>
		        </label>
		    </div>
		</div>
		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("TAX");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->TotalTax;?>
		        </label>
		    </div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("TOTAL_DISCOUNT");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->TotalDiscount;?>
		        </label>
		    </div>
		</div>
		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("BALANCE_DUE");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->Total;?>
		        </label>
		    </div>
		</div>
		<div class="col-md-4 no-padding">
	    	<div class="form-group">
	        	<label class="col-md-6 control-label no-padding-left">
		        	<?= $this->translate("BALANCE");?>
		        </label>
		        <label class="col-md-6 control-label no-padding-left">
		        	<?= $this->record->Balance;?>
		        </label>
		    </div>
		</div>
	</div>
</div>


<style type="text/css">
.box-invoice
{
    /*box-shadow: 0 0 5px #878787;*/
}
.tbl-invoice
{
    width: 100%;
    border-collapse: initial !important;
    border-spacing: 0px;
}
.tbl-invoice thead tr th
{
    padding: 5px;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.tbl-invoice tbody tr td
{
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;
}
.tbl-right tr td
{

}
</style>
