<?php
	use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;

    $jqxPre = '_sysSaleItemList';
    $jqxPrefix = '_sysSaleItemNewAndEdit';
?>
<div class="form-horizontal">
    <div class="col-md-12 grid-title" style="border-bottom: 1px solid #ddddde;">
        <?= $this->translate("Sale Info");?>
    </div>
    <table>
        <tr>
            <th width="120"><?= $this->translate("Date");?></th>
            <td width="5" align="center">:</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <th width="120"><?= $this->translate("Sub Total");?></th>
            <td width="5" align="center">:</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <th width="120"><?= $this->translate("Total Discount");?></th>
            <td width="5" align="center">:</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <th width="120"><?= $this->translate("Total");?></th>
            <td width="5" align="center">:</td>
            <td>
                
            </td>
        </tr>
    </table>

    <div class="col-md-12 grid-title" style="border-bottom: 1px solid #ddddde;">
        <?= $this->translate("Sale Detail");?>
    </div>
    <table width="100%" class="table-view">
        <thead>
            <tr>
                <th width="40" align="center">
                    <?= $this->translate("NO");?>
                </th>
                <th><?= $this->translate("Description");?></th>
                <th width="100"><?= $this->translate("Qty");?></th>
                <th width="100"><?= $this->translate("Price");?></th>
                <th width="100"><?= $this->translate("Total");?></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>