<?php 
	use PCSPLib\PHPConstant;

	$url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;

	$jqxPrefix = "hengPos";
?>
<?php foreach( $this->record as $key => $value ):?>
	<div class="pos-wrapper">
		<div class="pos-title-category">
			<?= $value["TypeName"];?>
		</div>
		<div class="pos-row" style="margin-top: 10px;">
			<?php foreach( $value["Child"] as $key => $val ):?>
				<?php 
					$str = $val["Id"].",".$val["ItemName"].",".$val["Price"].",".$val["CategoryName"].",".$val["SaleItemId"];
					$path = $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER."/";
					if( !empty( $val["Image"] ) ) $path .= $val["Image"];
					else $path .= PHPConstant::ITEM_IMAGE_BLANK;
				?>
				<div class="pos-single-box cursor-pointer" onclick="addItem<?= $jqxPrefix;?>(<?= $val['Id'];?>,<?= $val['Price'];?>,'<?= $str;?>');">
					<div class="pos-box">
						<div class="pos-box-cash">$<?= $val["Price"];?></div>
						<img src="<?= $path;?>" style="width: 80px;height: 80px;border-radius: 50%;margin-top: 5px;margin-bottom: 5px;">
					</div>
					<div class="pos-box-footer">
						<?= $val["ItemName"];?>
						<small style="font-size: 10px;color:#b72e59;">(<?= $val["CategoryName"];?>)</small>
					</div>
				</div>
			<?php endforeach;?>
		</div>
	</div>
	<div class="clearfix"></div>
<?php endforeach;?>