<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSaleView';
?>

<div class="col-md-12 no-padding">
    <div class="margin-bottom-10 box-invoice margin-top-2" style="padding: 10px 15px 20px 15px;min-height: 420px;">
        <div id="divContentToPrint">
            <div class="">
                <table width="100%">
                    <tr>
                        <td width="100">
                            <?= $this->translate("Invoice No");?>
                        </td>
                        <td width="10" align="center">:</td>
                        <td class="report-no">
                            <?= $this->record->InvoiceNo;?>
                        </td>
                    </tr>
                    <tr>
                        <td width="100">
                            <?= $this->translate("Invoice Date");?>
                        </td>
                        <td width="5" style="text-align:center;">:</td>
                        <td>
                            <?= date("d-M-Y",strtotime($this->record->InvoiceDate));?>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top: 2px;">&nbsp;</div>
            <div class="pcsp-invoice">
                <table width="100%" class="table-view">
                    <thead>
                        <tr>
                            <th width="40" align="center">
                                <?= $this->translate("NO");?>
                            </th>
                            <th><?= $this->translate("Description");?></th>
                            <th width="100"><?= $this->translate("Qty");?></th>
                            <th width="100"><?= $this->translate("Price");?></th>
                            <th width="100"><?= $this->translate("Total");?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach( $this->detailRecord as $key => $value ):?>
                            <tr>
                                <td align="center">
                                    <?= $key+1;?>
                                </td>
                                <td>
                                    <?php 
                                        $itemName = $value["ItemName"];
                                        $typeName = $value["TypeName"];

                                        if( !empty( $typeName ) ) 
                                        {
                                            $itemName .= "(".$typeName.")";
                                        }

                                        echo $itemName;
                                    ?>
                                </td>
                                <td align="center">
                                    <?= $value["Qty"];?>
                                </td>
                                <td>
                                    $<?= $value["Price"];?>
                                </td>
                                <td>
                                    $<?= $value["Total"];?>
                                </td>
                            </tr>
                        <?php endforeach;?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" align="right" style="border:none;">
                                <?= $this->translate("Sub Total");?>
                            </td>
                            <td>
                               $<?= $this->record->SubTotal;?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right" style="border:none;">
                                <?= $this->translate("Total Discount");?>
                            </td>
                            <td>
                                $<?= $this->record->TotalDiscount;?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right" style="border:none;">
                                <?= $this->translate("Total");?>(Dollar)
                            </td>
                            <td>
                                $<?= $this->record->Total;?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right" style="border:none;">
                                <?= $this->translate("Total");?>(Reil)
                            </td>
                            <td>
                                <?= "R".$this->record->KhTotal;?>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>