<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var text = group;

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + text +  '</div>';
}

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: true,
		showfilterrow: true,
        sortable: true,
        selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ['GroupResourceName'],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('NAME');?>", datafield: 'Name',minwidth: 200
            },
            { 
                text: "<?= $this->translate('CONTROLLER');?>", datafield: 'CustomController'
            },
            { 
                text: "<?= $this->translate('PREFIX_RESOURCE');?>", datafield: 'PrefixResource'
            },
            { 
                text: "<?= $this->translate('ORDER_NUM');?>", datafield: 'OrderNum'
            },
			{ 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
				editable: false, groupable: false, draggable: false,  enabletooltips: false, filtertype: 'checkedlist',
				filteritems: new $.jqx.dataAdapter(activeInactiveList), 
                        createfilterwidget: function (column, htmlElement, editor) 
                        {
                            editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                        }
            },
        ]
    }); 
});
</script>