<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::RESOURCE_CONTROLLERS_CONTROLLER;

    $escaper = new Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysResourceControllersNewAndEdit';
    $jqxPre = '_sysResourceControllersList';
    $isCopy = isset($this->isCopy)?$this->isCopy:0;
    $id = ($isCopy)?0:$this->record->Id;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />

    <input type="hidden" id="txtGroupResourceName<?= $jqxPrefix;?>" name="GroupResourceName">
    <input type="hidden" id="txtGroupResourceOrderNum<?= $jqxPrefix;?>" name="GroupResourceOrderNum">
    <input type="hidden" id="txtGroupResourceId<?= $jqxPrefix;?>" name="GroupResourceId">

    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("NAME");?></label>
        <div class="col-sm-8">
            <div id="ddlGroupResource<?= $jqxPrefix;?>"></div>
            <input type="hidden" id="txtGroupId<?= $jqxPrefix;?>" value="<?= $this->record->GroupResourceId.'#'.$this->record->GroupResourceOrderNum;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("NAME");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="Name" value="<?= $this->record->Name;?>" id="txtName<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("CONTROLER");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="CustomController" value="<?= $this->record->CustomController;?>" id="txtCustomController<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("PREFIX_RESOURCE");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="PrefixResource" value="<?= $this->record->PrefixResource;?>" id="txtPrefixResource<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("ORDER_NUM");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="OrderNum" value="<?= $this->record->OrderNum;?>" id="txtOrderNum<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbIsActive<?= $jqxPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url"       => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  => "#jqxGrid".$jqxPre,

                    ]
        );
    ?>
</form>

<script type="text/javascript">
function clearControl<?= $jqxPrefix;?>()
{
    $("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");

    $("#chbIsActive<?= $jqxPrefix;?>").prop("checked", true);
}
$(document).ready(function()
{
    initDropDownList(jqxTheme, "100%", 250, '#ddlGroupResource<?= $jqxPrefix;?>', <?= json_encode($this->groupResourceRecord);?>, 'Name', 'ConcatId', true, '', '0', "#txtGroupId<?= $jqxPrefix;?>");

    $('#winForm<?php echo $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtCustomController<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#txtPrefixResource<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
            },
            {
                input: '#ddlGroupResource<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
                {
                    var element = "#ddlGroupResource<?= $jqxPrefix;?>";

                    var id = $(element).val()
                    
                    if( id != null && id == 0 )
                    {
                        return false;
                    }

                    var arr = id.split("#");

                    $("#txtGroupResourceId<?= $jqxPrefix;?>").val(arr[0]);
                    $("#txtGroupResourceOrderNum<?= $jqxPrefix;?>").val(arr[1]);

                    $("#txtGroupResourceName<?= $jqxPrefix;?>").val($(element).text());
                    
                    return true;
                }
            },
        ]
    });
});

</script>