<?php

$jqxPrefix = $this->jqxPrefix;
$url = $this->url;

?>
<section class="content-custom-blog search-grid-box no-padding-top">
    <form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
        <table class="tbl-filter">
            <tr>
                <td><?= $this->translate("From Date");?></td>
                <td class="padding-left-5"><?= $this->translate("To Date");?></td>
            </tr>
            <tr>
                <td>
                    <div id="txtFromDate<?= $jqxPrefix;?>"></div>
                </td>
                <td class="padding-left-5">
                    <div id="txtToDate<?= $jqxPrefix;?>"></div>
                </td>
            </tr>
        </table>
    </form>
    <div class="clearfix"></div>
    <div class="col-md-12 no-padding-left no-padding-right padding-top-5">
        <?php 
            echo $this->partial("application/basepartial/action-filter-partial.phtml",
                    [
                        "jqxPrefix" => $jqxPrefix,
                        "isExport"  => 1,

                    ]
                );
        ?>
    </div>  
</section>

<div class="content" id="content<?= $jqxPrefix;?>">
    
</div>

<script type="text/javascript">

function changeContent<?= $jqxPrefix;?>()
{
    var fromDate = $("#txtFromDate<?= $jqxPrefix;?>").val();
    var toDate   = $("#txtToDate<?= $jqxPrefix;?>").val();

    var param = JSON.parse('{"FromDate":"'+fromDate+'","ToDate":"'+toDate+'"}');

    initialContent("#content<?= $jqxPrefix;?>", "<?= $url.'/'.$this->action;?>", param);
}

function exportExcel<?= $jqxPrefix;?>()
{
    var param = ($('#winForm<?= $jqxPrefix;?>').serialize());

    window.location.href = "<?= $url;?>/export?"+param;
}

function getDayInMonth<?= $jqxPrefix;?>(month,year)
{  
    return new Date(year, month, 0).getDate();  
} 

function clearFilter<?= $jqxPrefix;?>()
{
    var date  = new Date();
    var month = date.getMonth()+1;
    var year  = date.getFullYear();

    var fromDate = year+"-"+month+"-1";
    var dayInMonth = getDayInMonth<?= $jqxPrefix;?>(month,year);
    var toDate     = year+"-"+month+"-"+dayInMonth;

    $("#txtFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate", fromDate);
    $("#txtToDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate", toDate);
}

function initialize<?= $jqxPrefix;?>()
{
    var date  = new Date();
    var month = date.getMonth()+1;
    var year  = date.getFullYear();

    var fromDate = year+"-"+month+"-1";
    var dayInMonth = getDayInMonth<?= $jqxPrefix;?>(month,year);
    var toDate     = year+"-"+month+"-"+dayInMonth;

    $('#txtFromDate<?= $jqxPrefix;?>').jqxDateTimeInput({theme: jqxTheme, width: '200', height: '24px', readonly: true, formatString: "dd-MMM-yyyy"});
    $('#txtToDate<?= $jqxPrefix;?>').jqxDateTimeInput({theme: jqxTheme, width: '200', height: '24px', readonly: true, formatString: "dd-MMM-yyyy"});

    $("#txtFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate", fromDate);
    $("#txtToDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate", toDate);
}

$(document).ready(function()
{	
    initialize<?= $jqxPrefix;?>();

    changeContent<?= $jqxPrefix;?>();

    $("#butSearch<?= $jqxPrefix;?>").click(function()
    {
        changeContent<?= $jqxPrefix;?>();
    });

    $("#butExport<?= $jqxPrefix;?>").click(function()
    {
        exportExcel<?= $jqxPrefix;?>();
    });

    $("#butClear<?= $jqxPrefix;?>").click(function()
    {
        clearFilter<?= $jqxPrefix;?>();

        changeContent<?= $jqxPrefix;?>();
    });
});
</script>