<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<input type="hidden" name="InvoiceDate" value="<?= $this->invoiceDate;?>">

	<div class="col-md-12 form-horizontal margin-bottom-10 ">
		<div class="col-md-12 no-padding-left no-padding-top">
			<div class="col-md-3 no-padding-left no-padding-top no-padding-bottom" id="pcspFromDate<?= $jqxPrefix;?>">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("INVOICE_NO");?>
		        </label>
		        <input type="text" class="form-control input-sm" name="InvoiceNo" id="txtInvoice<?= $jqxPrefix;?>">
		    </div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 no-padding">
			<div class="padding-top-10">
				<?php 
	                echo $this->partial("application/basepartial/action-filter-partial.phtml",
	                            array(
	                                'jqxPrefix' =>  $jqxPrefix,

	                            )
	                        );
	            ?>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">

function initialFilter<?= $jqxPrefix;?>() 
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());

	var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getFilterRecordsForGrid', "<?= $gridIdName;?>", json);

	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	$("#txtInvoice<?= $jqxPrefix;?>").val("");
}

$(document).ready(function()
{
	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>