<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <label class="col-md-12 control-label no-padding-left pcsp-note" style="margin-top: -7px;">
        <i class="glyphicon glyphicon-screenshot"></i>
        <?= $this->translate("Double click on row for view detail");?>
    </label>
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",[]);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function view<?= $jqxPrefix;?>(invoiceDate)
{
    switchTab<?= $jqxPrefix;?>(1,1);

    $("#txtSaleInvoice<?= $jqxPrefix;?>").text("<?= $this->translate('Date');?>/"+invoiceDate);

    var element = "#sale-item-detail<?= $jqxPrefix;?>";
    var param   = JSON.parse('{"InvoiceDate":"'+invoiceDate+'"}');

    initialContent(element,"<?= $url;?>/list-invoice",param);
}

$('#jqxGrid<?= $jqxPrefix;?>').on('rowdoubleclick', function (event) 
{
    var index = event.args.rowindex;
    if( index != -1 )
    {
        var record = event.args.row.bounddata;
        var invoiceDate = record.InvoiceDate;

        view<?= $jqxPrefix;?>(invoiceDate);
    }
});

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        selectionmode: 'multiplerows',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: false,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('Date');?>", datafield: 'InvoiceDate'
            },
            { 
                text: "<?= $this->translate('Sub Total');?>", datafield: 'SubTotal'
            },
            { 
                text: "<?= $this->translate('Discount');?>", datafield: 'TotalDiscount'
            },
            { 
                text: "<?= $this->translate('Total');?>", datafield: 'Total',width: 200
            },
        ]
    }); 
});
</script>