<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content pcsp-invoce">
    <label class="col-md-12 control-label no-padding-left pcsp-note" style="margin-top: -7px;">
        <i class="glyphicon glyphicon-screenshot"></i>
        <?= $this->translate("Double click on row for view detail");?>
    </label>
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getFilterRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",JSON.parse('{"InvoiceDate":"<?= $this->invoiceDate;?>"}'));

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function view<?= $jqxPrefix;?>(id,invoiceNo)
{
    switchTab<?= $newAndEditPrefix;?>(2,1);

    var element = "#sale-view-invoice<?= $newAndEditPrefix;?>";
    var param   = JSON.parse('{"Id":'+id+'}');

    $("#txtSaleViewInvoice<?= $newAndEditPrefix;?>").text("<?= $this->translate('Invoice No');?> : "+invoiceNo);

    initialContent(element,"<?= $url;?>/view",param);
}

$('#jqxGrid<?= $jqxPrefix;?>').on('rowdoubleclick', function (event) 
{
    var index = event.args.rowindex;
    if( index != -1 )
    {
        var record = event.args.row.bounddata;
        var id = record.Id;
        var invoiceNo = record.InvoiceNo;

        view<?= $jqxPrefix;?>(id,invoiceNo);
    }
});

$(document).ready(function () 
{		
    var height = $(".respContent").height();
    $(".pcsp-invoce").height(height-15);
    
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        // selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: false,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('INVOICE_NO');?>", datafield: 'InvoiceNo'
            },
            { 
                text: "<?= $this->translate('SUB_TOTAL');?>", datafield: 'SubTotal'
            },
            { 
                text: "<?= $this->translate('TOTAL_DISCOUNT');?>", datafield: 'TotalDiscount'
            },
            { 
                text: "<?= $this->translate('TOTAL');?>", datafield: 'Total'
            },
        ]
    }); 
});
</script>