<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
<div class="col-md-12 form-horizontal margin-bottom-10 ">
	<div class="col-md-12 no-padding-left no-padding-top" id="pcspAdvanceFilter<?= $jqxPrefix;?>">
		<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left pcsp-ddl-width" id="pcspItemCategory<?= $jqxPrefix;?>">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Category");?>
	        </label>
	        <div id="ddlItemCategory<?= $jqxPrefix;?>" >
            	<div id='ddlTreeCategory<?= $jqxPrefix;?>'></div>
            </div>
			<input type="hidden" id="txtCategoryId<?= $jqxPrefix; ?>" name="ItemCategoryId">
	    </div>
		<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left" id="pcspItemCategory<?= $jqxPrefix;?>">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Type");?>
	        </label>
	        <div id="ddlItemType<?= $jqxPrefix;?>" >
            	<div id='ddlTreeType<?= $jqxPrefix;?>'></div>
            </div>
			<input type="hidden" id="txtTypeId<?= $jqxPrefix; ?>" name="ItemTypeId">
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Name");?>
	        </label>
	        <input type="text" class="form-control input-sm" name="Name" id="txtName<?= $jqxPrefix;?>">
	    </div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 no-padding">
		<div class="padding-top-10">
			<?php 
                echo $this->partial("application/basepartial/action-filter-partial.phtml",
                            array(
                                'jqxPrefix' =>  $jqxPrefix,

                            )
                        );
            ?>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">

function initialFilter<?= $jqxPrefix;?>() 
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
	var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "<?= $gridIdName;?>", json);
	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	$("#txtName<?= $jqxPrefix;?>").val("");

	clearTreeDropDownListCheckbox("#ddlTreeType<?= $jqxPrefix;?>");
	clearTreeDropDownListCheckbox("#ddlTreeCategory<?= $jqxPrefix;?>");
}

$(document).ready(function()
{
	var ddlWidth = $(".pcsp-ddl-width").width();
	
	jqxTreeDropDownListCheckbox(jqxTheme,ddlWidth, 250, "#ddlItemType<?= $jqxPrefix;?>", "#ddlTreeType<?= $jqxPrefix;?>", <?= json_encode($this->itemTypeRecord);?>, "#txtTypeId<?= $jqxPrefix;?>", true, true, "",false, true);
	jqxTreeDropDownListCheckbox(jqxTheme,ddlWidth, 250, "#ddlItemCategory<?= $jqxPrefix;?>", "#ddlTreeCategory<?= $jqxPrefix;?>", <?= json_encode($this->categoryRecord);?>, "#txtCategoryId<?= $jqxPrefix;?>", true, true, "",false, true);


	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>