<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";
var winFormId<?= $jqxPrefix;?> = "";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",[]);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

function edit<?= $jqxPrefix;?>(id,action)
{
    var param = JSON.parse('{"Id":"'+id+'"}');

    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("PRICE_SETUP")?>',550,350, '<?= $url;?>/'+action, param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var level = params.level;
    var str = "";

    if( level*1 == 1 )
    {
        var record = params.subItems[0];
        str = record['Name'];

        str += "<a href='javascript:void(0);' class='padding-left-10' onclick=edit<?= $jqxPrefix;?>('"+record["Id"]+"','edit')><?= $this->translate('EDIT');?></a>";
    }
    else
    {        
        str = group;
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}

function readImageURL<?= $jqxPrefix;?>(input, imgId) 
{
    if (input.files && input.files[0]) 
    {
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $(imgId).attr('src', e.target.result);

            saveData<?= $jqxPrefix;?>("<?= $url;?>/uploadImage", "#jqxGrid<?= $jqxPrefix;?>",winFormId<?= $jqxPrefix;?>);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

function saveData<?= $jqxPrefix;?>(saveUrl,gridId,formId)
{
    var data = new window.FormData($(formId)[0]);

    $.ajax
    ({
        type: "post",
        data: data,
        contentType: false,
        cache: false,
        processData:false,
        url: saveUrl,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();
            
            $(gridId).jqxGrid({ autoshowloadelement: true});
            $(gridId).jqxGrid('updatebounddata');
            $(gridId).jqxGrid('clearselection');
        },
        error: function (errs) 
        {
            closePageLoading();
            showMessage('Error','Error Save Data','270','120');
        }
    });
}

function browsImage<?= $jqxPrefix;?>(winFormId,txtFileId)
{
    winFormId<?= $jqxPrefix;?> = winFormId;

    $(txtFileId).click();
}

var  image<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var id = rowdata.Id;
    var str = '<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>'+id+'" name="winForm<?= $jqxPrefix;?>'+id+'" method="post">';

    str += "<input type='file' onchange=readImageURL<?= $jqxPrefix;?>(this,'#image<?= $jqxPrefix;?>"+id+"') id='txtFile<?= $jqxPrefix;?>"+id+"' class='hide' name='Image' />";
    str += "<input type='hidden' name='Id' value='"+id+"' />";

    str += "<div class='pcsp-grid-row-auto-height' style='height: 30px;'>";
    var path = "<?= $this->basepath().PHPConstant::RESOURCE_FILES_FOLDER;?>/";
    var img  = rowdata.Image;
    if(img == "" || img == null)
    {
        path += "<?= PHPConstant::ITEM_IMAGE_BLANK;?>";
    }
    else
    {
        path += img;
    }

    str += "<img style='width: 30px;height: 30px;border-radius: 50%' src='"+path+"' class='margin-top-7 cursor-pointer' id='image<?= $jqxPrefix;?>"+id+"' onclick=browsImage<?= $jqxPrefix;?>('#winForm<?= $jqxPrefix;?>"+id+"','#txtFile<?= $jqxPrefix;?>"+id+"') />";

    str +="</div>";

    str += "</form>";

    return str;
}

var isSaleWeight = function (row, datafield, value) 
{
  var str = "<div style='position:relative;text-align:center;top:30%;'>";

    str += value == 0 ? '' : '<i style="color: #0099FF;" class="glyphicon glyphicon-ok" title=""></i>';

  str += "</div>";

    return str;
};

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        selectionmode: 'multiplerows',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["CategoryName","Name"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            // { 
            //     text: "<?= $this->translate('Image');?>",datafield:"Image", cellsrenderer: image<?= $jqxPrefix;?>,width: 80,enabletooltips: false,align:'center',sortable: false,filterable: false,
            // },
            { 
                text: "<?= $this->translate('Type');?>", datafield: 'TypeName'
            },
            { 
                text: "<?= $this->translate('Price');?>", datafield: 'Price'
            },
            { 
                text: "<?= $this->translate('Sale Weight');?>", datafield: 'IsSaleWeight', cellsrenderer: isSaleWeight,align:'center', width:120
            },
            { 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120
            },
        ]
    }); 
});
</script>