<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_ITEM_CONTROLLER;
	$tUrl = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_TYPE_CONTROLLER;
	$cUrl = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::ITEM_CATEGORY_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	
	$jqxPrefix = '_sysSaleItemNewAndEdit';
	$pre = '_sysSaleItemList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = "#jqxGrid".$pre;

?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

  <input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
  <input type="hidden" id="txtGroupRecord<?= $jqxPrefix;?>" name="GroupRecord" value="<?= $this->record->GroupRecord; ?>" />

	<div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label"><?= $this->translate("NAME");?><span class="star-red">*</span></label>
	        <div class="col-sm-8">
	            <input class="form-control input-sm" id="txtName<?= $jqxPrefix?>" placeholder="<?= $this->translate('NAME');?>" type="text" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>">
	        </div>
	    </div>
    </div>
    <div class="form-group">
      	<div class="col-sm-10 no-padding">
            <label class="col-sm-4 control-label">
              <?= $this->translate("Category");?>
              <span class="star-red">*</span>
            </label>
            <div class="col-sm-8">
                <div id="ddlItemCategory<?= $jqxPrefix;?>" >
                  	<div id='ddlTreeItemCategory<?= $jqxPrefix;?>'></div>
                </div>
				        <input type="hidden" name="CategoryName" id="txtItemCategoryName<?= $jqxPrefix; ?>" value="<?= $this->record->CategoryName;?>">
				        <input type="hidden" name="ItemCategoryId" id="txtItemCategoryIds<?= $jqxPrefix; ?>" value="<?= $this->record->ItemCategoryId;?>">
            </div>
        </div>
        <div class="col-sm-2 no-padding">
          	<?php 
          		echo $this->partial("sale/sale-item/partial/tree-dropdown-list-action-partial.phtml",
                    [
                        "jqxPrefix"         =>  $jqxPrefix,
                        "newAndEditPrefix"  =>  "_sysItemCategoryNewAndEdit",
                        "dropDownListId"    =>  "#ddlItemCategory".$jqxPrefix,
                        "dropDownTreeListId"=>  "#ddlTreeItemCategory".$jqxPrefix,
                        "hiddenFeildId"     =>  "#txtItemCategoryIds".$jqxPrefix,
                        "url"               =>  $cUrl,
                        "dropdownWidth"     =>  270,
                        "title"             =>  $this->translate("New Product Category"),
                          
                    ]);
          	?>
        </div>
    </div>
    <div class="form-group">
      	<div class="col-sm-10 no-padding">
            <label class="col-sm-4 control-label">
              <?= $this->translate("Type");?>
              <span class="star-red">*</span>
            </label>
            <div class="col-sm-8">
                <div id="ddlItemType<?= $jqxPrefix;?>" >
                  	<div id='ddlTreeItemType<?= $jqxPrefix;?>'></div>
                </div>
				        <input type="hidden" name="TypeName" id="txtItemTypeName<?= $jqxPrefix; ?>" value="<?= $this->record->TypeName;?>">
				        <input type="hidden" name="ItemTypeIds" id="txtItemTypeIds<?= $jqxPrefix; ?>" value="<?= $this->record->ItemTypeIds;?>">
            </div>
        </div>
        <div class="col-sm-2 no-padding">
          	<div class="btn-group padding-left-7 padding-top-5">
                <a href="javascript:void(0);" class="icon-active" id="btnAddMore<?= $jqxPrefix;?>">
                    <i class="glyphicon glyphicon-plus icon-spining-hover"></i>
                </a>
                <a href="javascript:void(0);" class="icon-active" id="btnRefresh<?= $jqxPrefix;?>">
                    <i class="glyphicon glyphicon-refresh padding-left-2 icon-spining-hover"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="form-group">
    	<div class="col-md-10 no-padding">
	        <label class="col-sm-4 control-label">
            <?= $this->translate("Sale Weight");?>
          </label>
	        <div class="col-sm-8 checkbox">
	            <label>
	                <input type="checkbox" value="1" <?= (($this->record->IsSaleWeight == 1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsSaleWeight" id="chhActive<?= $jqxPrefix?>">
	                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
	              </label>
	        </div>
	    </div>
    </div>
    <div class="form-group">
      <div class="col-md-10 no-padding">
          <label class="col-sm-4 control-label">
            <?= $this->translate("ACTIVE");?>
          </label>
          <div class="col-sm-8 checkbox">
              <label>
                  <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chhActive<?= $jqxPrefix?>">
                  <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
                </label>
          </div>
      </div>
    </div>

	<?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" 		=> $url,
						"jqxPrefix"	=> $jqxPrefix,
						"gridName"	=> $gridIdName,

					]
		);
	?>
</form>
<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
	$('#txtName<?= $jqxPrefix;?>').val('');
	$("#txtNote<?= $jqxPrefix;?>").val('');
	$("#txtId<?= $jqxPrefix;?>").val('0');
	$("#chhActive<?= $jqxPrefix?>").prop('checked', true);

	clearTreeDropDownListCheckbox("#ddlTreeItemType<?= $jqxPrefix;?>");
	clearTreeDropDownList("#ddlTreeItemCategory<?= $jqxPrefix;?>");
}

function getChbTreeCheckItem<?= $jqxPrefix;?>(ddlChbName)
{
  	var arrId = [];
  	var items = $(ddlChbName).jqxTree('getCheckedItems');

  	if( items != null && items.length > 0 )
  	{
        $.each(items, function (index) 
        {
        	if( this.id != 0 && this.id != "" && this.parentId != 0 )
        	{
          		arrId.push(this.id);                         
        	}
        });
 	}

  	return arrId.join(',');
};

var populateTreeCheckboxContent<?= $jqxPrefix;?> = function (event, jqxTree, dropDownList, hiddenId, isSelect)
{
  	var args = event.args;
   	var item = $(jqxTree).jqxTree('getItem', args.element);

   	if( isSelect === true )
   	{
    	$(jqxTree).jqxTree('checkItem', item, true);
     	$(jqxTree).jqxTree('selectItem', null); 
   	}
   
   	var arrText = [];
  	var items = $(jqxTree).jqxTree('getCheckedItems');

  	if(items!=null && items.length > 0)
  	{
       	$.each(items, function (index) 
       	{
       		if( this.id != 0 && this.id != "" && this.parentId != 0 )
       		{
        		arrText.push(this.label);                         
       		}
       	});
  	}

  	var text = arrText.join(',');
   
   	(hiddenId != null && hiddenId != "" ? $(hiddenId).val(getChbTreeCheckItem<?= $jqxPrefix;?>(jqxTree)):'');

   	var dropDownContent = '<div style="position: relative; margin-left: 3px; margin-top: 5px;">' + text + '</div>';
   	
   	$(dropDownList).jqxDropDownButton('setContent', dropDownContent); 
};

var jqxTreeDropDownListCheckbox<?= $jqxPrefix;?> = function(jqxTheme, width, height, dropDownList, jqxTreeId, jsonList, hiddenId, hasRoot, hasMainRoot, mainRootText,isSelectFirstItem, isExpandAll)
{
  	$(dropDownList).jqxDropDownButton('setContent', '');
   	var jqxTree = jqxTreeId;
   	var defaultHiddenVal = (hiddenId != null && hiddenId != "" ? $(hiddenId).val() : '');

   	$(dropDownList).jqxDropDownButton({ theme: jqxTheme, width: width, height: 25});
   
   	$(jqxTree).bind('checkChange', function (event) 
   	{
    	populateTreeCheckboxContent<?= $jqxPrefix;?>(event, jqxTree, dropDownList, hiddenId, false);
   	});
   
   	$(jqxTree).bind('select', function (event) 
   	{
    	populateTreeCheckboxContent<?= $jqxPrefix;?>(event, jqxTree, dropDownList, hiddenId, true);
   	});
   
   	var records = [];
   	if(jsonList!=null && jsonList.length > 0)
   	{
    	var source = jsonList;                                                                                                                
       	var dataAdapter = new $.jqx.dataAdapter(source);
       	dataAdapter.dataBind(); 
       	records = dataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label'}]);
  	}
   
   	if( hasRoot === true )
   	{
    	if( hasMainRoot != null && hasMainRoot === true )
    	{
      		if( mainRootText != null && mainRootText != '' )
      		{
        		records = [{ label: mainRootText, id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
      		}
      		else
      		{
        		records = [{ label: "Main Root", id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
	      	}
	    }
	    else
	    {
	      	records = [{ label: " ", id:0, parentid:0, icon: basePath+"/images/icons/folder.png", expanded: false, items: records}];
	    }
    }
   
    if( isExpandAll === true )
    {
    	$(jqxTree).jqxTree({ hasThreeStates: true, checkboxes: true, theme: jqxTheme, source: records, width: width-2, height: height}).jqxTree('expandAll');
   	}
   	else
   	{
    	$(jqxTree).jqxTree({ hasThreeStates: true, checkboxes: true, theme: jqxTheme, source: records, width: width-2, height: height});
    }

    if(isSelectFirstItem === true )
    {
    	$(jqxTree).jqxTree('selectItem', $(jqxTree).find('li:first')[0]);
    }
   
    if(defaultHiddenVal != "" && defaultHiddenVal != "0")
    {
      	var element = $(jqxTree).find('#'+defaultHiddenVal)[0];
      	$(jqxTree).jqxTree('selectItem', element);
    }
  
   	if( defaultHiddenVal != "" && defaultHiddenVal != "0" )
   	{
    	var arrId = defaultHiddenVal.split(",");
    	for( i = 0 ; i < arrId.length ; i++ )
    	{
      		var element = $(jqxTree).find('#'+arrId[i])[0];
          	$(jqxTree).jqxTree('selectItem', element);
    	}
  	}   
};
function refreshTreeDropDownListCheckbox<?= $jqxPrefix;?>(url, param) 
{
  $.ajax({
        type: 'post',
        datatype: 'json',
        url: url,
        data: param,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
          closePageLoading();
            jqxTreeDropDownListCheckbox<?= $jqxPrefix;?>(jqxTheme,270,250,"#ddlItemType<?= $jqxPrefix;?>","#ddlTreeItemType<?= $jqxPrefix;?>",data,"#txtItemTypeIds<?= $jqxPrefix;?>",false,true,"",false,true);
        },
        error: function (errs) {
            closePageLoading();
            showMessage('Error','Error Loading data','270','120');
         }
    });
  
};
$(document).ready(function () 
{
	jqxTreeDropDownListCheckbox<?= $jqxPrefix;?>(jqxTheme,270, 250, '#ddlItemType<?= $jqxPrefix; ?>', '#ddlTreeItemType<?= $jqxPrefix; ?>', <?= json_encode($this->itemTypeRecord);?>,'#txtItemTypeIds<?= $jqxPrefix; ?>', false, true,'', false, true);
	jqxTreeDropDownList(jqxTheme,270, 250, '#ddlItemCategory<?= $jqxPrefix; ?>', '#ddlTreeItemCategory<?= $jqxPrefix; ?>', <?= json_encode($this->categoryRecord);?>, '#txtItemCategoryIds<?= $jqxPrefix; ?>', false, true,'', false, true);

   $("#btnAddMore<?= $jqxPrefix;?>").click(function()
    {
        var parentId = 0;

        var param = JSON.parse('{"Id":"0","isPopup":1,"gridIdName":"","ParentId":"'+parentId+'"}');
        addNewRecord("_sysItemTypeNewAndEdit", "New Product Type",550,300, '<?= $tUrl;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });

    $("#btnRefresh<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();

        var param = [];
        refreshTreeDropDownListCheckbox<?= $jqxPrefix;?>("<?= $tUrl;?>/getRecordsForTreeGrid",param);
    });


    $('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			},
			{
	        	input: '#ddlTreeItemCategory<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var category = $('#ddlTreeItemCategory<?= $jqxPrefix; ?>').jqxTree('getSelectedItem');
					$('#ddlItemCategory<?= $jqxPrefix; ?>').removeClass('jqx-validator-error-element');
					if( category == null || category.id == 0 )
					{
						$('#ddlItemCategory<?= $jqxPrefix; ?>').addClass('jqx-validator-error-element');

						return false;
					}
					return true;
				}
			},
			{
		      	input: '#txtItemTypeIds<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
		      	{
		      		var typeName = $("#ddlItemType<?= $jqxPrefix;?>").text();
		      		var categoryName = $("#ddlItemCategory<?= $jqxPrefix;?>").text();

            		$("#txtItemCategoryName<?= $jqxPrefix;?>").val($.trim(categoryName));
					$("#txtItemTypeName<?= $jqxPrefix;?>").val($.trim(typeName));

            		$('#ddlItemType<?= $jqxPrefix;?>').removeClass('jqx-validator-error-element');

            		if( $.trim(typeName) == "" )
            		{
              			$('#ddlItemType<?= $jqxPrefix;?>').addClass('jqx-validator-error-element');

              			return false;
            		}

					return true;
				}
			}
		]
	});
});
</script>