<?php
    $newAndEditPrefix   =   $this->newAndEditPrefix;
    $parentDropDownListId = isset($this->parentDropDownListId)?$this->parentDropDownListId:"";
    $jqxPrefix          =   $this->jqxPrefix.date("His").rand();
    $hiddenFeildId      =   $this->hiddenFeildId;
    $url                =   $this->url;
    $title              =   isset($this->title)?$this->title:$this->translate("NEW");
    $width              =   isset($this->width)?$this->width:550;
    $height             =   isset($this->height)?$this->height:300;
    $dropdownWidth      =   isset($this->dropdownWidth)?$this->dropdownWidth:"100%";
    $dropdownHeight     =   isset($this->dropdownHeight)?$this->dropdownHeight:250; 

    $dropDownListId     =   $this->dropDownListId;
    $dropDownTreeListId =   $this->dropDownTreeListId;

    $type = isset($this->type)?$this->type:1;
?>

<div class="btn-group padding-left-7 padding-top-5">
    <a href="javascript:void(0);" class="icon-active" id="btnAddMore<?= $jqxPrefix;?>">
        <i class="glyphicon glyphicon-plus icon-spining-hover"></i>
    </a>
    <a href="javascript:void(0);" class="icon-active" id="btnRefresh<?= $jqxPrefix;?>">
        <i class="glyphicon glyphicon-refresh padding-left-2 icon-spining-hover"></i>
    </a>
</div>

<input type="hidden" id="txtHiddenFeild<?= $jqxPrefix;?>">

<script type="text/javascript">

$(document).ready(function()
{
    $("#btnAddMore<?= $jqxPrefix;?>").click(function()
    {
        var parentId = 0;
        <?php if(!empty($parentDropDownListId)):?>
            parentId = $("<?= $parentDropDownListId;?>").val();
            if(parentId == 0 || parentId == "")
            {
                showMessage('<?= $this->translate("WARNING")?>','<?= $this->translate("SELECT_PARENT_RECORD")?>', '300', '100');
                return false;
            }
        <?php endif;?>

        var param = JSON.parse('{"Id":"0","isPopup":1,"gridIdName":"","ParentId":"'+parentId+'"}');
        addNewRecord("<?= $newAndEditPrefix;?>", '<?= $title;?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });

    $("#btnRefresh<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();

        var param = [];
            
        refreshTreeDropDownList("<?= $dropDownListId;?>", "<?= $dropDownTreeListId;?>", "<?= $hiddenFeildId;?>", "<?= $url;?>/getRecordsForTreeGrid", param, false, true, "",true, true,"<?= $dropdownWidth;?>","<?= $dropdownHeight;?>");
    });

    $(document).ajaxComplete(function(event, xhr, settings) 
    {
        if(settings.url === "<?= $url; ?>/saveRecord") 
        {
            if(xhr.responseJSON != null && xhr.responseJSON.msg == null )
            {
                var id = xhr.responseJSON.Id;
                $("<?= $hiddenFeildId;?>").val(id);

                setTimeout(
                        function()
                        {
                            $("#btnRefresh<?= $jqxPrefix;?>").trigger("click");
                        }, 2000);
            }
        }
    });
});
</script>