<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;

    $currentDate = date("Y-m-d");
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<div class="col-md-12 form-horizontal margin-bottom-10 ">
		<div class="col-md-12 no-padding-left no-padding-top">
			<div class="col-md-3 no-padding-left no-padding-top no-padding-bottom" id="pcspFromDate<?= $jqxPrefix;?>">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("FROM_DATE");?>
		        </label>
		        <div id="txtFromDate<?= $jqxPrefix;?>" name="FromDate"></div>
		    </div>
		    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("TO_DATE");?>
		        </label>
		        <div id="txtToDate<?= $jqxPrefix;?>" name="ToDate"></div>
		    </div>
		    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("Category");?>
		        </label>
		        <div id="ddlItemCategory<?= $jqxPrefix;?>" >
                  	<div id='ddlTreeItemCategory<?= $jqxPrefix;?>'></div>
                </div>
                <input type="hidden" id="txtItemCategoryId<?= $jqxPrefix;?>" name="ItemCategoryId">
		    </div>
		    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
		        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
		        	<?= $this->translate("Type");?>
		        </label>
		        <div id="ddlItemType<?= $jqxPrefix;?>" >
                  	<div id='ddlTreeItemType<?= $jqxPrefix;?>'></div>
                </div>
                <input type="hidden" id="txtTypeId<?= $jqxPrefix;?>" name="ItemTypeId">
		    </div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 no-padding">
			<div class="padding-top-10">
				<?php 
	                echo $this->partial("application/basepartial/action-filter-partial.phtml",
	                            array(
	                                'jqxPrefix' =>  $jqxPrefix,

	                            )
	                        );
	            ?>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">

function initialFilter<?= $jqxPrefix;?>() 
{
	var fromDate = $("#txtFromDate<?= $jqxPrefix;?>").val();
	var dataAdapter<?= $jqxPrefix;?> = [];
	if( fromDate == "" || fromDate == null )
	{	
		showMessage('Message','Please select from date.','270','120');
	}
	else
	{
		var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
		var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "<?= $gridIdName;?>", json);
		dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	}
    
	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	$("#txtFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $currentDate;?>");
	clearDate("#txtToDate<?= $jqxPrefix;?>");
	clearTreeDropDownListCheckbox("#ddlTreeItemCategory<?= $jqxPrefix;?>");
	clearTreeDropDownListCheckbox("#ddlTreeItemType<?= $jqxPrefix;?>");
}

$(document).ready(function()
{
	$('#txtFromDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});
	$('#txtToDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	$("#txtFromDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate","<?= $currentDate;?>");

	var width = $("#txtToDate<?= $jqxPrefix;?>").width();

	jqxTreeDropDownListCheckbox(jqxTheme,width, 250, '#ddlItemType<?= $jqxPrefix;?>', '#ddlTreeItemType<?= $jqxPrefix; ?>', <?= json_encode($this->itemTypeRecord);?>,"#txtTypeId<?= $jqxPrefix;?>", false, true,'', false, true);
	jqxTreeDropDownListCheckbox(jqxTheme,width, 250, '#ddlItemCategory<?= $jqxPrefix;?>', '#ddlTreeItemCategory<?= $jqxPrefix; ?>', <?= json_encode($this->categoryRecord);?>,"#txtItemCategoryId<?= $jqxPrefix;?>", false, true,'', false, true);

	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>