<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Auth</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/icons/login-icon.png'))
        ->prependStylesheet($this->basePath().'/pcsp/css/login.css')
        ->prependStylesheet($this->basePath().'/plugin/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath().'/plugin/font-awesome/css/font-awesome.min.css')
        ->prependStylesheet($this->basePath().'/plugin/AdminLTE/css/skins/_all-skins.min.css')
        ->prependStylesheet($this->basePath().'/plugin/AdminLTE/css/AdminLTE.css');
    ?>

    <?php echo $this->headScript()
        ->appendFile($this->basePath().'/plugin/jquery/jquery-2.2.3.min.js')
        ->appendFile($this->basePath().'/plugin/bootstrap/js/bootstrap.js');
    ?>
</head>
<body class="hold-transition login-page" style = "background: #F2F2F2;">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><img src="<?php echo $this->basePath('/images/logo/fruiti-yogurt-logo.png');?>" style="width: 200px;"/></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <?php
        if (!empty($this->getMsg)) {
            echo '<p class="login-box-msg">'.$this->escapehtml($this->getMsg).'</p>';
        }
        ?>

        <form class="login-container" method="post" action="<?php echo $this->basepath();?>/login">
            <div class="form-group has-feedback">
                <input class="form-control" name="userName" value="" title="Please provide your username" autocomplete="off" autofocus="" placeholder="User Name" type="text" required="required">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" value=""  title="Password is required" placeholder="Password" required="required">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">

                <!-- /.col -->
                <div class="col-xs-offset-6 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

</body>
</html>
