<?php 
    use HengLib\PHPConstant;

    $url = $this->basepath().'/inventory/report';
    $jqxPrefix = '_sysReportList';

    $this->headTitle($this->translate("Report"));
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate('Dashboard');?>
            </a>
        </li>
        <li>
            <?= $this->translate('Outcome');?>
        </li>
    </ol>
</section>

<?php 
    echo $this->partial('inventory/report/partial/filter-partial.phtml',
            [
                "url"        =>  $url,
                "jqxPrefix"  =>  $jqxPrefix,
                "action"     =>  "getOutcomeRecordsForGrid"

            ]
    );
    echo $this->partial('inventory/report/partial/grid-outcome-partial.phtml',
            [
                "url"        =>  $url,
                "jqxPrefix"  =>  $jqxPrefix,
                "action"     =>  "getOutcomeRecordsForGrid"

            ]
    );
?>

<script type="text/javascript">
    
function exportExcel<?= $jqxPrefix;?>()
{
    var param = ($('#winForm<?= $jqxPrefix;?>').serialize());

    window.location.href = "<?= $url;?>/outcome-export?"+param;
}

$(document).ready(function()
{
    $("#butExport<?= $jqxPrefix;?>").click(function()
    {
        exportExcel<?= $jqxPrefix;?>();
    });
});

</script>