<?php 
	use PCSPLib\PHPConstant;
?>

<table width="100%" class="gridtable margin-top-8">
	<thead>
		<th style="width: 50px;"><?= $this->translate("No");?></th>
		<th><?= $this->translate("Date");?></th>
		<th><?= $this->translate("Income");?></th>
		<th><?= $this->translate("Outcome");?></th>
		<th><?= $this->translate("Profit");?></th>
	</thead>
	<tbody>
		<?php 
			$hasRecord = false;
			$index = 0;
			$total = 0;
		?>
		<?php foreach($this->record as $key => $value ):$index++;$hasRecord=true;?>
			<tr>
				<td class="text-center"><?= $index;?></td>
				<td><?= $value["Date"];?></td>
				<td><?= $value["Income"];?></td>
				<td><?= $value["Outcome"];?></td>
				<td>
					<?php 
						$t = $value["Income"]-$value["Outcome"];

						$total += $t;

						echo $t;
					?>
				</td>
			</tr>
		<?php endforeach;?>
		<?php if($hasRecord):?>
			<tr>
				<td colspan="4" style="text-align:right;"><?= $this->translate("Total");?></td>
				<td><?= $total.PHPConstant::CURRENCY_FIX;?></td>
			</tr>
		<?php else:?>
			<tr>
				<td colspan="5"><?= $this->translate("No data to display");?></td>
			</tr>
		<?php endif;?>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="5">&nbsp;</th>
		</tr>
	</tfoot>
</table>