<?php 
    use HengLib\PHPConstant;

    $url = $this->basepath()."/inventory/report";
    $jqxPrefix = '_sysReportList';

    $this->headTitle($this->translate("Report"));
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate('Dashboard');?>
            </a>
        </li>
        <li>
            <?= $this->translate('Profit');?>
        </li>
    </ol>
</section>

<?php 
    echo $this->partial('inventory/report/partial/list-partial.phtml',
            [
                "url"        =>  $url,
                "jqxPrefix"  =>  $jqxPrefix,
                "action"     =>  "profit-content"

            ]
    );
?>