<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::RESOURCE_CONTROLLER;

    $escaper = new Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysResourceNewAndEdit';
    $jqxPre = '_sysResourceList';

    $isCopy = isset($this->isCopy)?$this->isCopy:0;
    $id = ($isCopy)?0:$this->record->Id;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />

    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("RESOURCE_NAME");?></label>
        <div class="col-sm-8">
            <div id="ddlResourceController<?= $jqxPrefix;?>" name="ResourceControllerId"></div>
            <input type="hidden" id="txtResourceControllerId<?= $jqxPrefix;?>" value="<?= $this->record->ResourceControllerId;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("ACTION_NAME");?></label>
        <div class="col-sm-8">
            <div id="ddlResourceAction<?= $jqxPrefix;?>" name="ResourceActionId"></div>
            <input type="hidden" id="txtResourceActionId<?= $jqxPrefix;?>" value="<?= $this->record->ResourceActionId;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label input-sm"><?= $this->translate("ORDER_NUM");?></label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-sm" name="OrderNum" value="<?= $this->record->OrderNum;?>" id="txtOrderNum<?= $jqxPrefix;?>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbIsActive<?= $jqxPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </div>

    <?php 
        echo $this->partial("application/basepartial/action-button-partial.phtml",
                    [
                        "url"       => $url,
                        "jqxPrefix" => $jqxPrefix,
                        "gridName"  => "#jqxGrid".$jqxPre,

                    ]
        );
    ?>
</form>

<script type="text/javascript">
function clearControl<?= $jqxPrefix;?>()
{
    // $("#winForm<?= $jqxPrefix;?>").find("input[type=text],input[type=hidden],textarea").val("");

    $("#txtId<?= $jqxPre;?>").val(0);
    // $("#ddlResourceController<?= $jqxPrefix;?>").jqxDropDownList("selectIndex", 0);
    // $("#ddlResourceAction<?= $jqxPrefix;?>").jqxDropDownList("selectIndex", 0);
    // $("#chbIsActive<?= $jqxPrefix;?>").prop("checked", true);
}
$(document).ready(function()
{

    initDropDownList(jqxTheme, "100%", 250, '#ddlResourceController<?= $jqxPrefix;?>', <?= json_encode($this->resourceControllerRecord);?>, 'Name', 'Id', true, '', '0', "#txtResourceControllerId<?= $jqxPrefix;?>");
    initDropDownList(jqxTheme, "100%", 250, '#ddlResourceAction<?= $jqxPrefix;?>', <?= json_encode($this->resourceActionRecord);?>, 'Name', 'Id', true, '', '0', "#txtResourceActionId<?= $jqxPrefix;?>");

    $('#winForm<?php echo $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
            {
                input: '#ddlResourceController<?php echo $jqxPrefix; ?>', message: ' ', action: 'select', rule: function () 
                {
                    if($("#ddlResourceController<?php echo $jqxPrefix; ?>").val() == "" || $("#ddlResourceController<?php echo $jqxPrefix; ?>").val() == "0")
                    {
                        return false;
                    }
                    return true;
                }
            },
            {
                input: '#ddlResourceAction<?php echo $jqxPrefix; ?>', message: ' ', action: 'select', rule: function () 
                {
                    if($("#ddlResourceAction<?php echo $jqxPrefix; ?>").val() == "" || $("#ddlResourceAction<?php echo $jqxPrefix; ?>").val() == "0")
                    {
                        return false;
                    }
                    return true;
                }
            },
        ]
    });
});

</script>