<?php

$jqxPrefix = $this->jqxPrefix;
$newAndEditPrefix = isset($this->newAndEditPrefix)?$this->newAndEditPrefix:'';
$url = $this->url;
$width = isset($this->width)?$this->width:550;
$height= isset($this->height)?$this->height:300;
$gridType = isset($this->gridType)?$this->gridType:1; // 1 is for grid, 2 is for treegrid
$gridIdName = $this->gridIdName;
$gridHeaderProperties = $this->gridHeaderProperties;

$isCanAdd = isset($this->isCanAdd)?$this->isCanAdd:1;
$isCanEdit = isset($this->isCanEdit)?$this->isCanEdit:1;
$isCanDelete = isset($this->isCanDelete)?$this->isCanDelete:1;
$isCanCopy = isset($this->isCanCopy)?$this->isCanCopy:1;
$isCanEnable = isset($this->isCanEnable)?$this->isCanEnable:1;
$isCanDisable = isset($this->isCanDisable)?$this->isCanDisable:1;
$isCanRefresh = isset($this->isCanRefresh)?$this->isCanRefresh:1;
$isCanView = isset($this->isCanView)?$this->isCanView:0;

$gridColumnRecord = json_encode(isset($this->gridColumnRecord)?$this->gridColumnRecord:[]);

?>

<section class="content-custom-blog pcsp-resp-action">
    <div class="row">
            <div class="col-lg-10">
                <div class="btn-group btn-icon-state">
                    <a href="#" class="btn btn-default btn-sm icon-active" id="butNew<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-plus" title="<?= $this->translate('NEW');?>"></i> <?= $this->translate('NEW');?></a>

                    <?php if( $isCanCopy ):?>
						<a href="#" class="btn btn-default btn-sm disabled" id="butCopy<?= $jqxPrefix;?>">
							<i class="glyphicon glyphicon-copy" title="<?= $this->translate('Copy');?>"></i> <?= $this->translate('Copy');?>
						</a>
					<?php endif;?>
					<?php if( $isCanEdit ):?>
						<a href="#" class="btn btn-default btn-sm disabled" id="butEdit<?= $jqxPrefix;?>">
							<i class="glyphicon glyphicon-edit" title="<?= $this->translate('EDIT');?>"></i> <?= $this->translate('EDIT');?>
						</a>
					<?php endif;?>
					
					<a href="#" class="btn btn-default btn-sm disabled" id="butDelete<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-trash" title="<?= $this->translate('DELETE');?>"></i> <?= $this->translate('DELETE');?></a>
					<a href="#" class="btn btn-default btn-sm disabled" id="butEnable<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-ok" title="<?= $this->translate('ENABLE');?>"></i> <?= $this->translate('ENABLE');?></a>
					<a href="#" class="btn btn-default btn-sm disabled" id="butDisable<?= $jqxPrefix;?>"><i class="glyphicon glyphicon-remove" title="<?= $this->translate('DISABLE');?>"></i> <?= $this->translate('DISABLE');?></a>
                </div>
            </div>

            <?php 
				echo $this->partial("application/basepartial/script-grid-header-property-partial.phtml",
							[
								"url"				=>	$url,
								"jqxPrefix"			=>	$jqxPrefix,
								"gridIdName"		=>	$gridIdName,
								"gridColumnRecord"	=>	$gridColumnRecord,
								"gridType"			=>	$gridType

							]
						);
			?>
    </div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = '<?= $newAndEditPrefix;?>';

$(document).ready(function()
{
	<?php if($gridType == 1):?>
		$("<?= $gridIdName; ?>").on('rowselect rowunselect', function (event) 
		{
			var selectedRows = selectedRows = $("<?= $gridIdName; ?>").jqxGrid('getselectedrowindexes');
			
			$("#butCopy<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			
			$("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butDisable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butEnable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			
			var bool = false;
			if( selectedRows.length == 1 )
			{
				$("#butCopy<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				bool = true;		
			}
			else if( selectedRows.length > 1 )
			{
				bool = true;
			}
			if(bool)
			{
				$("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butEnable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butDisable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');			
			}
	    });
	<?php else:?>
		$("<?= $gridIdName; ?>").on('rowSelect rowUnSelect', function (event) 
		{
			var selectedRows = $("<?= $gridIdName; ?>").jqxTreeGrid('getSelection');

			$("#butCopy<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butDisable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			$("#butEnable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			
			var bool = false;
			if( selectedRows.length == 1 )
			{
				$("#butCopy<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				bool = true;		
			}
			else if( selectedRows.length > 1 )
			{
				bool = true;
			}
			if(bool)
			{
				$("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butEnable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
				$("#butDisable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');			
			}
	    });
	<?php endif;?>

	$("#butNew<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var param = JSON.parse('{"Id":"0","isPopup":1}');
        addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("NEW")?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });
	
	$("#butCopy<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_COPY')?>', '<?= $this->translate('SELECT_ONLY_ONE_ROW_TO_COPY')?>');
        
		if(selectedRow)
		{
			var param = JSON.parse('{"Id":"'+selectedRow.Id+'","isCopy":1,"isPopup":1,"gridIdName":"<?= $gridIdName;?>"}');
			addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate('COPY')?>', '<?= $width; ?>', '<?= $height; ?>', '<?= $url;?>/copy', param, '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_LOADING_DATA')?>');
		}
    });
	
	$("#butEdit<?= $jqxPrefix;?>").click(function(e)
	{
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_EDIT')?>', '<?= $this->translate('SELECT_ONLY_ONE_ROW_TO_EDIT')?>');
		if(selectedRow){
			var param = JSON.parse('{"Id":"'+selectedRow.Id+'","isPopup":1,"gridIdName":"<?= $gridIdName;?>"}');
			addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate('EDIT')?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/edit', param, '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_LOADING_DATA')?>');
		}
    });
	
	$("#butDelete<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DELETE')?>', '');    
		if(selectedRows){
			var isOk = confirm("<?= $this->translate('MESSAGE_DELETE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
			<?php if($gridType == 2){ // TreeGrid ?>
						listId.push(selectedRows.Id);
						deleteGridRow(listId, '<?= $gridIdName; ?>', 2, '<?= $url;?>/deleteMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DELETE_DATA')?>');
			<?php }else { // Grid ?>
						for(var index in selectedRows)
						{
							var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
							var id = jqxdatarow!=null?jqxdatarow.Id:0;
							listId.push(id);
						}
						deleteGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/deleteMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DELETE_DATA')?>');
			<?php } ?>
			}
		}
    });
	
	$("#butDisable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DISABLE')?>', '');    
		if(selectedRows){
			var isOk = confirm("<?= $this->translate('MESSAGE_DISABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				<?php if($gridType == 2): // TreeGrid ?>
					var selection = $("<?= $gridIdName;?>").jqxTreeGrid("getSelection");
					for (var i = 0; i < selection.length; i++) 
					{
						var jqxdatarow = selection[i];
						var id = jqxdatarow!=null?jqxdatarow.Id:0;
						listId.push(id);
					}
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 2, '<?= $url;?>/disableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DISABLE_DATA')?>');
				<?php else: // Grid ?>
					for(var index in selectedRows)
					{
						var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
						var id = jqxdatarow!=null?jqxdatarow.Id:0;
						listId.push(id);
					}
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/disableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_DISABLE_DATA')?>');
				<?php endif; ?>
			}
		}
	});
	
	$("#butEnable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid('<?= $gridType; ?>', '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_ENABLE')?>', '');    
		if(selectedRows){
			var isOk = confirm("<?= $this->translate('MESSAGE_ENABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				<?php if($gridType == 2): // TreeGrid ?>
					var selection = $("<?= $gridIdName;?>").jqxTreeGrid("getSelection");
					for (var i = 0; i < selection.length; i++) 
					{
						var jqxdatarow = selection[i];
						var id = jqxdatarow!=null?jqxdatarow.Id:0;
						listId.push(id);
					}
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 2, '<?= $url;?>/enableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_ENABLE_DATA')?>');
				<?php else: // Grid ?>
					for(var index in selectedRows)
					{
						var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
						var id = jqxdatarow!=null?jqxdatarow.Id:0;
						listId.push(id);
					}
					enableDisableGridRow(listId, '<?= $gridIdName; ?>', 1, '<?= $url;?>/enableMultipleRecords', '<?= $this->translate('ERROR')?>', '<?= $this->translate('ERROR_ENABLE_DATA')?>');
				<?php endif; ?>
			}
		}
	});
 });

</script>