<?php 
	$url 			= $this->url;
	$jqxPrefix 		= $this->jqxPrefix;
	$isSaveType 	= isset($this->isSaveType)?$this->isSaveType:1;
	$isSaveNew 		= isset($this->isSaveNew)?$this->isSaveNew:1;
	$isSaveClose 	= isset($this->isSaveClose)?$this->isSaveClose:1;
	$isClose  		= isset($this->isClose)?$this->isClose:1;
	$gridName 		= isset($this->gridName)?$this->gridName:"";
	$gridType 		= isset($this->gridType)?$this->gridType: 1;
	$saveAction     = isset($this->saveAction)?$this->saveAction:"";
	if(empty($saveAction))
		$saveAction = "saveRecord";
?>
<div class="window-button-fix-footer">
	<div class="window-button">
		<?php if($isSaveNew):?>
	 		<a href="javascript:;" id="butSaveNew<?php echo $jqxPrefix;?>" title="<?php echo $this->translate('SAVE_NEW');?>" class="btn btn-primary btn-xs">
	            <i class="glyphicon glyphicon-saved"></i>
	            <?php echo $this->translate('SAVE_NEW');?>
	        </a>
	    <?php endif;?>
	    <?php if($isSaveClose):?>
	        <a class="btn btn-primary btn-xs" href="javascript:;" id="butSaveClose<?php echo $jqxPrefix;?>" title="<?php echo $this->translate('SAVE');?>">
	            <i class="glyphicon glyphicon-save"></i>
	            <?php echo $this->translate('SAVE');?>
	        </a>
	    <?php endif;?>
	    <?php if($isClose):?>
	        <a class="btn btn-danger btn-xs" href="javascript:;" id="butClose<?php echo $jqxPrefix;?>" title="<?php echo $this->translate('CLOSE');?>">
	            <i class="glyphicon glyphicon-off"></i>
	            <?php echo $this->translate('CLOSE');?>
	        </a>
	    <?php endif;?>
    </div>
</div> 

<script type="text/javascript">
	var isSaveClose<?php echo $jqxPrefix;?> = false;

	function initialActionButtonToTheme<?php echo $jqxPrefix;?>()
	{
		<?php if($isSaveNew):?>
			$("#butSaveNew<?php echo $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
		<?php endif;?>
		<?php if($isSaveClose):?>
			$("#butSaveClose<?php echo $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
		<?php endif;?>
		<?php if($isClose):?>
			$("#butClose<?php echo $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
		<?php endif;?>
	}

	function saveRecord<?php echo $jqxPrefix;?>(closeAfterSave)
	{
		var gridName = "<?php echo $gridName;?>";
		<?php if($this->isGrid):?>
			gridName = '';
		<?php endif;?>
		<?php if($isSaveType == 1):?>
			saveData('<?php echo $jqxPrefix;?>', '', '', '<?php echo $url."/".$saveAction;?>', gridName , <?php echo $gridType;?>, '#winForm<?php echo $jqxPrefix;?>', '', closeAfterSave);
		<?php else:?>
	    	saveDataWithAttachement('<?php echo $jqxPrefix;?>', '', '', '<?php echo $url."/".$saveAction;?>', gridName, <?php echo $gridType;?>, '#winForm<?php echo $jqxPrefix;?>', '', closeAfterSave);
	    <?php endif;?>
	}

	$(document).ready(function()
	{
		initialActionButtonToTheme<?php echo $jqxPrefix;?>();

		$('#winForm<?php echo $jqxPrefix;?>').keydown(function(e) 
		{
		    if (e.keyCode == 13) 
		    {
		    	$('#butSaveClose<?php echo $jqxPrefix;?>').trigger('click');
		        e.preventDefault();
		    }
		});

		$("#butSaveNew<?php echo $jqxPrefix;?>").click(function()
		{
	    	saveRecord<?php echo $jqxPrefix;?>(false);
		});

		$("#butSaveClose<?php echo $jqxPrefix;?>").click(function()
		{
			isSaveClose<?php echo $jqxPrefix;?> = true;
	    	saveRecord<?php echo $jqxPrefix;?>(true);
		});

		$("#butClose<?php echo $jqxPrefix;?>").click(function()
		{
			$("#jqxWindowPopUp<?php echo $jqxPrefix;?>").trigger('close');
		});

		$(document).ajaxComplete(function(event, xhr, settings) 
		{
			if(settings.url == "<?php echo $url;?>/saveRecord") 
			{
				//if(xhr.responseJSON!=null && xhr.responseJSON.length==0 && isSaveClose<?php echo $jqxPrefix;?> === false)
				if(xhr.responseJSON!=null && xhr.responseJSON.msg==null && isSaveClose<?php echo $jqxPrefix;?> === false)
				{
					clearControl<?php echo $jqxPrefix;?>();
				}
			}
		});
	});
</script>