<?php 
    $jqxPrefix = $this->jqxPrefix;

    $isExport = isset($this->isExport)?$this->isExport:0;
?>
<div class="btn-group btn-icon-state" style="margin-top: 1px;">
    <a class="btn btn-primary btn-xs" href="javascript:;" id="butSearch<?= $jqxPrefix;?>" title="<?= $this->translate('Filter');?>">
        <i class="glyphicon glyphicon-search"></i>&nbsp;
        <?= $this->translate('Filter');?>
    </a>
    <?php if( $isExport ):?>
        <a class="btn btn-success btn-xs margin-left-2" href="javascript:;" id="butExport<?= $jqxPrefix;?>" title="<?= $this->translate('Export');?>">
            <i class="glyphicon glyphicon-export"></i>
            <?= $this->translate('Export');?>
        </a>
    <?php endif;?>
    <a class="btn btn-warning btn-xs margin-left-2" href="javascript:;" id="butClear<?= $jqxPrefix;?>" title="<?= $this->translate('Clear');?>">
        <i class="glyphicon glyphicon-refresh"></i>
        <?= $this->translate('Clear');?>
    </a>
</div>

<script type="text/javascript">

function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
    $("#butSearch<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
    $("#butClear<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
    <?php if( $isExport ):?>
        $("#butExport<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
    <?php endif;?>
}

$(document).ready(function()
{
    initialActionButtonToTheme<?= $jqxPrefix;?>();
});

</script>