<?php 
	use PCSPLib\PHPConstant;
	$url = $this->url;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = $this->jqxPrefix;
	$newAndEditPrefix = $this->newAndEditPrefix;
	$activeBranchId = $this->activeBranchId;
//echo $activeBranchId;
?>

<div style="padding:1px" name="BranchId" id="ddlBranchId<?php echo $jqxPrefix; ?>"></div>
<input type="hidden" name="txtddlBranchId" id="txtddlBranchId<?php echo $jqxPrefix; ?>" value="<?php echo $activeBranchId;?>">

<script type="text/javascript">
$(document).ready(function ()
{
	initDropDownList(jqxTheme, 230, 180, '#ddlBranchId<?php echo $jqxPrefix; ?>', <?php echo json_encode($this->userBranchRecords);?>, 'BranchName', 'BranchId', false, '', '0', "#txtddlBranchId<?php echo $jqxPrefix; ?>");
});
</script>