<?php 
	$dropDownListId 	=  	$this->dropDownListId;
	$newAndEditPrefix	= 	$this->newAndEditPrefix;
    $parentDropDownListId = isset($this->parentDropDownListId)?$this->parentDropDownListId:"";
	$jqxPrefix 			= 	$this->jqxPrefix.date("His").rand();
	$hiddenFeildId 		= 	$this->hiddenFeildId;
	$url 				= 	$this->url;
	$title 				= 	isset($this->title)?$this->title:$this->translate("NEW");
	$width 				= 	isset($this->width)?$this->width:550;
	$height 			= 	isset($this->height)?$this->height:300;
	$dropdownWidth 		=	isset($this->dropdownWidth)?$this->dropdownWidth:"100%";
	$dropdownHeight 	=	isset($this->dropdownHeight)?$this->dropdownHeight:250;	
    $type = isset($this->type)?$this->type:1;
?>

<div class="btn-group padding-left-7 padding-top-5">
    <a href="javascript:void(0);" class="icon-active" id="btnAddMore<?= $jqxPrefix;?>">
        <i class="glyphicon glyphicon-plus icon-spining-hover"></i>
    </a>
    <a href="javascript:void(0);" class="icon-active" id="btnRefresh<?= $jqxPrefix;?>">
        <i class="glyphicon glyphicon-refresh padding-left-2 icon-spining-hover"></i>
    </a>
</div>

<input type="hidden" id="txtHiddenFeild<?= $jqxPrefix;?>">

<script type="text/javascript">

$(document).ready(function()
{
	$("#btnAddMore<?= $jqxPrefix;?>").click(function()
    {
        var parentId = 0;
        <?php if(!empty($parentDropDownListId)):?>
            parentId = $("<?= $parentDropDownListId;?>").val();
            if(parentId == 0 || parentId == "")
            {
                showMessage('<?php echo $this->translate("WARNING")?>','<?php echo $this->translate("SELECT_PARENT_RECORD")?>', '300', '100');
                return false;
            }
        <?php endif;?>
        var param = JSON.parse('{"Id":"0","isPopup":1,"gridIdName":"","ParentId":"'+parentId+'"}');
        addNewRecord("<?= $newAndEditPrefix;?>", '<?= $title;?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });

    $("#btnRefresh<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
        var parentId = 0;
        <?php if(!empty($parentDropDownListId)):?>
            parentId = $("<?= $parentDropDownListId;?>").val();
        <?php endif;?>

        $("#txtHiddenFeild<?= $jqxPrefix;?>").val($("<?= $hiddenFeildId;?>").val());

        var param = JSON.parse('{"Id":"'+parentId+'"}');

        <?php if($type == 1):?>
            refreshDropDownList("<?= $dropDownListId;?>", "<?= $hiddenFeildId;?>", "Name", "Id", "<?= $url;?>/getAllActiveRecords", param, "<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>");
        <?php elseif( $type == 2 ):?>
            refreshDropDownListCheckbox("<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>","<?= $url;?>/getAllActiveRecords", param, "<?= $dropDownListId;?>", "Name", "Id", false, "", "", $("<?= $hiddenFeildId;?>").val());
        <?php else:?>
            refreshDropDownListCategory("<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>","<?= $url;?>/getAllActiveRecords", param, "<?= $dropDownListId;?>", "Name", "Id", false, "", 0, "<?= $hiddenFeildId;?>")
        <?php endif;?>
    });

    $("<?= $dropDownListId;?>").on('bindingComplete', function (event) 
    { 
        var val = $("#txtHiddenFeild<?= $jqxPrefix;?>").val();
        if(val != "")
    	   $("<?= $dropDownListId;?>").jqxDropDownList("selectItem", val);
    });

    $(document).ajaxComplete(function(event, xhr, settings) 
    {
        if(settings.url === "<?php echo $url; ?>/saveRecord") 
        {
            if(xhr.responseJSON.Id != "undifined" && xhr.responseJSON.Id !== 0 )
            {
                var id = xhr.responseJSON.Id;
                $("#txtHiddenFeild<?= $jqxPrefix;?>").val(id);

                var parentId = 0;
                <?php if(!empty($parentDropDownListId)):?>
                    parentId = $("<?= $parentDropDownListId;?>").val();
                <?php endif;?>

                var param = JSON.parse('{"Id":"'+parentId+'"}');

                <?php if( $type == 1 ):?>
                    refreshDropDownList("<?= $dropDownListId;?>", "<?= $hiddenFeildId;?>", "Name", "Id", "<?= $url;?>/getAllActiveRecords", param, "<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>");
                <?php elseif( $type ==  2 ):?>
                    refreshDropDownListCheckbox("<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>","<?= $url;?>/getAllActiveRecords", param, "<?= $dropDownListId;?>", "Name", "Id", false, "", "", $("<?= $hiddenFeildId;?>").val());
                <?php else:?>
                    refreshDropDownListCategory("<?= $dropdownWidth;?>", "<?= $dropdownHeight;?>","<?= $url;?>/getAllActiveRecords", param, "<?= $dropDownListId;?>", "Name", "Id", false, "", 0, "<?= $hiddenFeildId;?>")
                <?php endif;?>
            }
        }
    });
});
</script>