<?php 
	use PCSPLib\PHPConstant;
	$url = $this->url;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = $this->jqxPrefix;
	$newAndEditPrefix = $this->newAndEditPrefix;
	$id = $this->record->Id;
	if($this->isCopy == 1)$id = 0;

	$gridIdName = isset($this->gridIdName)?$this->gridIdName:"#jqxGrid".$jqxPrefix;

?>

<form class="form-horizontal" id="winForm<?= $newAndEditPrefix;?>" name="winForm<?= $newAndEditPrefix;?>" method="post">

	<input type="hidden" id="txtId<?= $newAndEditPrefix;?>" name="Id" value="<?= $id; ?>" />
	<input type="hidden" id="txtOldName<?= $newAndEditPrefix;?>" name="OldName" value="<?= $this->record->Name; ?>" />
    
    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("NAME");?><span class="star-red">*</span></label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id="txtName<?= $newAndEditPrefix?>" placeholder="<?= $this->translate('NAME');?>" type="text" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("NOTE");?></label>
        <div class="col-sm-8">
            <textarea class="form-control" id="txtNote<?= $newAndEditPrefix?>" placeholder="<?= $this->translate('NOTE');?>" type="text" name="Note" style="width: 100%; height: 150px;"><?= $escaper->escapehtml($this->record->Note);?></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"><?= $this->translate("ACTIVE");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chhActive<?= $newAndEditPrefix?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

	<?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" 		=> $url,
						"jqxPrefix"	=> $newAndEditPrefix,
						"gridName"	=> $gridIdName,

					]
		);
	?>
</form>
<script type="text/javascript">

function clearControl<?= $newAndEditPrefix;?>()
{
	$('#txtName<?= $newAndEditPrefix;?>').val('');
	$("#txtNote<?= $newAndEditPrefix;?>").val('');
	$("#txtOldName<?= $newAndEditPrefix;?>").val('');
	$("#txtId<?= $newAndEditPrefix;?>").val('0');
	$("#chhActive<?= $newAndEditPrefix?>").prop('checked', true);
}

$(document).ready(function () 
{
    $('#winForm<?= $newAndEditPrefix;?>').jqxValidator
    ({ 
		hintType: 'label',
        animationDuration: 0,
		rules: [
				{
					input: '#txtName<?= $newAndEditPrefix;?>', message: ' ', action: 'change', rule: 'required' 
				},
		  ]
	});
});
</script>