<?php

	$jqxPrefix = $this->jqxPrefix;
	$gridIdName = $this->gridIdName;
	$gridType = isset($this->gridType)?$this->gridType:1; // 1 is for grid, 2 is for treegrid
	$url = $this->url;
	$gridColumnRecord = $this->gridColumnRecord;
?>
<div class="col-lg-2 pull-right">
    <div class="data-grid-bar-right text-right">
        <a href="#" id="butRefresh<?= $jqxPrefix;?>" title="<?= $this->translate('REFRESH');?>"><i class="fa fa-refresh"></i></a>          
        <span class="grid-columns-property dropdown" >
		  <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><a href="#"><i class="fa fa-wrench"></i></a></span>
		     <div class="dropdown-menu dropdown-menu-right" role="menu">
		     	<div class="header">
		     		<a href="#"><?= $this->translate("COLUMNS_PROPERTY");?> <i class="fa fa-angle-up pull-right"></i></a>
		     	</div>
		     	<form class="form-horizontal" role="form">
		     		<div style="padding: 5px 5px 0 5px;">
			     		<div id="butListBox<?= $jqxPrefix;?>"></div>
				     </div>
			     </form>
		     </div>
		</span>
    </div>
</div>
<script type="text/javascript">
var firstLoading<?= $jqxPrefix;?> = true;
$(document).ready(function()
{
	//grid collum hide show
	var listBoxSource<?= $jqxPrefix;?> = [];
	var gridColumnRecord<?= $jqxPrefix;?> = <?= $gridColumnRecord;?>;

	$("<?= $gridIdName; ?>").on("bindingcomplete", function (event) 
	{
		var headerNames = $("<?= $gridIdName; ?>").jqxGrid('columns').records;
		for(var i=0; i<(headerNames.length);i++)
		{
			if(headerNames[i].text=="" || headerNames[i].text==null || headerNames[i].datafield=="" || headerNames[i].datafield==null){continue;}
			var checked = true;
			
			if(firstLoading<?= $jqxPrefix;?>)
			{
				if(typeof gridColumnRecord<?= $jqxPrefix;?>[headerNames[i].datafield] != "undefined")
				{ 
					checked = false;
					$("<?= $gridIdName;?>").jqxGrid('hidecolumn', headerNames[i].datafield);
				}
				if(headerNames[i].filtertype == "checkedlist")
				{
					var source = headerNames[i].filteritems;
					if(source == null || source.length <= 0 )
					{
						$("<?= $gridIdName; ?>").jqxGrid('setcolumnproperty',headerNames[i].datafield,'filterable', false);
					}
				}
			}

			listBoxSource<?= $jqxPrefix;?>.push({label: headerNames[i].text, value: headerNames[i].datafield, checked: checked, disabled: !headerNames[i].hideable});
		}
		
		firstLoading<?= $jqxPrefix;?> = false;

		$("#butListBox<?= $jqxPrefix;?>").jqxListBox({theme: jqxTheme, source: listBoxSource<?= $jqxPrefix;?>, width: '100%', height: '250px', checkboxes: true, enableHover: false});		
	});

	$("#butListBox<?= $jqxPrefix;?>").on('checkChange', function (event) 
	{
		var elementIndex = event.owner._clickedIndex;
		var listBoxDataSource = listBoxSource<?= $jqxPrefix;?>;
		var isShow = 1;
        if (event.args.checked) 
        {
            $("<?= $gridIdName; ?>").jqxGrid('showcolumn', event.args.value);
            listBoxDataSource[elementIndex].checked = true;
        }
        else 
        {
            $("<?= $gridIdName; ?>").jqxGrid('hidecolumn', event.args.value);
            listBoxDataSource[elementIndex].checked = false;
            isShow = 0;
        } 
        var feild = listBoxDataSource[elementIndex].value;
        $.ajax
        ({
        	type: 'post',
            datatype: 'json',
            url: '<?= $url;?>/gridPropertyChange',
            data: {"Field":feild,"Value":isShow},
            success: function (data) {}
        });
    });

    $("#butRefresh<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
		<?php if($gridType == 2){ // TreeGrid ?>
				$('<?= $gridIdName; ?>').jqxTreeGrid('clearFilters');
				$('<?= $gridIdName; ?>').jqxTreeGrid('clearSelection');
		<?php }else { // Grid ?>
				$('<?= $gridIdName; ?>').jqxGrid('clearfilters');
				$('<?= $gridIdName; ?>').jqxGrid('clearselection');
		<?php } ?>
    });
});
</script>