<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxTreeGrid".$jqxPrefix;
    $isSupplier = isset($this->isSupplier)?$this->isSupplier:1;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
<div class="col-md-12 form-horizontal margin-bottom-10 " style="margin-top: -20px;">
	<div class="col-md-12 no-padding-left no-padding-top" id="pcspMoreFilter<?= $jqxPrefix;?>">
		<div class="col-md-12 no-padding" id="pcspMoreFilters<?= $jqxPrefix;?>">
		
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 no-padding">
		<div class="padding-top-10">
			<?php 
                echo $this->partial("application/basepartial/action-filter-partial.phtml",
                            array(
                                'jqxPrefix' =>  $jqxPrefix,

                            )
                        );
            ?>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
var moreFilterIndex<?= $jqxPrefix;?> = 0;
var isFirstLoading<?= $jqxPrefix;?> = true;
var scroll<?= $jqxPrefix;?> = false;

function setWindowOverflow<?= $jqxPrefix;?>(bool)
{
	var element = ".pcsp-tab-content";
	if( isFirstLoading<?= $jqxPrefix;?> == true )
	{
		var height = $(".respContent").height();;
		$(element).height(height*1+80-heightContentAptional);
	}
	if( bool == true )
	{
		$(element).addClass("overflow-y");
	}
	else if( scroll<?= $jqxPrefix;?>*1 == 0 )
	{
		$(element).removeClass("overflow-y");
	}
	isFirstLoading<?= $jqxPrefix;?> = false;
}

function initialFilter<?= $jqxPrefix;?>() 
{
    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
	var dataSource<?= $jqxPrefix;?> = getJqxTreeGridDataSource('<?= $url;?>/getRecordsForTreeGrid', "<?= $gridIdName;?>", json);
	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	
	$("<?= $gridIdName;?>").jqxTreeGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	// clear more filter
	moreFilterIndex<?= $jqxPrefix;?> = 0;
	initialMoreFilter<?= $jqxPrefix;?>(1);

	scroll<?= $jqxPrefix;?> = 0;
	setWindowOverflow<?= $jqxPrefix;?>(false);
}

function getStrMoreFilter<?= $jqxPrefix;?>(index)
{
	var submitIndex = "@$@"+index;
	var str = '<div class="col-md-12 no-padding" id="pcspMoreFilters<?= $jqxPrefix;?>'+index+'">' 
				+'<div class="col-md-6 no-padding-top no-padding-bottom no-padding-left pcsp-col-md-3">'
			        +'<label class="col-sm-12 control-label pcsp-align-left no-padding-left">'
			        +'	<?= $this->translate("NAME");?>'
			        +'</label>'
			        +'<input type="text" class="form-control input-sm" name="Record['+submitIndex+'][Name]">'
			    +'</div>'
			    +'<div class="col-md-3 no-padding-top no-padding-bottom no-padding-left" >'
			    +	'<label class="col-sm-12 control-label">&nbsp;</label>'
			    	+'<div>'
			    +		'<a href="javascript:void(0);" class="pcsp-addmore-filter-action" id="butAddMoreFilter<?= $jqxPrefix;?>'+index+'">'
			    			+"<i class='glyphicon glyphicon-plus padding-top-5' onclick=addMoreFilterAction<?= $jqxPrefix;?>(this,"+index+")></i>"
			    		+'</a>'
			    	+'</div>'
		    	+'</div>'
			+'</div>';

	return str;
}

function removeMoreFilterAction<?= $jqxPrefix;?>(e,index)
{
	$("#pcspMoreFilters<?= $jqxPrefix;?>"+index).remove();

	scroll<?= $jqxPrefix;?> --;
	setWindowOverflow<?= $jqxPrefix;?>(false);
}

function addMoreFilterAction<?= $jqxPrefix;?>(e,index)
{
	$("#butAddMoreFilter<?= $jqxPrefix;?>"+index).html("<i class='glyphicon glyphicon-remove padding-top-5 pcsp-red' onclick=removeMoreFilterAction<?= $jqxPrefix;?>(this,"+index+")></i>");

	addMoreFilter<?= $jqxPrefix;?>(true);
}

function addMoreFilter<?= $jqxPrefix;?>(bool)
{
	var index = moreFilterIndex<?= $jqxPrefix;?>;
	var str = getStrMoreFilter<?= $jqxPrefix;?>(index);

	$("#pcspMoreFilters<?= $jqxPrefix;?>").append(str);

	moreFilterIndex<?= $jqxPrefix;?> ++;

	if( bool == true )
	{
		setWindowOverflow<?= $jqxPrefix;?>(true);
		scroll<?= $jqxPrefix;?> ++;
	}
}

function initialMoreFilter<?= $jqxPrefix;?>(size)
{
	$("#pcspMoreFilters<?= $jqxPrefix;?>").html("");

	for( var i = 1 ; i <= size ; i ++ )
	{
		addMoreFilter<?= $jqxPrefix;?>(false);
	}
}

$(document).ready(function()
{
	initialMoreFilter<?= $jqxPrefix;?>(1);

	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>