<?php 
	use PCSPLib\PHPConstant;

	$url = $this->url;

	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = $this->newAndEditPrefix;
	$pre = $this->jqxPrefix;
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = ($this->gridIdName !="0")?$this->gridIdName:"#jqxTreeGrid".$pre;

	$parentOnly = isset($this->parentOnly)?(int)$this->parentOnly:0;

	$isOrderNum = isset( $this->orderNum ) ? $this->orderNum : 0 ;
?>
<br>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
	<input type="hidden" id="txtOldName<?= $jqxPrefix;?>" name="OldName" value="<?= $this->record->Name; ?>" />

	<div class="form-group">
		<div class="col-sm-4">
			<label class="control-label"><?= $this->translate('PARENT');?></label>
		</div>
		<div class="col-sm-7 no-padding-right">
			<div id="ddlParent<?= $jqxPrefix;?>">
				<div id='ddlTreeParent<?= $jqxPrefix; ?>'></div>
			</div>
			<input type="hidden" name="ParentId" id="txtParentId<?= $jqxPrefix; ?>" value="<?= $this->record->ParentId;?>">
		</div>
		<div class="col-sm-1">
			<div class="btn-group padding-top-5 no-padding-left">
			    <a href="javascript:void(0);" class="icon-active no-padding-left" id="btnRefresh<?= $jqxPrefix;?>">
			        <i class="glyphicon glyphicon-refresh icon-spining-hover"></i>
			    </a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label"><?= $this->translate('NAME');?>
    			<span class="star-red">*</span>
    		</label>
    	</div>
    	<div class="col-sm-7 no-padding-right">
    		<input type="text" class="form-control input-sm" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>" id="txtName<?= $jqxPrefix;?>" placeholder="<?= $this->translate('NAME');?>">
    	</div>
    </div>
    <?php if( $isOrderNum ) :?> 
	    <div class="form-group">
			<div class="col-sm-4">
	    		<label class="control-label"><?= $this->translate('Order Num');?>
	    			<span class="star-red">*</span>
	    		</label>
	    	</div>
	    	<div class="col-sm-7 no-padding-right">
	    		<input type="text" class="form-control input-sm" name="OrderNum" value="<?= $escaper->escapehtml($this->record->OrderNum);?>" id="txtOrderNum<?= $jqxPrefix;?>" placeholder="<?= $this->translate('Order Num');?>">
	    	</div>
	    </div>
	<?php endif;?>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?= $this->translate('NOTE');?></label>
	    </div>
	    <div class="col-sm-7 no-padding-right">
	    	<textarea name="Note" id="txtNote<?= $jqxPrefix;?>" value="" class="form-control" placeholder="<?= $this->translate('NOTE');?>"><?= $escaper->escapehtml($this->record->Note);?></textarea>
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("ACTIVE");?></label>
        <div class="col-sm-7 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chbActive<?= $jqxPrefix;?>">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
					[
						"url" => $url,
						"jqxPrefix"	=> $jqxPrefix,
						"gridName"	=>	$gridIdName,
						"gridType"  => 2,
					]
				);
	?>
</form>

<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
	$("#winForm<?= $jqxPrefix;?>").find("input[type=text],textarea").val("");
	$("#txtOldName<?= $jqxPrefix;?>").val("");
	$("#txtId<?= $jqxPrefix;?>").val(0);
	$("#chbActive<?= $jqxPrefix;?>").prop('checked', true);	

	$("#btnRefresh<?= $jqxPrefix;?>").click();
}

$(document).ready(function()
{
	jqxTreeDropDownList(jqxTheme,300, 250, '#ddlParent<?= $jqxPrefix; ?>', '#ddlTreeParent<?= $jqxPrefix; ?>', <?= json_encode($this->parentRecord);?>, '#txtParentId<?= $jqxPrefix; ?>', true, true,'', true, true);

	$("#btnRefresh<?= $jqxPrefix;?>").click(function(e)
    {
    	var param = JSON.parse('{"ParentOnly":"<?= $parentOnly;?>"}');
    	refreshTreeDropDownList("#ddlParent<?= $jqxPrefix;?>", "#ddlTreeParent<?= $jqxPrefix;?>", "#txtParentId<?= $jqxPrefix;?>", "<?= $url;?>/getActiveRecordsForTreeDropDown", param, true, true, "",true, true,300,250)
    });
	
	$('#winForm<?= $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			}
		]
	});
	
}); 
</script>