<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content">
	<div id="jqxTreeGrid<?= $jqxPrefix;?>"></div>
</section>

<script type="text/javascript">

var dataSource<?= $jqxPrefix;?> = getJqxTreeGridDataSource('<?= $url."/getRecordsForTreeGrid";?>', "#jqxTreeGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>,
    {
        loadError: function(xhr, status, error)
        {
            alert(error);
        }
    });

$(document).ready(function()
{
    $("#jqxTreeGrid<?= $jqxPrefix;?>").on('rowSelect rowUnSelect', function (event) 
    {
        var selectedRows = $("#jqxTreeGrid<?= $jqxPrefix;?>").jqxTreeGrid('getSelection');

        $("#butCopy<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
        $("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
        $("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
        $("#butDisable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
        $("#butEnable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
        
        var bool = false;
        if( selectedRows.length == 1 )
        {
            $("#butCopy<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
            $("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
            bool = true;        
        }
        else if( selectedRows.length > 1 )
        {
            bool = true;
        }
        if(bool)
        {
            $("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
            $("#butEnable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
            $("#butDisable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');          
        }
    });
    var height = $(window).height();

    $("#jqxTreeGrid<?= $jqxPrefix;?>").jqxTreeGrid(
    {
        theme: jqxTheme, width: '100%',height: (height*1-290),
        source: dataAdapter<?= $jqxPrefix;?>,
        autoRowHeight: true,
        enableHover: false,
        filterable: false,
        // pageable:true,
        incrementalSearch:true,
        columnsResize: true,
        columns:
        [
            {
                text: '<?= $this->translate("NAME");?>', datafield: 'Name', width:200
            },
            {
                text: '<?= $this->translate("NOTE");?>', datafield: 'Note'
            },
            {
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120,
                editable: false, groupable: false, draggable: false,  enabletooltips: false, filtertype: 'checkedlist',
                filteritems: new $.jqx.dataAdapter(activeInactiveList),
                createfilterwidget: function (column, htmlElement, editor) 
                {
                    editor.jqxDropDownList({ displayMember: "Name", valueMember: "Id" });
                }
            },
        ]
    });
});
</script>