<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SYSTEM_SETTING_MODULE.'/'.PHPConstant::BRANCH_CONTROLLER;
    $jqxPrefix = '_branchList';
    $newAndEditPrefix = '_branchNewAndEdit';

?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="#"><?php echo $this->translate('HOME');?></a></li>
        <li><?php echo $this->translate('BRANCH');?></li>
    </ol>
</section>

<?php

echo $this->partial('system-setting/branch/partial/search-partial.phtml',
		[
			"url" =>	$url,
			"jqxPrefix" => $jqxPrefix,
			"newAndEditPrefix" => $newAndEditPrefix,
			'gridIdName' => "#jqxGrid".$jqxPrefix,
		]
);

echo $this->partial('application/basepartial/action-partial.phtml',
		[
			"url" =>	$url,
			"jqxPrefix" => $jqxPrefix,
			'width' => 550,
            'height' => 400,
			'gridType' => 1, // 1 is for grid, 2 is for treegrid
			'gridIdName' => "#jqxGrid".$jqxPrefix,
			'gridHeaderProperties' => $this->gridHeaderProperties,
		]
);

echo $this->partial('system-setting/branch/partial/list-partial.phtml',
		[
			"url" =>	$url,
			"jqxPrefix" => $jqxPrefix,
			"newAndEditPrefix" => $newAndEditPrefix,
		]
);

?>

