@font-face {
    font-family: 'Josefin Slab';

    src: url('../fonts/Josefin_Slab/JosefinSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMono';

    src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';

    src: url('../fonts/Roboto_Mono/Roboto-Regular.ttf') format('truetype');
}

body {
	font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-header .navbar-custom-menu-module {
    float: left;
}
.navbar-custom-menu-module > .navbar-nav {
    margin: 0;
    float: left;
}
.navbar-custom-menu-module > .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.navbar-custom-menu-module > .navbar-nav .dropdown-menu > li > a {
    color:#333 !important;
}

.navbar-custom-menu-module .navbar-nav .open > .dropdown-menu {
    display: block;
}
.navbar-custom-menu-module  .navbar-nav  .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 52px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}


/*User menu header and profile*/
.user  > a {
    font-family: 'Josefin Slab';
}
.user > ul > li > p{
    font-family: 'Josefin Slab';
}

.content-header{
    margin:0;
    padding: 0 15px 15px 15px;
}
.content-header > h1{
    /*font-family: 'RobotoMono';*/
}

.user-image-blank i{
    border-radius: 50%;
    float: left;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
}

.content-custom-header{
    margin:0;
    padding: 10px 15px 10px 15px;
	background-color:#FFFFFF;/* f4f4f5 */
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.content-custom-header > .breadcrumb{
    margin:0;
    padding:0;
    background: transparent;
}
.filter-nav {
    margin:0;
    padding: 0;
}
.filter-nav a{
    font-size:12px;
    padding:0 10px 0 5px;
}
.search-grid-box{
    padding: 10px 15px;
}

.form-control{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px ;
    border-radius: 4px ;
}
.content{
    min-height: 50px;
}
.content-custom-blog{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* grid refresh and columns property */
.data-grid-bar-right{
    padding:8px 0 0 0;
    font-size:15px;
}
.data-grid-bar-right a{
    padding:5px;
}
.grid-columns-property .dropdown-menu{
	margin-top: 5px;
	width:200px;
}
.grid-columns-property .dropdown-menu .header{
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px solid #f4f4f4;
}
.grid-columns-property .dropdown-menu ul{
	margin:0;
	padding: 0;
	width:100%;
}
.grid-columns-property .dropdown-menu ul li{
	list-style: outside none none;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #f4f4f4;
    display: block;
    white-space: nowrap;
	font-size: 12px;
} 


/*btn icon state active, inactive, */
.btn-icon-state {

}
.btn-icon-state  .icon-active i{
    color: #00C851;
}
.btn-icon-state  .icon-active a:hover i{
    color: #007E33;
}

.grid-title{
	margin: 0 0 10px 0;
	padding: 10px 0 3px 0;
	font-size: 16px;
	font-family: sans-serif, serif, fantasy;
	border-bottom: 1px solid #eee;
}

.listSectionQuestion{
    margin: 0;
    padding:0;
}

.listSectionQuestion ul{
    list-style: none;
    margin: 0;
    padding: 0px 15px 0px 15px;
}
.listSectionQuestion > ul > li{
    font-size:14px;
    padding:5px 0;
}

.uploadArea{ min-height:50px; height:auto; border:1px dotted #ccc; padding:10px; cursor:move; margin-bottom:10px; position:relative;}

.fileTestList > div{
    margin: 5px;
    padding: 0;
}


