.text-input{
  height: 26px;
  width: 200px;
}
.window-magin-bottom{
	margin-bottom:36px;
}
.window-button-fix-footer{
	position:absolute;left:0px;bottom:0px;height:36px;width:100%;padding-right:6px;
	padding-top:8px;
	background-color: #F4F4F5;
	-webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
	box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}
.window-button{
	float: right;margin: 2px;
}
.form-table label.jqx-validator-error-label{
	display: none !important;
}
.form-table
{
	margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    border: 0;
}
.form-table td, 
.form-table tr
{
	margin: 0px;
    padding: 3px;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: Verdana;
    /*font-size: 12px;*/
    vertical-align:top;           
}
.form-table span.red-star{
	color: red;
}
.form-table .text-input
{
    height: 26px;
    width: 200px;
}

table.tbl-request{
	width:100%;
}

table.tbl-request td {
	border: 1px solid #000;
	padding: 5px;
	text-align:center;
}

table.tbl-request tr.head {
	padding: 5px;
	background-color: #cfaa42 !important; color: #fff;
}

.request-title{
	font-weight:bold;
}

.disabled-button {
	text-decoration:none; 
	cursor: default; 
	color: #ccc;
}

hr.line-hr-style{
	margin-bottom: 10px !important; margin-top: 10px !important;  border: 2px solid #ccc;
}

span.input-data-title-style{
	font-weight: bold; font-size:18px;
}
.jqx-window
{
	border:0;
}
