.login-logo img{
	width:100%;
	height: auto;
}
.login-logo a{
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}
.login-logo a:hover{
	text-decoration: none;
}
.login-box-body, .register-box-body {
	background: #fff none repeat scroll 0 0;
	border-top: 0 none;
	color: #666;
	padding: 35px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.5);
}