.table-view thead tr th
{
    padding: 2px;
    border-bottom: 2px solid black;
}
.table-view tbody tr td
{
    padding: 2px;
    border-bottom: 1px solid silver;
}
.table-view tfoot tr td
{
    padding: 2px;
}

.auto-overflow-y
{
    overflow-y: auto;
}

.pcsp-align-left
{
    text-align: left !important;
}
.pcsp-align-right
{
    text-align: right !important;
}
.pcsp-align-center
{
    text-align: center !important;
}
.pcsp-font-small
{
    font-size: 10px;
}
.pcsp-font-smaller
{
    font-size: 9px;
}
.pcsp-red
{
    color: red !important;
}
.pcsp-tabs-row 
{
    list-style: none;
    padding: 0;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.pcsp-tabs-row li 
{
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ecf0f5;
    text-shadow: 0 1px #ecf0f5;
    margin: 0 -5px;
    padding: 0 20px;
}
.pcsp-tabs-row a 
{
    color: #555;
    text-decoration: none;
}
.pcsp-tabs-row li.selected 
{
    background: #ecf0f5;
    color: #333;
    z-index: 2;
    border-bottom-color: #ecf0f5;
}
.pcsp-tabs-row:before 
{
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.pcsp-tabs-row li:before,
.pcsp-tabs-row li:after 
{
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.pcsp-tabs-row li:before 
{
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.pcsp-tabs-row li:after 
{
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.pcsp-tabs-row li.selected:before 
{
    box-shadow: 2px 2px 0 #ecf0f5;
}
.pcsp-tabs-row li.selected:after 
{
    box-shadow: -2px 2px 0 #ecf0f5;
}
.overflow-y
{
    overflow-y: scroll;
}
.icon-spining-hover:hover 
{
    animation: fa-spin 2s infinite linear;
    color: black;
}
.pcsp-grid-row-auto-height
{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pcsp-grid-row-hover
{
    opacity: 0.2;
}
.pcsp-grid-row-auto-height:hover .pcsp-grid-row-hover
{
    opacity: 1;
}
.pcsp-text-center
{
    text-align: center !important;
    padding: 0 2px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.pcsp-item-view
{
    padding: 5px !important;
    margin: 1px !important;
}
.pcsp-item-view-header
{
    padding: 5px !important;
    margin: 1px !important;
    background-color: rgb(110, 142, 200) !important;
}
.pcsp-item-view:nth-child(odd)
{
    background-color: #f2f2f2 !important;
}
.pcsp-item-view:nth-child(even)
{
    background-color: #ececec !important;
}
a
{
    text-decoration: none !important;
}
.no-padding-left
{
    padding-left: 0px !important;
}
.padding-left-1
{
    padding-left: 1px !important;
}
.padding-left-2
{
    padding-left: 2px !important;
}
.padding-left-3
{
    padding-left: 3px !important;
}
.padding-left-4
{
    padding-left: 4px !important;
}
.padding-left-5
{
    padding-left: 5px !important;
}
.padding-left-6
{
    padding-left: 6px !important;
}
.padding-left-7
{
    padding-left: 7px !important;
}
.padding-left-8
{
    padding-left: 8px !important;
}
.padding-left-9
{
    padding-left: 9px !important;
}
.padding-left-10
{
    padding-left: 10px !important;
}
.no-padding-right
{
    padding-right: 0px !important;
}
.padding-right-1
{
    padding-right: 1px !important;
}
.padding-right-2
{
    padding-right: 2px !important;
}
.padding-right-3
{
    padding-right: 3px !important;
}
.padding-right-4
{
    padding-right: 4px !important;
}
.padding-right-5
{
    padding-right: 5px !important;
}
.padding-right-6
{
    padding-right: 6px !important;
}
.padding-right-7
{
    padding-right: 7px !important;
}
.padding-right-8
{
    padding-right: 8px !important;
}
.padding-right-9
{
    padding-right: 9px !important;
}
.padding-right-10
{
    padding-right: 10px !important;
}
.no-padding-top
{
    padding-top: 0px !important;
}
.padding-top-1
{
    padding-top: 1px !important;
}
.padding-top-2
{
    padding-top: 2px !important;
}
.padding-top-3
{
    padding-top: 3px !important;
}
.padding-top-4
{
    padding-top: 4px !important;
}
.padding-top-5
{
    padding-top: 5px !important;
}
.padding-top-6
{
    padding-top: 6px !important;
}
.padding-top-7
{
    padding-top: 7px !important;
}
.padding-top-8
{
    padding-top: 8px !important;
}
.padding-top-9
{
    padding-top: 9px !important;
}
.padding-top-10
{
    padding-top: 10px !important;
}
.no-padding-bottom
{
    padding-bottom: 0px !important;
}
.padding-bottom-1
{
    padding-bottom: 1px !important;
}
.padding-bottom-2
{
    padding-bottom: 2px !important;
}
.padding-bottom-3
{
    padding-bottom: 3px !important;
}
.padding-bottom-4
{
    padding-bottom: 4px !important;
}
.padding-bottom-5
{
    padding-bottom: 5px !important;
}
.padding-bottom-6
{
    padding-bottom: 6px !important;
}
.padding-bottom-7
{
    padding-bottom: 7px !important;
}
.padding-bottom-8
{
    padding-bottom: 8px !important;
}
.padding-bottom-9
{
    padding-bottom: 9px !important;
}
.padding-bottom-10
{
    padding-bottom: 10px !important;
}
.no-margin
{
    margin: 0 !important;
}
.no-margin-left
{
    margin-left: 0px !important;
}
.margin-left-1
{
    margin-left: 1px !important;
}
.margin-left-2
{
    margin-left: 2px !important;
}
.margin-left-3
{
    margin-left: 3px !important;
}
.margin-left-4
{
    margin-left: 4px !important;
}
.margin-left-5
{
    margin-left: 5px !important;
}
.margin-left-6
{
    margin-left: 6px !important;
}
.margin-left-7
{
    margin-left: 7px !important;
}
.margin-left-8
{
    margin-left: 8px !important;
}
.margin-left-9
{
    margin-left: 9px !important;
}
.margin-left-10
{
    margin-left: 10px !important;
}
.no-margin-right
{
    margin-right: 0px !important;
}
.margin-right-1
{
    margin-right: 1px !important;
}
.margin-right-2
{
    margin-right: 2px !important;
}
.margin-right-3
{
    margin-right: 3px !important;
}
.margin-right-4
{
    margin-right: 4px !important;
}
.margin-right-5
{
    margin-right: 5px !important;
}
.margin-right-6
{
    margin-right: 6px !important;
}
.margin-right-7
{
    margin-right: 7px !important;
}
.margin-right-8
{
    margin-right: 8px !important;
}
.margin-right-9
{
    margin-right: 9px !important;
}
.margin-right-10
{
    margin-right: 10px !important;
}
.no-margin-top
{
    margin-top: 0px !important;
}
.margin-top-1
{
    margin-top: 1px !important;
}
.margin-top-2
{
    margin-top: 2px !important;
}
.margin-top-3
{
    margin-top: 3px !important;
}
.margin-top-4
{
    margin-top: 4px !important;
}
.margin-top-5
{
    margin-top: 5px !important;
}
.margin-top-6
{
    margin-top: 6px !important;
}
.margin-top-7
{
    margin-top: 7px !important;
}
.margin-top-8
{
    margin-top: 8px !important;
}
.margin-top-9
{
    margin-top: 9px !important;
}
.margin-top-10
{
    margin-top: 10px !important;
}
.no-margin-bottom
{
    margin-bottom: 0px !important;
}
.margin-bottom-1
{
    margin-bottom: 1px !important;
}
.margin-bottom-2
{
    margin-bottom: 2px !important;
}
.margin-bottom-3
{
    margin-bottom: 3px !important;
}
.margin-bottom-4
{
    margin-bottom: 4px !important;
}
.margin-bottom-5
{
    margin-bottom: 5px !important;
}
.margin-bottom-6
{
    margin-bottom: 6px !important;
}
.margin-bottom-7
{
    margin-bottom: 7px !important;
}
.margin-bottom-8
{
    margin-bottom: 8px !important;
}
.margin-bottom-9
{
    margin-bottom: 9px !important;
}
.margin-bottom-10
{
    margin-bottom: 10px !important;
}

.control-label
{
    font-weight: unset !important;
}
table.gridtable 
{
    border-collapse: collapse;
    border-spacing: 0px;
} 
table.gridtable th 
{
    padding: 5px;
    border: 1px solid #E0E0E0;
    background-color: #F4F4F4;
    text-align: center;
}
table.gridtable td 
{
    padding: 5px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
}
.no-padding
{
    padding: 0 !important;
}
.search-grid-box .dropdown.dropdown-lg .dropdown-menu 
{
    margin-top: -1px;
    padding: 6px 20px;
}
.search-grid-box .input-group-btn .btn-group 
{
    display: flex !important;
    z-index: 9000 !important;
}
.search-grid-box .btn-group .btn 
{
    border-radius: 0;
    margin-left: -1px;
}
.search-grid-box .btn-group .btn:last-child 
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-grid-box .btn-group .form-horizontal .btn[type="submit"] 
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group 
{
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child 
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dropdown-menu .dropdown-menu-right
{
    z-index: 1000 !important;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.content-custom-header
{
    background-color:#f4f4f5 !important; 
    margin-bottom: 15px !important;
}
.input-200
{
    width: 200px;
}
.grid-action-icon i
{
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}
.grid-action-icon
{
    
}
.cursor-pointer
{
    cursor: pointer;
}
.cursor-move
{
    cursor: move;
}
.star-red
{
    color: red;
}
.window-button-fix-footer .window-button a
{
    text-decoration: none;
}
.form-horizontal .form-group
{
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.form-horizontal .form-group .control-label
{
    text-align: left !important;
}
.checkbox label:after, 
.radio label:after 
{
    content: '';
    display: table;
    clear: both;
}

.checkbox .circle,
.radio .circle 
{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .circle {
    border-radius: 50%;
}

.checkbox .circle .circle-icon,
.radio .circle .circle-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 47.3%;
    left: 21%;
    /*color: blue;*/
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .circle > .circle-icon,
.radio label input[type="radio"] + .circle > .circle-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .circle > .circle-icon,
.radio label input[type="radio"]:checked + .circle > .circle-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .circle,
.radio label input[type="radio"]:disabled + .circle {
    opacity: .5;
}
.checkbox label
{
    padding-left: 0 !important;
}
.pcsp-tab .nav-tabs 
{ 
  border-bottom: 2px solid #DDD; 
}
.pcsp-tab .nav-tabs > li.active > a, .pcsp-tab .nav-tabs > li.active > a:focus, .pcsp-tab .nav-tabs > li.active > a:hover 
{ 
  border-width: 0; 
}
.pcsp-tab .nav-tabs > li > a 
{ 
  border: none; color: #666; 
}
.pcsp-tab .nav-tabs > li.active > a, .pcsp-tab .nav-tabs > li > a:hover 
{ 
  border: none; color: #4285F4 !important; background: transparent; 
}
.pcsp-tab .nav-tabs > li > a::after 
{ 
  content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); 
}
.pcsp-tab .nav-tabs > li.active > a::after, .pcsp-tab .nav-tabs > li:hover > a::after 
{ 
  transform: scale(1); 
}
.pcsp-tab .tab-nav > li > a::after 
{ 
  background: #21527d none repeat scroll 0% 0%; color: #fff; 
}
.pcsp-tab .tab-pane 
{ 
  padding: 5px 0; 
}
.pcsp-tab .tab-content
{
  padding: 10px
}
.pcsp-tab .bg-tab-content 
{
  background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 10px; 
}



.pcsp-inv-tabs .nav-tabs > li.active > a, .pcsp-inv-tabs .nav-tabs > li.active > a:focus, .pcsp-inv-tabs .nav-tabs > li.active > a:hover 
{ 
  border-width: 0; 
}
.pcsp-inv-tabs .nav-tabs > li > a 
{ 
  border: none; color: #666; 
}
.pcsp-inv-tabs .nav-tabs > li.active > a, .pcsp-inv-tabs .nav-tabs > li > a:hover 
{ 
  border: none; color: #4285F4 !important; background: transparent; 
}
.pcsp-inv-tabs .nav-tabs > li > a::after 
{ 
  content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); 
}
.pcsp-inv-tabs .nav-tabs > li.active > a::after, .pcsp-inv-tabs .nav-tabs > li:hover > a::after 
{ 
  transform: scale(1); 
}