.selected-action-type
{
  background-color: #75C3FC !important;
  color: white !important;
}

.pos-keyboard
{
  width: 100%;
  background: #d5d9dc  url('keyboard-background.jpg') repeat-x;

  -webkit-box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  -moz-box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
}
.pos-keyboard ul 
{
  list-style-type: none; 
  margin: 0 auto;
}
.pos-keyboard ul li 
{
  float: left;
}
.pos-keyboard .key
{
  display: block;
  color: #aaa;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  width: 60px;
  height: 41px;
  margin: 5px;
  background: #eff0f2;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  -moz-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}
.pos-keyboard .keyboard-event
{
  width: 90px;
}

.pos-keyboard #numbers li a span 
{
  display: block;
}
.pos-keyboard .cf:before, .cf:after 
{
  content:""; 
  display:table;
}
.pos-keyboard .cf:after 
{
  clear:both;
}

.pos-box-cash
{
  float: right;
  width: 50px;
  margin-bottom: -7px;
  text-align:right;
  background-color:#4fc27d;
  border-bottom-left-radius: 20px;
}
.pos-qty-action
{
  font-size: 16px;
  color: #3881bf;
}
.pos-single-box
{
  width: 110px;
  height: 140px;
  /*padding: 0;*/
  box-shadow: 0px 0px 2px #0054ff;
  background-color: #0093ff66;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.pos-row
{
  /*height: 50px;*/
  /*margin-right: 3em;*/
  width: 100%;
  /*text-align: center;
  display: table; 
  vertical-align: middle
    justify-content: center;*/
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/

}
.pos-row .pos-box
{
  /*height: 83px;*/
  text-align: center;
}
.pos-row .pos-box-footer
{
  background-color: #067baa33;
  text-align: center;
  font-size: 10px;
  box-shadow: 0px -1px 0px #13a2fe;
  height: 37px;
  width: 110px;
  display: table-cell; 
  vertical-align: middle;
  
}
.pos-row img
{
  width: 90px;
}
.pos-wrapper 
{
    /*margin:1em;*/
    /*position:relative;*/
}
.pos-wrapper .pos-verticle 
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:2em; /* line-height of .wrapper div:first-child span */
    overflow:hidden;
    white-space:nowrap;
}
.pos-wrapper .pos-verticle h1 
{
    -moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
    position:absolute;
    top:0;
    bottom:0;
    height:2em; /* line-height of .wrapper div:first-child span */
    margin:auto;
    font-weight:bold;
    font-size:1em;
    line-height:2em; /* Copy to other locations */
}
.pos-wrapper article 
{
    display:inline-block;
    width:25%;
    padding:1em 1em 1em 0;
    vertical-align:middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

.pos-left
{
  background-color: white;
  -moz-box-shadow:  inset 0 0 10px #779da299;
  -webkit-box-shadow: inset 0 0 10px #779da299;
  box-shadow: inset -6px 0px 10px #779da299;
}
.pos-left .pos-left-footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 205px;
    color: #3b3b3b;
}
.pos-btn
{
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  background-color: #0ba1dde6;
  border-radius: 50%;
  font-size: 10px;
}
.pos-btn i
{
  font-size: 20px;
  color: white;
}
.margin-right-20
{
  margin-right: 20px;
}

.pos-title-category
{
  box-shadow: 0px 1px 0px #d5d7d8;
}

.pos-header
{
  background-color: #0092e1;
  height: 35px;
  box-shadow: 0px 0px 5px #013c77;
}
.pos-content
{
  
}
.pos-content .border-right-red
{
  border-right: 1px solid #ff7769;
}
.pos-footer
{
  
}

.pos-input-text input[type=text]
{
  border: none;
  font-size: 14px;
  margin: 0;
  box-shadow: inset 0 1px 1px transparent;
  background: transparent !important;
}
.clearfix
{
  clear: both;
}
.pos-remove-icon
{
  color: #ff7769;
}
*
{
  /*padding: 0;*/
  /*margin: 0;*/
}
body 
{
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    color: #3b3b3b;
    background-color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html
{
  height: 100%;
}
.align-center
{
  text-align: center;
}
.align-left
{
  text-align: left;
}
.align-right
{
  text-align: right;
}
.no-border
{
  border: 0 !important;
}
.pos-content table.pos-table
{
  width: 100%;
  border-collapse: initial !important;
  border-spacing: 0px;
}
.pos-content table.pos-table thead tr th
{
  font-weight: 900;
  color: #ffffff;
  padding: 7px;
  text-align: center;
}
.pos-content table.pos-table thead tr th
{
  background: #0ba1dde6;
  /*background: #69b0ff;*/
  border-left: 1px solid #75C3FC;
}
.pos-content table.pos-table tbody tr.selected 
{
    background-color: #75C3FC !important;
    color:#fff;
    vertical-align: middle;
}
.pos-content table.pos-table tbody tr.selected input[type=text]
{
    color:#fff;
}
.pos-content table.pos-table tbody tr td
{
    padding: 2px;
    /*font-size: 14px;*/
    border-bottom: 1px solid #75C3FC !important;
    cursor: pointer;
}
.pos-content table.pos-table tbody tr td:nth-child(1),.pos-content table.pos-table tbody tr td:nth-child(2),.pos-content table.pos-table tbody tr td:nth-child(3)
{
    /*border-right: 1px solid #75C3FC;*/
}
.pos-content table.pos-table tfoot tr td
{
    padding: 5px;
    font-size: 14px;
}
.cursor-pointer
{
    cursor: pointer;
}
.no-padding
{
    padding: 0px !important;
}
.no-padding-left
{
    padding-left: 0px !important;
}
.padding-left-1
{
    padding-left: 1px !important;
}
.padding-left-2
{
    padding-left: 2px !important;
}
.padding-left-3
{
    padding-left: 3px !important;
}
.padding-left-4
{
    padding-left: 4px !important;
}
.no-padding-right
{
    padding-right: 0px !important;
}
.padding-right-1
{
    padding-right: 1px !important;
}
.padding-right-2
{
    padding-right: 2px !important;
}
.padding-right-3
{
    padding-right: 3px !important;
}
.padding-right-4
{
    padding-right: 4px !important;
}
.padding-right-5
{
    padding-right: 5px !important;
}
.padding-top-5
{
    padding-top: 5px !important;
}

.padding-bottom-5
{
    padding-bottom: 5px !important;
}
.padding-top-10
{
    padding-top: 10px !important;
}

.margin-left-1
{
    margin-left: 1px !important;
}
.margin-left-10
{
    margin-left: 10px !important;
}

.pull-left
{
  float: left;
}
.pull-right
{
  float: right;
}

.checkbox label:after, 
.radio label:after 
{
    content: '';
    display: table;
    clear: both;
}

.checkbox .circle,
.radio .circle 
{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .circle {
    border-radius: 50%;
}

.checkbox .circle .circle-icon,
.radio .circle .circle-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 47.3%;
    left: 21%;
    /*color: blue;*/
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .circle > .circle-icon,
.radio label input[type="radio"] + .circle > .circle-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .circle > .circle-icon,
.radio label input[type="radio"]:checked + .circle > .circle-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .circle,
.radio label input[type="radio"]:disabled + .circle {
    opacity: .5;
}
.checkbox label
{
    padding-left: 0 !important;
}