.auto-overflow-y
{
  overflow-y: auto;
}
.pos-col-md-6
{
  width: 46%;
  float: left;
  margin: 2px;
}
.pos-col-md-3
{
  width: 30%;
  float: right;
  margin: 2px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.balance-due
{
  color: #ff5b5b !important;
}
@font-face {
    font-family: 'free3of9';
    src: url('../fonts/free3of9/IDAutomationC128S.ttf') format('truetype');
}

.barCodeFont{
 font-family:"free3of9";
 font-size: 12px;
}

.selected-action-type
{
  background-color: #75C3FC !important;
  color: white !important;
}

.pos-keyboard
{
  width: 100%;
  background: #f2f2f2;
  padding: 5px 0px 5px 0px;
  text-align: center;
}
.pos-keyboard ul 
{
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}
.pos-keyboard ul li 
{
  float: left;
  display:inline-block;
}
.pos-keyboard .key-1
{
  display: block;
  color: #fff;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  height: 40px;
  background: #6c7072;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.pos-keyboard .key
{
  display: block;
  color: #fff;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  width: 100%;
  height: 40px;
  margin: 2px;
  background: #6c7072;
  -moz-border-radius: 1px;
  border-radius: 1px;
  /*border-top: 1px solid #f5f5f5;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}
.pos-keyboard .keyboard-event
{
  width: 130px;
}

.pos-keyboard #numbers li a span 
{
  display: block;
}
.pos-keyboard .cf:before, .cf:after 
{
  content:""; 
  display:table;
}
.pos-keyboard .cf:after 
{
  clear:both;
}

.pos-box-cash
{
  float: right;
  width: 50px;
  margin-bottom: -7px;
  padding-right: 2px;
  font-size: 11px;
  font-family: 'Josefin Slab';
  color: black;
  text-align:right;
  background-color:#4fc27d;
  border-bottom-left-radius: 20px;
}
.pos-qty-action
{
  font-size: 16px;
  color: #3881bf;
}
.pos-single-box
{
  width: 110px;
  height: 140px;
  /*padding: 0;*/
  box-shadow: 0px 0px 2px #0054ff;
  background-color: #0093ff66;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.pos-row
{
  /*height: 50px;*/
  /*margin-right: 3em;*/
  width: 100%;

}
.pos-row .pos-box
{
  /*height: 83px;*/
  text-align: center;
}
.pos-row .pos-box-footer
{
  background-color: #067baa33;
  text-align: center;
  font-size: 10px;
  box-shadow: 0px -1px 0px #13a2fe;
  height: 42px;
  width: 110px;
  display: table-cell; 
  vertical-align: middle;
}
.pos-row img
{
  width: 90px;
}
.pos-wrapper 
{
    /*margin:1em;*/
    /*position:relative;*/
}
.pos-wrapper .pos-verticle 
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:2em; /* line-height of .wrapper div:first-child span */
    overflow:hidden;
    white-space:nowrap;
}
.pos-wrapper .pos-verticle h1 
{
    -moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
    position:absolute;
    top:0;
    bottom:0;
    height:2em; /* line-height of .wrapper div:first-child span */
    margin:auto;
    font-weight:bold;
    font-size:1em;
    line-height:2em; /* Copy to other locations */
}
.pos-wrapper article 
{
    display:inline-block;
    width:25%;
    padding:1em 1em 1em 0;
    vertical-align:middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

.pos-left
{
  background-color: #f8f8f8;
}
.pos-left .pos-left-footer
{
    height: 149px;
    color: #3b3b3b;
}
.pos-btn
{
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  background-color: #0ba1dde6;
  border-radius: 50%;
  font-size: 10px;
}
.pos-btn i
{
  font-size: 20px;
  color: white;
}
.margin-right-20
{
  margin-right: 20px;
}

.pos-title-category
{
  box-shadow: 0px 1px 0px #d5d7d8;
}

.pos-header
{
  background-color: #bababa;
  height: 35px;
  box-shadow: 0px 0px 5px #d1d1d1;
}
.pos-content
{
  background-color: #f9fcff;
}
.pos-content .border-right-red
{
  border-right: 1px solid #ff7769;
}
.pos-footer
{
  height: 30px;
  background-color: red;
}

.pos-input-text input[type=text]
{
  border: none;
  font-size: 14px;
  margin: 0;
  box-shadow: inset 0 1px 1px transparent;
  background: transparent !important;
}
.clearfix
{
  clear: both;
}
.pos-remove-icon
{
  color: #ff7769;
}
*
{
  /*padding: 0;*/
  /*margin: 0;*/
}
body 
{
    /*font-family: "Helvetica Neue", Helvetica, Arial;*/
    font-family: 'Bree Serif', serif;
    font-size: 14px;
    color: #3b3b3b;
    background-color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
html
{
  height: 100%;
}
.align-center
{
  text-align: center;
}
.align-left
{
  text-align: left;
}
.align-right
{
  text-align: right;
}
.no-border
{
  border: 0 !important;
}
.pos-content table.pos-table
{
  width: 100%;
  border-collapse: initial !important;
  border-spacing: 0px;
}
.pos-content table.pos-table thead tr th
{
  font-weight: 900;
  color: #ffffff;
  padding: 7px;
  text-align: center;
}
.pos-content table.pos-table thead tr th
{
  background: #c0c0c0e6;
  /*background: #69b0ff;*/
  border-left: 1px solid #E6E6E6;
}
.pos-content table.pos-table tbody tr.selected 
{
    background-color: #E3E3E3 !important;
    color:#000;
    vertical-align: middle;
}
.pos-content table.pos-table tbody tr td
{
    padding: 2px;
    /*font-size: 14px;*/
    border-bottom: 1px solid #E6E6E6 !important;
    cursor: pointer;
    font-size: 11px;
}
.pos-content table.pos-table tbody tr td:nth-child(1),.pos-content table.pos-table tbody tr td:nth-child(2),.pos-content table.pos-table tbody tr td:nth-child(3)
{
    /*border-right: 1px solid #75C3FC;*/
}
.pos-content table.pos-table tfoot tr td
{
    padding: 5px;
    font-size: 14px;
}
.cursor-pointer
{
    cursor: pointer;
}
.no-padding
{
    padding: 0px !important;
}
.no-padding-left
{
    padding-left: 0px !important;
}
.padding-left-1
{
    padding-left: 1px !important;
}
.padding-left-2
{
    padding-left: 2px !important;
}
.padding-left-3
{
    padding-left: 3px !important;
}
.padding-left-4
{
    padding-left: 4px !important;
}
.no-padding-right
{
    padding-right: 0px !important;
}
.padding-right-1
{
    padding-right: 1px !important;
}
.padding-right-2
{
    padding-right: 2px !important;
}
.padding-right-3
{
    padding-right: 3px !important;
}
.padding-right-4
{
    padding-right: 4px !important;
}
.padding-right-5
{
    padding-right: 5px !important;
}
.padding-top-5
{
    padding-top: 5px !important;
}

.padding-bottom-5
{
    padding-bottom: 5px !important;
}
.padding-top-10
{
    padding-top: 10px !important;
}

.margin-left-1
{
    margin-left: 1px !important;
}
.margin-left-10
{
    margin-left: 10px !important;
}

.pull-left
{
  float: left;
}
.pull-right
{
  float: right;
}

.checkbox label:after, 
.radio label:after 
{
    content: '';
    display: table;
    clear: both;
}

.checkbox .circle,
.radio .circle 
{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .circle {
    border-radius: 50%;
}

.checkbox .circle .circle-icon,
.radio .circle .circle-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 47.3%;
    left: 21%;
    /*color: blue;*/
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .circle > .circle-icon,
.radio label input[type="radio"] + .circle > .circle-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .circle > .circle-icon,
.radio label input[type="radio"]:checked + .circle > .circle-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .circle,
.radio label input[type="radio"]:disabled + .circle {
    opacity: .5;
}
.checkbox label
{
    padding-left: 0 !important;
}

/*========================================================================================*/
body
{
    font-size: 16px;
}
.table-view
{
    font-size: 16px;
}
.tree-grid table tr td
{
    font-size: 16px;
}

.button-fix-footer
{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    text-align: right;
}
.button-fix-footer .pos-button
{
    display: block;
    color: #fff;
    font: bold 9pt arial;
    text-decoration: none;
    text-align: center;
    height: 30px;
    background: #6c7072;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    float: right;
    margin-right: 5px;
}

.heng-text-center-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%,-50%);
}
.tree-grid
{
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid #f0f0f0 !important;
}
.jqx-grid-cell
{
    border: 0 !important;
    /*background: transparent;*/
}
.jqx-grid-cell table tr td
{
    cursor: pointer;
}
.heng-popup-content table
{
    width: 100%;
}
.table-view thead tr th
{
    padding: 2px;
    border-bottom: 2px solid black;
}
.table-view tbody tr td
{
    padding: 2px;
    border-bottom: 1px solid silver;
}
.table-view tfoot tr td
{
    padding: 2px;
}
.pos-content table.table-view tbody tr.selected
{
    background-color: #E3E3E3 !important;
    color:#000;
    vertical-align: middle;
}

.table-popup tr td
{
    padding:2px;
}
.pos-drop-up
{
    top: auto;
    bottom: 100% !important;
    z-index: 999999;
    height: 80px;
    overflow-y: auto;
}
.searching
{
    padding: 5px;
    background-color: #f3f3f3;
}
.none-event
{
    pointer-events: none;
    opacity: 0.3;
}
.window-button-fix-footer
{
    position:absolute;
    left:0px;bottom:0px;
    height:30px;
    width:100%;
    padding-right:6px;
    padding-top:8px;
    background-color: #F4F4F5;
    -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.4);
    box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}
.window-button
{
    float: right;
    margin-top: -4px;
}
.window-button a
{
    width: 80px;
}
.pcsp-popup .popup
{
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
.heng-popup-manual-item .popup-inner
{

    min-height: 230px;
    padding:10px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    /*box-shadow:0px 2px 6px rgba(0,0,0,1);*/
    border-radius:3px;
    background:#fff;
}
.heng-popup-receipt .popup-inner
{

    min-height: 230px;
    padding:12px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    /*box-shadow:0px 2px 6px rgba(0,0,0,1);*/
    border-radius:3px;
    background:#fff;
}
.heng-popup-content
{
    overflow-y: auto;
}
.pcsp-popup .popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:15px;
    right:15px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    /*background: black;*/
    font-family:Arial, Sans-Serif;
    font-size:24px;
    text-align:center;
    line-height:100%;
    color:red;
}
/*
.pcsp-popup .popup-close:hover
{
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
*/
/* tab */
.heng-pos-tab .jqx-widget-darkblue
{
    border-color: transparent !important;
}
.heng-pos-tab .jqx-fill-state-normal-darkblue,
.heng-pos-tab .jqx-widget-header-darkblue,
.heng-pos-tab .jqx-menu-vertical-darkblue
{
    border-color: transparent !important;
}
.heng-pos-tab .jqx-widget-content
{
    background: transparent !important;
}


/*===========================================Receipt================================*/

#ITEM {
    text-align: left;
    vertical-align: top;
    width: 146px;
    font: normal normal bold 12px/17px Helvetica, Arial, sans-serif;
}
/*#ITEM*/

#TD_TYPE_1 {
    text-align: center;
    vertical-align: top;
    width: 60px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
}
/*#TD_TYPE_1*/

#TD_TYPE_2 {
    height: 20px;
    text-align: right;
    vertical-align: top;
    width: 30px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
}
/*#TD_TYPE_2*/

#FT_TITLE{
    height: 17px;
    text-align: right;
    vertical-align: top;
    width: 146px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    padding: 1px 0px;
}
/*#FT_TITLE*/

#VALUE {
    text-align: right;
    vertical-align: top;
    width: 50px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
    padding: 1px 0px;
}
/*#VALUE*/

#BOX {
    position: relative;
    width: 290px;
}
/*#BOX*/

#HEADER {
    padding: 20px 10px 0px;
}

/*#HEADER*/

#GROUP_CONTENT {
    color: rgb(102, 102, 102);
    width: 270px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
}

/*#GROUP_CONTENT*/

#TITLE {
    color: rgb(67, 70, 73);
    height: 18px;
    width: 270px;
    font: normal normal normal 35px/18px Helvetica, Arial, sans-serif;
}

/*#TITLE*/

#BOX_BODY {
    padding: 0px 10px 0px;
}

/*#BOX_BODY*/

#LINE {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: block;
    border-top: 1px dashed rgb(170, 170, 170);
    border-right: 0px none rgb(102, 102, 102);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 0px none rgb(102, 102, 102);
    width: 100%;
    height: 2px;
    padding: 0;
    margin-top: 2px;
}

/*#LINE*/

#ORDER_TABLE {
    color: rgb(102, 102, 102);
    width: 270px;
    margin-top: 5px;
    font: normal normal normal 13px/17px Helvetica, Arial, sans-serif;
}
/*#ORDER_TABLE*/

.jqx-tabs-titleWrapper {
    z-index:initial !important;
}
