
.item-no
{
	width: 50px;
	float: left;
}
.item-name
{
	width: 100px;
	float: left;
}
.item-qty
{
	width: 100px;
	float: left;
}
.item-price
{
	width: 100px;
	float: left;
}
.item-total
{
	width: 100px;
	float: left;
	border-collapse: 0;
}