body{
    font-family: "Roboto","Helvetica Neue",  Helvetica,Arial,  sans-serif;
    font-size: 14px;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.profile-user-img {
    border: 3px solid #d2d6de;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
}

.test-info{
    background-color: transparent;
}

.question-box{
    margin: 0;
    padding:30px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.7);
}
.question-number{
    font-family: "Arial Black", arial-black;
    color: red;
    font-size:40px;
    font-weight: bold;
    margin-left:20px;
}
.question{
    font-family: Arial, sans-serif, Verdana;
}
.answer{
    margin: 0;
    padding:5px 0;
}
.answer ul{
    margin:0;
    padding:0 0 15px 15px;
    list-style: none outside;
}
.question-info{
    margin:0;
    padding:5px;
}