<?php 
	use PCSPLib\PHPConstant;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemReceiveView';
?>
<div class="form-horizontal">
    <div>
    	<table class="gridtable margin-bottom-10" width="100%">
    		<thead>
    			<tr>
    				<th><?= $this->translate("NO");?></th>
    				<th><?= $this->translate("CATEGORY");?></th>
    				<th><?= $this->translate("ITEM_NAME");?></th>
    				<th><?= $this->translate("MISSING_QTY");?></th>
    				<th><?= $this->translate("REASON");?></th>
    				<th><?= $this->translate("NOTE");?></th>
    			</tr>
    		</thead>
    		<tbody>
    		<?php 
    			$index = 0;
    		?>
		    <?php foreach( $this->record as $key => $value ):$index ++;?>
		    	<tr>
		    		<td class="text-center" rowspan="2" style="background-color:white !important;"><?= $index;?></td>
		    		<td><?= $value["CategoryName"];?></td>
		    		<td id="pcspTdItemReceive<?= $jqxPrefix.$key;?>">
		    			<?= $value["Name"];?>
		    			<?php if( isset($value["HasVariance"]) && $value["HasVariance"] ):?>
		    				<?php 
		    					$itemVarianceValue = $value["ItemVarianceValue"];
		    					$arr = explode(";$;", $itemVarianceValue);
		    				?>
		    				<small>(<?= join(",",$arr);?>)</small>
		    			<?php endif;?>
		    			<?php 
		    				$missingUnit = $value["MissingBrokenUnitMeasurement"];
		    				$itemMethodId= $value["ItemMethodId"];
		    				$isExpired = false;
		    				if( $itemMethodId == 1 ) $isExpired = true;
		    			?>
		    		</td>
		    		<td>
		    			<?= $value["TotalMissingQty"].$missingUnit;?>
		    		</td>
		    		<td id="pcspTdItemTrack<?= $jqxPrefix.$key;?>">
		    			
		    		</td>
		    		<td><?= $value["Note"];?></td>
		    	</tr>
		    	<tr>
		    		<td colspan="5">
		    			<table class="gridtable" width="100%">
		    				<thead>
		    					<tr>
		    						<th><?= $this->translate("NO");?></th>
		    						<th><?= $this->translate("RECEIVED_DATE");?></th>

		    						<?php if( $isExpired ):?>
		    							<th><?= $this->translate("EXPIRED_DATE");?></th>
		    						<?php endif;?>

		    						<th><?= $this->translate("MISSING_QTY");?></th>
		    					</tr>
		    				</thead>
		    				<tbody>
		    					<?php foreach( $value["Child"] as $k => $val ):?>
		    						<tr>
		    							<td class="text-center"><?= $k+1;?></td>
		    							<td>
		    								<?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($val["LastReceivedDate"]));?>
		    							</td>
		    							<?php if( $isExpired ):?>
			    							<td>
			    								<?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($val["ExpiredDate"]));?>
			    							</td>
			    						<?php endif;?>
		    							<td>
		    								<?= $val["MissingBrokenQty"].$missingUnit;?>
		    							</td>
		    						</tr>
		    					<?php endforeach;?>
		    				</tbody>
		    			</table>
		    		</td>
		    	</tr>
		    <?php endforeach;?>
		    </tbody>
		    <tfoot>
		    	<tr>
		    		<th colspan="6">&nbsp;</th>
		    	</tr>
		    </tfoot>
		</table>
    </div>
</div>
<style type="text/css">
.pcsp-item-detail
{
	background-color: #fbfbfb4d !important;
	border-top: 0 !important;
}
.pcsp-td-item-view
{
	border-bottom: none !important;
	padding-bottom: 1px solid #fbfbfb4d !important;
	background-color: #fbfbfb4d !important;
}
tbody tr:nth-child(odd) td 
{
	background: #f7fffe66 !important;
}
tbody tr:nth-child(even)  td
{
	background: #FFF !important;
}
</style>
<script type="text/javascript">
	
function showItem<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemReceive<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemReceive<?= $jqxPrefix;?>"+index;
	var hideButtonId    = "#butHide<?= $jqxPrefix;?>"+index;

	$("#pcspItemTrack<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butHideTrack<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butShowTrack<?= $jqxPrefix;?>"+index).removeClass("hide").addClass("show");
	$("#pcspTdItemTrack<?= $jqxPrefix;?>"+index).removeClass("pcsp-td-item-view");

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).addClass("pcsp-td-item-view");
	$(detailElementId).removeClass("hide");
	$(hideButtonId).removeClass("hide").addClass("show");
}

function hideItem<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemReceive<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemReceive<?= $jqxPrefix;?>"+index;
	var showButtonId    = "#butShow<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).removeClass("pcsp-td-item-view");
	$(detailElementId).addClass("hide");
	$(showButtonId).removeClass("hide").addClass("show");
}

function showItemTrack<?= $jqxPrefix;?>(e,index)
{
	$("#pcspItemReceive<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butHide<?= $jqxPrefix;?>"+index).removeClass("show").addClass("hide");
	$("#butShow<?= $jqxPrefix;?>"+index).removeClass("hide").addClass("show");
	$("#pcspTdItemReceive<?= $jqxPrefix;?>"+index).removeClass("pcsp-td-item-view");

	var detailElementId = "#pcspItemTrack<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemTrack<?= $jqxPrefix;?>"+index;
	var hideButtonId    = "#butHideTrack<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).addClass("pcsp-td-item-view");
	$(detailElementId).removeClass("hide");
	$(hideButtonId).removeClass("hide").addClass("show");
}

function hideItemTrack<?= $jqxPrefix;?>(e,index)
{
	var detailElementId = "#pcspItemTrack<?= $jqxPrefix;?>"+index;
	var currentItemElementId = "#pcspTdItemTrack<?= $jqxPrefix;?>"+index;
	var showButtonId    = "#butShowTrack<?= $jqxPrefix;?>"+index;

	$(e).removeClass("show").addClass("hide");
	$(currentItemElementId).removeClass("pcsp-td-item-view");
	$(detailElementId).addClass("hide");
	$(showButtonId).removeClass("hide").addClass("show");
}

</script>