<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::TAX_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = '_sysTaxNewAndEdit';
	$pre = '_sysTaxList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = "#jqxGrid".$pre;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label"><?= $this->translate('NAME');?><span class="star-red">*</span></label>
    	</div>
    	<div class="col-sm-8">
    		<input type="text" class="form-control input-sm" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>" id="txtName<?= $jqxPrefix;?>">
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?= $this->translate('VALUE');?><span class="star-red">*</span></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" class="form-control input-sm" name="Value" value="<?= $escaper->escapehtml($this->record->Value);?>" id="txtValue<?= $jqxPrefix;?>">
		</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?= $this->translate('NOTE');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<input type="text" name="Note" id="txtNote<?= $jqxPrefix;?>" value="<?= $escaper->escapehtml($this->record->Note);?>" class="form-control input-sm">
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
			[
				"url" => $url,
				"jqxPrefix"	=> $jqxPrefix,
				"gridName"	=>	$gridIdName,

			]
		);
	?>
</form>

<script type="text/javascript">

function clearControl<?= $jqxPrefix;?>()
{
	$("#txtId<?= $jqxPrefix;?>").val('0');
	$('#txtName<?= $jqxPrefix;?>').val('');
	$("#txtValue<?= $jqxPrefix;?>").val('');
	$('#txtNote<?= $jqxPrefix;?>').val('');
	$("#chbActive<?= $jqxPrefix;?>").prop('checked', true);
}

$(document).ready(function()
{
	$('#winForm<?= $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
				input: '#txtName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
			},
			{
				input: '#txtValue<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required'
			}
		]
	});
	
}); 
</script>