<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::USER_MODULE.'/'.PHPConstant::GROUP_RESOURCE_CONTROLLER;
    $jqxPrefix = '_sysGroupResourceList';
    $newAndEditPrefix = '_sysGroupResourceNewAndEdit';
    
?>

<section class="content-custom-header" style="background-color:#f4f4f5; margin-bottom: 15px;">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('home');?>">
            	<?php echo $this->translate('DASHBOARD');?>
            </a>
        </li>
        <li>
        	<?php echo $this->translate('GROUP_RESOURCE');?>
        </li>
    </ol>
</section>

<?php

	echo $this->partial('application/basepartial/action-partial.phtml',
			[
				"url" 			=>	$url,
				"jqxPrefix" 	=> 	$jqxPrefix,
				'gridIdName' 	=> 	"#jqxGrid".$jqxPrefix,
			]
	);

	echo $this->partial('user/group-resource/partial/grid-partial.phtml',
			[
				"url" =>	$url,
				"jqxPrefix" => $jqxPrefix,
				"newAndEditPrefix" => $newAndEditPrefix,
			]
	);