<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content pcsp-invoce<?= $jqxPrefix;?>">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getFilterRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",JSON.parse('{"InvoiceDate":"<?= $this->invoiceDate;?>"}'));

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function view<?= $jqxPrefix;?>(id,invoiceNo)
{
    switchTab<?= $newAndEditPrefix;?>(2,1);

    var element = "#sale-view-invoice<?= $newAndEditPrefix;?>";
    var param   = JSON.parse('{"Id":'+id+'}');

    $("#txtSaleViewInvoice<?= $newAndEditPrefix;?>").text("<?= $this->translate('INVOICE_NO');?> : "+invoiceNo);

    initialContent(element,"<?= $url;?>/view",param);
}

var  action<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var id = rowdata.Id;
    var invoiceNo = rowdata.InvoiceNo;

    var str = "<i class='glyphicon glyphicon-eye-open cursor-pointer' style='font-size: 25px;margin-left: 25px;' onclick=view<?= $jqxPrefix;?>('"+id+"','"+invoiceNo+"')></i>";

    return str;
}

$(document).ready(function () 
{		
    var height= $("#jqxWindowPopUp_sysMySaleList").height()-150;
    
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:height,   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        // selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: false,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('ACTION');?>", width: 70,cellsrenderer: action<?= $jqxPrefix;?>,align:'center'
            },
            { 
                text: "<?= $this->translate('WAREHOUSE');?>", datafield: 'WarehouseName'
            },
            { 
                text: "<?= $this->translate('INVOICE_NO');?>", datafield: 'InvoiceNo'
            },
            { 
                text: "<?= $this->translate('SUB_TOTAL');?>", datafield: 'SubTotal'
            },
            { 
                text: "<?= $this->translate('TOTAL_DISCOUNT');?>", datafield: 'TotalDiscount'
            },
            { 
                text: "<?= $this->translate('TOTAL_TAX');?>", datafield: 'TotalTax'
            },
            { 
                text: "<?= $this->translate('TOTAL');?>", datafield: 'Total'
            },
            { 
                text: "<?= $this->translate('PAID_AMOUNT');?>", datafield: 'PaidAmount'
            },
            { 
                text: "<?= $this->translate('BALANCE');?>", datafield: 'Balance'
            }
        ]
    }); 
});
</script>