<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid',"#jqxGrid<?= $jqxPrefix;?>",[]);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function view<?= $jqxPrefix;?>(invoiceDate)
{
    switchTab<?= $jqxPrefix;?>(1,1);

    $("#txtSaleInvoice<?= $jqxPrefix;?>").text("<?= $this->translate('INVOICE');?>/"+invoiceDate);

    var element = "#sale-item-detail<?= $jqxPrefix;?>";
    var param   = JSON.parse('{"InvoiceDate":"'+invoiceDate+'"}');

    initialContent(element,"<?= $url;?>/list-invoice",param);
}

var  action<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var saleDate = rowdata.SaleDate;
    var str = "<i class='glyphicon glyphicon-eye-open cursor-pointer' style='font-size: 25px;margin-left: 25px;' onclick=view<?= $jqxPrefix;?>('"+saleDate+"')></i>";

    return str;
}

$(document).ready(function () 
{		
    var height= $("#jqxWindowPopUp<?= $jqxPrefix;?>").height()-150;

	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:height,   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        // selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: false,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        columns: 
        [
            { 
                text: "<?= $this->translate('ACTION');?>", width: 70,cellsrenderer: action<?= $jqxPrefix;?>,align:'center'
            },
            { 
                text: "<?= $this->translate('INVOICE_DATE');?>", datafield: 'InvoiceDate',width: 110
            },
            { 
                text: "<?= $this->translate('SUB_TOTAL');?>", datafield: 'SubTotal'
            },
            { 
                text: "<?= $this->translate('TOTAL_DISCOUNT');?>", datafield: 'TotalDiscount'
            },
            { 
                text: "<?= $this->translate('TOTAL_TAX');?>", datafield: 'TotalTax'
            },
            { 
                text: "<?= $this->translate('TOTAL');?>", datafield: 'Total'
            },
            { 
                text: "<?= $this->translate('PAID_AMOUNT');?>", datafield: 'PaidAmount'
            },
            { 
                text: "<?= $this->translate('BALANCE');?>", datafield: 'Balance',width: 200
            },
        ]
    }); 
});
</script>