<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSaleItemList';
    $newAndEditPrefix = '_sysSaleItemNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("SALE");?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#receive-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("SALE_TRANSACTION");?>
                </a>
            </li>
            <li class="tabs" onclick="switchTab<?= $jqxPrefix;?>(1,0);" data-id="#sale-item<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("SALE_ITEM");?>
                </a>
            </li>
            <li class="padding-right-5 hide tabs" data-id="#sale-item-detail<?= $jqxPrefix;?>" >
                <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(2,0);" id="txtSaleInvoice<?= $jqxPrefix;?>">
                    <?= $this->translate("INVOICE");?>
                </a>
                <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this,2);"></i>
            </li>
            <li class="padding-right-5 hide tabs" data-id="#sale-view-invoice<?= $jqxPrefix;?>" >
                <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(3,0);" id="txtSaleViewInvoice<?= $jqxPrefix;?>">
                    <?= $this->translate("VIEW");?>
                </a>
                <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this,3);"></i>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="receive-transaction<?= $jqxPrefix;?>">
                <?php 
                    echo $this->partial('sale/sale/partial/grid-partial.phtml',
                            [
                                "url" => $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="sale-item<?= $jqxPrefix;?>">

            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="sale-item-detail<?= $jqxPrefix;?>">

            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="sale-view-invoice<?= $jqxPrefix;?>">

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

// heightContentAptional = -120;

function newItemReceive<?= $jqxPrefix;?>()
{
    var element = "#sale-item<?= $jqxPrefix;?>";
    if( $(element).children().length == 0 )
    {
        initialContent(element,"<?= $url;?>/new", []);
    }
}

function removeTab<?= $jqxPrefix;?>(act,type)
{
    switchTab<?= $jqxPrefix;?>(0,type);
}

function switchTab<?= $jqxPrefix;?>(index,type)
{
    $(".pcsp-tabs-row").find("li").removeClass("selected");
    $(".pcsp-tabs-row li:eq("+index+")").addClass("selected");

    $(".pcsp-bg-tab-content").find(".pcsp-tabs").removeClass("show").addClass("hide");

    var contentEelement = $(".pcsp-tabs-row li:eq("+index+")").attr("data-id");
    $(contentEelement).removeClass("hide").addClass("show");

    switch( index*1 )
    {
        case 0:

            if( type*1 != 0 )
            {
                $(".pcsp-tabs-row").find("li:eq("+type+")").addClass("hide");
            }

            break;
        case 1:

            newItemReceive<?= $jqxPrefix;?>();

            break;
        case 2:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(2)").removeClass("hide");
            }       

            break;
        case 3:
            if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(3)").removeClass("hide");
            }       

            break;
    }
}

</script>