<?php 
	use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;
	$customerUrl = $this->basepath().'/'.PHPConstant::CUSTOMER_MODULE.'/'.PHPConstant::CUSTOMER_CONTROLLER;

    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSaleItemNewAndEdit';

    $gridName = "#jqxGrid_sysSaleItemList";
?>
<link rel="stylesheet" type="text/css" href="<?= $this->basepath();?>/pcsp/css/sale-pos.css">
<script type="text/javascript" src="<?= $this->basepath();?>/pcsp/js/jquery-scan-barcode.js"></script>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="form-group">
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("CUSTOMER");?>
                <span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="ddlCustomer<?= $jqxPrefix;?>"></div>
	            <input type="hidden" id="txtCustomer<?= $jqxPrefix;?>">
	            <input type="hidden" id="txtCustomerId<?= $jqxPrefix;?>" name="Record[CustomerId]">
	            <input type="hidden" id="txtCustomerGroupId<?= $jqxPrefix;?>" value="0">
		    </div>
		    <div class="col-sm-2 no-padding">
		    	<?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysCustomerNewAndEdit",
                            "dropDownListId"    =>  "#ddlCustomer".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtCustomer".$jqxPrefix,
                            "url"               =>  $customerUrl,
                            "width"   =>  850,
                			"height"  =>  520,
                			"displayField" => "FullName",
                			"valueField"   => "CustomerId",
                            "title"             =>  $this->translate("NEW_CUSTOMER"),
                            
                        ]);
                ?>
            </div>
        	<label class="col-md-12 control-label no-padding-left pcsp-note">
        		<i class="glyphicon glyphicon-screenshot"></i>
	        	<?= $this->translate("IF_YOU_CHANGE_CUSTOMER_YOU_WILL_INPUT_ITEM_AGAIN");?>
	        </label>
	    </div>
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("INVOICE_DATE");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="txtInvoiceDate<?= $jqxPrefix;?>" name="Record[InvoiceDate]"></div>
		    </div>
		    <div class="col-sm-2 no-padding">

            </div>
	    </div>
    </div>
    <div class="col-md-12 grid-title margin-bottom-5" style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("SALE_DETAIL");?>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 no-padding">
		<div class="pcsp-sale-content-header">
			<div class="pull-right">
				<div class="">
					<a href="javascript:void(0);" class="btn btn-success btn-sm" title="<?= $this->translate('CLEAR');?>" onclick="reset<?= $jqxPrefix;?>();">
						<?= $this->translate("CLEAR");?>
					</a>
					<a href="javascript:void(0);" class="btn btn-success btn-sm" title="<?= $this->translate('PREVIEW_AND_PAY');?>" onclick="preview<?= $jqxPrefix;?>();">
						<?= $this->translate("PREVIEW_AND_PAY");?>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12 pos-content no-padding padding-top-5 " style="margin-top: 5px;">
		<div class="col-sm-8 pos-left no-padding pcsp-pos-layout">
			<table class="pos-table pos-input-text" id="tblOrder<?= $jqxPrefix;?>" width="100%">
				<thead >
					<tr>
						<th width="20"></th>
						<th width="30"><?= $this->translate("NO");?></th>
						<th><?= $this->translate("DESCRIPTION");?></th>
						<th width="120"><?= $this->translate("QTY");?></th>
						<th width="70"><?= $this->translate("UNIT_QTY");?></th>
						<th width="70"><?= $this->translate("PRICE");?></th>
						<th width="100"><?= $this->translate("SUB_TOTAL");?></th>
						<th width="70"><?= $this->translate("DISCOUNT");?></th>
						<th width="70"><?= $this->translate("TOTAL");?></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" style="text-align:right;"><?= $this->translate("SUB_TOTAL");?></td>
						<td id="lblSubTotal<?= $jqxPrefix;?>">$0</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align:right;"><?= $this->translate("DISCOUNT");?></td>
						<td id="lblDiscount<?= $jqxPrefix;?>">
							<div class='btn-group dropdown keep-open'>
					        	<span id="bill-discount-dropdown-menu<?= $jqxPrefix;?>" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">
					        		<span id="lblBillDiscount<?= $jqxPrefix;?>">0</span>
					        		<span class="caret caret-up"></span>
					        	</span>

					        	<ul class="dropdown-menu pos-drop-up" style="min-width: 200px;" role="menu" aria-labelledby="bill-discount-dropdown-menu<?= $jqxPrefix;?>">
					            	<div style="padding: 0px 10px 10px 10px;color:#333 !important;" >

					            		<?php foreach( $this->billDiscountRecord as $key => $value ):?>
							            	<div class="checkbox">
								            	<label>
									                <input type="checkbox" class="chb-bill-discount" onclick="changeBillDiscount<?= $jqxPrefix;?>(this,'<?= $value["Id"];?>','<?= $value["Name"];?>','<?= $value["Value"];?>','<?= $value["DiscountTypeId"];?>');">
									                <span class="circle">
									                	<i class="circle-icon glyphicon glyphicon-ok"></i>
									                </span>
									                <?= $value["Name"];?>
									            </label>
									        </div>
							            <?php endforeach;?>

					            	</div>
					        	</ul>
					    	</div>
						</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align:right;"><?= $this->translate("TAX");?></td>
						<td>
							<div class='btn-group dropdown keep-open'>
					        	<span id="tax-dropdown-menu<?= $jqxPrefix;?>" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">
					        		<span id="lblTax<?= $jqxPrefix;?>">0</span>
					        		<span class="caret caret-up"></span>
					        	</span>

					        	<ul class="dropdown-menu pos-drop-up" style="minwidth: 200px;" role="menu" aria-labelledby="tax-dropdown-menu<?= $jqxPrefix;?>">
					            	<div style="padding: 0px 10px 10px 10px;color:#333 !important;" >

									    <?php foreach( $this->taxRecord as $key => $value ):?>
							            	<div class="checkbox">
								            	<label>
									                <input type="checkbox" class="chb-tax" onchange="changeTax<?= $jqxPrefix;?>(this,'<?= $value["Id"];?>','<?= $value["Name"];?>','<?= $value["Value"];?>');">
									                <span class="circle">
									                	<i class="circle-icon glyphicon glyphicon-ok"></i>
									                </span>
									                <?= $value["Name"];?>
									            </label>
									        </div>
							            <?php endforeach;?>

					            	</div>
					        	</ul>
					    	</div>
						</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align:right;">
							<?= $this->translate("TOTAL_DISCOUNT");?>
						</td>
						<td id="lblTotalDiscount<?= $jqxPrefix;?>">$0</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align:right;"><?= $this->translate("BALANCE_DUE");?></td>
						<td id="lblBalanceDue<?= $jqxPrefix;?>" style="color: #b72e59;">$0</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="col-md-4 no-padding-right">
			<div class="pos-form-input pcsp-pos-layout">
				<div class="form-group">
			        <label class="col-sm-12 control-label no-padding-left">
			        	<?= $this->translate("CATEGORY");?>
			        	<span class="star-red">*</span>
			        </label>
			        <div class="col-sm-8 no-padding-left no-padding-right">
			            <div id="ddlItemCategory<?= $jqxPrefix;?>" >
		           			<div id="ddlTreeItemCategory<?= $jqxPrefix;?>"></div>
		            	</div>
		            	<input type="hidden" id="txtItemCategoryId<?= $jqxPrefix;?>" />
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-12 control-label no-padding-left">
			        	<?= $this->translate("ITEM_NAME");?>
			        	<span class="star-red">*</span>
			        </label>
			        <div class="col-sm-12 no-padding-left no-padding-right">
			            <div id="ddlItemMaster<?= $jqxPrefix;?>"></div>
			        </div>
			         <div class="col-sm-12 no-padding-left no-padding-right">
			            <div id="pcspItemVarainceContent<?= $jqxPrefix;?>"></div>
			        </div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-12 control-label no-padding-left">
			        	<?= $this->translate("UNIT_MEASUREMENT");?>
			        	<span class="star-red">*</span>
			        </label>
			        <div class="col-sm-12 no-padding-left no-padding-right ">
			            <div id="ddlItemUnitMeasurement<?= $jqxPrefix;?>" onchange="setItemUnitMeasurement<?= $jqxPrefix;?>();"></div>
			            <input type="hidden" id="txtDefaultSelectUnit<?= $jqxPrefix;?>">
			        </div>
			        <div id="lblUnitMeasurement<?= $jqxPrefix;?>" style="font-size: 10px;color:#4957c2;" ></div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-12 control-label no-padding-left">
			        	<?= $this->translate("QTY");?>
			        	<span class="star-red">*</span>
			        </label>
			        <div class="col-sm-12 no-padding-left no-padding-right">
			            <input type="text" class="form-control input-sm" id="txtAddQty<?= $jqxPrefix;?>" onkeyup="getCalculateUnitQty<?= $jqxPrefix;?>();">
			        </div>
			        <div id="lblUnitMeasurementQty<?= $jqxPrefix;?>" style="font-size: 10px;color:#4957c2;">
			        	
			        </div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-12 control-label no-padding-left">
			        	<?= $this->translate("AVAILABLE_QTY");?>
			        </label>
			        <div class="col-sm-12 no-padding-left no-padding-right">
			        	<span id="lblStockAvailableQty<?= $jqxPrefix;?>" style="font-size: 14px;" class="star-red">0</span>
			            <input type="hidden" class="form-control input-sm" id="txtStockAvailableQty<?= $jqxPrefix;?>">
			        </div>
			    </div>

			    <div class="clearfix"></div>

			    <div class="pos-right-footer">
					<div class=" btn-icon-state">
						<a href="javascript:void(0);" class="btn btn-default btn-sm icon-active" title="<?= $this->translate('ADD');?>" onclick="addMoreOrderItem<?= $jqxPrefix;?>()">
							<i class="glyphicon glyphicon-plus"></i>
							<?= $this->translate("ADD");?>
						</a>
						<a href="javascript:void(0);" class="btn btn-default btn-sm icon-active" title="<?= $this->translate('CLEAR');?>" onclick="clearItemManually<?= $jqxPrefix;?>();">
							<i class="glyphicon glyphicon-refresh"></i>
							<?= $this->translate("CLEAR");?>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- hidden field -->
	<input type="hidden" id="txtSubTotal<?= $jqxPrefix;?>" value="0" name="Record[SubTotal]"/>
	<input type="hidden" id="txtBalanceDue<?= $jqxPrefix;?>" value="0" name="Record[Total]"/>

	<input type="hidden" id="txtTotalDiscount<?= $jqxPrefix;?>" value="0" name="Record[TotalDiscount]"/>

	<input type="hidden" id="txtTotalBillDiscount<?= $jqxPrefix;?>" value="0" name="Record[TotalBillDiscount]"/>
	<input type="hidden" id="txtDiscountType<?= $jqxPrefix;?>" value="0" name="Record[BillDiscountValueTypeId]"/>
	<input type="hidden" id="txtDiscountName<?= $jqxPrefix;?>" value="" name="Record[BillDiscountName]"/>
	<input type="hidden" id="txtDiscountId<?= $jqxPrefix;?>" value="0" name="Record[BillDiscountValueId]"/>
	<input type="hidden" id="txtDiscountValue<?= $jqxPrefix;?>" value="0" name="Record[BillDiscountValue]"/>

	<input type="hidden" id="txtTotalTax<?= $jqxPrefix;?>" value="0" name="Record[TotalTax]"/>
	<input type="hidden" id="txtTaxName<?= $jqxPrefix;?>" value="" name="Record[TaxName]"/>
	<input type="hidden" id="txtTaxId<?= $jqxPrefix;?>" value="0" name="Record[TaxId]"/>
	<input type="hidden" id="txtTaxValue<?= $jqxPrefix;?>" value="0" name="Record[TaxValue]"/>

	<!-- help develop -->

	<input type="hidden" id="txtAllTotalItemDiscount<?= $jqxPrefix;?>" value="0" name="Record[TotalItemDiscount]">
	<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">
	<input type="hidden" id="txtItemUnitQty<?= $jqxPrefix;?>" value="0">
	<input type="hidden" id="txtDefaultSystemUnit<?= $jqxPrefix;?>" value="0">
	<input type="hidden" id="txtDefaultSystemUnitValue<?= $jqxPrefix;?>" value="0">
	<input type="hidden" id="txtSalePriceId<?= $jqxPrefix;?>" value="0">
	<input type="hidden" id="txtPrice<?= $jqxPrefix;?>" value="0">
	<input type="hidden" id="txtItemMasterId<?= $jqxPrefix;?>" value="0">

	<!-- end hidden field -->

</form>

<style type="text/css">
.pcsp-sale-content-header
{
	/*height: 100px;*/
	/*background-color: white;*/
}
.pos-drop-up 
{
    top: auto;
    bottom: 100% !important;
}
</style>

<script type="text/javascript">
var index<?= $jqxPrefix;?> = 1;
var dataStore<?= $jqxPrefix;?> = {"total":0,"rows":[]};
var selectedRowIndex<?= $jqxPrefix;?> = 0;
var maxlengthQty<?= $jqxPrefix;?> = 5;
var barcode<?= $jqxPrefix;?> = "";
var activeIndex<?= $jqxPrefix;?> = 0;
var isNewItem<?= $jqxPrefix;?> = true;
var unitRecord<?= $jqxPrefix;?> = [];
var curCustomer<?= $jqxPrefix;?> = 0;
var isCustomerProcess<?= $jqxPrefix;?> = false;

function resetRowNumber<?= $jqxPrefix;?>()
{
	var num = 1;

	$("#tblOrder<?= $jqxPrefix;?> tbody tr").each(function()
	{
		$(this).find("td:eq(1)").text(num);

		num ++;
	});
}

function removeRow<?= $jqxPrefix;?>(index)
{
	var id = $("#txtId<?= $jqxPrefix;?>"+index).val();

	$("#tr<?= $jqxPrefix;?>"+index).remove();

	resetRowNumber<?= $jqxPrefix;?>();

	removeData<?= $jqxPrefix;?>(id);

	calculate<?= $jqxPrefix;?>();
}

function clearControl<?= $jqxPrefix;?>()
{
	clearSaleDetail<?= $jqxPrefix;?>();

	clearDropDownList("#ddlCustomer<?= $jqxPrefix;?>");
	$("#txtInvoiceDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate",new Date());

	$("#winForm<?= $jqxPrefix;?>").find("input").val("");
}

function clearSaleDetail<?= $jqxPrefix;?>()
{
	dataStore<?= $jqxPrefix;?>.total = 0;
	dataStore<?= $jqxPrefix;?>.rows = [];

	$("#tblOrder<?= $jqxPrefix;?> tbody").html('');

	$("#lblSubTotal<?= $jqxPrefix;?>").text(0);
	$("#lblTotal<?= $jqxPrefix;?>").text(0);
	$("#lblBillDiscount<?= $jqxPrefix;?>").text(0);
	$("#lblTax<?= $jqxPrefix;?>").text(0);
	$("#lblBalanceDue<?= $jqxPrefix;?>").text(0);
	$("#lblTotalDiscount<?= $jqxPrefix;?>").text(0);

	initialOrder<?= $jqxPrefix;?>(10);
}

function reset<?= $jqxPrefix;?>()
{
	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_CLEAR')?>");
	if( isOk == false ) return;

	clearControl<?= $jqxPrefix;?>();
}

function setBillDiscount<?= $jqxPrefix;?>(e,id,name,value,type)
{
	var checked = $(e).is(":checked");

	$(".chb-bill-discount").prop("checked",false);

	$(e).prop("checked",checked);

	if( checked == false )
	{
		id = 0;
		name ="";
		value = 0;
		type = 0;
	}

	$("#txtDiscountId<?= $jqxPrefix;?>").val(id);
	$("#txtDiscountName<?= $jqxPrefix;?>").val(name);
	$("#txtDiscountValue<?= $jqxPrefix;?>").val(value);
	$("#txtDiscountType<?= $jqxPrefix;?>").val(type);

	calculate<?= $jqxPrefix;?>();
}

function initialOrder<?= $jqxPrefix;?>(size)
{
	index<?= $jqxPrefix;?> = 1;

	for( var i = 1; i <= size ; i ++ )
	{
		addMore<?= $jqxPrefix;?>('');
	}
}

function removeData<?= $jqxPrefix;?>(id)
{
	var total = dataStore<?= $jqxPrefix;?>.total;
	var rows  = dataStore<?= $jqxPrefix;?>.rows;
	var row,tmp = {"total":0,"rows":[]};

	for( var i = 0 ; i < total ; i ++ )
	{
		row = rows[i];
		if( id != row.Id )
		{
			tmp.total ++;
			tmp.rows.push(row);
		}
	}

	dataStore<?= $jqxPrefix;?>.total = tmp.total;
	dataStore<?= $jqxPrefix;?>.rows  = tmp.rows;

	calculate<?= $jqxPrefix;?>();
}

function getRowNumber<?= $jqxPrefix;?>()
{
	return $("#tblOrder<?= $jqxPrefix;?> tbody tr:last").index()+2;
}

function getStr<?= $jqxPrefix;?>(index,data)
{
	var id = '',name = '',itemName = '',variance='',qty = 1,price = '',itemMasterId = 0,isEmpty = true ;
	var eventStr = "";
	var submitIndex = "@$@"+index;

	if( data != "" )
	{
		var arr = data.split("#");
		id   = arr[0];
		name = arr[1];
		itemName = name;
		price= arr[2];
		itemMasterId = arr[3];
		variance = arr[4];
		qty = arr[5];

		if( variance != "" )
		{
			name = name+'<small style="font-size: 10px;color:#223ac2;">('+variance+')</small>';
		}

		isEmpty = false;

		eventStr = ' onclick="selectTableRow<?= $jqxPrefix;?>('+index+');"';
	}

	var str  = '<tr id="tr<?= $jqxPrefix;?>'+index+'" >';


			str += "<td align='center'>";
				if( isEmpty == false )
				{
					str += '<p style="color:red;widht: 5px;" onclick=removeRow<?= $jqxPrefix;?>("'+index+'") class="cursor-pointer align-center pccsp-btn-action-remove">X</p>';
				}
			str += "</td>";

			str += '<td class="text-center" '+eventStr+'>';
				if( isEmpty == false )
				{
					str += getRowNumber<?= $jqxPrefix;?>();
				}
			str += '</td>';

            str += '<td style="padding-left: 5px;" '+eventStr+'>';
            	str += name;
            str += '</td>';

            str += '<td '+eventStr+'>';

            if( isEmpty == false )
            {
				str += '<input type="text" class="pos-input-text" id="txtQty<?= $jqxPrefix;?>'+index+'" value="'+qty+'" class="form-control input-sm" onkeyup="calculateQty<?= $jqxPrefix;?>('+index+');" maxlength="'+maxlengthQty<?= $jqxPrefix;?>+'" name="DetailRecord['+submitIndex+'][SaleQty]" style="width: 50px;" />';

				str += '<input type="hidden" class="" id="txtId<?= $jqxPrefix;?>'+index+'" value="'+id+'" name="DetailRecord['+submitIndex+'][SalePriceId]" />';
				str += '<input type="hidden" class="" id="txtItemName<?= $jqxPrefix;?>'+index+'" value="'+itemName+'" name="DetailRecord['+submitIndex+'][Name]" />';
				str += '<input type="hidden" class="" id="txtVarianceName<?= $jqxPrefix;?>'+index+'" value="'+variance+'" name="DetailRecord['+submitIndex+'][VarianceName]" />';

				str += '<input type="hidden" class="" id="txtItemMasterId<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][ItemMasterId]" value="'+itemMasterId+'" />';
				str += '<input type="hidden" class="" id="txtSaleUnitMeasurement<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][SaleUnitMeasurement]" value="" />';

				str += '<input type="hidden" id="txtPrice<?= $jqxPrefix;?>'+index+'" value="'+price+'" name="DetailRecord['+submitIndex+'][UnitPrice]" />';
				str += '<input type="hidden" id="txtUnitQty<?= $jqxPrefix;?>'+index+'" value="1" name="DetailRecord['+submitIndex+'][Qty]" />';

				str += '<input type="hidden" class="" id="txtItemSubTotal<?= $jqxPrefix;?>'+index+'" value="'+price+'" data-index="'+index+'" name="DetailRecord['+submitIndex+'][SubTotal]" />';
				str += '<input type="hidden" class="pos-item-total" id="txtItemTotal<?= $jqxPrefix;?>'+index+'" value="'+price+'" data-index="'+index+'" name="DetailRecord['+submitIndex+'][Total]" />';

				str += '<input type="hidden" id="txtTotalItemDiscount<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][TotalDiscount]" />';
				str += '<input type="hidden" id="txtItemDiscountId<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][ItemDiscountValueId]" />';
				str += '<input type="hidden" id="txtItemDiscountValue<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][ItemDiscountValue]" />';
				str += '<input type="hidden" id="txtItemDiscountName<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][ItemDiscountName]" />';
				str += '<input type="hidden" id="txtItemDiscountTypeId<?= $jqxPrefix;?>'+index+'" name="DetailRecord['+submitIndex+'][ItemDiscountValueTypeId]" />';

				str += "<div class='btn-group dropdown keep-open"+index+"' style='right: 0;'>";
			        	str += '<span id="unit-measurement-dropdown-menu<?= $jqxPrefix;?>'+index+'" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">';
			        		str += '<span id="lblUnitMeasurement<?= $jqxPrefix;?>'+index+'" style="padding-right: 5px;"></span>';
			        		str += '<span class="caret caret-up"></span>';
			        	str += '</span>';

			        	str += '<ul class="dropdown-menu pos-drop-up" style="min-width: 200px;min-height: 40px;" role="menu" aria-labelledby="unit-measurement-dropdown-menu<?= $jqxPrefix;?>'+index+'">';

			            	str += '<div style="padding: 0px 10px 10px 10px;color:#333 !important;" id="pcsp-unit-measurement<?= $jqxPrefix;?>'+index+'">';

			            	str += '</div>';

			        	str += '</ul>';
			    	str += '</div>';

			}
			else 
			{
				str += "&nbsp;";
			}
			str += '</td>';

			str += '<td '+eventStr+' id="lblUnitQty<?= $jqxPrefix;?>'+index+'" align="center">';
            	if( isEmpty == false )
            	{
            		str += 1;
            	}
            str += '</td>';

            str += '<td '+eventStr+'>';
            	str += price;
            str += '</td>';

            str += '<td '+eventStr+' id="lblItemSubTotal<?= $jqxPrefix;?>'+index+'">';
            	str += price;
            str += '</td>';

            str += '<td '+eventStr+'>';
            	if( isEmpty == false)
            	{
            		str += "<div class='btn-group dropdown keep-open"+index+"'>";
			        	str += '<span id="item-discount-dropdown-menu<?= $jqxPrefix;?>'+index+'" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-target="#" style="font-weight: 900;">';

			        		str += '<span id="lblItemDiscount<?= $jqxPrefix;?>'+index+'">';

			        		str += '</span>';

			        		str += '<span class="caret caret-up"></span>';
			        	str += '</span>';

			        	str += '<ul class="dropdown-menu pos-drop-up" style="min-width: 200px;" role="menu" aria-labelledby="item-discount-dropdown-menu<?= $jqxPrefix;?>'+index+'">';

			            	str += '<div style="padding: 0px 10px 10px 10px;color:#333 !important;" >';

			            		<?php foreach( $this->itemDiscountRecord as $key => $value ):?>
								    str += '<div class="form-group">';
				        				str += '<div class="checkbox">';
								            str += '<label>';
									            str += '<input type="checkbox" onclick=changeItemDiscount<?= $jqxPrefix;?>(this,'+index+',<?= $value["Id"];?>,"<?= $value["Name"];?>","<?= $value["Value"];?>","<?= $value["DiscountTypeId"];?>") class="chb-item-discount'+index+'"/>';
									            str += '<span class="circle">';
									                str += '<i class="circle-icon glyphicon glyphicon-ok"></i>';
									            str += '</span>';
									            str += '<?= $value["Name"];?>';
									        str += '</label>';
									    str += '</div>';
								    str += '</div>';
								<?php endforeach;?>

			            	str += '</div>';

			        	str += '</ul>';
			    	str += '</div>';
            	}
            str += '</td>';

            str += '<td id="lblItemTotal<?= $jqxPrefix;?>'+index+'" '+eventStr+'>';
            	str += price;
            str += '</td>';

		str += "</tr>";

	return str;
}

function addItem<?= $jqxPrefix;?>(id,price,data)
{
	var total = dataStore<?= $jqxPrefix;?>.total;
	var rows  = dataStore<?= $jqxPrefix;?>.rows;
	var index = index<?= $jqxPrefix;?>;
	var row, isHas = false,rowIndex = 0;

	for( var i = 0 ; i < total ; i ++ )
	{
		row = rows[i];
		if( id == row.Id )
		{
			isHas = true;

			rowIndex = row.Index;
			i = total;
		}
	}

	if( isHas )
	{
		var qty = $("#txtQty<?= $jqxPrefix;?>"+rowIndex).val();
		qty = qty*1+1;

		isNewItem<?= $jqxPrefix;?> = false;
		activeIndex<?= $jqxPrefix;?> = rowIndex;

		if( qty.length > maxlengthQty<?= $jqxPrefix;?>*1 ) return ;

		$("#txtQty<?= $jqxPrefix;?>"+rowIndex).val(qty);
	}
	else
	{
		if( total == 0 )
		{
			$("#tblOrder<?= $jqxPrefix;?> tbody").html('');
			
			index = 1;
			index<?= $jqxPrefix;?> = index;
		}

		activeIndex<?= $jqxPrefix;?> = index;

		addMore<?= $jqxPrefix;?>(data);

		dataStore<?= $jqxPrefix;?>.total ++;
		dataStore<?= $jqxPrefix;?>.rows.push(
								{
									"Id"   : id,
									"Index": index,

								}
							);

		isNewItem<?= $jqxPrefix;?> = true;
	}

	calculate<?= $jqxPrefix;?>();
}

function addMore<?= $jqxPrefix;?>(data)
{
	var index = index<?= $jqxPrefix;?>;
	var str = getStr<?= $jqxPrefix;?>(index,data);

	$("#tblOrder<?= $jqxPrefix;?> tbody").append(str);

	if( data != "" )
	{
		$('.keep-open'+index).on({
	        "shown.bs.dropdown": function() { $(this).attr('closable', false); },
	        "click":             function() { },
	        "hide.bs.dropdown":  function() { return $(this).attr('closable') == 'true'; }
	    });

        $('.keep-open'+index+' #unit-measurement-dropdown-menu<?= $jqxPrefix;?>'+index).on({
          "click": function() {
            $(this).parent().attr('closable', true );
          }
        });

        $('.keep-open'+index+' #item-discount-dropdown-menu<?= $jqxPrefix;?>'+index).on({
          "click": function() {
            $(this).parent().attr('closable', true );
          }
        });
    }

	index<?= $jqxPrefix;?> ++;
}

function selectTableRow<?= $jqxPrefix;?>(index)
{
	//$('.pos-content .pos-left table .selected').removeClass('selected');
    //$("#tr<?= $jqxPrefix;?>"+index).addClass("selected");

    //selectedRowIndex<?= $jqxPrefix;?> = index;
}

function changeUnitMeasurement<?= $jqxPrefix;?>(e,index,value)
{
	$(".chb-unit-measurement"+index).prop("checked",false);

	$(e).prop("checked",true);

	var text = $(e).data("name");

	$("#lblUnitMeasurement<?= $jqxPrefix;?>"+index).text(text);
	$("#txtSaleUnitMeasurement<?= $jqxPrefix;?>"+index).val(text);

	calculateQty<?= $jqxPrefix;?>(index);
}

function initialUnitMeasurement<?= $jqxPrefix;?>(record,defaultSystemUnit)
{
	var index = activeIndex<?= $jqxPrefix;?>;
	var str = "",checked;

	$.each(record,function(key,value)
	{
		checked = "";
		if( value["Name"] === defaultSystemUnit ) checked = " checked= 'checked' ";

		str += '<div class="form-group">';
			str += '<div class="checkbox">';
	            str += '<label>';
		            str += '<input type="checkbox" '+checked+' value="'+value["Value"]+'" class="chb-unit-measurement'+index+'" onclick="changeUnitMeasurement<?= $jqxPrefix;?>(this,'+index+','+value["Value"]+');" data-name="'+value["Name"]+'"/>';
		            str += '<span class="circle">';
		                str += '<i class="circle-icon glyphicon glyphicon-ok"></i>';
		            str += '</span>';
		            str += value["Name"];
		            if( checked == "" )
		            {
		            	str += " <span style='font-size: 10px;color:#f54848;'>(1"+value["Name"]+" = "+value["Value"]+defaultSystemUnit+")</span>";
		            }
		        str += '</label>';
		    str += '</div>';
	    str += '</div>';
	});

	$("#lblUnitMeasurement<?= $jqxPrefix;?>"+index).text(defaultSystemUnit);
	$("#txtSaleUnitMeasurement<?= $jqxPrefix;?>"+index).val(defaultSystemUnit);
	$("#pcsp-unit-measurement<?= $jqxPrefix;?>"+index).html("").append(str);
}

function getRecordByScanbarcod<?= $jqxPrefix;?>(barcode)
{
	var isValid = isValidCustomer<?= $jqxPrefix;?>();

	if( isValid == false ) return;

	var customerGroupId = $("#txtCustomerGroupId<?= $jqxPrefix;?>").val();

	$.ajax
  	({
        type: 'post',
        dataType: 'json',
        url: '<?= $url;?>/getRecord',
        data: "Barcode="+barcode+"&CustomerGroupId="+customerGroupId,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();

            if( typeof data["Record"] != "undefined" )
            {
            	var record = data["Record"];
            	var id = record.Id;
            	var price = record.Price;
            	var groupPrice = record.GroupPrice;
            	var itemName = record.ItemName;
            	var itemMasterId = record.ItemMasterId;

            	var varianceLabels = record.VarianceLabels;
            	var variance = "";

            	if( groupPrice != 0 ) price = groupPrice;

			    if( $.trim(varianceLabels) != "" )
			    {
			        var varianceValues = record.ItemVarianceValue;
			        var arr1 = varianceLabels.split(";$;");
			        var arr2 = varianceValues.split(";$;");

			        for( var i = 0 ; i < arr1.length ; i ++ )
			        {
			            if( variance != "" ) variance += ", ";
			            variance += arr1[i]+":"+arr2[i];
			        }
			    }

			    var str = id+"#"+itemName+"#"+price+"#"+itemMasterId+"#"+variance+"#1";
            	addItem<?= $jqxPrefix;?>(id,price,str);

            	if( isNewItem<?= $jqxPrefix;?> == true )
            	{
            		initialUnitMeasurement<?= $jqxPrefix;?>(data["UnitRecord"],data["DefaultSystemUnit"]);
            	}
            	else
            	{
            		calculateQty<?= $jqxPrefix;?>(activeIndex<?= $jqxPrefix;?>);
            	}
            }
            else if( typeof data["NoFound"] != "undefined")
            {
            	showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('THE_FOLLOWING_SCAN_HAS_NOT_BEEN_FOUND_IN_THE_CATALOG_BACORD_SCANNED');?> : "+barcode<?= $jqxPrefix;?>,350,120);
            }
            else if( typeof data["InvalidPrice"] != "undefined")
            {
            	showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('PRICE_HAS_NOT_BEEN_FOUND_IN_THE_CATALOG_BACORD_SCANNED');?> : "+barcode<?= $jqxPrefix;?>+", <?= $this->translate('PLEASE_CONTACT_ADMINISTRATOR_FOR_SETUP_PRICE_ON_THIS_ITEM');?>",350,150);
            }
            barcode<?= $jqxPrefix;?> = "";
      	},
      	error: function (errs) 
      	{
          	closePageLoading();
          	showMessage('Error','Error Save Data','270','120');
      	}
  	});
}

function initial<?= $jqxPrefix;?>()
{
	$('.keep-open').on({
        "shown.bs.dropdown": function() { $(this).attr('closable', false); },
        "click":             function() { },
        "hide.bs.dropdown":  function() { return $(this).attr('closable') == 'true'; }
    });

    $('.keep-open #bill-discount-dropdown-menu<?= $jqxPrefix;?>').on({
      "click": function() {
        $(this).parent().attr('closable', true );
      }
    });

    $('.keep-open #tax-dropdown-menu<?= $jqxPrefix;?>').on({
      "click": function() {
        $(this).parent().attr('closable', true );
      }
    });
}

function preview<?= $jqxPrefix;?>()
{
  	var formId = "#winForm<?= $jqxPrefix;?>";
  	var validationResult = function (isValid)
  	{
      	if (isValid) 
      	{
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);

          	addNewRecord("_sysPreviewAndPay","<?= $this->translate('PAYMENT')?>",1100,800, '<?= $url;?>/preview', data,'<?= $this->translate("ERROR")?>','<?= $this->translate("ERROR_LOADING_DATA")?>');
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
}

function setContentItemUnit<?= $jqxPrefix;?>(data,defaultUnit)
{
	$("#txtDefaultSelectUnit<?= $jqxPrefix;?>").val(defaultUnit);
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemUnitMeasurement<?= $jqxPrefix;?>",data, 'Name', 'Id', true, '', '0', "#txtDefaultSelectUnit<?= $jqxPrefix;?>");
}

function itemMasterRequired<?= $jqxPrefix;?>(requiredType)
{
	var element = "#ddlItemMaster<?= $jqxPrefix;?>";

	if( requiredType == 0 )
	{
		$(element).removeClass("jqx-validator-error-element");
	}
	else
	{
		$(element).addClass("jqx-validator-error-element");
	}
}

function setContentVariance<?= $jqxPrefix;?>(key,data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemVariance<?= $jqxPrefix;?>"+key,data, 'Name','Name',true,'',0, "#txtItemVarianceId<?= $jqxPrefix;?>"+key);
}

function addItemVariance<?= $jqxPrefix;?>(record,itemCode)
{
	var str = "";
	$(record).each(function(key,value)
	{
		str = '<div class="form-group col-md-6 padding-left-2 padding-right-2 pcspItemVariance">';
			str += '<label class="col-md-12 control-label no-padding-left no-padding-top">'+value["Name"]+'<span class="star-red">*</spa></label>';
			str += '<div data-label="'+value["Name"]+'" id="ddlItemVariance<?= $jqxPrefix;?>'+key+'" onchange="getItemAvailableRecord<?= $jqxPrefix;?>();"></div>';
			str += '<input type="hidden" id="txtItemVarianceId<?= $jqxPrefix;?>'+key+'" />';
		str+= '</div>';

		$("#pcspItemVarainceContent<?= $jqxPrefix;?>").append(str);

		setContentVariance<?= $jqxPrefix;?>(key,value["Child"]);
	});
}

function setStockAvailableRecord<?= $jqxPrefix;?>(data)
{
	$("#txtItemMasterId<?= $jqxPrefix;?>").val(data["ItemMasterId"]);
    $("#txtStockAvailableQty<?= $jqxPrefix;?>").val(data["CurrentQty"]);
    $("#lblStockAvailableQty<?= $jqxPrefix;?>").text(data["CurrentQty"]+data["DefaultSystemUnit"]);

    $("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val(data["DefaultSystemUnit"]);
}

function getItemAvailableRecord<?= $jqxPrefix;?>()
{
	var variance = "";
	var itemCode = $("#ddlItemMaster<?= $jqxPrefix;?>").val();
	var varianceElement = "#pcspItemVarainceContent<?= $jqxPrefix;?>";
	var bool = true;
	if( itemCode == "" )
	{
		bool = false;
	}
	if( $(varianceElement).length > 0 )
	{
		var val = 0;
		$(varianceElement+" .pcspItemVariance").each(function()
		{
			val = $(this).find("div:eq(0)").val();
			if( val == 0 || val == "" )
			{
				bool = false;
			}
			else
			{
				if( variance != "" ) variance += ";$;";
				variance += val;
			}
		});
	}

	if( bool == true )
	{
		setItemVailableRecord<?= $jqxPrefix;?>(itemCode,variance)
	}
}

function setItemVailableRecord<?= $jqxPrefix;?>(itemCode,variance)
{
	var customerGroupId = $("#txtCustomerGroupId<?= $jqxPrefix;?>").val();

	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getItemRecord",
        data: "ItemCode="+itemCode+"&ItemVarianceValue="+variance+"&CustomerGroupId="+customerGroupId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	setStockAvailableRecord<?= $jqxPrefix;?>(data);

			getCalculateUnitQty<?= $jqxPrefix;?>();  

			checkValidItem<?= $jqxPrefix;?>(data);      	
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function getCalculateUnitQty<?= $jqxPrefix;?>()
{
	var unitQty = $("#txtAddQty<?= $jqxPrefix;?>").val();
	var defaultSystemUnitValue  = $("#txtDefaultSystemUnitValue<?= $jqxPrefix;?>").val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val();
	var availableQty  = $("#txtStockAvailableQty<?= $jqxPrefix;?>").val();
	var unitMeasurement = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").text();

	if( unitQty == "" ) unitQty = 0;

	var itemUnitQty = roundNumber(defaultSystemUnitValue*unitQty,2);

	$("#txtAddQty<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");

	if( availableQty*1 < itemUnitQty && unitMeasurement != "" )
	{
		$("#txtAddQty<?= $jqxPrefix;?>").addClass("jqx-validator-error-element");
	}
	var str = itemUnitQty+defaultSystemUnit;
	if( unitMeasurement == "" )
	{
		str = "";
	}

	$("#txtItemUnitQty<?= $jqxPrefix;?>").val(itemUnitQty);
	$("#lblUnitMeasurementQty<?= $jqxPrefix;?>").text(str);
}

function setItemUnitMeasurement<?= $jqxPrefix;?>()
{
	var val = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").val();
	
	if( val != 0 || val != "" )
	{
		var arr = val.split(";$;");

		var lblUnitMeasurement = arr[0];
		var unitValue = arr[1];
		var unitMeasuremntText = arr[2];

		if( lblUnitMeasurement == 0 ) lblUnitMeasurement = "";

		$("#lblUnitMeasurement<?= $jqxPrefix;?>").text(lblUnitMeasurement);
		$("#txtDefaultSystemUnitValue<?= $jqxPrefix;?>").val(unitValue);
		$("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val(unitMeasuremntText);

		$("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");

		getCalculateUnitQty<?= $jqxPrefix;?>();
	}
	else
	{
		$("#lblUnitMeasurement<?= $jqxPrefix;?>").text("");
	}
}

function setItemUnit<?= $jqxPrefix;?>(itemCode)
{
	var customerGroupId = $("#txtCustomerGroupId<?= $jqxPrefix;?>").val();

	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemCode="+itemCode+"&CustomerGroupId="+customerGroupId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];
        	var defaultSystemUnit = data["DefaultSystemUnit"];
        	var currentQty = 0;

        	unitRecord<?= $jqxPrefix;?> = itemUnitRecord;

        	setContentItemUnit<?= $jqxPrefix;?>(itemUnitRecord,defaultUnit);

        	$("#pcspItemVarainceContent<?= $jqxPrefix;?>").html('');

        	$("#txtSalePriceId<?= $jqxPrefix;?>").val(0);
        	$("#txtPrice<?= $jqxPrefix;?>").val(0);
        	
        	itemMasterRequired<?= $jqxPrefix;?>(0);

        	var varianceRecord = data["VarianceRecord"];
        	if( varianceRecord.length > 0 )
        	{
        		addItemVariance<?= $jqxPrefix;?>(varianceRecord,itemCode);
        	}

        	setStockAvailableRecord<?= $jqxPrefix;?>(data);

        	checkValidItem<?= $jqxPrefix;?>(data);
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function checkValidItem<?= $jqxPrefix;?>(data)
{
	if( typeof data["ItemValidRecord"] != "undefined" )
	{
		var record = data["ItemValidRecord"];

		if( typeof data["InvalidPrice"] != "undefined")
        {
        	var itemName = $("#ddlItemMaster<?= $jqxPrefix;?>").text();

        	showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('PRICE_HAS_NOT_BEEN_FOUND_IN_THE_CATALOG');?> : "+itemName+", <?= $this->translate('PLEASE_CONTACT_ADMINISTRATOR_FOR_SETUP_PRICE_ON_THIS_ITEM');?>",350,150);
        }
        else
        {
        	var salePriceId = record["Id"];
        	var price = record["Price"];
        	var groupPrice = record["GroupPrice"];

        	if( groupPrice != 0 ) price = groupPrice;

        	$("#txtSalePriceId<?= $jqxPrefix;?>").val(salePriceId);
        	$("#txtPrice<?= $jqxPrefix;?>").val(price);
        }
	}
}

function isExist<?= $jqxPrefix;?>()
{
	var isExist = false;
	var categoryElement   = "#ddlTreeItemCategory<?= $jqxPrefix;?>";
	var itemMasterElement = "#ddlItemMaster<?= $jqxPrefix;?>";
	var itemUnitElement   = "#ddlItemUnitMeasurement<?= $jqxPrefix;?>";
	var qtyElement = "#txtAddQty<?= $jqxPrefix;?>";
	var pcspItemVariance  = "#pcspItemVarainceContent<?= $jqxPrefix;?> .pcspItemVariance";

	var category   = $(categoryElement).jqxTree('getSelectedItem');

	var categoryId = category.id;
	var itemMasterId = $(itemMasterElement).val();
	var unitMeasurement = $(itemUnitElement).val();
	var qty = $(qtyElement).val();
	var availableQty = $("#txtStockAvailableQty<?= $jqxPrefix;?>").val();
	var unitQty = $("#txtItemUnitQty<?= $jqxPrefix;?>").val();

	if( categoryId == null || categoryId == 0 )
	{
		$("#ddlItemCategory<?= $jqxPrefix;?>").addClass("jqx-validator-error-element");

		isExist = true;
	}
	if( itemMasterId == 0 || itemMasterId == "" )
	{
		$(itemMasterElement).addClass("jqx-validator-error-element");

		isExist = true;
	}
	if( unitMeasurement == 0 || unitMeasurement == "" )
	{
		$(itemUnitElement).addClass("jqx-validator-error-element");

		isExist = true;
	}
	if( qty == "" || qty == 0 || unitQty*1 > availableQty*1 )
	{
		$(qtyElement).addClass("jqx-validator-error-element");

		isExist = true;
	}

	var element,val;
	$(pcspItemVariance).each(function()
	{
		element = $(this).find("div:eq(0)");
		val = element.val();

		if( val == 0 || val == "" )
		{
			$(element).addClass("jqx-validator-error-element");

			isExist = false;
		}
	});

	return isExist;
}

function getVariance<?= $jqxPrefix;?>()
{
	var pcspItemVariance  = "#pcspItemVarainceContent<?= $jqxPrefix;?> .pcspItemVariance";
	var str = "",element,text,label;
	$(pcspItemVariance).each(function()
	{
		element = $(this).find("div:eq(0)");
		text = element.text();
		label = element.data("label");
		
		if( str != "" ) str += ",";

		str += label+":"+text;
	});

	return str;
}

function addMoreOrderItem<?= $jqxPrefix;?>()
{
	var isValid = isValidCustomer<?= $jqxPrefix;?>();

	if( isValid == false ) return;

	var isExist = isExist<?= $jqxPrefix;?>();
	if( isExist == false )
	{
		var salePriceId = $("#txtSalePriceId<?= $jqxPrefix;?>").val();
		if( salePriceId == 0 || salePriceId == "" )
		{
			var itemName = $("#ddlItemMaster<?= $jqxPrefix;?>").text();

	        showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('PRICE_HAS_NOT_BEEN_FOUND_IN_THE_CATALOG');?> : "+itemName+", <?= $this->translate('PLEASE_CONTACT_ADMINISTRATOR_FOR_SETUP_PRICE_ON_THIS_ITEM');?>",350,150);
		}
		else
		{
			insertItem<?= $jqxPrefix;?>();

			clearItemManually<?= $jqxPrefix;?>();
		}
	}
}

function insertItem<?= $jqxPrefix;?>()
{
	var total = dataStore<?= $jqxPrefix;?>.total;
	var rows  = dataStore<?= $jqxPrefix;?>.rows;
	var index = index<?= $jqxPrefix;?>;
	var row, isHas = false,rowIndex = 0;
	var id = $("#txtSalePriceId<?= $jqxPrefix;?>").val();

	for( var i = 0 ; i < total ; i ++ )
	{
		row = rows[i];
		if( id == row.Id )
		{
			isHas = true;

			rowIndex = row.Index;
			i = total;
		}
	}

	var qty = $("#txtAddQty<?= $jqxPrefix;?>").val();

	if( isHas )
	{
		var unitCheckedName = $("input[type=checkbox].chb-unit-measurement"+rowIndex+":checked").data("name");
		var unitSelectName  = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").text();

		var curQty = $("#txtQty<?= $jqxPrefix;?>"+rowIndex).val();
		if( curQty == "" ) curQty = 0;

		if( $.trim(unitCheckedName) == $.trim(unitSelectName) )
		{
			qty = qty*1+curQty*1;
		}
		else
		{
			var curUnitQty= $("#txtUnitQty<?= $jqxPrefix;?>"+rowIndex).val();

			var newUnitQty = $("#txtItemUnitQty<?= $jqxPrefix;?>").val();

			if( curUnitQty == "" || curUnitQty == 0 ) curUnitQty = 1;

			var q = curQty*newUnitQty/curUnitQty;

			qty = curQty*1+q*1;
		}

		isNewItem<?= $jqxPrefix;?> = false;
		activeIndex<?= $jqxPrefix;?> = rowIndex;

		if( qty.length > maxlengthQty<?= $jqxPrefix;?>*1 )
		{
			showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('YOU_CAN_NOT_ADD_MORE_QTY_BECAUSE_QTY_LEST_THAN');?> "+maxlengthQty+" <?= $this->translate('CHARACTERS');?>",300,100);

			return ;
		}

		$("#txtQty<?= $jqxPrefix;?>"+rowIndex).val(qty);
	}
	else
	{
		var price = $("#txtPrice<?= $jqxPrefix;?>").val();
		var itemMasterId = $("#txtItemMasterId<?= $jqxPrefix;?>").val();
		var itemName = $("#ddlItemMaster<?= $jqxPrefix;?>").text();
		var variance = getVariance<?= $jqxPrefix;?>();
		var str = id+"#"+itemName+"#"+price+"#"+itemMasterId+"#"+variance+"#"+qty;

		if( total == 0 )
		{
			$("#tblOrder<?= $jqxPrefix;?> tbody").html('');
			
			index = 1;
			index<?= $jqxPrefix;?> = index;
		}

		activeIndex<?= $jqxPrefix;?> = index;

		addMore<?= $jqxPrefix;?>(str);

		dataStore<?= $jqxPrefix;?>.total ++;
		dataStore<?= $jqxPrefix;?>.rows.push(
								{
									"Id"   : id,
									"Index": index,

								}
							);

		isNewItem<?= $jqxPrefix;?> = true;

		var defaultSystemUnit = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").text();

		initialUnitMeasurement<?= $jqxPrefix;?>(unitRecord<?= $jqxPrefix;?>,defaultSystemUnit);
	}

	calculateQty<?= $jqxPrefix;?>(activeIndex<?= $jqxPrefix;?>);

	calculate<?= $jqxPrefix;?>();
}

function clearItemManually<?= $jqxPrefix;?>()
{
	clearTreeDropDownList("#ddlTreeItemCategory<?= $jqxPrefix;?>");
	$("#ddlItemMaster<?= $jqxPrefix;?>").jqxDropDownList("clear");
	$("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").jqxDropDownList("clear");

	$("#txtSalePriceId<?= $jqxPrefix;?>").val("0");
	$("#txtPrice<?= $jqxPrefix;?>").val("0");
	$("#txtItemMasterId<?= $jqxPrefix;?>").val("0");
	$("#txtAddQty<?= $jqxPrefix;?>").val("");

	$("#lblUnitMeasurement<?= $jqxPrefix;?>").text("");
	$("#lblUnitMeasurementQty<?= $jqxPrefix;?>").text("");
	$("#lblStockAvailableQty<?= $jqxPrefix;?>").text("0");

	$("#pcspItemVarainceContent<?= $jqxPrefix;?>").html("");
}

function calculateQty<?= $jqxPrefix;?>(index)
{
	var qty = $("#txtQty<?= $jqxPrefix;?>"+index).val();
	var unitValue = $("input[type=checkbox].chb-unit-measurement"+index+":checked").val();
	if( qty == "" ) qty = 0;
	var unitQty = qty*unitValue;

	$("#lblUnitQty<?= $jqxPrefix;?>"+index).text(unitQty);
	$("#txtUnitQty<?= $jqxPrefix;?>"+index).val(unitQty);

	calculate<?= $jqxPrefix;?>();
}

function changeItemDiscount<?= $jqxPrefix;?>(e,index,id,name,discountValue,discountType)
{
	var checked = $(e).is(":checked");
	var totalItemDiscount = 0; 

	$(".chb-item-discount"+index).prop("checked",false);

	if( checked == false )
	{
		id = 0;
		name ="";
		discountValue = 0;
		discountType  = 0;
	}

	$("#txtItemDiscountId<?= $jqxPrefix;?>"+index).val(id);
	$("#txtItemDiscountName<?= $jqxPrefix;?>"+index).val(name);
	$("#txtItemDiscountValue<?= $jqxPrefix;?>"+index).val(discountValue);
	$("#txtItemDiscountTypeId<?= $jqxPrefix;?>"+index).val(discountType);

	if( checked == true )
	{
		$(e).prop("checked",checked);

		totalItemDiscount = getTotalItemDiscount<?= $jqxPrefix;?>(index);
	}

	calculate<?= $jqxPrefix;?>();
}

function changeTax<?= $jqxPrefix;?>(e,id,name,value)
{
	var checked = $(e).is(":checked");

	$(".chb-tax").prop("checked",false);

	if( checked == false )
	{
		id   = 0;
		name = "";
		value= 0;
	}
	else
	{
		$(e).prop("checked",checked);
	}

	$("#txtTaxId<?= $jqxPrefix;?>").val(id);
	$("#txtTaxName<?= $jqxPrefix;?>").val(name);
	$("#txtTaxValue<?= $jqxPrefix;?>").val(value);

	var totalTax = getTotalTax<?= $jqxPrefix;?>();

	calculate<?= $jqxPrefix;?>();
}

function changeBillDiscount<?= $jqxPrefix;?>(e,id,name,discountValue,discountType)
{
	var checked = $(e).is(":checked");

	$(".chb-bill-discount").prop("checked",false);

	if( checked == false )
	{
		id = 0;
		name ="";
		discountValue = 0;
		discountType = 0;
	}

	$("#txtDiscountId<?= $jqxPrefix;?>").val(id);
	$("#txtDiscountName<?= $jqxPrefix;?>").val(name);
	$("#txtDiscountValue<?= $jqxPrefix;?>").val(discountValue);
	$("#txtDiscountType<?= $jqxPrefix;?>").val(discountType);

	$(e).prop("checked",checked);

	totalDiscount = getTotalBillDiscount<?= $jqxPrefix;?>();

	calculate<?= $jqxPrefix;?>();
}

function getItemSubTotal<?= $jqxPrefix;?>(index)
{
	var unitQty = $("#txtUnitQty<?= $jqxPrefix;?>"+index).val();
	var price   = $("#txtPrice<?= $jqxPrefix;?>"+index).val();

	if( unitQty == "" ) unitQty = 0;

	var total = unitQty*price;

	$("#txtItemSubTotal<?= $jqxPrefix;?>"+index).val(roundNumber(total,2));
	$("#lblItemSubTotal<?= $jqxPrefix;?>"+index).text(roundNumber(total,2));

	return total;
}

function getTotalBillDiscount<?= $jqxPrefix;?>()
{
	var discountType = $("#txtDiscountType<?= $jqxPrefix;?>").val();
	var discountValue= $("#txtDiscountValue<?= $jqxPrefix;?>").val();
	var totalItemDiscount = $("#txtAllTotalItemDiscount<?= $jqxPrefix;?>").val();
	var subTotal = $("#txtSubTotal<?= $jqxPrefix;?>").val();

	var totalBillDiscount = discountValue;
	if( totalBillDiscount == "" ) totalBillDiscount = 0 ;

	if( discountType*1 == 1 )
	{
		totalBillDiscount = subTotal*1*discountValue/100;
	}

	var totalDiscount = totalBillDiscount*1+totalItemDiscount*1;

	$("#txtTotalDiscount<?= $jqxPrefix;?>").val(roundNumber(totalDiscount,2));
	$("#lblTotalDiscount<?= $jqxPrefix;?>").text(roundNumber(totalDiscount,2));

	$("#txtTotalBillDiscount<?= $jqxPrefix;?>").val(roundNumber(totalBillDiscount,2));
	$("#lblBillDiscount<?= $jqxPrefix;?>").text(roundNumber(totalBillDiscount,2));

	return totalBillDiscount;
}

function getTotalItemDiscount<?= $jqxPrefix;?>(index)
{
	var discountType = $("#txtItemDiscountTypeId<?= $jqxPrefix;?>"+index).val();
	var discountValue= $("#txtItemDiscountValue<?= $jqxPrefix;?>"+index).val();

	var totalItemDiscount = discountValue;
	if( totalItemDiscount == "" ) totalItemDiscount = 0;

	if( discountType*1 == 1 )
	{
		var total = getItemSubTotal<?= $jqxPrefix;?>(index);

		totalItemDiscount = total*1*discountValue/100;
	}

	$("#txtTotalItemDiscount<?= $jqxPrefix;?>"+index).val(roundNumber(totalItemDiscount,2));
	$("#lblItemDiscount<?= $jqxPrefix;?>"+index).text(roundNumber(totalItemDiscount,2));

	return totalItemDiscount;
}

function getItemTotalAmount<?= $jqxPrefix;?>(index)
{
	var subTotal = getItemSubTotal<?= $jqxPrefix;?>(index);
	var totalItemDiscount = getTotalItemDiscount<?= $jqxPrefix;?>(index);
	var total = subTotal*1-totalItemDiscount*1;

	$("#txtItemTotal<?= $jqxPrefix;?>"+index).val(roundNumber(total,2));
	$("#lblItemTotal<?= $jqxPrefix;?>"+index).text(roundNumber(total,2));

	return total;
}

function getSubTotal<?= $jqxPrefix;?>()
{
	var subTotal = 0,itemTotal,index,totalItemDiscount = 0, itemDiscount ;

	$(".pos-item-total").each(function()
	{
		index = $(this).data("index");

		itemTotal = getItemTotalAmount<?= $jqxPrefix;?>(index);

		itemDiscount = $("#txtTotalItemDiscount<?= $jqxPrefix;?>"+index).val();

		totalItemDiscount = totalItemDiscount*1+itemDiscount*1;

		subTotal = subTotal*1+itemTotal*1;
	});

	$("#txtSubTotal<?= $jqxPrefix;?>").val(roundNumber(subTotal,2));
	$("#lblSubTotal<?= $jqxPrefix;?>").text(roundNumber(subTotal,2));

	$("#txtAllTotalItemDiscount<?= $jqxPrefix;?>").val(roundNumber(totalItemDiscount,2));

	return subTotal;
}

function getTotalTax<?= $jqxPrefix;?>()
{
	var subTotal = $("#txtSubTotal<?= $jqxPrefix;?>").val();
	var taxValue = $("#txtTaxValue<?= $jqxPrefix;?>").val();
	var totalBillDiscount = $("#txtTotalBillDiscount<?= $jqxPrefix;?>").val();

	if( taxValue == "" ) taxValue = 0;
	if( subTotal == "" ) subTotal = 0;
	if( totalBillDiscount == "" ) totalBillDiscount = 0;

	var total = subTotal*1-totalBillDiscount*1;

	var totalTax = total*taxValue/100;

	$("#txtTotalTax<?= $jqxPrefix;?>").val(roundNumber(totalTax,2));
	$("#lblTax<?= $jqxPrefix;?>").text(roundNumber(totalTax,2));

	return totalTax;
}

function calculate<?= $jqxPrefix;?>()
{
	var subTotal = getSubTotal<?= $jqxPrefix;?>();
	var totalBillDiscount = getTotalBillDiscount<?= $jqxPrefix;?>();

	var total = subTotal*1-totalBillDiscount*1
	var totalTax = getTotalTax<?= $jqxPrefix;?>();
	var balanceDue = total*1+totalTax*1;

	$("#txtBalanceDue<?= $jqxPrefix;?>").val(roundNumber(balanceDue,2));
	$("#lblBalanceDue<?= $jqxPrefix;?>").text(roundNumber(balanceDue,2));
}

function isValidCustomer<?= $jqxPrefix;?>()
{
	var isValid = true;

	var cusId = $("#ddlCustomer<?= $jqxPrefix;?>").val();

	if( cusId == 0 || cusId == "" )
	{
		showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('PLEASE_SELECT_CUSTOMER_BEFORE_INPUT_ITEM');?>",300,100);

		isValid = false;
	}

	return isValid;
}

$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlCustomer<?= $jqxPrefix; ?>", <?= json_encode($this->customerRecord);?>, 'FullName',"CustomerId", true,"",0,"#txtCustomer<?= $jqxPrefix;?>");
	$('#txtInvoiceDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	jqxTreeDropDownList(jqxTheme,250,250, '#ddlItemCategory<?= $jqxPrefix;?>', '#ddlTreeItemCategory<?= $jqxPrefix;?>', <?= json_encode($this->itemCategoryRecord);?>,'#txtItemCategoryId<?= $jqxPrefix;?>', true, true,'', true, true);
	initDropDownList(jqxTheme, "100%", 250, "#ddlItemMaster<?= $jqxPrefix; ?>",[], '', '', true, '', '0', "");
	initDropDownList(jqxTheme, "100%", 250, "#ddlItemUnitMeasurement<?= $jqxPrefix; ?>",[], '', '', true, '', '0', "");

	$("#txtInvoiceDate<?= $jqxPrefix;?>").jqxDateTimeInput("setDate",new Date());

	var height = $(".respContent").height();
	$(".pcsp-pos-layout").css({"height":height*1-35});

	initialOrder<?= $jqxPrefix;?>(10);
	initial<?= $jqxPrefix;?>();

	$("#ddlTreeItemCategory<?= $jqxPrefix;?>").on('select',function(event)
	{
		var element = $('#ddlTreeItemCategory<?= $jqxPrefix;?>').jqxTree('getSelectedItem');
		var categoryId = element.id;

		$("#ddlItemCategory<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");

		if( categoryId == 0 || categoryId == null )
		{
			clearItemManually<?= $jqxPrefix;?>();

			return;
		}
	
		
		var param = JSON.parse('{"CategoryId": "'+categoryId+'"}');

		refreshDropDownList("#ddlItemMaster<?= $jqxPrefix;?>", "", "Name", "ItemCode","<?= $url;?>/getAllItemActiveRecord", param, "100%", 250) ;
	});

	$("#ddlItemMaster<?= $jqxPrefix;?>").change(function()
	{
		var itemCode = $(this).val();

		setItemUnit<?= $jqxPrefix;?>(itemCode);
	});

	$("#ddlCustomer<?= $jqxPrefix;?>").change(function()
	{
		var id = $(this).val();
		var customerId = 0;
		var customerGroupId = 0;

		$(this).removeClass("jqx-validator-error-element");

		if( id != 0 && id != "" )
		{
			var arr = id.split("#");

			customerId = arr[0];
			customerGroupId = arr[1];

			$("#txtCustomerId<?= $jqxPrefix;?>").val(customerId);
			$("#txtCustomerGroupId<?= $jqxPrefix;?>").val(customerGroupId);
		}

		clearSaleDetail<?= $jqxPrefix;?>();
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlCustomer<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var id = $('#ddlCustomer<?= $jqxPrefix;?>').val()
					if( id == 0 || id == "" )
					{
						return false;
					}

					return true;
				}
			},
			{
	        	input: '#txtInvoiceDate<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var invoiceDate = $('#txtInvoiceDate<?= $jqxPrefix; ?>').val()
					if( invoiceDate == null || invoiceDate == "" )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var bool = true;

	            	if( dataStore<?= $jqxPrefix;?>.total == 0 )
	            	{
	            		showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('NOT_FOUNT_DATA_FOR_PREVIEW_AND_PAY');?>",300,100);

	            		bool = false;
	            	}

	            	return bool;
				}
			},
        ]
    });

	$("body").pos();

    $("body").on('scan.pos.barcode', function(event)
    {
        barcode<?= $jqxPrefix;?> = event.code;
        getRecordByScanbarcod<?= $jqxPrefix;?>(barcode<?= $jqxPrefix;?>);
    });
});
</script>