<?php 
  use PCSPLib\PHPConstant;

  $url = $this->basepath().'/'.PHPConstant::POS_MODULE.'/'.PHPConstant::POS_CONTROLLER;

  $jqxPrefix = "_sysPosScreen";
?>
<!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active">
        <a href="#control-sidebar-home-tab" data-toggle="tab">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#control-sidebar-settings-tab" data-toggle="tab">
          <i class="fa fa-gears"></i>
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0);" id="btnStockBalance<?= $jqxPrefix;?>">
              <i class="menu-icon glyphicon glyphicon-list-alt bg-red"></i>
              <div class="menu-info">
                <h4 class="control-sidebar-subheading">
                  <?= $this->translate("STOCK_BALANCE");?>
                </h4>
                <p>Phnom Penh</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" id="btnMySale<?= $jqxPrefix;?>">
              <i class="menu-icon glyphicon glyphicon-shopping-cart bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading padding-top-10">
                  <?= $this->translate("MY_SALE");?>
                </h4>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="control-sidebar-settings-tab">
        
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

<script type="text/javascript">
  
$(document).ready(function()
{
  $("#btnStockBalance<?= $jqxPrefix;?>").click(function()
  {
    var width = $("body").width()-100;
    var height= $("body").height()-250;
    newPopupWizardWindow("_sysStockBalanceList","<?= $this->translate('STOCK_BALANCE');?>",width,height,"<?= $this->basepath();?>/pos/stock-balance/list","","",[],"","");
  });

  $("#btnMySale<?= $jqxPrefix;?>").click(function()
  {
    var width = $("body").width()-100;
    var height= $("body").height()-250;
    newPopupWizardWindow("_sysMySaleList","<?= $this->translate('MY_SALE');?>",width,height,"<?= $url;?>/my-sale","","",[],"","");
  });

});
</script>