<?php
use PCSPLib\Helper;
use PCSPLib\PHPConstant;

$auth = new \Zend\Authentication\AuthenticationService();
$userInfo = "";
$path = PHPConstant::USER_IMAGE_BLANK;
if($auth->hasIdentity())
{
    $userInfo = $auth->getIdentity()->LastName." ".$auth->getIdentity()->FirstName;
    $since = Helper::getDateFormat($auth->getIdentity()->AddDate);
    
    if($auth->getIdentity()->Image){
    	$path = PHPConstant::RESOURCE_FILES_FOLDER."/".PHPConstant::USER_PHOTO_FOLDER."/".$auth->getIdentity()->Image;
    }

}
?>
<div class="col-sm-12 pos-header" style="z-index: 9999;">
	<div class="pull-left">
		
	</div>
	<div class="pull-right">
        <div class="btn-group">
			<a href="javascript:void(0);" class="btn-sm icon-active dropdown-toggle margin-left-1" data-toggle="dropdown" style="font-size: 20px;">
                <img src="<?= $this->basePath($path);?>" class="img-circle header-img-size" alt="<?= $this->translate('USER_IMAGE');?>"/>
               <span><i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right no-padding" role="menu" style="width: 250px !important;min-height:100px;font-family: 'Josefin Slab';">
	            <li class="user-header bg-light-black padding-top-5" style="text-align:center;">
	            	<img src="<?= $this->basePath($path);?>" class="img-circle" style="width: 100px;">
                    <br/>
                    <small style="font-size: 14px;"><?= $this->translate('USER_NAME')."&nbsp;:&nbsp;".$userInfo;?></small>
                    <br/>
                    <small><?= $this->translate("MEMBER_SINCE").":".$since;?></small>
	            </li>
	            <li class="user-footer" style="border-top: 1px solid #daddec;padding: 5px;">
                    <div class="pull-left">
                        
                    </div>
                    <div class="pull-right">
                        <a href="<?= $this->basepath();?>/pos/login/logout" class="btn btn-default btn-flat" id="btnSignOut"><?= $this->translate('SING_OUT');?>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </li>
	        </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .header-img-size
    {
        width: 30px;
        height: 30px;
        padding: 0 !important;
        margin: 0 !important;
        
    }
    .pcsp-img-circle
    {
        border-radius: 50%;
    }
</style>