<?php 
	use PCSPLib\PHPConstant;

?>
<table width="100%" class="tbl-view-item">
	<tr>
		<td style="width: 120px;"><?= $this->translate("ITEM_NAME");?></td>
		<td style="width: 10px;text-align:center;">:</td>
		<td><?= $this->record->Name;?></td>
	</tr>
	<tr>
		<td style="width: 120px;"><?= $this->translate("CATEGORY");?></td>
		<td style="width: 10px;text-align:center;">:</td>
		<td><?= $this->record->CategoryName;?></td>
	</tr>
	<tr>
		<td style="width: 120px;"><?= $this->translate("Current Qty");?></td>
		<td style="width: 10px;text-align:center;">:</td>
		<td><?= $this->record->CurrentQty.$this->record->DefaultSystemUnit;?></td>
	</tr>
	<tr>
		<td style="width: 120px;"><?= $this->translate("RECEIVED_DATE");?></td>
		<td style="width: 10px;text-align:center;">:</td>
		<td><?= date(PHPConstant::FIX_DATE_FORMAT,strtotime($this->record->LastReceivedDate));?></td>
	</tr>
</table>