<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
	<div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">
var receiveNum<?= $jqxPrefix;?> = 1;
var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function viewDetail<?= $jqxPrefix;?>(id)
{
    switchTab<?= $jqxPrefix;?>(2,1);

    var element = "#item-receive-detail<?= $jqxPrefix;?>";
    var param   = JSON.parse('{"Id":'+id+'}');

    initialContent(element,"<?= $url;?>/view",param);
}

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var level = params.level;
    var text = defaultText;

    if( level == 1 )
    {        
        var record = params.subItems[0];
        var receiveGroupId = record.ReceiveGroupId;
        var supplierName   = record.SupplierName;
        
        var butStr = "<a href='javascript:void(0);' class='padding-left-10 icon-active' onclick=viewDetail<?= $jqxPrefix;?>("+receiveGroupId+");><i class='glyphicon glyphicon-eye-open'></i>&nbsp;<?= $this->translate('DETAIL');?></a>";

        text = "<?= $this->translate('RECEIVED');?><span class='pcsp-grid-groups-row-receive'> " + receiveNum<?= $jqxPrefix;?> + "<spa> : <?= $this->translate('SUPPLIER');?> : "+supplierName+butStr;

        receiveNum<?= $jqxPrefix;?> ++;
    }
    else
    {
        receiveNum<?= $jqxPrefix;?> = 1;
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + text +  '</div>';
}

$(document).ready(function () 
{		
	$("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
		showfilterrow: false,
        sortable: true,
        selectionmode: 'multiplerows',
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
		columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["ReceivedDate","ReceiveGroupId"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('ITEM_NAME');?>", datafield: 'Name'
            },
            { 
                text: "<?= $this->translate('Category');?>", datafield: 'CategoryName'
            },
            { 
                text: "<?= $this->translate('QTY');?>", datafield: 'ReceivedQty'
            },
            { 
                text: "<?= $this->translate('Unit Measurement');?>", datafield: 'ReceivedUnitMeasurement'
            },
            { 
                text: "<?= $this->translate('UNIT_PRICE');?>", datafield: 'ReceivedUnitPrice'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'Note'
            }
        ]
    }); 
});
</script>