<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_RECEIVE_CONTROLLER;
	$sUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemReceiveNewAndEdit';

    $gridName = "#jqxGrid_sysItemReceiveList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="form-group">
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("SUPPLIER");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="ddlSupplier<?= $jqxPrefix;?>" name="ItemRecieveGroup[SupplierId]"></div>
	            <input type="hidden" id="txtSupplierId<?= $jqxPrefix;?>">
		    </div>
		    <div class="col-sm-2 no-padding">
                <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysSupplierNewAndEdit",
                            "dropDownListId"    =>  "#ddlSupplier".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtSupplierId".$jqxPrefix,
                            "url"               =>  $sUrl,
                            "height"			=>	420,
                            "title"             =>  $this->translate("NEW_SUPPLIER"),
                            
                        ]);
                ?>
            </div>
	    </div>
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("RECEIVE_DATE");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="txtReceiveDate<?= $jqxPrefix;?>" name="ItemRecieveGroup[ReceivedDate]"></div>
		    </div>
	    </div>
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("NOTE");?>
	        </label>
    		<div class="col-md-12 no-padding">
	            <textarea class="form-control" rows="1" name="ItemRecieveGroup[Note]" id="txtNote<?= $jqxPrefix;?>"></textarea>
		    </div>
	    </div>
    </div>
    <div class="col-md-12 grid-title " style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("RECEIVE_DETAIL");?>
	</div>
	<div class="clearfix"></div>
	<div class="no-padding margin-bottom-10">
		<div id="heng-product-receive">
			
		</div>
		<div >
			<a href="javascript:;" class="" style="margin: 10px;" onclick="addMoreProductCategory();">
			<i class="fa fa-plus"></i>&nbsp;Add more category
			</a>
		</div>
	</div>

	<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

</form>

<style type="text/css">
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(even) td 
{
	background: #f7fffe66 !important;
}
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(odd)  td
{
	background: #FFF !important;
}	
#winForm<?= $jqxPrefix;?> tbody tr td
{
	vertical-align: top;
}
.pcsp-red
{
	color: red;
}
</style>

<script type="text/javascript">

var isExistItemNoVariance<?= $jqxPrefix;?>  = false;
var categoryIndex = 0;
var rowIndex = 0;
var firstLoading = true;
var itemMasterRecord = [];

function clearControl<?= $jqxPrefix;?>()
{
	isExistItemVariance<?= $jqxPrefix;?>   = false;
	rowIndex = 0;

	clearDropDownList("#ddlSupplier<?= $jqxPrefix;?>");
	clearDate("#txtReceiveDate<?= $jqxPrefix;?>");
	$("#txtNote<?= $jqxPrefix;?>").val("");

	$("#pcspItemReceive tbody").html("");

	initialItemReceive<?= $jqxPrefix;?>(3);

	$("#ddlSupplier<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
	$("#txtReceiveDate<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
}

function hengDropDownTable<?= $jqxPrefix;?>(element)
{
	$(element).css("display","block");
}

function setItemUnitMeasurement(index)
{
	var val = $("#ddlItemUnitMeasurement"+index).val();
	if( val == 0 ) val = "";
	var arr = val.split(";$;");

	$("#ddlItemUnitMeasurement"+index).removeClass("jqx-validator-error-element");
	$("#txtDefaultSystemUnit"+index).val(arr[2]);
	$("#txtSystemItemUnitQty"+index).val(arr[1]);
	$("#pcspItemUnitMeasurement<?= $jqxPrefix;?>"+index).text(arr[0]);
	$("#txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>"+index).val(arr[0]);

	getCalculateUnitQty(index);
}

function removeElementParent(action)
{
    $(action).closest("tr").remove();
}

function getItemStr(index)
{
	var submitIndex = "$@$"+index;

	var str = '<tr class="item-no-variance<?= $jqxPrefix;?>" id="pcspTrItem<?= $jqxPrefix;?>'+index+'" data-index="'+index+'">';

			str += '<td class="text-center">';
			
				str += '<p style="color:red;widht: 5px;color:red;" onclick=removeElementParent(this) class="cursor-pointer align-center pccsp-btn-action-remove">X</p>'

				// all hidden field
				str += '<input type="hidden" id="txtSystemItemUnitQty'+index+'" value="0"/>'
				str += '<input type="hidden" id="txtReceivedUnitMeasurement<?= $jqxPrefix;?>'+index+'" value="" name="Record['+submitIndex+'][ReceivedUnitMeasurement]"/>'
				str += '<input type="hidden" id="txtDefaultSystemUnit'+index+'" value="" />'
				str += '<input type="hidden" id="txtItemUnitQty'+index+'" value="0" name="Record['+submitIndex+'][SystemQty]"/>'
				str += '<input type="hidden" id="txtReceivedUnitPrice<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][SystemUnitPrice]"/>';

				str += '<input type="hidden" id="txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedUnitMeasurementPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedQtyPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedQtyPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedUnitPricePrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedUnitPricePrefix]"/>';

				str += '<input type="hidden" id="txtDefaultSelectUnit'+index+'" value="0" />';

				// end hidden field

			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemMaster'+index+'" data-index="'+index+'" name="Record['+submitIndex+'][ItemMasterId]" ></div>';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemUnitMeasurement'+index+'" onchange="setItemUnitMeasurement('+index+');" name="Record['+submitIndex+'][ItemUnitMeasurement]" ></div>';
				str += '<div id="pcspItemUnitMeasurement<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm" id="txtItemReceiveQty<?= $jqxPrefix;?>'+index+'" onkeyup="getCalculateUnitQty('+index+');" name="Record['+submitIndex+'][ReceivedQty]" onkeypress="return isAllowNumerice(event,this,2);"/>';
				str += '<div id="pcspItemUnitQty'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm"  id="txtItemUnitPrice<?= $jqxPrefix;?>'+index+'" onkeyup="getCalculateItemUnitPrice<?= $jqxPrefix;?>('+index+');" onkeypress="return isAllowNumerice(event,this,2);" name="Record['+submitIndex+'][ReceivedUnitPrice]" />';

				str += '<div id="pcspSystemDefaultPrice<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';
			str += '</td>';
		str+= '</tr>';
	return str;
}
function addMoreItem(categoryIndex1)
{
	var index = rowIndex+categoryIndex1;

	var 
	6 = "#pcspI``54temReceive"+categoryIndex1+" tbody";

	var str = getItemStr(index);

	$(element).append(str);

	initDropDownList(jqxTheme,"100%",250, "#ddlItemMaster"+index,[], '', '', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemUnitMeasurement"+index, [], '', '', true, '', '0', "");

	$("#ddlItemMaster"+index).on('select', function(event)
	{
		var index = $(this).attr("data-index");
		var itemMasterId = $(this).val();

		setItemUnit<?= $jqxPrefix;?>(itemMasterId,index);
	});

	rowIndex ++;
}
function setContentItemMaster(index,data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemMaster"+index,data, 'Name', 'Id', true, '', '0', "");
}
function setContentItemUnit(index,data,defaultUnit)
{
	$("#txtDefaultSelectUnit"+index).val(defaultUnit);
	initDropDownList(jqxTheme,150, 250, "#ddlItemUnitMeasurement"+index,data, 'Name', 'Id', true, '', '0', "#txtDefaultSelectUnit"+index);
}
function setAllItemMaster(rowIndex)
{
	
}
function setItemMaster(categoryId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemActiveRecord",
        data: "CategoryId="+categoryId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 
        	// setContentItemMaster(index,data)
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}
function setItemUnit<?= $jqxPrefix;?>(itemMasterId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemMasterId="+itemMasterId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];
        	setContentItemUnit(index,itemUnitRecord,defaultUnit);

        	itemMasterRequired<?= $jqxPrefix;?>(index,0);

    		var isDuplicate = isDuplicateItemNoVariance(index);

    		if( isDuplicate == true )
    		{
    			itemMasterRequired<?= $jqxPrefix;?>(index,1);
    		}
    		isExistItemNoVariance<?= $jqxPrefix;?> = isDuplicate;
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}
function itemMasterRequired<?= $jqxPrefix;?>(index,requiredType)
{
	var element = "#ddlItemMaster"+index;
	if( requiredType == 0 )
	{
		$(element).removeClass("jqx-validator-error-element");
	}
	else
	{
		$(element).addClass("jqx-validator-error-element");
	}
}
function isDuplicateItemNoVariance(rowIndex)
{
	var element = "#pcspItemReceive tbody tr.item-no-variance<?= $jqxPrefix;?>";
	var index,itemMasterId;
	var currentItemMasterId = $("#ddlItemMaster"+rowIndex).val();
	var isDuplicate = false;

	$(element).each(function()
	{
		index = $(this).attr("data-index");
		if( index*1 != rowIndex*1 )
		{
			itemMasterId = $("#ddlItemMaster"+index).val();
			if( currentItemMasterId == itemMasterId )
			{
				isDuplicate = true;
			}
		}
	});

	return isDuplicate;
}
function getCalculateUnitQty(index)
{
	var unitQty = $("#txtItemReceiveQty<?= $jqxPrefix;?>"+index).val();
	var sysQty  = $("#txtSystemItemUnitQty"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit"+index).val();

	if( unitQty == "" || unitQty == "." ) unitQty = 0;
	if( sysQty == "" ) sysQty = 0;

	var itemUnitQty = sysQty*unitQty;

	$("#txtItemReceiveQty<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");

	$("#txtItemUnitQty"+index).val(itemUnitQty);
	$("#pcspItemUnitQty"+index).text(itemUnitQty+" "+defaultSystemUnit);
	$("#txtReceivedQtyPrefix<?= $jqxPrefix;?>"+index).val(itemUnitQty+" "+defaultSystemUnit);

	getCalculateItemUnitPrice<?= $jqxPrefix;?>(index);
}
function getCalculateItemUnitPrice<?= $jqxPrefix;?>(index)
{
	var sysQty    = $("#txtSystemItemUnitQty"+index).val();
	var unitPrice = $("#txtItemUnitPrice<?= $jqxPrefix;?>"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit"+index).val();

	if( unitPrice == "" || unitPrice == ".") unitPrice = 0;
	if( sysQty == "" || sysQty == 0 ) sysQty = 1;

	var systemPrice = unitPrice/sysQty;

	systemPrice = roundNumber(systemPrice,2);
	var systemPrice1 = "1 "+defaultSystemUnit+" = "+systemPrice;

	$("#txtItemUnitPrice<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");
	$("#pcspSystemDefaultPrice<?= $jqxPrefix;?>"+index).text(systemPrice1);
	$("#txtReceivedUnitPrice<?= $jqxPrefix;?>"+index).val(systemPrice);
	$("#txtReceivedUnitPricePrefix<?= $jqxPrefix;?>"+index).val(systemPrice1);
}
function addMoreProductCategory()
{
	var str = getStrMoreProductCategory();

	$("#heng-product-receive").append(str);

	addMoreItem(categoryIndex);

	initDropDownList(jqxTheme,"100%",250, "#ddlItemCategory"+categoryIndex,<?= json_encode($this->itemCategoryRecord);?>, 'Name', 'Id', true, '', '0', "");

	$("#ddlItemCategory"+categoryIndex).on('select',function(event)
	{
		var categoryId = $(this).val();

		if( categoryId != 0 && categoryId != "" )
		{
			$("#ddlItemCategory"+categoryIndex).removeClass("jqx-validator-error-element");
		}
		setItemMaster(categoryId,categoryIndex);
	});

	categoryIndex ++;
}
function getStrMoreProductCategory()
{
	var strItem = "";
	
	var remove = '<p style="color:red;cursor:pointer;margin-top: -16px !important;margin-left:-10px !important;width:20px;height:20px;padding-left: -50px !important;">X</p>';

	if( firstLoading == true )
	{
		remove = '<p style="margin-top: -18px !important;margin-left:-13px !important;width:20px;height:20px;">&nbsp;</p>';
	}

	firstLoading = false;

	var str = '<div style="margin-top: 10px;padding: 5px !important;background-color: #F8F8FF;box-shadow: 0 0 1px rgb(58, 133, 255);" id="product-category'+categoryIndex+'" id="'+categoryIndex+'">'
			+ remove
			+'	<div class="" data-id="'+categoryIndex+'">'
			+'<div class="form-group">'
			+'	<div class="col-md-3 no-padding">'
			+'		Product category'
			+'	</div>'
			+'	<div class="clearfix"></div>'
		    +'	<div class="col-md-3 no-padding">'
			+'		<div id="ddlItemCategory'+categoryIndex+'" name="Record[][ItemCategoryId]"></div>'
			+'	</div>'
			+'</div>'
			+'<table class="gridtable margin-bottom-10" width="100%" id="pcspItemReceive'+categoryIndex+'">'
			+'	<thead>'
			+'		<tr>'
			+'			<th width="30">&nbsp;</th>'
			+'			<th width="200"><?= $this->translate("Product name");?></th>'
			+'			<th><?= $this->translate("Measurement");?></th>'
			+'			<th><?= $this->translate("Qty");?></th>'
			+'			<th><?= $this->translate("Unit price");?></th>'
			+'		</tr>'
			+'	</thead>'
			+'	<tbody>'

			+'	</tbody>'
			+'	<tfoot>'
			+'		<tr>'
			+'			<td colspan="5">'
			+'				<div class="pull-left">'
			+'					<a href="javascript:void(0);" title="<?= $this->translate("Add more");?>" onclick="addMoreItem('+categoryIndex+');">'
			+'						<i class="glyphicon glyphicon-plus"></i>'
			+'						<?= $this->translate("Add more");?>'
			+'					</a>'
			+'				</div>'
			+'			</td>'
			+'		</tr>'
			+'	</tfoot>'
			+'</table>'
		+'</div>';

	return str;
}
function removeProductCategory()
{

}
$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlSupplier<?= $jqxPrefix; ?>", <?= json_encode($this->supplierRecord);?>, 'Name', 'Id', true, '', '0', "#txtSupplierId<?= $jqxPrefix; ?>");

	$('#txtReceiveDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	addMoreProductCategory();

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>');
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlSupplier<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlSupplier<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtReceiveDate<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var id = $('#txtReceiveDate<?= $jqxPrefix; ?>').val()
					if( id != null && id == "" )
					{
						return false;
					}
					return true;
				}
			}
        ]
    });

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearControl<?= $jqxPrefix;?>();
	});
});
function saveData<?= $jqxPrefix;?>(pre, saveUrl, gridId, formId)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
        	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_SAVE')?>");
        	if( isOk == false )
        		return false;
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();
	                clearControl<?= $jqxPrefix;?>();

	                if(gridId != '')
	                {
                        $(gridId).jqxGrid({ autoshowloadelement: false});
                        $(gridId).jqxGrid('updatebounddata');
                        $(gridId).jqxGrid('clearselection');
	                }
                  	$("#jqxWindowPopUp"+pre).trigger('close');
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};
</script>