<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_RECEIVE_CONTROLLER;
	$sUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::SUPPLIER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    $jqxPrefix = '_sysItemReceiveNewAndEdit';

    $gridName = "#jqxGrid_sysItemReceiveList";
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<div class="form-group">
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("SUPPLIER");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="ddlSupplier<?= $jqxPrefix;?>" name="ItemRecieveGroup[SupplierId]"></div>
	            <input type="hidden" id="txtSupplierId<?= $jqxPrefix;?>">
		    </div>
		    <div class="col-sm-2 no-padding">
                <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysSupplierNewAndEdit",
                            "dropDownListId"    =>  "#ddlSupplier".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtSupplierId".$jqxPrefix,
                            "url"               =>  $sUrl,
                            "height"			=>	420,
                            "title"             =>  $this->translate("NEW_SUPPLIER"),
                            
                        ]);
                ?>
            </div>
	    </div>
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("RECEIVE_DATE");?>
	        	<span class="star-red">*</span>
	        </label>
    		<div class="col-md-10 no-padding">
	            <div id="txtReceiveDate<?= $jqxPrefix;?>" name="ItemRecieveGroup[ReceivedDate]"></div>
		    </div>
	    </div>
	    <div class="col-md-3 no-padding">
        	<label class="col-md-12 control-label no-padding-left">
	        	<?= $this->translate("NOTE");?>
	        </label>
    		<div class="col-md-12 no-padding">
	            <textarea class="form-control" rows="1" name="ItemRecieveGroup[Note]" id="txtNote<?= $jqxPrefix;?>"></textarea>
		    </div>
	    </div>
    </div>
    <div class="col-md-12 grid-title " style="border-bottom: 1px solid #ddddde;">
		<?= $this->translate("RECEIVE_DETAIL");?>
	</div>
	<div class="clearfix"></div>
	<div class="no-padding margin-bottom-10" id="pcspTableItemReceive<?= $jqxPrefix;?>">
		<table class="gridtable margin-bottom-10" width="100%" id="pcspItemReceive<?= $jqxPrefix;?>">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th width="200"><?= $this->translate("CATEGORY");?></th>
					<th width="200"><?= $this->translate("ITEM_NAME");?></th>
					<th><?= $this->translate("ITEM_MEASUREMENT");?></th>
					<th><?= $this->translate("QTY");?></th>
					<th><?= $this->translate("UNIT_PRICE");?></th>
					<th><?= $this->translate("NOTE");?></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="8">
						<div class="pull-left">
							<a href="javascript:void(0);" title="<?= $this->translate('ADD_MORE');?>" onclick="addMore<?= $jqxPrefix;?>();">
								<i class="glyphicon glyphicon-plus"></i>
								<?= $this->translate("ADD_MORE");?>
							</a>
						</div>
						<div class="pull-right btn-group btn-icon-state">
							<a href="javascript:void(0);" title="<?= $this->translate('SAVE');?>" id="butSave<?= $jqxPrefix;?>">
								<i class="glyphicon glyphicon-saved"></i>
								<?= $this->translate("SAVE");?>
							</a>
							<a href="javascript:void(0);" class="margin-left-10" title="<?= $this->translate('CLEAR');?>" id="butClear<?= $jqxPrefix;?>">
								<i class="glyphicon glyphicon-refresh"></i>
								<?= $this->translate("CLEAR");?>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

</form>

<style type="text/css">
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(even) td 
{
	background: #f7fffe66 !important;
}
#winForm<?= $jqxPrefix;?> tbody tr:nth-child(odd)  td
{
	background: #FFF !important;
}	
#winForm<?= $jqxPrefix;?> tbody tr td
{
	vertical-align: top;
}
.pcsp-red
{
	color: red;
}
</style>

<script type="text/javascript">

var isExistItemNoVariance<?= $jqxPrefix;?>  = false;
var index<?= $jqxPrefix;?> = 0;

function clearControl<?= $jqxPrefix;?>()
{
	isExistItemVariance<?= $jqxPrefix;?>   = false;
	index<?= $jqxPrefix;?> = 0;

	clearDropDownList("#ddlSupplier<?= $jqxPrefix;?>");
	clearDate("#txtReceiveDate<?= $jqxPrefix;?>");
	$("#txtNote<?= $jqxPrefix;?>").val("");

	$("#pcspItemReceive<?= $jqxPrefix;?> tbody").html("");

	initialItemReceive<?= $jqxPrefix;?>(3);

	$("#ddlSupplier<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
	$("#txtReceiveDate<?= $jqxPrefix;?>").removeClass("jqx-validator-error-element");
}

function hengDropDownTable<?= $jqxPrefix;?>(element)
{
	$(element).css("display","block");
}

function setItemUnitMeasurement<?= $jqxPrefix;?>(index)
{
	var val = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).val();
	if( val == 0 ) val = "";
	var arr = val.split(";$;");

	$("#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");
	$("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val(arr[2]);
	$("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val(arr[1]);
	$("#pcspItemUnitMeasurement<?= $jqxPrefix;?>"+index).text(arr[0]);
	$("#txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>"+index).val(arr[0]);

	getCalculateUnitQty<?= $jqxPrefix;?>(index);
}

function removeElementParent<?= $jqxPrefix;?>(action)
{
    $(action).closest("tr").remove();

    setOverflow<?= $jqxPrefix;?>(1);
}

function getStr<?= $jqxPrefix;?>(index)
{
	var submitIndex = "$@$"+index;

	var str = '<tr class="item-no-variance<?= $jqxPrefix;?>" id="pcspTrItem<?= $jqxPrefix;?>'+index+'" data-index="'+index+'">';

			str += '<td>';
			
				str += '<p style="color:red;widht: 5px;color:red;" onclick=removeElementParent<?= $jqxPrefix;?>(this) class="cursor-pointer align-center pccsp-btn-action-remove">X</p>'

				// all hidden field
				str += '<input type="hidden" id="txtSystemItemUnitQty<?= $jqxPrefix;?>'+index+'" value="0"/>'
				str += '<input type="hidden" id="txtReceivedUnitMeasurement<?= $jqxPrefix;?>'+index+'" value="" name="Record['+submitIndex+'][ReceivedUnitMeasurement]"/>'
				str += '<input type="hidden" id="txtDefaultSystemUnit<?= $jqxPrefix;?>'+index+'" value="" />'
				str += '<input type="hidden" id="txtItemUnitQty<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][SystemQty]"/>'
				str += '<input type="hidden" id="txtReceivedUnitPrice<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][SystemUnitPrice]"/>';

				str += '<input type="hidden" id="txtReceivedUnitMeasurementPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedUnitMeasurementPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedQtyPrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedQtyPrefix]"/>';
				str += '<input type="hidden" id="txtReceivedUnitPricePrefix<?= $jqxPrefix;?>'+index+'" value="0" name="Record['+submitIndex+'][ReceivedUnitPricePrefix]"/>';

				str += '<input type="hidden" id="txtDefaultSelectUnit<?= $jqxPrefix;?>'+index+'" value="0" />';

				// end hidden field

			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemCategory<?= $jqxPrefix;?>'+index+'" data-index="'+index+'" name="Record['+submitIndex+'][ItemCategoryId]" ></div>';
				str += '<input type="hidden" id="txtItemCategoryId<?= $jqxPrefix;?>'+index+'"  />';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemMaster<?= $jqxPrefix;?>'+index+'" data-index="'+index+'" name="Record['+submitIndex+'][ItemMasterId]" ></div>';
			str += '</td>';

			str += '<td>';
				str += '<div id="ddlItemUnitMeasurement<?= $jqxPrefix;?>'+index+'" onchange="setItemUnitMeasurement<?= $jqxPrefix;?>('+index+');" name="Record['+submitIndex+'][ItemUnitMeasurement]" ></div>';
				str += '<div id="pcspItemUnitMeasurement<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm" id="txtItemReceiveQty<?= $jqxPrefix;?>'+index+'" onkeyup="getCalculateUnitQty<?= $jqxPrefix;?>('+index+');" name="Record['+submitIndex+'][ReceivedQty]" onkeypress="return isAllowNumerice(event,this,2);"/>';
				str += '<div id="pcspItemUnitQty<?= $jqxPrefix;?>'+index+'"></div>';
			str += '</td>';

			str += '<td>';
				str += '<input type="text" class="form-control input-sm" style="width:100px;" id="txtItemUnitPrice<?= $jqxPrefix;?>'+index+'" onkeyup="getCalculateItemUnitPrice<?= $jqxPrefix;?>('+index+');" onkeypress="return isAllowNumerice(event,this,2);" name="Record['+submitIndex+'][ReceivedUnitPrice]" />';

				str += '<div id="pcspSystemDefaultPrice<?= $jqxPrefix;?>'+index+'"></div>';

			str += '</td>';

			str += '<td class="text-center">';
				str += '<textarea class="form-control" style="height: 30px;" name="Record['+submitIndex+'][Note]" ></textarea>';
			str += '</td>';

		str+= '</tr>';
	return str;
}

function addMore<?= $jqxPrefix;?>()
{
	var index = index<?= $jqxPrefix;?>;
	var element = "#pcspItemReceive<?= $jqxPrefix;?> tbody";
	var str = getStr<?= $jqxPrefix;?>(index);

	$(element).append(str);

	initDropDownList(jqxTheme,"100%",250, "#ddlItemCategory<?= $jqxPrefix;?>"+index,<?= json_encode($this->itemCategoryRecord);?>, 'Name', 'Id', true, '', '0', "");
	initDropDownList(jqxTheme,"100%",250, "#ddlItemMaster<?= $jqxPrefix;?>"+index,[], '', '', true, '', '0', "");
	initDropDownList(jqxTheme,150,250, "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index, [], '', '', true, '', '0', "");

	$("#ddlItemCategory<?= $jqxPrefix;?>"+index).on('select',function(event)
	{
		var index = $(this).attr("data-index");
		var categoryId = $(this).val();
		
		itemMasterRequired<?= $jqxPrefix;?>(index,0);

		setItemMaster<?= $jqxPrefix;?>(categoryId,index);

		if( categoryId != 0 && categoryId != "" )
		{
			$("#ddlItemCategory<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");
		}
	});

	$("#ddlItemMaster<?= $jqxPrefix;?>"+index).on('select', function(event)
	{
		var index = $(this).attr("data-index");
		var itemMasterId = $(this).val();

		setItemUnit<?= $jqxPrefix;?>(itemMasterId,index);
	});

	index<?= $jqxPrefix;?> ++;

	setOverflow<?= $jqxPrefix;?>(1);
}

function setOverflow<?= $jqxPrefix;?>(type)
{
	var element = "#pcspTableItemReceive<?= $jqxPrefix;?>";
	var height  = $(element).height();
	var height1 = height*1-25;
	var respContent = $(".respContent").height();
	if( type*1 == 1 )
	{
		if( height1*1 > respContent*1)
		{
			if( $(element).hasClass("overflow-y") == false )
			{
				height = respContent*1+25;
				$(element).height(height);

				$(element).addClass("overflow-y");
			}
		}
		else if( height1*1 == respContent*1)
		{
			var tableHeight = $("#pcspItemReceive<?= $jqxPrefix;?>").height()-25;
			if( tableHeight*1 < height1*1 )
			{
				$(element).removeClass("overflow-y");
			}
			else
			{
				$(element).addClass("overflow-y");
			}
		}
		else
		{
			$(element).removeClass("overflow-y");
		}
	}
}

function initialItemReceive<?= $jqxPrefix;?>(size)
{
	for( var i = 1; i <= size ; i ++ )
	{
		addMore<?= $jqxPrefix;?>();
	}
}

function setContentItemMaster<?= $jqxPrefix;?>(index,data)
{
	initDropDownList(jqxTheme,"100%", 250, "#ddlItemMaster<?= $jqxPrefix;?>"+index,data, 'Name', 'Id', true, '', '0', "");
}

function setContentItemUnit<?= $jqxPrefix;?>(index,data,defaultUnit)
{
	$("#txtDefaultSelectUnit<?= $jqxPrefix;?>"+index).val(defaultUnit);
	initDropDownList(jqxTheme,150, 250, "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index,data, 'Name', 'Id', true, '', '0', "#txtDefaultSelectUnit<?= $jqxPrefix;?>"+index);
}

function setItemMaster<?= $jqxPrefix;?>(categoryId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemActiveRecord",
        data: "CategoryId="+categoryId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 
        	setContentItemMaster<?= $jqxPrefix;?>(index,data)
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}

function setItemUnit<?= $jqxPrefix;?>(itemMasterId,index)
{
	$.ajax
	({
        type: 'post',
        dataType: 'json',
        url: "<?= $url;?>/getAllItemUnitRecord",
        data: "ItemMasterId="+itemMasterId,
        beforeSend: function()
        {
        	pageLoading();
        },
        success: function (data) 
        {
        	closePageLoading(); 

        	var itemUnitRecord = data["ItemUnitRecord"];
        	var defaultUnit    = data["DefaultUnit"];
        	setContentItemUnit<?= $jqxPrefix;?>(index,itemUnitRecord,defaultUnit);

        	itemMasterRequired<?= $jqxPrefix;?>(index,0);

    		var isDuplicate = isDuplicateItemNoVariance<?= $jqxPrefix;?>(index);

    		if( isDuplicate == true )
    		{
    			itemMasterRequired<?= $jqxPrefix;?>(index,1);
    		}
    		isExistItemNoVariance<?= $jqxPrefix;?> = isDuplicate;
        
        	setOverflow<?= $jqxPrefix;?>(1);
        },
        error: function (errs) 
        {
        	closePageLoading();
        	showMessage('Error','Error Save Data','270','120');
        }
    });
}


function itemMasterRequired<?= $jqxPrefix;?>(index,requiredType)
{
	var element = "#ddlItemMaster<?= $jqxPrefix;?>"+index;
	if( requiredType == 0 )
	{
		$(element).removeClass("jqx-validator-error-element");
	}
	else
	{
		$(element).addClass("jqx-validator-error-element");
	}
}


function isDuplicateItemNoVariance<?= $jqxPrefix;?>(rowIndex)
{
	var element = "#pcspItemReceive<?= $jqxPrefix;?> tbody tr.item-no-variance<?= $jqxPrefix;?>";
	var index,itemMasterId;
	var currentItemMasterId = $("#ddlItemMaster<?= $jqxPrefix;?>"+rowIndex).val();
	var isDuplicate = false;

	$(element).each(function()
	{
		index = $(this).attr("data-index");
		if( index*1 != rowIndex*1 )
		{
			itemMasterId = $("#ddlItemMaster<?= $jqxPrefix;?>"+index).val();
			if( currentItemMasterId == itemMasterId )
			{
				isDuplicate = true;
			}
		}
	});

	return isDuplicate;
}

function getCalculateUnitQty<?= $jqxPrefix;?>(index)
{
	var unitQty = $("#txtItemReceiveQty<?= $jqxPrefix;?>"+index).val();
	var sysQty  = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();

	if( unitQty == "" || unitQty == "." ) unitQty = 0;
	if( sysQty == "" ) sysQty = 0;

	var itemUnitQty = sysQty*unitQty;

	$("#txtItemReceiveQty<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");

	$("#txtItemUnitQty<?= $jqxPrefix;?>"+index).val(itemUnitQty);
	$("#pcspItemUnitQty<?= $jqxPrefix;?>"+index).text(itemUnitQty+" "+defaultSystemUnit);
	$("#txtReceivedQtyPrefix<?= $jqxPrefix;?>"+index).val(itemUnitQty+" "+defaultSystemUnit);

	getCalculateItemUnitPrice<?= $jqxPrefix;?>(index);
}

function getCalculateItemUnitPrice<?= $jqxPrefix;?>(index)
{
	var sysQty    = $("#txtSystemItemUnitQty<?= $jqxPrefix;?>"+index).val();
	var unitPrice = $("#txtItemUnitPrice<?= $jqxPrefix;?>"+index).val();
	var defaultSystemUnit  = $("#txtDefaultSystemUnit<?= $jqxPrefix;?>"+index).val();

	if( unitPrice == "" || unitPrice == ".") unitPrice = 0;
	if( sysQty == "" || sysQty == 0 ) sysQty = 1;

	var systemPrice = unitPrice/sysQty;

	systemPrice = roundNumber(systemPrice,2);
	var systemPrice1 = "1 "+defaultSystemUnit+" = "+systemPrice;

	$("#txtItemUnitPrice<?= $jqxPrefix;?>"+index).removeClass("jqx-validator-error-element");
	$("#pcspSystemDefaultPrice<?= $jqxPrefix;?>"+index).text(systemPrice1);
	$("#txtReceivedUnitPrice<?= $jqxPrefix;?>"+index).val(systemPrice);
	$("#txtReceivedUnitPricePrefix<?= $jqxPrefix;?>"+index).val(systemPrice1);
}

function saveData<?= $jqxPrefix;?>(pre, saveUrl, gridId, formId)
{
    var validationResult = function (isValid)
    {
        if (isValid) 
        { 
        	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_SAVE')?>");
        	if( isOk == false )
        		return false;
          	var json = ($(formId).serializeJSON());
          	var data = $.param(json);
          	$.ajax
          	({
	            type: 'post',
	            dataType: 'json',
	            url: saveUrl,
	            data: data,
	            beforeSend: function()
	            {
	                pageLoading();
	            },
	            success: function (data) 
	            {
	                closePageLoading();
	                clearControl<?= $jqxPrefix;?>();

	                if(gridId != '')
	                {
                        $(gridId).jqxGrid({ autoshowloadelement: false});
                        $(gridId).jqxGrid('updatebounddata');
                        $(gridId).jqxGrid('clearselection');
	                }
                  	$("#jqxWindowPopUp"+pre).trigger('close');
              	},
              	error: function (errs) 
              	{
                  	closePageLoading();
                  	showMessage('Error','Error Save Data','270','120');
              	}
          	});
      	}
  	}
    $(formId).jqxValidator('validate', validationResult);
};
	
$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlSupplier<?= $jqxPrefix; ?>", <?= json_encode($this->supplierRecord);?>, 'Name', 'Id', true, '', '0', "#txtSupplierId<?= $jqxPrefix; ?>");

	$('#txtReceiveDate<?= $jqxPrefix; ?>').jqxDateTimeInput({theme: jqxTheme, width: '100%', height: '25px', readonly: true, formatString: "d-MMM-yyyy", value: null});

	initialItemReceive<?= $jqxPrefix;?>(3);

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		saveData<?= $jqxPrefix;?>('<?= $jqxPrefix;?>', '<?= $url;?>/saveRecord', "<?= $gridName;?>" , '#winForm<?= $jqxPrefix;?>');
	});

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: 
        [
			{
	        	input: '#ddlSupplier<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
	        	{
	            	var id = $('#ddlSupplier<?= $jqxPrefix; ?>').val()
					if( id != null && id == 0 )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtReceiveDate<?= $jqxPrefix; ?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var id = $('#txtReceiveDate<?= $jqxPrefix; ?>').val()
					if( id != null && id == "" )
					{
						return false;
					}
					return true;
				}
			},
			{
	        	input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var bool = !isExistItemNoVariance<?= $jqxPrefix;?>;
	            	
            		var index,element;

            		$("#pcspItemReceive<?= $jqxPrefix;?> tbody tr").each(function()
            		{
            			element = $(this);
            			index   = element.attr("data-index");

            			var elementCategory   = "#ddlItemCategory<?= $jqxPrefix;?>"+index;
            			var elementItemMaster = "#ddlItemMaster<?= $jqxPrefix;?>"+index;
            			var elementItemUnit   = "#ddlItemUnitMeasurement<?= $jqxPrefix;?>"+index;
            			var elementQty = "#txtItemReceiveQty<?= $jqxPrefix;?>"+index;
            			var elementPrice = "#txtItemUnitPrice<?= $jqxPrefix;?>"+index;

            			var category   = $(elementCategory).val();
            			var itemMaster = $(elementItemMaster).val();
            			var itemUnit   = $(elementItemUnit).val();
            			var qty 	   = $(elementQty).val();
            			var unitPrice  = $(elementPrice).val(); 

            			var unitMeasurent = $(elementItemUnit).text();
            			$("#txtReceivedUnitMeasurement<?= $jqxPrefix;?>"+index).val(unitMeasurent);

            			$(elementCategory).removeClass("jqx-validator-error-element");
            			$(elementItemMaster).removeClass("jqx-validator-error-element");
            			$(elementItemUnit).removeClass("jqx-validator-error-element");
            			$(elementQty).removeClass("jqx-validator-error-element");
            			$(elementPrice).removeClass("jqx-validator-error-element");
            			
            			if( category == 0 || category == "" )
            			{
            				$(elementCategory).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( itemMaster == 0 || itemMaster == "" )
            			{
            				$(elementItemMaster).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( unitMeasurent == 0 || unitMeasurent == "" )
            			{
            				$(elementItemUnit).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( qty == 0 || qty == "" )
            			{
            				$(elementQty).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            			if( unitPrice == 0 || unitPrice == "" )
            			{
            				$(elementPrice).addClass("jqx-validator-error-element");
            				bool = false;
            			}
            		});

	            	return bool;
				}
			},
        ]
    });

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearControl<?= $jqxPrefix;?>();
	});
});
</script>