<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

function getJqxGridDataSource<?= $jqxPrefix;?>(getGridDataUrl, gridIdName, param)
{
  var source = 
  {
      type: "post",
      datatype: "json",
      cache: false,
      id: 'ItemDiscountId,Id',
      data: param,
      url: getGridDataUrl,
      root:'rows',
      beforeprocessing: function(data)
      {
         //source.data = [];
         source.totalrecords = (data != null)? data[0].total:0;
      },
      filter: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'filter');
      },
      sort: function()
      {
        $(gridIdName).jqxGrid('updatebounddata', 'sort');
      },
    };
  
    return source;
};

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource<?= $jqxPrefix;?>('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);

function newSetupItemDiscount<?= $jqxPrefix;?>(id,itemMasterId,action)
{
    var param = JSON.parse('{"Id":"'+id+'","ItemMasterId":"'+itemMasterId+'"}');

    addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("SETUP_ITEM_DISCOUNT")?>',"<?= $this->width;?>","<?= $this->height;?>", '<?= $url;?>/'+action, param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
}

var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var str = "";
    
    if( typeof params.subItems[0] != "undefined" )
    {
        var record = params.subItems[0];
        var itemDiscountId = record["ItemDiscountId"];
        var itemMasterId  = record["Id"];
        var varianceLabels = record["VarianceLabels"];

        var itemName = record["Name"];

        if( varianceLabels != "" )
        {
            var varianceValues = record["ItemVarianceValue"];
            var arr1 = varianceLabels.split(";$;");
            var arr2 = varianceValues.split(";$;");
            var s = '';
            for( var i = 0 ; i < arr1.length ; i ++ )
            {
                if( s != "" ) s += ", ";
                s += arr1[i]+":"+arr2[i];
            }

            itemName += "<small class='pcsp-font-small'>("+s+")</small>";
        }

        str = "<?= $this->translate('ITEM_NAME');?> : "+itemName;
        var actionName = "<?= $this->translate('NEW');?>";
        var action = "new";
        if( itemDiscountId == null )
        {
            itemDiscountId = 0;
            str += "<a href='javascript:void(0);' class='padding-left-10 pcsp-red' onclick=newSetupItemDiscount<?= $jqxPrefix;?>('"+itemDiscountId+"','"+itemMasterId+"','"+action+"') ><?= $this->translate('NO_DISCOUNT');?></a>";
        }
        else
        {
            actionName = "<?= $this->translate('EDIT');?>";
            action = "edit";
        }

        str += "<a href='javascript:void(0);' class='padding-left-10' onclick=newSetupItemDiscount<?= $jqxPrefix;?>('"+itemDiscountId+"','"+itemMasterId+"','"+action+"') >"+actionName+"</a>";
    }

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + str +  '</div>';
}

var  isActive<?= $jqxPrefix;?> = function(row, columnfield, value, defaulthtml, columnproperties, rowdata) 
{
    var str = "";
    var isActive = rowdata.IsActiveItemDiscount;
    var itemDiscountId   = rowdata.ItemDiscountId;
    
    if( itemDiscountId != null && itemDiscountId != "" && itemDiscountId != 0 )
    {
        if( isActive == 1 )
        {
            str = '<i style="color: #0099FF;" class="glyphicon glyphicon-ok"></i>';
        }
        else
        {
            str = '<i style="color: red;" class="glyphicon glyphicon-remove" title=""></i>';
        }
    }

    return '<div class="jqx-grid-cell-wrap margin-top-5" style="position: absolute;">' + str +  '</div>';
}

$(document).ready(function () 
{   
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, 
        width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        pageable: true,
        altrows: true,
        enablehover: true,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["Id"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('DISCOUNT');?>", datafield: 'DiscountName'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'ItemDiscountNote'
            },
            { 
                text: "<?php echo $this->translate('ACTIVE');?>", datafield: 'IsActiveItemDiscount', cellsrenderer: isActive<?= $jqxPrefix;?>,align:'center', width:120, 
            },  
        ]
    }); 
});
</script>