<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SETUP_ITEM_DISCOUNT_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSetupItemDiscountList';
    $newAndEditPrefix = '_sysSetupItemDiscountNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?php echo $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("SETUP_ITEM_DISCOUNT");?>
        </li>
    </ol>
</section>

<?php 
    // echo $this->partial('application/basepartial/action-partial.phtml',
    //         [
    //             "url"           =>  $url,
    //             "jqxPrefix"     =>  $jqxPrefix,
    //             "newAndEditPrefix"  =>  $newAndEditPrefix,
    //             'width'         =>  550,
    //             'height'        =>  300,
    //             'gridIdName'    =>  "#jqxGrid".$jqxPrefix,
    //             "gridColumnRecord"  => $this->gridColumnRecord,
    //         ]
    // );
    echo $this->partial('accountant/setup-item-discount/partial/grid-partial.phtml',
            [
                "url"               =>  $url,
                "jqxPrefix"         =>  $jqxPrefix,
                "newAndEditPrefix"  =>  $newAndEditPrefix,
                'width'         =>  500,
                'height'        =>  300,
            ]
    );
?>