<?php 
	use PCSPLib\PHPConstant;
	
	$url = $this->basepath().'/'.PHPConstant::ACCOUNTANT_MODULE.'/'.PHPConstant::SETUP_ITEM_DISCOUNT_CONTROLLER;
	$escaper = new Zend\Escaper\Escaper('utf-8');

	$jqxPrefix = '_sysSetupItemDiscountNewAndEdit';
	$pre = '_sysSetupItemDiscountList';
	$id = $this->record->Id;
	$isCopy = isset($this->isCopy)?$this->isCopy:0;
	$id = ($isCopy)?0:$this->record->Id;

	$gridIdName = "#jqxGrid".$pre;

?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
	<input type="hidden" id="txtItemMasterId<?= $jqxPrefix;?>" name="ItemMasterId" value="<?= $this->itemMasterId; ?>" />

	<div class="form-group">
		<div class="col-sm-4">
    		<label class="control-label">
    			<?= $this->translate('DISCOUNT');?>
    			<span class="star-red">*</span>
    		</label>
    	</div>
    	<div class="col-sm-8">
    		<div id="ddlChbItemDiscountValue<?= $jqxPrefix;?>" name="DiscountIds"></div>
    		<input type="hidden" id="txtItemDiscountId<?= $jqxPrefix;?>" value="<?= $this->record->DiscountIds;?>">
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-4">
	    	<label class="control-label"><?= $this->translate('NOTE');?></label>
	    </div>
	    <div class="col-sm-8">
	    	<textarea class="form-control" name="Note"><?= $escaper->escapehtml($this->record->Note);?></textarea>
		</div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><?= $this->translate("Active");?></label>
        <div class="col-sm-8 checkbox">
            <label>
                <input type="checkbox" value="1" <?= (($this->record->IsActive==1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive">
                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
              </label>
        </div>
    </div>

    <?php 
		echo $this->partial("application/basepartial/action-button-partial.phtml",
			[
				"url" => $url,
				"jqxPrefix"	=> $jqxPrefix,
				"gridName"	=>	$gridIdName,
				"isSaveNew" => 0
			]
		);
	?>

	<input type="hidden" name="DiscountNames" id="txtDiscountNames<?= $jqxPrefix;?>">

</form>

<input type="hidden" id="txtRequired<?= $jqxPrefix;?>">

<script type="text/javascript">

$(document).ready(function()
{
	initDropDownListCheckbox(jqxTheme, "100%", 250, '#ddlChbItemDiscountValue<?= $jqxPrefix;?>', <?= json_encode($this->discountRecord);?>, 'Name', 'Id', false, 'All', '0', $('#txtItemDiscountId<?= $jqxPrefix;?>').val());

	$('#winForm<?= $jqxPrefix;?>').jqxValidator
	({ 
		hintType: 'label',
        animationDuration: 0,
		rules: 
		[
			{
                input: '#ddlChbItemDiscountValue<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
                {
                    var id = $('#ddlChbItemDiscountValue<?= $jqxPrefix; ?>').val()
                    if( id != null && id == 0 )
                    {
                        return false;
                    }
                    return true;
                }
            },
            {
	        	input: '#txtRequired<?= $jqxPrefix;?>',message: ' ',action: 'change',rule: function () 
	        	{
	            	var discountName = $("#ddlChbItemDiscountValue<?= $jqxPrefix;?>").text();
	            	$("#txtDiscountNames<?= $jqxPrefix;?>").val(discountName);

	            	return true;
				}
			},
		]
	});
	
}); 
</script>