<?php 
	$url 		= $this->url;
	$jqxPrefix 	= $this->jqxPrefix;
	$gridName 	= $this->gridName;
?>
<div class="window-button-fix-footer">
	<div class="window-button">
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSaveNew<?= $jqxPrefix;?>" title="<?= $this->translate('Save New');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-saved"></i>
            <?= $this->translate('Save New');?>
        </a>
        <a style="margin-left: 5px !important;" href="javascript:;" id="butSave<?= $jqxPrefix;?>" title="<?= $this->translate('SAVE');?>" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-save"></i>
            <?= $this->translate('SAVE');?>
        </a>
        <a style="margin-left: 5px !important;" class="btn btn-danger btn-xs" href="javascript:;" id="butClose<?= $jqxPrefix;?>" title="<?= $this->translate('CLOSE');?>">
            <i class="glyphicon glyphicon-off"></i>
            <?= $this->translate('CLOSE');?>
        </a>
    </div>
</div> 

<script type="text/javascript">

var isSaveClose<?php echo $jqxPrefix;?> = false;

function initialActionButtonToTheme<?= $jqxPrefix;?>()
{
	$("#butSaveNew<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butSave<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
	$("#butClose<?= $jqxPrefix;?>").jqxButton({ theme: jqxTheme});
}
function saveRecord<?= $jqxPrefix;?>(bool)
{
	saveData('<?= $jqxPrefix;?>', '', '', "<?= $url;?>/saveRecord","<?= $gridName;?>",1,'#winForm<?= $jqxPrefix;?>', '', bool);
}
$(document).ready(function()
{
	initialActionButtonToTheme<?= $jqxPrefix;?>();

	$("#butSave<?= $jqxPrefix;?>").click(function()
	{
		isSaveClose<?php echo $jqxPrefix;?> = true;
    	saveRecord<?= $jqxPrefix;?>(true);
	});
	$("#butSaveNew<?= $jqxPrefix;?>").click(function()
	{
		isSaveClose<?php echo $jqxPrefix;?> = false;
		saveRecord<?= $jqxPrefix;?>(false);
	});
	$("#butClose<?= $jqxPrefix;?>").click(function()
	{
		$("#jqxWindowPopUp<?= $jqxPrefix;?>").trigger('close');
	});
	$(document).ajaxComplete(function(event, xhr, settings) 
	{
		if(settings.url == "<?php echo $url;?>/saveRecord") 
		{
			if(xhr.responseJSON!=null && xhr.responseJSON.msg==null && isSaveClose<?php echo $jqxPrefix;?> === false)
			{
				clearControl<?php echo $jqxPrefix;?>();
			}
		}
	});
});
</script>