<?php

$jqxPrefix = $this->jqxPrefix;
$newAndEditPrefix = isset($this->newAndEditPrefix)?$this->newAndEditPrefix:'';
$url = $this->url;
$width = isset($this->width)?$this->width:550;
$height= isset($this->height)?$this->height:300;
$gridIdName = $this->gridIdName;

$gridColumnRecord = json_encode(isset($this->gridColumnRecord)?$this->gridColumnRecord:[]);

?>

<section class="content-custom-blog pcsp-resp-action">
    <div class="row">
            <div class="col-lg-10">
                <div class="btn-group btn-icon-state">
                    <a href="javascript:void(0);" class="btn btn-default btn-sm icon-active" id="butNew<?= $jqxPrefix;?>">
                    	<i class="glyphicon glyphicon-plus" title="<?= $this->translate('NEW');?>"></i> 
                    	<?= $this->translate('NEW');?>
                    </a>
					<a href="javascript:void(0);" class="btn btn-default btn-sm disabled" id="butEdit<?= $jqxPrefix;?>">
						<i class="glyphicon glyphicon-edit" title="<?= $this->translate('EDIT');?>"></i> 
						<?= $this->translate('EDIT');?>
					</a>
					<a href="javascript:void(0);" class="btn btn-default btn-sm disabled" id="butDelete<?= $jqxPrefix;?>">
						<i class="glyphicon glyphicon-trash" title="<?= $this->translate('DELETE');?>"></i> 
						<?= $this->translate('DELETE');?>
					</a>
					<a href="javascript:void(0);" class="btn btn-default btn-sm disabled" id="butEnable<?= $jqxPrefix;?>">
						<i class="glyphicon glyphicon-ok" title="<?= $this->translate('ENABLE');?>"></i> 
						<?= $this->translate('ENABLE');?>
					</a>
					<a href="javascript:void(0);" class="btn btn-default btn-sm disabled" id="butDisable<?= $jqxPrefix;?>">
						<i class="glyphicon glyphicon-remove" title="<?= $this->translate('DISABLE');?>"></i> 
						<?= $this->translate('DISABLE');?>
					</a>
                </div>
            </div>

            <?php 
				echo $this->partial("application/basepartial/script-grid-header-property-partial.phtml",
							[
								"url"				=>	$url,
								"jqxPrefix"			=>	$jqxPrefix,
								"gridIdName"		=>	$gridIdName,
								"gridColumnRecord"	=>	$gridColumnRecord,
								"gridType"			=>	1

							]
						);
			?>
    </div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = '<?= $newAndEditPrefix;?>';

function checkDeleteRecord<?= $jqxPrefix;?>(selectedRows)
{
	for(var index = 0 ; index < selectedRows.length ; index ++ )
	{
		var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
		var isInUsed = jqxdatarow != null?jqxdatarow.IsInUsed:0;
		if( isInUsed*1 == 1 )
		{
			$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
			index = selectedRows.length;
		}
	}
}

$(document).ready(function()
{
	$("<?= $gridIdName; ?>").on('rowselect rowunselect', function (event) 
	{
		var selectedRows =  $("<?= $gridIdName; ?>").jqxGrid('getselectedrowindexes');
		
		$("#butEdit<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butDelete<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butDisable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		$("#butEnable<?= $jqxPrefix;?>").removeClass('icon-active').addClass('disabled');
		
		var bool = false;
		if( selectedRows.length == 1 )
		{
			$("#butEdit<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			bool = true;		
		}
		else if( selectedRows.length > 1 )
		{
			bool = true;
		}
		if(bool)
		{
			$("#butDelete<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			$("#butEnable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');
			$("#butDisable<?= $jqxPrefix;?>").removeClass('disabled').addClass('icon-active');	

			checkDeleteRecord<?= $jqxPrefix;?>(selectedRows);		
		}
    });

	$("#butNew<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var param = JSON.parse('{"Id":"0","isPopup":1}');
        addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate("NEW")?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/new', param, '<?= $this->translate("ERROR")?>', '<?= $this->translate("ERROR_LOADING_DATA")?>');
    });
	
	$("#butEdit<?= $jqxPrefix;?>").click(function(e)
	{
		e.preventDefault();
        var selectedRow = getSelectedSingleRowGrid(1,'<?= $gridIdName; ?>',"<?= $this->translate('SELECT_ROW_TO_EDIT')?>","<?= $this->translate('SELECT_ONLY_ONE_ROW_TO_EDIT')?>");
		if(selectedRow)
		{
			var param = JSON.parse('{"Id":"'+selectedRow.Id+'","ItemCode":"'+selectedRow.ItemCode+'","isPopup":1,"gridIdName":"<?= $gridIdName;?>"}');
			addNewRecord(newAndEditPrefix<?= $jqxPrefix;?>, '<?= $this->translate('EDIT')?>',"<?= $width;?>", "<?= $height;?>", '<?= $url;?>/edit', param,"<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_LOADING_DATA')?>");
		}
    });
	
	$("#butDelete<?= $jqxPrefix;?>").click(function(e)
    {
		e.preventDefault();
        var selectedRows = getSelectedMultipleRowGrid(1, '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DELETE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_DELETE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.ItemCode:0;
					listId.push(id);
				}
				deleteGridRow(listId,'<?= $gridIdName; ?>', 1,'<?= $url;?>/deleteMultipleRecords',"<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_DELETE_DATA')?>");
			}
		}
    });
	
	$("#butDisable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid(1, '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_DISABLE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_DISABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow!=null?jqxdatarow.ItemCode:0;
					listId.push(id);
				}
				enableDisableGridRow(listId, '<?= $gridIdName; ?>',1, '<?= $url;?>/disableMultipleRecords',"<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_DISABLE_DATA')?>");
			}
		}
	});
	
	$("#butEnable<?= $jqxPrefix;?>").click(function(e)
    {
        e.preventDefault();
		var selectedRows = getSelectedMultipleRowGrid(1, '<?= $gridIdName; ?>', '<?= $this->translate('SELECT_ROW_TO_ENABLE')?>', '');    
		if(selectedRows)
		{
			var isOk = confirm("<?= $this->translate('MESSAGE_ENABLE_ITEM')?>");
			var listId = [];
			if(isOk)
			{
				for(var index in selectedRows)
				{
					var jqxdatarow = $("<?= $gridIdName; ?>").jqxGrid('getrowdata', selectedRows[index]);
					var id = jqxdatarow != null ? jqxdatarow.ItemCode : 0;

					listId.push(id);
				}
				enableDisableGridRow(listId,'<?= $gridIdName; ?>',1,'<?= $url;?>/enableMultipleRecords',"<?= $this->translate('ERROR')?>","<?= $this->translate('ERROR_ENABLE_DATA')?>");
			}
		}
	});
 });

</script>