<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $gridIdName = "#jqxGrid".$jqxPrefix;
?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">
<div class="col-md-12 form-horizontal margin-bottom-10 " style="margin-top: -20px;">
	<div class="col-md-12 no-padding-left no-padding-top">
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Name");?>
	        </label>
	        <input type="text" class="form-control input-sm" name="Name" id="txtName<?= $jqxPrefix;?>">
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Category");?>
	        </label>
	        <div id="ddlCategory<?= $jqxPrefix;?>" name="ItemCategoryId"></div>
	    </div>
	    <div class="col-md-3 no-padding-top no-padding-bottom no-padding-left">
	        <label class="col-sm-12 control-label pcsp-align-left no-padding-left">
	        	<?= $this->translate("Unit Measurement");?>
	        </label>
	        <div id="ddlItemUnitMeasurement<?= $jqxPrefix;?>">
            	<div id='ddlTreeItemUnitMeasurement<?= $jqxPrefix; ?>'></div>
            </div>
			<input type="hidden" id="txtItemUnitMeasurementId<?= $jqxPrefix; ?>" >
			<input type="hidden" id="txtItemUnitMeasurementName<?= $jqxPrefix; ?>" name="ItemUnitMeasurement">
	    </div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12 no-padding">
		<div class="padding-top-10">
			<?php 
                echo $this->partial("application/basepartial/action-filter-partial.phtml",
                            array(
                                'jqxPrefix' =>  $jqxPrefix,

                            )
                        );
            ?>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">

function prepareData<?= $jqxPrefix;?>()
{
	var unit = $("#ddlItemUnitMeasurement<?= $jqxPrefix;?>").text();
	$("#txtItemUnitMeasurementName<?= $jqxPrefix;?>").val($.trim(unit));
}

function initialFilter<?= $jqxPrefix;?>() 
{
	prepareData<?= $jqxPrefix;?>();

    var json = ($('#winForm<?= $jqxPrefix;?>').serializeJSON());
	var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "<?= $gridIdName;?>", json);
	var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
	$("<?= $gridIdName;?>").jqxGrid({source:dataAdapter<?= $jqxPrefix;?>});
}

function clearFilter<?= $jqxPrefix;?>()
{
	clearDropDownListCheckbox("#ddlCategory<?= $jqxPrefix;?>");
	clearTreeDropDownListCheckbox("#ddlTreeItemUnitMeasurement<?= $jqxPrefix;?>");

	$("#txtName<?= $jqxPrefix;?>").val('');
	$("#txtItemUnitMeasurementName<?= $jqxPrefix;?>").val('');
}

$(document).ready(function()
{
	initDropDownListCheckbox(jqxTheme, "100%", 250, "#ddlCategory<?= $jqxPrefix;?>", <?= json_encode($this->categoryRecord);?>, "Name", "Id", false, "", 0, "");
	
	var ddlWidth = $("#ddlCategory<?= $jqxPrefix;?>").width();

	jqxTreeDropDownListCheckbox(jqxTheme, ddlWidth, 250,"#ddlItemUnitMeasurement<?= $jqxPrefix;?>", "#ddlTreeItemUnitMeasurement<?= $jqxPrefix;?>",<?= json_encode($this->unitRecord);?>, "#txtItemUnitMeasurementId<?= $jqxPrefix;?>", true, true, "",false, true);

	$("#butSearch<?= $jqxPrefix;?>").click(function()
	{
		initialFilter<?= $jqxPrefix;?>();
	});

	$("#butClear<?= $jqxPrefix;?>").click(function()
	{
		clearFilter<?= $jqxPrefix;?>();

		initialFilter<?= $jqxPrefix;?>();
	});
});
</script>