<?php 
    use PCSPLib\PHPConstant;

    $url = $this->url;
    $jqxPrefix = $this->jqxPrefix;
    $newAndEditPrefix = $this->newAndEditPrefix;
?>

<section class="content respContent">
    <div id="jqxGrid<?= $jqxPrefix;?>"  style="z-index:-100 !important;"></div>
</section>

<script type="text/javascript">

var newAndEditPrefix<?= $jqxPrefix;?> = "<?= $newAndEditPrefix;?>";

var dataSource<?= $jqxPrefix;?> = getJqxGridDataSource('<?= $url;?>/getRecordsForGrid', "#jqxGrid<?= $jqxPrefix;?>", []);

var dataAdapter<?= $jqxPrefix;?> = new $.jqx.dataAdapter(dataSource<?= $jqxPrefix;?>);
var toThemeProperty = function (className) 
{
    return className + " " + className + "-" + jqxTheme;
}

var groupsrenderer = function (defaultText, group, state, params) 
{
    var record = params.subItems[0];
    var gName  = "<?= $this->translate('CATEGORY');?> : "+record["CategoryName"];

    return '<div class="' + toThemeProperty('jqx-grid-groups-row') + '" style="position: absolute;">' + gName +  '</div>';
}

$(document).ready(function () 
{        
    $("#jqxGrid<?= $jqxPrefix;?>").jqxGrid(
    {
        theme: jqxTheme, 
        width: '100%', height:'100%',   
        source: dataAdapter<?= $jqxPrefix;?>,
        showtoolbar: false,
        filterable: false,
        showfilterrow: false,
        sortable: true,
        selectionmode: 'checkbox',
        pageable: true,
        altrows: true,
        enablehover: false,
        enabletooltips: true,
        pagesize:<?= PHPConstant::DEFAULT_PAGE_SIZE; ?>,
        pagesizeoptions:<?= PHPConstant::PAGE_SIZE_OPTIONS; ?>,
        showfiltercolumnbackground: false,
        showsortcolumnbackground: false,
        columnsresize: true,
        autorowheight: true,
        virtualmode: true,
        rendergridrows: function(obj)
        {
            return obj.data;    
        },
        showgroupsheader:false,
        groupable: true,
        groups : ["ItemCategoryId"],
        groupsrenderer:groupsrenderer,
        columns: 
        [
            { 
                text: "<?= $this->translate('NAME');?>", datafield: 'Name',width: 150
            },
            { 
                text: "<?= $this->translate('SYSTEM_DEFAULT');?>", datafield: 'DefaultSystemUnit',columngroup:"UnitMeasurement"
            },
            { 
                text: "<?= $this->translate('RECEIVE_DEFAULT');?>", datafield: 'DefaultReceiveUnit',columngroup:"UnitMeasurement"
            },
            { 
                text: "<?= $this->translate('TAKE/USER_DEFAULT');?>", datafield: 'DefaultTakeUnit',columngroup:"UnitMeasurement"
            },
            { 
                text: "<?= $this->translate('OTHER_USABLE');?>", datafield: 'OtherUsableUnit',columngroup:"UnitMeasurement"
            },
            { 
                text: "<?= $this->translate('Alert Qty');?>", datafield: 'AlertQty'
            },
            { 
                text: "<?= $this->translate('NOTE');?>", datafield: 'Note'
            },
            { 
                text: "<?= $this->translate('ACTIVE');?>", datafield: 'IsActive', cellsrenderer: activeRecord,align:'center', width:120, 
            },
        ],
        columngroups: 
        [
            {
                text: "<?= $this->translate('UNIT_MEASUREMENT');?>",
                align: 'center',
                name: 'UnitMeasurement'
            }, 
        ]
    }); 
});
</script>