<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_MASTER_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');
    
    $jqxPrefix = '_sysItemMasterList';
    $newAndEditPrefix = '_sysItemMasterNewAndEdit';
?>

<section class="content-custom-header">
    <ol class="breadcrumb">
        <li>
            <a href="<?= $this->url('inventory');?>">
                <?= $this->translate("DASHBOARD");?>
            </a>
        </li>
        <li>
            <?= $this->translate("Product Master");?>
        </li>
    </ol>
</section>

<section class="no-padding pcsp-inv-tabs respContent">
    <div class="pcsp-bg-tab-content" style="margin-top: -5px;">
        <ul class="pcsp-tabs-row">
            <li class="margin-left-10 selected tabs" onclick="switchTab<?= $jqxPrefix;?>(0,0);" data-id="#item-transaction<?= $jqxPrefix;?>">
                <a href="javascript:void(0);">
                    <?= $this->translate("Product Master");?>
                </a>
            </li>
            <li class="padding-right-5 hide tabs" data-id="#item-detail<?= $jqxPrefix;?>" >
                <a href="javascript:void(0);" onclick="switchTab<?= $jqxPrefix;?>(1,0);">
                    <?= $this->translate("Product Detail");?>
                </a>
                <i class='glyphicon glyphicon-remove cursor-pointer margin-left-5' style="color:#e47171;" title="<?= $this->translate('REMOVE');?>" onclick="removeTab<?= $jqxPrefix;?>(this);"></i>
            </li>
        </ul>
        <div class="pcsp-tab-content no-padding" style="margin-top: -10px;">
            <div class="pcsp-tabs" id="item-transaction<?= $jqxPrefix;?>">
                <?php
                    echo $this->partial('inventory/item-master/partial/filter-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "categoryRecord" => $this->categoryRecord,
                                "unitRecord" => $this->unitRecord,
                            ]
                    );

                    echo $this->partial('application/basepartial/action-partial.phtml',
                        [
                            "url"           =>  $url,
                            "jqxPrefix"     =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  $newAndEditPrefix,
                            'gridIdName'        =>  "#jqxGrid".$jqxPrefix,
                            "gridColumnRecord"  => $this->gridColumnRecord,
                            "width"     => 950,
                            "height"    => 450,

                        ]
                    );

                    echo $this->partial('inventory/item-master/partial/grid-partial.phtml',
                            [
                                "url" =>    $url,
                                "jqxPrefix" => $jqxPrefix,
                                "newAndEditPrefix" => $newAndEditPrefix,
                            ]
                    );
                ?>
            </div>
            <div class="pcsp-tabs padding-top-10 padding-left-10 padding-right-10" id="item-detail<?= $jqxPrefix;?>">

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

heightContentAptional = -50;

function removeTab<?= $jqxPrefix;?>(act)
{
    switchTab<?= $jqxPrefix;?>(0,2);
}

function switchTab<?= $jqxPrefix;?>(index,type)
{
    $(".pcsp-tabs-row").find("li").removeClass("selected");
    $(".pcsp-tabs-row li:eq("+index+")").addClass("selected");

    $(".pcsp-bg-tab-content").find(".pcsp-tabs").removeClass("show").addClass("hide");

    var contentEelement = $(".pcsp-tabs-row li:eq("+index+")").attr("data-id");
    $(contentEelement).removeClass("hide").addClass("show");

    switch( index*1 )
    {
        case 0:
        case 1:
            if( type*1 == 2 )
            {
                $(".pcsp-tabs-row").find("li:eq(1)").addClass("hide");
            }
            else if( type*1 == 1 )
            {
                $(".pcsp-tabs-row").find("li:eq(1)").removeClass("hide");
            }  
                      
            break;
    }
}

</script>