<?php 
	use PCSPLib\PHPConstant;
	$url = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_MASTER_CONTROLLER;
	$catUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_CATEGORY_CONTROLLER;
	$imsUrl = $this->basepath().'/'.PHPConstant::INVENTORY_MODULE.'/'.PHPConstant::ITEM_UNIT_MEASUREMENT_CONTROLLER;

	$escaper = new Zend\Escaper\Escaper('utf-8');
	$jqxPrefix = '_sysItemMasterNewAndEdit';
	$pre = '_sysItemMasterList';

	$id = $this->record->Id;
	if($this->isCopy == 1)$id = 0;

	$gridIdName = "#jqxGrid".$pre;

	$isInUsed = isset($this->isInUsed)?$this->isInUsed:0;

?>
<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

	<input type="hidden" id="txtId<?= $jqxPrefix;?>" name="Id" value="<?= $id; ?>" />
	<input type="hidden" id="txtIsInUsed<?= $jqxPrefix;?>" name="IsInUsed" value="<?= $isInUsed;?>" />
    
    <div class="col-md-12 grid-title">
		<?= $this->translate("GENERAL");?>
	</div>
    <div class="form-group">
    	<div class="col-md-6 no-padding">
	    	<div class="col-md-10 no-padding">
		        <label class="col-sm-4 control-label no-padding-left no-padding-right">
		        	<?= $this->translate("CATEGORY");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-8 no-padding-left no-padding-right">
		            <div  id="ddlItemCategory<?= $jqxPrefix;?>" onchange="setChangeDropDownListValue(this,'#txtItemClassName<?= $jqxPrefix;?>');"></div>
                	<input type="hidden" name="ItemCategoryId" id="txtItemCategoryId<?= $jqxPrefix;?>" value="<?= $this->record->ItemCategoryId;?>">
                	<input type="hidden" value="<?= $this->record->CategoryName;?>" id="txtItemCategoryName<?= $jqxPrefix;?>" name="CategoryName">
		        </div>
		    </div>
		    <div class="col-sm-2 no-padding">
                <?= $this->partial("application/basepartial/dropdown-list-action-partial.phtml",
                        [
                            "jqxPrefix"         =>  $jqxPrefix,
                            "newAndEditPrefix"  =>  "_sysItemCategoryNewAndEdit",
                            "dropDownListId"    =>  "#ddlItemCategory".$jqxPrefix,
                            "hiddenFeildId"     =>  "#txtItemCategoryId".$jqxPrefix,
                            "url"               =>  $catUrl,
                            "title"             =>  $this->translate("NEW_ITEM_CATEGORY"),
                            
                        ]);
                ?>
            </div>
	    </div>
	    <div class="col-md-6 no-padding">
	    	<div class="col-md-10 no-padding">
		    	<label class="col-sm-4 control-label no-padding-left no-padding-right"><?= $this->translate("Active");?></label>
		        <div class="col-sm-8 no-padding-left no-padding-right">
		        	<div class="checkbox">
			            <label>
			                <input type="checkbox" value="1" <?= (($this->record->IsActive == 1 || empty($this->record->Id)) ? 'checked="checked"':'');?> name="IsActive" id="chhActive<?= $jqxPrefix?>">
			                <span class="circle"><i class="circle-icon glyphicon glyphicon-ok"></i></span>
			            </label>
			        </div>
		        </div>
		    </div>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-md-6 no-padding">
	    	<div class="col-md-10 no-padding">
		        <label class="col-sm-4 control-label no-padding-left no-padding-right">
		        	<?= $this->translate("NAME");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-8 no-padding-left no-padding-right">
		            <input class="form-control input-sm" id="txtItemName<?= $jqxPrefix?>" placeholder="<?= $this->translate('NAME');?>" type="text" name="Name" value="<?= $escaper->escapehtml($this->record->Name);?>">
		        </div>
		    </div>
	    </div>
	    <div class="col-md-6 no-padding">
		    <div class="col-md-10 no-padding">
		        <label class="col-sm-4 control-label no-padding-left no-padding-right">
		        	<?= $this->translate("Alert Qty");?>
		        </label>
		        <div class="col-sm-8 no-padding-left no-padding-right">
		            <input class="form-control input-sm" id="txtAlertQty<?= $jqxPrefix?>" placeholder="<?= $this->translate('Alert Qty');?>" type="text" name="AlertQty" value="<?= $this->record->AlertQty;?>">
		        </div>
		    </div>
	    </div>
    </div>

    <div class="col-md-12 grid-title">
		<?= $this->translate("Unit Measurement");?>
	</div>
	<div class="form-group">
    	<div class="col-md-6 no-padding">
	    	<div class="col-md-10 no-padding">
		        <label class="col-sm-4 control-label no-padding-left no-padding-right">
		        	<?= $this->translate("Name");?>
		        	<span class="star-red">*</span>
		        </label>
		        <div class="col-sm-8 no-padding-left no-padding-right">
		            <div id="ddlItmeUnitMeasurement<?= $jqxPrefix;?>" name="SystemUnitLabelId"></div>
                	<input type="hidden" name="SystemUnitLabelId" id="txtSystemUnitLabelId<?= $jqxPrefix;?>" value="<?= $this->record->SystemUnitLabelId;?>">
                	<input type="hidden" name="DefaultSystemUnit" id="txtDefaultSystemUnit<?= $jqxPrefix;?>" value="<?= $this->record->DefaultSystemUnit;?>">
		        </div>
		    </div>
		    <div class="col-sm-2 no-padding">
		    	
            </div>
	    </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" id="pcps-item-unit-measurement-content">
	    
	</div>
</form>
<?php 
	echo $this->partial("inventory/item-master/partial/action-button-partial.phtml",
				[
					"url" 		=> $url,
					"jqxPrefix"	=> $jqxPrefix,
					"gridName"	=> $gridIdName,

				]
	);
?>
<style type="text/css">
.box-fixed-height
{
	height: 200px;
}
</style>
<script type="text/javascript">

function setChangeDropDownListValue(act,txtNameId)
{
	var label = $(act).text();

	$(txtNameId).val(label);
}

function initialUnitMeasurementContent()
{
	var param = [];
	initialContent("#pcps-item-unit-measurement-content","<?= $url;?>/item-unit-measurement-content", param);
}

function changeUnitMeasurement<?= $jqxPrefix;?>()
{
	var parentId = $("#ddlItmeUnitMeasurement<?= $jqxPrefix;?>").val();
	var label    = $("#ddlItmeUnitMeasurement<?= $jqxPrefix;?>").text();
	if( parentId == 0 )
	{
		$("#pcps-item-unit-measurement-content").html("");

		return false;
	}

	$("#txtDefaultSystemUnit<?= $jqxPrefix;?>").val(label);

	var param = JSON.parse('{"Id":"'+parentId+'","SystemUnitLabel":"'+label+'","OtherUsableUnit":"<?= $this->record->OtherUsableUnit;?>","ConvertedValues":"<?= $this->record->ConvertedValues;?>","DefaultReceiveUnit":"<?= $this->record->DefaultReceiveUnit;?>","DefaultTakeUnit":"<?= $this->record->DefaultTakeUnit;?>","IsInUsed":"<?= $this->isInUsed;?>"}');
	initialContent("#pcps-item-unit-measurement-content","<?= $url;?>/item-unit-measurement-content", param);
}
function clearControl<?php echo $jqxPrefix;?>()
{
	$("#txtId<?= $jqxPrefix;?>").val(0);
	$("#txtItemName<?= $jqxPrefix;?>").val("");
	$("#txtAlertQty<?= $jqxPrefix;?>").val("");
	$("#chhActive<?= $jqxPrefix?>").prop("checked",true);
	$("#ddlItmeUnitMeasurement<?= $jqxPrefix;?>").jqxDropDownList('clearSelection');
	$("#pcps-item-unit-measurement-content").html("");
}
$(document).ready(function()
{
	initDropDownList(jqxTheme, "100%", 250, "#ddlItemCategory<?= $jqxPrefix; ?>", <?= json_encode($this->itemCategoryRecord);?>, 'Name', 'Id', true, '', '0', "#txtItemCategoryId<?= $jqxPrefix; ?>");

	initDropDownListCategories(jqxTheme, "100%", 250, "#ddlItmeUnitMeasurement<?= $jqxPrefix; ?>", <?= json_encode($this->itemMeasurementRecord);?>, 'Name', 'ParentId', false, '', '0', "#txtSystemUnitLabelId<?= $jqxPrefix;?>");

	$("#ddlItemCategory<?= $jqxPrefix;?>").on('change',function()
	{
		var label = $(this).text();
		
		$("#txtItemCategoryName<?= $jqxPrefix;?>").val(label);
		$(this).removeClass('jqx-validator-error-element');
	});

	<?php if( $this->record->Id ):?>
		var element = "#ddlItmeUnitMeasurement<?= $jqxPrefix;?>";
		var items = $(element).jqxDropDownList('getItems');
		var defaultSystemUnit = "<?= $this->record->DefaultSystemUnit;?>";
		var arr = [],group,countGroup = 0;
		for( var i = 0 ; i < items.length ; i ++ )
		{
			group = items[i].group;
			if( group != "" && typeof arr[group] == "undefined" ) 
			{
				arr[$.trim(group)] = 1;
				countGroup ++;
			}
			if( defaultSystemUnit == items[i].label)
			{
				$(element).jqxDropDownList("selectIndex",i-countGroup);
				changeUnitMeasurement<?= $jqxPrefix;?>();
				i = items.length;
			}
		}

	<?php endif;?>

	$("#ddlItmeUnitMeasurement<?= $jqxPrefix;?>").change(function()
	{
		changeUnitMeasurement<?= $jqxPrefix;?>();
	});

   	$('#winForm<?= $jqxPrefix;?>').jqxValidator
    ({ 
        hintType: 'label',
        animationDuration: 0,
        rules: [
                {
                    input: '#txtItemName<?= $jqxPrefix;?>', message: ' ', action: 'change', rule: 'required' 
                },
				{
		        	input: '#ddlItemCategory<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
		        	{
		            	var id = $('#ddlItemCategory<?= $jqxPrefix; ?>').val()
						if( id != null && id == 0 )
						{
							return false;
						}
						return true;
					}
				},
				{
		        	input: '#ddlItmeUnitMeasurement<?= $jqxPrefix; ?>',message: ' ',action: 'select',rule: function () 
		        	{
		            	var id = $('#ddlItmeUnitMeasurement<?= $jqxPrefix; ?>').val()
						if( id != null && id == 0 )
						{
							return false;
						}
						return true;
					}
				},
          ]
    });

	<?php if( $isInUsed ):?>
		$("#ddlItmeUnitMeasurement<?= $jqxPrefix;?>").jqxDropDownList({disabled:true});
	<?php endif;?>
});
</script>