<?php 
	use PCSPLib\PHPConstant;

	$url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;

	$jqxPrefix = "hengPos";
?>
<div class="col-md-12 pos-header no-padding">
	
</div>

<form class="form-horizontal" id="winForm<?= $jqxPrefix;?>" name="winForm<?= $jqxPrefix;?>" method="post">

<div class="col-md-12 pos-content no-padding padding-top-5 " style="margin-top: 3px;">
	<div class="col-md-4 pos-left no-padding pos-layout">
		<table class="pos-table pos-input-text" style="margin-top: 3px;" id="tblOrder<?= $jqxPrefix;?>">
			<thead class="red">
				<tr>
					<th width="40"><?= $this->translate("No");?></th>
					<th><?= $this->translate("DESCRIPTION");?></th>
					<th width="70px;"><?= $this->translate("QTY");?></th>
					<th width="100px;"><?= $this->translate("PRICE");?></th>
					<th width="100px;"><?= $this->translate("TOTAL");?></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" style="text-align:right;"><?= $this->translate("Sub Total");?></td>
					<td id="lblSubTotal<?= $jqxPrefix;?>">$0</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right;"><?= $this->translate("Discount");?></td>
					<td id="lblDiscount<?= $jqxPrefix;?>">$0</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right;"><?= $this->translate("Balance Due");?></td>
					<td style="color: #b72e59;" id="lblBalanceDue<?= $jqxPrefix;?>">
					</td>
				</tr>
			</tfoot>
		</table>

		<div class="clearfix"></div>
		<div class="pos-left-footer">
			<div class="col-md-12 no-padding">
				<div class="pull-right" style="padding-right: 20px;padding-bottom: 10px;">
					<div class="pos-btn pull-right cursor-pointer" title="<?= $this->translate('Pay');?>" onclick="payment<?= $jqxPrefix;?>();">
						<i class="glyphicon glyphicon-usd"></i>
					</div>
					<div class="pos-btn pull-right margin-right-20 cursor-pointer" title="<?= $this->translate('Clear');?>" onclick="reset<?= $jqxPrefix;?>();">
						<i class="glyphicon glyphicon-refresh"></i>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="pos-keyboard">
			    	<ul class="cf" id="numbers">
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(1);">
				    			<span>1</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0)" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(2);">
				    			<span>2</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(3);">
				    			<span>3</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(4);">
				    			<span>4</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0)" class="key keyboard-event selected-action-type" onclick="typingEvent<?= $jqxPrefix;?>(this,1)" id="btnKeyboardEventQty<?= $jqxPrefix;?>">
				    			<span><?= $this->translate("QTY");?></span>
				    		</a>
				    	</li>

			        </ul>
			        <ul class="cf" id="numbers">
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(5);">
				    			<span>5</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(1);">
				    			<span>6</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(7);">
				    			<span>7</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(8);">
				    			<span>8</span>
				    		</a>
				    	</li>
				    	<li>
				    		<div class="btn-group">
					    		<a href="javascript:void(0);" class="dropdown-toggle key keyboard-event" data-toggle="dropdown" onclick="typingEvent<?= $jqxPrefix;?>(this,2)">
					    			<span><?= $this->translate("Des");?></span>
					    		</a>
						        <div class="dropdown-menu pos-drop-up no-padding" role="menu">
						        	<div style="padding: 5px;">
							            <?php foreach( $this->discountRecord as $key => $value ):?>
							            	<div class="checkbox">
								            	<label>
									                <input type="checkbox"  onchange="setDiscount<?= $jqxPrefix;?>(this,'<?= $value->Id;?>','<?= $value->Name;?>','<?= $value->Value;?>','<?= $value->DiscountTypeId;?>')">
									                <span class="circle">
									                	<i class="circle-icon glyphicon glyphicon-ok"></i>
									                </span>
									                <?= $value->Name;?>
									            </label>
									        </div>
							            <?php endforeach;?>
							        </div>
						        </div>
						    </div>
				    	</li>
			        </ul>
			        <ul class="cf" id="numbers">
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(9);">
				    			<span>9</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>(0);">
				    			<span>0</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>('.');">
				    			<span>.</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key" onclick="typingNumeric<?= $jqxPrefix;?>('x');">
				    			<span>X</span>
				    		</a>
				    	</li>
				    	<li>
				    		<a href="javascript:void(0);" class="key keyboard-event" onclick="typingEvent<?= $jqxPrefix;?>(this,3)">
				    			<span><?= $this->translate("Delete");?></span>
				    		</a>
				    	</li>
			        </ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 no-padding-right pos-layout">
		<div class="col-md-12">
			<div class="form-group align-left ">
				<div class="col-md-3 no-padding">
			        <label class="col-sm-12 control-label pos-width-ddl no-padding-left" style="text-align:left;">
			        	<?= $this->translate("CATEGORY");?>
			        </label>
			        <div class="col-sm-12 no-padding-left">
			            <div id="ddlChbType<?= $jqxPrefix;?>"></div>
			        </div>
			    </div>
			    <div class="col-md-3 no-padding">
			        <label class="col-sm-12 control-label no-padding-left" style="text-align:left;">
			        	<?= $this->translate("Name");?>
			        </label>
			        <div class="col-sm-12 no-padding-left">
			            <input class="form-control input-sm" placeholder="<?= $this->translate('Name');?>" type="text" id="txtName<?= $jqxPrefix;?>" onblur="newContent<?= $jqxPrefix;?>();">
			        </div>
			    </div>
		    </div>
		</div>
		<div id="pos-content-item<?= $jqxPrefix;?>">
			
		</div>
		
	</div>
</div>

<!-- hidden field -->
<input type="hidden" id="txtSubTotal<?= $jqxPrefix;?>" value="0" name="SubTotal"/>
<input type="hidden" id="txtBalanceDue<?= $jqxPrefix;?>" value="0" name="Total"/>

<input type="hidden" id="txtDiscount<?= $jqxPrefix;?>" value="0" name="TotalDiscount"/>
<input type="hidden" id="txtDiscountType<?= $jqxPrefix;?>" value="0" name="DiscountTypeId"/>
<input type="hidden" id="txtDiscountName<?= $jqxPrefix;?>" value="" name="DiscountName"/>
<input type="hidden" id="txtDiscountId<?= $jqxPrefix;?>" value="0" name="DiscountId"/>
<input type="hidden" id="txtDiscountValue<?= $jqxPrefix;?>" value="0" name="DiscountValue"/>

<!-- end hidden field -->

</form>

<style type="text/css">
.pos-drop-up 
{
    top: auto;
    bottom: 100% !important;
}
</style>

<script type="text/javascript">

var index<?= $jqxPrefix;?> = 1;
var dataStore<?= $jqxPrefix;?> = {"total":0,"rows":[]};
var selectedRowIndex<?= $jqxPrefix;?> = 0;
var selectedActionType<?= $jqxPrefix;?>= 1;
var maxlengthQty<?= $jqxPrefix;?> = 5;
var isFirstRecord = false;

function typingEvent<?= $jqxPrefix;?>(e,type)
{
	// selectedActionType<?= $jqxPrefix;?> = type;

	//$(".keyboard-event").removeClass("selected-action-type");
	//$(e).addClass("selected-action-type");

	switch( type*1 )
	{
		case 3:
			var index = selectedRowIndex<?= $jqxPrefix;?>;
			if( index*1 != 0 )
			{
				var id = $("#txtId<?= $jqxPrefix;?>"+index).val();

				removeRow<?= $jqxPrefix;?>(index);

				selectedRowIndex<?= $jqxPrefix;?> = 0;
			}
			else
			{
				showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('SELECT_ROW_TO_DELETE');?>",300,100);
			}

			break;
	}
}

function isHasDot<?= $jqxPrefix;?>(num) 
{
    return num.toString().indexOf(".") != -1 ? true : false;
}

function typingNumeric<?= $jqxPrefix;?>(num)
{
	var index = selectedRowIndex<?= $jqxPrefix;?>;

	if( index*1 > 0 )
	{
		var type = selectedActionType<?= $jqxPrefix;?>;
		switch(type*1)
		{
			case 1:

				var qty = $("#txtQty<?= $jqxPrefix;?>"+index).val();

				if( num === "." )
				{
					var isHasDot = isHasDot<?= $jqxPrefix;?>(qty);
					if( isHasDot == true )
					{
						return;
					}
					qty += ".";
				}
				else if( num === "x" )
				{
					if( qty != "" )
					{
						qty = qty.substr(0,qty.length-1);
					}
					if( qty == "" || qty == 0 )
						removeRow<?= $jqxPrefix;?>(index);
				}
				else
				{
					qty = qty+num;
				}
				if(qty.length > maxlengthQty<?= $jqxPrefix;?>*1 ) return;

				$("#txtQty<?= $jqxPrefix;?>"+index).val(qty);
			case 2:

				break;
			case 3:

				break;
		}

		calculate<?= $jqxPrefix;?>();
	}
}

function resetRowNumber<?= $jqxPrefix;?>()
{
	var num = 1;
	$("#tblOrder<?= $jqxPrefix;?> tbody tr").each(function()
	{
		$(this).find("td:eq(0)").text(num);
		num ++;
	});
}

function removeRow<?= $jqxPrefix;?>(index)
{
	var id = $("#txtId<?= $jqxPrefix;?>"+index).val();

	$("#tr<?= $jqxPrefix;?>"+index).remove();

	resetRowNumber<?= $jqxPrefix;?>();

	calculate<?= $jqxPrefix;?>();

	selectedRowIndex<?= $jqxPrefix;?> = 0;
}

function clearControl<?= $jqxPrefix;?>()
{
	dataStore<?= $jqxPrefix;?>.total = 0;
	dataStore<?= $jqxPrefix;?>.rows = [];

	$("#tblOrder<?= $jqxPrefix;?> tbody").html('');

	$("#winForm<?= $jqxPrefix;?>").find("input").val("");
	$("#lblSubTotal<?= $jqxPrefix;?>").text(0);
	$("#lblTotal<?= $jqxPrefix;?>").text(0);
	$("#lblDiscount<?= $jqxPrefix;?>").text(0);
	$("#lblBalanceDue<?= $jqxPrefix;?>").text(0);

	$("#txtDiscountId<?= $jqxPrefix;?>").val(0);
	$("#txtDiscountName<?= $jqxPrefix;?>").val(0);
	$("#txtDiscountValue<?= $jqxPrefix;?>").val(0);
	$("#txtDiscountType<?= $jqxPrefix;?>").val(0);

	initialOrder<?= $jqxPrefix;?>(10);
}

function reset<?= $jqxPrefix;?>()
{
	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_CLEAR')?>");
	if( isOk == false ) return;

	clearControl<?= $jqxPrefix;?>();
}

function payment<?= $jqxPrefix;?>()
{
	if( dataStore<?= $jqxPrefix;?>.total == 0 )
	{
		showMessage("<?= $this->translate('WARNING');?>","<?= $this->translate('YOU_CAN_NOT_PAY_BECAUSE_NOT_FOUND_ITEM');?>",300,100);

		return;
	}
	var isOk = confirm("<?= $this->translate('ARE_YOU_SURE_YOU_WANT_TO_PAY')?>");
	if( isOk == false ) return;

	saveData<?= $jqxPrefix;?>();
}

function getRowNumber<?= $jqxPrefix;?>()
{
	return $("#tblOrder<?= $jqxPrefix;?> tbody tr:last").index()+2;
}

function getStr<?= $jqxPrefix;?>(index,data)
{
	var id = '',name = '',qty = '',price = '',category = '',saleItemId = 0,isEmpty = true ;
	var eventStr = "";
	var submitIndex = "@$@"+index;

	if( data != "" )
	{
		var arr = data.split(",");
		id = arr[0];
		name  = arr[1];
		price = arr[2];
		category   = arr[3];
		saleItemId = arr[4];

		name += '<small style="font-size: 10px;color:#b72e59;"> ('+category+')</small>';

		isEmpty = false;

		eventStr = 'onclick="selectTableRow<?= $jqxPrefix;?>(this,'+index+');"';
	}

	var str  = '<tr id="tr<?= $jqxPrefix;?>'+index+'" '+eventStr+'>';

			str += '<td class="align-center">';
				if( isEmpty == false )
				{
					str += getRowNumber<?= $jqxPrefix;?>();
				}
			str += '</td>';

            str += '<td style="padding-left: 5px;">';
            	str += name;
            str += '</td>';

            str += '<td align="center">';

            if( isEmpty == false )
            {
				str += '<input type="text" id="txtQty<?= $jqxPrefix;?>'+index+'" value="1" class="form-control input-sm" onkeyup="calculate<?= $jqxPrefix;?>();" maxlength="'+maxlengthQty<?= $jqxPrefix;?>+'" name="Record['+submitIndex+'][Qty]" />';

				str += '<input type="hidden" class="" id="txtId<?= $jqxPrefix;?>'+index+'" value="'+id+'" name="Record['+submitIndex+'][SalePriceId]" />';
				str += '<input type="hidden" class="" id="txtSaleItemId<?= $jqxPrefix;?>'+index+'" name="Record['+submitIndex+'][SaleItemId]" value="'+saleItemId+'" />';

				str += '<input type="hidden" id="txtPrice<?= $jqxPrefix;?>'+index+'" value="'+price+'" name="Record['+submitIndex+'][Price]" />';
				str += '<input type="hidden" id="txtSubTotal<?= $jqxPrefix;?>'+index+'" value="'+price+'" data-index="'+index+'" name="Record['+submitIndex+'][SubTotal]" />';
				str += '<input type="hidden" class="pos-item-total" id="txtTotal<?= $jqxPrefix;?>'+index+'" value="'+price+'" data-index="'+index+'" name="Record['+submitIndex+'][Total]" />';
			}
			else 
			{
				str += "&nbsp;";
			}
			str += '</td>';

            str += '<td>';
            	str += price;
            str += '</td>';

            str += '<td id="lblTotal<?= $jqxPrefix;?>'+index+'">';
            	str += price;
            str += '</td>';

		str += "</tr>";

	return str;
}


function setDiscount<?= $jqxPrefix;?>(e,id,name,value,type)
{
	var checked = $(e).is(":checked");

	$(".chb-discount").prop("checked",false);

	$(e).prop("checked",checked);

	if( checked == false )
	{
		id = 0;
		name ="";
		value = 0;
		type = 0;
	}

	$("#txtDiscountId<?= $jqxPrefix;?>").val(id);
	$("#txtDiscountName<?= $jqxPrefix;?>").val(name);
	$("#txtDiscountValue<?= $jqxPrefix;?>").val(value);
	$("#txtDiscountType<?= $jqxPrefix;?>").val(type);

	calculate<?= $jqxPrefix;?>();
}

function initialOrder<?= $jqxPrefix;?>(size)
{
	isFirstRecord = true;
	for( var i = 1; i <= size ; i ++ )
	{
		addMore<?= $jqxPrefix;?>('');
	}
}

function addItem<?= $jqxPrefix;?>(id,price,data)
{
	if( isFirstRecord == true )
	{
		$("#tblOrder<?= $jqxPrefix;?> tbody").html("");
		isFirstRecord = false;
	}

	addMore<?= $jqxPrefix;?>(data);
	calculate<?= $jqxPrefix;?>();
}

function addMore<?= $jqxPrefix;?>(data)
{
	var index = index<?= $jqxPrefix;?>;
	var str = getStr<?= $jqxPrefix;?>(index,data);

	$("#tblOrder<?= $jqxPrefix;?> tbody").append(str);

	index<?= $jqxPrefix;?> ++;
}

function calculate<?= $jqxPrefix;?>()
{
	var subTotal = getSubTotal<?= $jqxPrefix;?>();
	var discountValue = $("#txtDiscountValue<?= $jqxPrefix;?>").val();
	var discountType = $("#txtDiscountType<?= $jqxPrefix;?>").val();
	var balanceDue = subTotal;
	var totalDiscount = 0;

	if( discountType*1 == 2 )
	{
		totalDiscount = discountValue;
		balanceDue = subTotal*1-discountValue*1;

		if( balanceDue*1 < 0 ) balanceDue = 0;
	}
	else if( discountType*1 == 1 )
	{
		totalDiscount = subTotal*1*discountValue/100;
		balanceDue = subTotal*1-totalDiscount;
	}

	$("#txtSubTotal<?= $jqxPrefix;?>").val(subTotal);
	$("#lblSubTotal<?= $jqxPrefix;?>").text(subTotal);

	$("#lblDiscount<?= $jqxPrefix;?>").text(totalDiscount);
	$("#txtDiscount<?= $jqxPrefix;?>").val(totalDiscount);

	$("#lblBalanceDue<?= $jqxPrefix;?>").text(balanceDue);
	$("#txtBalanceDue<?= $jqxPrefix;?>").val(balanceDue);
}

function getSubTotal<?= $jqxPrefix;?>()
{
	var subTotal = 0,total,itemSubTotal,index,qty,price;
	$(".pos-item-total").each(function()
	{
		index = $(this).data("index");

		qty = $("#txtQty<?= $jqxPrefix;?>"+index).val();
		price = $("#txtPrice<?= $jqxPrefix;?>"+index).val();

		if( qty == "" ) qty = 0;

		itemSubTotal = qty*price;
		total = itemSubTotal;

		$("#lblTotal<?= $jqxPrefix;?>"+index).text(total);
		$("#txtTotal<?= $jqxPrefix;?>"+index).val(total);
		$("#txtSubTotal<?= $jqxPrefix;?>"+index).val(itemSubTotal);

		subTotal = subTotal*1+total*1;
	});

	return subTotal;
}

function selectTableRow<?= $jqxPrefix;?>(e,index)
{
	$('.selected').removeClass('selected');
    $(e).addClass("selected");

    selectedRowIndex<?= $jqxPrefix;?> = index;
}

function printBlockContent(contents)
{
    var frame1 = $('<iframe />');
    frame1[0].name = "frame1";
    frame1.css({ "position": "absolute", "top": "-1000000px" });

    $("body").append(frame1);

    var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
    
    frameDoc.document.open();
    //Create a new HTML document.
    frameDoc.document.write('<html><head><title></title>');
    //Append the external CSS file.
    frameDoc.document.write('<link rel="stylesheet" href="<?= $this->basepath("/pcsp/css/printcss.css");?>" />');
    frameDoc.document.write('<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />');
    frameDoc.document.write('<style media="print">@page { size: auto;  margin: 0mm; }.hengpageA4 {width: 14cm;padding: 0;margin: 0 auto;}</style>');
    frameDoc.document.write('</head><body><div class="hengpageA4">');

    //Append the DIV contents.
    frameDoc.document.write(contents);
    frameDoc.document.write('</div></body></html>');
    frameDoc.document.close();

    setTimeout(function () 
    {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        frame1.remove();
    }, 500);
}

function saveData<?= $jqxPrefix;?>()
{
  	var json = ($("#winForm<?= $jqxPrefix;?>").serializeJSON());
  	var data = $.param(json);
  	var url  = "<?= $url;?>/saveRecord";

  	$.ajax
  	({
        type: 'post',
        dataType: 'json',
        url: url,
        data: data,
        beforeSend: function()
        {
            pageLoading();
        },
        success: function (data) 
        {
            closePageLoading();

            if( typeof data["msg"] != "undefined" )
            {

            }
            else
            {
            	printBlockContent(data["invoiceLayout"]);
            	

            	clearControl<?= $jqxPrefix;?>();
            }
      	},
      	error: function (errs) 
      	{
          	closePageLoading();
          	showMessage('Error','Error Save Data','270','120');
      	}
  	});
};

function newContent<?= $jqxPrefix;?>()
{
    var element = "#pos-content-item<?= $jqxPrefix;?>";
    var name = $("#txtName<?= $jqxPrefix;?>").val();
    var typeId = getChbCheckItem("#ddlChbType<?= $jqxPrefix;?>");

    var param = JSON.parse('{"TypeId":"'+typeId+'","Name":"'+name+'"}');

    initialContent(element,"<?= $url;?>/new-content", param);
}

$(document).ready(function()
{
	var bodyHeight = $("body").height();
	var headerHeight = $(".pos-header").height();

	$(".pos-layout").height(bodyHeight-headerHeight-4);

	initialOrder<?= $jqxPrefix;?>(10);

	initDropDownListCheckbox(jqxTheme, "100%", 250, "#ddlChbType<?= $jqxPrefix;?>", <?= json_encode($this->itemTypeRecord);?>, "Name", "Id", false, '', 0, 0);

	newContent<?= $jqxPrefix;?>();

	$('#ddlChbType<?= $jqxPrefix;?>').on('close', function (event) 
	{
		newContent<?= $jqxPrefix;?>();
   	});
});

</script>