<?php 
    use PCSPLib\PHPConstant;

    $url = $this->basepath().'/'.PHPConstant::SALE_MODULE.'/'.PHPConstant::SALE_CONTROLLER;
    $escaper = new \Zend\Escaper\Escaper('utf-8');

    $jqxPrefix = '_sysSaleView';
?>
<section class="content">
    <div class="col-md-12">
        <div class="margin-bottom-10 box-invoice margin-top-2" style="padding: 10px 15px 20px 15px;min-height: 420px;">
            <!-- <div class="no-padding align-right pull-right">
                <i class="glyphicon glyphicon-print cursor-pointer" style="font-size: 20px;padding-top: 5px;" onclick="printBlockContent('divContentToPrint')"></i>
            </div> -->
            <div id="divContentToPrint">
                <div class="col-sm-12 pcsp-invoice no-padding">
                    <div class="col-sm-4 no-padding">
                        <table width="100%">
                            <tr>
                                <td colspan="3">
                                    <?= $this->contactRecord->Name;?>
                                </td>
                            </tr>
                            <tr>
                                <td width="100">
                                    <?= $this->translate("TEL");?>
                                </td>
                                <td width="5" align="center">:</td>
                                <td>
                                    <?= $this->contactRecord->Tel;?>
                                </td>
                            </tr>
                            <tr>
                                <td width="100">
                                    <?= $this->translate("ADDRESS");?>
                                </td>
                                <td width="5" align="center">:</td>
                                <td>
                                    <?= $this->contactRecord->Address;?>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4 header-title no-padding">
                        <b><?= $this->translate("Invoice");?></b>
                    </div>
                    <div class="col-sm-4 header-right no-padding">
                        <table width="100%">
                            <tr>
                                <td style="text-align:right;">
                                    <?= $this->translate("Invoice No");?>
                                </td>
                                <td width="10" align="center">:</td>
                                <td width="100" class="report-no">
                                    <?= $this->record->InvoiceNo;?>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    <?= $this->translate("Invoice Date");?>
                                </td>
                                <td width="5" style="text-align:center;">:</td>
                                <td width="100">
                                    <?= date("d-M-Y",strtotime($this->record->InvoiceDate));?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="margin-top: 2px;">&nbsp;</div>
                <div class="pcsp-invoice">
                    <table width="100%" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="40" align="center">
                                    <?= $this->translate("NO");?>
                                </th>
                                <th><?= $this->translate("Description");?></th>
                                <th width="100"><?= $this->translate("Qty");?></th>
                                <th width="100"><?= $this->translate("Price");?></th>
                                <th width="100"><?= $this->translate("Total");?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach( $this->detailRecord as $key => $value ):?>
                                <tr>
                                    <td align="center">
                                        <?= $key+1;?>
                                    </td>
                                    <td>
                                        <?= $value["ItemName"];?>
                                    </td>
                                    <td align="center">
                                        <?= $value["Qty"];?>
                                    </td>
                                    <td>
                                        <?= $value["Price"];?>
                                    </td>
                                    <td>
                                        <?= $value["Total"];?>
                                    </td>
                                </tr>
                            <?php endforeach;?>
                            <tr>
                                <td colspan="4" align="right" style="border:none;">
                                    <?= $this->translate("Sub Total");?>
                                </td>
                                <td>
                                    <?= $this->record->SubTotal;?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right" style="border:none;">
                                    <?= $this->translate("Total Discount");?>
                                </td>
                                <td>
                                    <?= $this->record->TotalDiscount;?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right" style="border:none;">
                                    <?= $this->translate("Total");?>
                                </td>
                                <td>
                                    <?= $this->record->Total;?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>